{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
    {{ _.header({'title':'IMAGES_MULTI_TITLE','subtitle':'IMAGES_MULTI_SUBTITLE','ico':'icon-dashboard','parent':{'title':'ENTITY_PRODUCTS','ico':'icon-dashboard','url':path('product'),'parent':{'title':Supplier.name,'ico':'icon-dashboard','url':path('supplier_show',{'id':Supplier.id}) }} }) }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/plugins/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css') }}">
{% endblock %}




{% block body -%}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{_.box('IMAGES_MULTI_TITLEFROM'|trans )}}
                <div id="uploader">
                    <p>{{'IMAGES_MULTI_PLUUPLOAD'|trans }}</p>
                </div>
                {{_.endbox()}}
            </div>
        </div>
    </div>
    <script src="{{ asset('bundles/app/plugins/plupload/js/plupload.full.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/plugins/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js') }}"
            type="text/javascript"></script>
    <script type="text/javascript">
        // Convert divs to queue widgets when the DOM is ready
        $(function () {
            $("#uploader").pluploadQueue({
                // General settings
                runtimes: 'flash,html5,silverlight,gears,browserplus',
                url: '{{ path('supplier_import_images_file',{'supplier': Supplier.id}) }}',
                max_file_size: '10mb',
                chunk_size: '1mb',
                unique_names: true,
                // Resize images on clientside if we can
               // resize: {width: 1280, height: 960, quality: 90},
                // Specify what files to browse for
                filters: [
                    {title: "Image files", extensions: "jpg,gif,png,jpeg"}
                ],
                // Flash settings
                flash_swf_url: '{{ asset('bundles/app/plugins/plupload/js/Moxie.swf') }}',
                // Silverlight settings
                silverlight_xap_url: '/plupload/js/plupload.silverlight.xap',
                init: {
                    FilesAdded: function (up, files) {
                        up.start();
                    }
                }
            });


            var uploader = $('#uploader').pluploadQueue();

            uploader.bind('StateChanged', function () {
                if (uploader.files.length > 0) {
                    if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                        window.location = '{{ path('supplier_show', { 'id': Supplier.id }) }}';
                    }
                }
            });

        });
    </script>


{% endblock %}