{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Supplychaintype.id) %}
{{ _.header({'title':'SUPPLYCHAINTYPE_NEW_TITLE','subtitle':'SUPPLYCHAINTYPE_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_SUPPLYCHAINTYPES','ico':'icon-barcode','url':path('supplychaintype'),'parent':{'title':Supplychaintype.id,'ico':'icon-barcode','url':path('supplychaintype_show',{'id':Supplychaintype.id})}}})}}
{% else %}
{{ _.header({'title':'SUPPLYCHAINTYPE_NEW_TITLE','subtitle':'SUPPLYCHAINTYPE_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_SUPPLYCHAINTYPES','ico':'icon-barcode','url':path('supplychaintype')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('SUPPLYCHAINTYPE_NEW_TITLE') }}
            <fieldset>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_SUPPLYCHAINTYPE_TITLE'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


