{% extends 'appBundle::layout_site.html.twig' %}
{% block header -%}
    {{ _.header({'title':'SUPPLYCHAINTYPE_TITLE','subtitle':'SUPPLYCHAINTYPE_SUBTITLE','ico':'icon-home'}) }}
{% endblock -%}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header fixedbox">
                        <span class="title">{{'ENTITY_SUPPLYCHAINTYPE'|trans }}</span>
                        <ul class="box-toolbar">
                            <li class="toolbar-link">
                                <a href="#" class="dropdown" data-toggle="dropdown"><i class="icon-cog"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{path('supplychaintype_new')}}"><i class="icon-plus-sign"></i> {{'ACTION_ADD_SUPPLYCHAINTYPE'|trans }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="box-content padded"> 
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>TITLE </th>
                                    <th>Step</th>
                                    <th>Require validation</th>
                                    <th>Display for customer</th>
                                    <th>{{'APPLICATION_ACTIONCOLUMN'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for Supplychaintype in Supplychaintypes %}
                                    <tr>
                                        <td>{{Supplychaintype.supplychaincat.title}}</td>
                                        <td><a href="{{ path('supplychaintype_show', { 'id': Supplychaintype.id }) }}">{{ Supplychaintype.title }}</a></td>
                                        <td>{{Supplychaintype.step}}</td>
                                        <td>{{Supplychaintype.validation ? '<span style="font-weight:bold;">YES</span>': ''}}</td>
                                        <td>{{Supplychaintype.customer ? '<span style="font-weight:bold;">YES</span>': ''}}</td>
                                        <td>
                                            {{_.dropdownactions([
                                    {'route': path('supplychaintype_edit', { 'id': Supplychaintype.id }) ,'text':'ACTION_EDIT','ico':'icon-edit'},
                                    {'route': path('supplychaintype_delete', { 'id': Supplychaintype.id }) ,'text':'ACTION_DELETE','ico':'icon-trash','confirm':'Confirm?'}
                                    ])}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
