{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Norme.id) %}
{{ _.header({'title':'NORME_NEW_TITLE','subtitle':'NORME_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_NORMES','ico':'icon-barcode','url':path('norme'),'parent':{'title':Norme.id,'ico':'icon-barcode','url':path('norme_show',{'id':Norme.id})}}})}}
{% else %}
{{ _.header({'title':'NORME_NEW_TITLE','subtitle':'NORME_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_NORMES','ico':'icon-barcode','url':path('norme')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('NORME_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_NORME_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_NORME_TITLE'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


