{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{{ _.header({'title': 'ENTITY_NORME' ,'subtitle':'ENTITY_NORME','ico':'icon-barcode','parent':{'title':'ENTITY_NORMES','ico':'icon-barcode','url':path('norme')} })}}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{_.tabs([
            {'key':'Norme','text':Norme.id,'ico':'icon-barcode'}
            ],[
            {'route':path('norme_edit', { 'id': Norme.id }) ,'ico':'icon-edit','text':'ACTION_EDIT'},
            {'onclick': "$('#modal').modal('show');" ,'ico':'icon-trash','text':'ACTION_DELETE' },
            ],[])}}
            <div class="tab-pane active" id="Norme">
                <table class="table">
                    <tbody>                        <tr>
                            <td>{{'ENTITY_NORME_Id'|trans }} </td>
                            <td>{{ Norme.id }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_NORME_Title'|trans }} </td>
                            <td>{{ Norme.title }}</td>
                        </tr>                    </tbody>
                </table>
            </div>
             {{_.endtabs()}}
        </div>
    </div>
</div>
{% endblock %}

{% block modaltitle %}
{{'DELETE_CONFIRMATION'|trans }}
{% endblock %}
{% block modalcontent %}
{{'DELETE_CONFIRMATION_TEXT'|trans }} Norme.id 
<div class="hidden">{{ form(delete_form) }}</div>
{% endblock %}
{% block modalconfirm %}
<button type="button" class="btn btn-red" OnClick="$('#modal').find('form').submit()">{{'APPLICATION_DELETE'|trans }}</button>
{% endblock %}
