{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Container.id) %}
{{ _.header({'title':'CONTAINER_NEW_TITLE','subtitle':'CONTAINER_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CONTAINERS','ico':'icon-barcode','url':path('container'),'parent':{'title':Container.id,'ico':'icon-barcode','url':path('container_show',{'id':Container.id})}}})}}
{% else %}
{{ _.header({'title':'CONTAINER_NEW_TITLE','subtitle':'CONTAINER_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CONTAINERS','ico':'icon-barcode','url':path('container')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('CONTAINER_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_CONTAINER_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_CONTAINER_TITLE'}) }}
                            </li>                            <li class="input">
                              {{ form_row(form.volume, {'label': 'ENTITY_CONTAINER_VOLUME'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


