{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{{ _.header({'title': 'ENTITY_CONTAINER' ,'subtitle':'ENTITY_CONTAINER','ico':'icon-barcode','parent':{'title':'ENTITY_CONTAINERS','ico':'icon-barcode','url':path('container')} })}}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{_.tabs([
            {'key':'Container','text':Container.id,'ico':'icon-barcode'}
            ],[
            {'route':path('container_edit', { 'id': Container.id }) ,'ico':'icon-edit','text':'ACTION_EDIT'},
            {'onclick': "$('#modal').modal('show');" ,'ico':'icon-trash','text':'ACTION_DELETE' },
            ],[])}}
            <div class="tab-pane active" id="Container">
                <table class="table">
                    <tbody>                        <tr>
                            <td>{{'ENTITY_CONTAINER_Id'|trans }} </td>
                            <td>{{ Container.id }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_CONTAINER_Title'|trans }} </td>
                            <td>{{ Container.title }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_CONTAINER_Volume'|trans }} </td>
                            <td>{{ Container.volume }}</td>
                        </tr>                    </tbody>
                </table>
            </div>
             {{_.endtabs()}}
        </div>
    </div>
</div>
{% endblock %}

{% block modaltitle %}
{{'DELETE_CONFIRMATION'|trans }}
{% endblock %}
{% block modalcontent %}
{{'DELETE_CONFIRMATION_TEXT'|trans }} Container.id 
<div class="hidden">{{ form(delete_form) }}</div>
{% endblock %}
{% block modalconfirm %}
<button type="button" class="btn btn-red" OnClick="$('#modal').find('form').submit()">{{'APPLICATION_DELETE'|trans }}</button>
{% endblock %}
