{% import "appBundle::coreadmin_macro.html.twig" as _ %}
<table class="table">
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>
      {% for exclusivity in Exclusivities %}
        <tr>
            <td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>