{% extends 'appBundle::layout_site.html.twig' %}

{% block plugins %}
<link rel="stylesheet" href="{{ asset('bundles/app/plugins/jstree/dist/themes/default/style.min.css') }}" />
<script src="{{ asset('bundles/app/plugins/jstree/dist/jstree.min.js') }}"></script>{% endblock %}

{% block header -%}
    {% if (Customer.id) %}
        {{ _.header({'title':'CUSTOMER_NEW_TITLE','subtitle':'CUSTOMER_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CUSTOMERS','ico':'icon-barcode','url':path('customer'),'parent':{'title':Customer.id,'ico':'icon-barcode','url':path('customer_show',{'id':Customer.id})}}})}}
    {% else %}
        {{ _.header({'title':'CUSTOMER_NEW_TITLE','subtitle':'CUSTOMER_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CUSTOMERS','ico':'icon-barcode','url':path('customer')}})}}
    {% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{_.box('CUSTOMER_NEW_TITLE') }}
            <fieldset> 
                <div class="row">
                    <div class="col-lg-6">
                        <legend>{{'ENTITY_CUSTOMER_FIELDSET_'|trans|raw}}</legend>
                        <ul class=" separate-sections">
                            <li class="input">
                                {{ form_row(form.leads, {'label': 'ENTITY_LEADS'}) }}
                            </li>
                            <li class="input">
                                    {{ form_row(form.name, {'label': 'ENTITY_CUSTOMER_NAME'}) }}
                            </li>       
                            <li class="input">
                                    {{ form_row(form.siret, {'label': 'ENTITY_CUSTOMER_SIRET'}) }}
                            </li>                         
                            <li class="input">
                                    {{ form_row(form.activity, {'label': 'ENTITY_CUSTOMER_ACTIVITY'}) }}
                            </li>     
                            <li class="input">
                                        {{ form_row(form.commercialtools, {'label': 'ENTITY_CUSTOMER_TOOLS'}) }}
                            </li> 
                            <li class="input">
                                        {{ form_row(form.margecoef, {'label': 'ENTITY_CUSTOMER_MARGECOEF'}) }}
                            </li> 
                            <li class="input">
                                        {{ form_row(form.paymentcondition, {'label': 'ENTITY_CUSTOMER_PAYMENTCONDITION'}) }}
                            </li> 
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <fieldset>
                            <legend>{{'ENTITY_CUSTOMER_FIELDSET_PARAMETERS'|trans|raw}}</legend>
                            <ul class=" separate-sections">    
                                <li class="input">
                                    {{ form_row(form.logo, {'label': 'ENTITY_CUSTOMER_LOGO'}) }}
                                </li>    
                                <li class="input">
                                    {{ form_row(form.locale, {'label': 'ENTITY_CUSTOMER_LANGUAGE'}) }}
                                </li>
                                <li class="input">
                                        {{ form_row(form.zones, {'label': 'ENTITY_CUSTOMER_ZONE'}) }}
                                </li>

                                    {% if (form.xlsexport is defined) %}
                                <li class="input">
                                            {{ form_row(form.xlsexport, {'label': 'ENTITY_CUSTOMER_XLSEXPORT'}) }}
                                </li> 
                                    {% endif %}
                                <li class="input">
                                    <div class="row">
                                        <div class="col-lg-6">  {{ form_row(form.exportsalername, {'label': 'ENTITY_EXPORT_NAME'}) }}</div>
                                        <div class="col-lg-6"> {{ form_row(form.exportsaleremail, {'label': 'ENTITY_EXPORT_EMAIL'}) }}</div>
                                    </div>
                                </li>  
                            </ul>
                        </fieldset>  
                    </div>
                </div>
            </fieldset>  
            <div class="row">
                <div class="col-lg-6">
                    <fieldset>
                        <legend>{{'ENTITY_CUSTOMER_FIELDSET_ADDRESSE'|trans|raw}}</legend>
                        <ul class=" separate-sections">                         
                            <li class="input">
                                    {{ form_row(form.address, {'label': 'ENTITY_CUSTOMER_ADDRESS'}) }}
                            </li>       
                            <li class="input">
                                    {{ form_row(form.city, {'label': 'ENTITY_CUSTOMER_CITY'}) }}
                            </li>       
                            <li class="input">
                                    {{ form_row(form.pc, {'label': 'ENTITY_CUSTOMER_ZIP'}) }}
                            </li>                        
                            <li class="input">
                                    {{ form_row(form.country, {'label': 'ENTITY_CUSTOMER_COUNTRY'}) }}
                            </li>                         
                            <li class="input">
                                    {{ form_row(form.deleverytime, {'label': 'Customer delivery time'}) }}
                            </li>                         
                        </ul>
                    </fieldset>  
                    <fieldset>
                        <legend>{{'ENTITY_CUSTOMER_FIELDSET_COMMERCIAL'|trans|raw}}</legend>
                        <ul class=" separate-sections">                         
                            <li class="input">
                                    {{ form_row(form.mainsaler, {'label': 'ENTITY_CUSTOMER_MAINSALER'}) }}
                            </li>       
                            <li class="input">
                                    {{ form_row(form.owners, {'label': 'ENTITY_CUSTOMER_OWNERS'}) }}
                            </li>       

                        </ul>
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <legend>{{'ENTITY_CUSTOMER_FIELDSET_SUPPLIERRESTRICTION'|trans|raw}}</legend>
                        <ul class=" separate-sections">   
                            <li class="input">
                                    {{ form_row(form.suppliersrestriction, {'label': 'ENTITY_CUSTOMER_SUPPLIERRESTRICTION'}) }}
                            </li>
                            <li class="input">
                                    {{ form_row(form.suppliersexception, {'label': 'ENTITY_CUSTOMER_SUPPLIEREXCEPTION'}) }}
                            </li>
                        </ul>
                        <legend>{{'CATALOG_TITLE'|trans|raw}}</legend>
                        {{ form_row(form.catalogs, {'label': 'CATALOG_NEW'}) }}

                        <legend>{{'ENTITY_CUSTOMER_FIELDSET_RESTRICTION'|trans|raw}}</legend>
                            {{ form_row(form.nomenclatures, {'label': 'ENTITY_CUSTOMER_CATEGORIESACCESS'}) }}
                        <div id="jstree"></div>
                    </fieldset>  
                </div>
            </div>
                {{ form_end(form) }}   
                {{_.endbox() }}
        </div>
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function() {


        function changeMarge(force) {
            var marges = {
            {% for activity in activites %}
            {%  if activity .marge  %}
            {{  activity .id }}:  {{  activity .marge }},
            {%  endif  %}
            {%  endfor %}
            0
        :
            10
        };

        if (force || ($('#customer_leads').is(':checked') && !$('#customer_margecoef').val())) {
            $('#customer_margecoef').val(marges[$('#customer_activity').val()])
        }
    }

    $('customer_leads').click(function () {
        changeMarge();
    });
    $('#customer_activity').change(function () {
        changeMarge(true);
    });

        function actualiseForm() {
            agentco = $('#customer_activity').val();
            if (agentco == 6) {
                $('#customer_commercialtools').attr('checked', false);
                $('#customer_commercialtools').closest('li').hide();
            } else {
                $('#customer_commercialtools').closest('li').show();
            }
        }

        actualiseForm();
        $('#customer_activity').change(function() {
            actualiseForm();
        });

        $('#jstree').jstree({'plugins': ["checkbox"], 'core': {
                'data':{{Nomenclatures|raw}}
            }});

        $('#jstree').on("changed.jstree", function(e, data) {
            var nomenclatures = [];
            $.each(data.selected, function(key, nomenclature) {
                if (nomenclature.substr(7) != "000")
                    nomenclatures.push(nomenclature);
            });
            $('#customer_nomenclatures').val(nomenclatures.join());
        });

        function update() {
            selected = $('#customer_categories').val();
            if (selected) {
                $.each(selected, function(key, data) {
                    $('#nomenclature_list option[value=' + data + ']').appendTo('#nomenclature_access');
                });
            }
            selected = $('#customer_categoriesrestriction').val();
            if (selected) {
                $.each(selected, function(key, data) {
                    $('#nomenclature_list option[value=' + data + ']').appendTo('#nomenclature_restriction');
                });
            }
        }

        update();

        $('#AddAccess').click(function() {
            selected = $("#nomenclature_list").val();
            if (selected) {
                $.each(selected, function(key, data) {
                    $('#customer_categories option[value*=' + data + ']').attr('selected', 'selected');
                });
                update();
            } else {
                alert('No item selected');
            }
        });

        $('#AddRestriction').click(function() {
            selected = $("#nomenclature_list").val();
            if (selected) {
                $.each(selected, function(key, data) {
                    $('#customer_categoriesrestriction option[value*=' + data + ']').attr('selected', 'selected');
                });
                update();
            } else {
                alert('No item selected');
            }
        });


        $('#RemoveRestriction').click(function() {
            selected = $("#nomenclature_restriction").val();
            if (selected) {
                $.each(selected, function(key, data) {
                    $('#customer_categoriesrestriction option[value*=' + data + ']').attr('selected', false);
                    $('#nomenclature_restriction option[value=' + data + ']').appendTo('#nomenclature_list');
                });
                update();
            } else {
                alert('No item selected');
            }
        });


        $('#RemoveAccess').click(function() {
            selected = $("#nomenclature_access").val();
            if (selected) {
                $.each(selected, function(key, data) {
                    $('#customer_categories option[value*=' + data + ']').attr('selected', false);
                    $('#nomenclature_access option[value=' + data + ']').appendTo('#nomenclature_list');
                });
                update();
            } else {
                alert('No item selected');
            }
        });

    });
</script>

{% endblock %}


