<table cellpadding="0" cellspacing="0" border="0" class="dataTable">
    <thead>
    <tr role="row">
        <th>Date</th>
        <th>Order</th>
        <th>Picture</th>
        <th>PRICE USD</th>
        <th>Qty</th>
        <th>Incoterm</th>
        <th>POL</th>
    </tr>
    </thead>
    <tbody>
    {% for History in Historysale|reverse %}
        <tr>
            <td>
                {{ History.date|date('d-m-Y') }}
            </td>
            <td>
                <a href="{{ path('command_show',{'id':History.cadencier.id}) }}">{{ History.cadencier.id }}</a>
            </td>
            <td>
                {% if  History.product and  History.product.mainimage %}
                    <img src="{{ webpath~History.product.mainimage|replace({'original.jpg':'small.jpg'}) }}" alt=""
                         style="height:75px;">
                {% endif %}
            </td>
            <td>
                {{ History.price }}
            </td>

            <td>
                {{ History.qty }}
            </td>

            <td>
                {{ History.incoterm }}
            </td>

            <td>
                {{ History.pol }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{#endif#}