{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
    {{ _.header({'title':'CUSTOMERS_TITLE','subtitle':'CUSTOMERS_SUBTITLE','ico':'icon-home','parent':{'title':'ENTITY_CUSTOMER','ico':'icon-globe','url':path('customer')}}) }}
{% endblock %}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header fixedbox">
                        <span class="title">{{ 'ENTITY_CUSTOMERS'|trans }}</span>
                        <ul class="box-toolbar">
                            <li><select name="request[activityid]" class="request chzn-select" id="">
                                    <option value="0" selected>All Activities</option>
                                    {% for Activity in Activites %}
                                        <option value="{{ Activity.id }}">{{ Activity.title }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                            <li><input placeholder="{{ 'ENTITY_CUSTOMER'|trans }}" type="text" value=""
                                       name="request[customerid]" class="request" style="width:70px"></li>

                            <li>
                                <div id="filters" data-autocomplete="true"></div>
                            </li>
                            <li><select name="request[order]" class="request chzn-select" id="">
                                    <option value="0" selected>Order by id</option>
                                    <option value="name">Name</option>
                                    <option value="margeasc">Marge Asc</option>
                                    <option value="margedesc">Marge Desc</option>

                                </select>
                            </li>
                            <li><select name="request[leads]" class="request chzn-select" id="">
                                    <option value="0" {{ leads ? '':'selected' }}
                                            }}>{{ 'MENU_CUSTOMER'|trans }}</option>
                                    <option value="1" {{ leads ? 'selected':'' }} >{{ 'MENU_LEADS'|trans }}</option>
                                </select>
                            </li>
                            <li class="toolbar-link">
                                <a href="#" class="dropdown" data-toggle="dropdown"><i class="icon-cog"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('customer_new') }}"><i
                                                    class="icon-plus-sign"></i> {{ 'ACTION_ADD_CUSTOMER'|trans }}</a>
                                    </li>
                                    <li><a href="{{ path('customer_quickadd') }}"><i
                                                    class="icon-plus-sign"></i> {{ 'ACTION_QUICKADD_CUSTOMER'|trans }}
                                        </a></li>
                                </ul>
                            </li>
                        </ul>
                        <input type="hidden" id="uri_request" value="{{ path('customers_request') }}">
                    </div>
                    <div class="box-content padded">
                        <div class="row" id="filters_result">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block commercialtools %}
    {% include 'appBundle::commercialtools.html.twig' %}
{% endblock %}



