<table class="table">
    <tbody>
        {% if (Customer.logo) %}
            <tr>
                <th style="width:20%">{{'ENTITY_CUSTOMER_LOGO'|trans|raw }}</th>
                <td><img src="{{ webpath~Customer.logo.image }}"></td>
            </tr>
        {% endif %}
        <tr>
            <th style="width:20%">{{'ENTITY_CUSTOMER_ID'|trans|raw }}</th>
            <td>{{ Customer.id }}</td>
        </tr>
        <tr>
            <th style="width:20%">{{'ENTITY_CUSTOMER_NAME'|trans|raw }}</th>
            <td>{{ Customer.name }}</td>
        </tr>
        <tr>
            <th style="width:20%">{{'ENTITY_CUSTOMER_LANGUAGE'|trans|raw }}</th>
            <td>{% if (Customer.locale) %}{{ Customer.locale }}{% else %}En{% endif %}</td>
        </tr>
        <tr>
            <th style="width:20%">{{'ENTITY_CUSTOMER_PAYMENTCONDITION'|trans|raw }}</th>
            <td>{% if (Customer.paymentcondition) %}{{ Customer.paymentcondition.title }}{% endif %}</td>
        </tr>
        <tr>
            <th style="width:20%">{{'ENTITY_CUSTOMER_SIRET'|trans|raw }}</th>
            <td>{{ Customer.siret }}</td>
        </tr>
        <tr>
            <th style="width:20%">{{'ENTITY_CUSTOMER_ACTIVTY'|trans|raw }}</th>
            <td>>{% if (Customer.activity) %}{{ Customer.activity.title }}{% endif %}</td>
        </tr>
        <tr>
            <th style="width:20%">{{'ENTITY_CUSTOMER_XSLEXPORT'|trans|raw }}</th>
            <td>{% if (Customer.xlsexport) %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th style="width:20%">{{'ENTITY_CUSTOMER_TOOLS'|trans|raw }}</th>
            <td>{% if (Customer.commercialtools) %}Yes{% else %}No{% endif %}</td>
        </tr>
        {% if is_granted('ROLE_COMMERCIAL') %}
            <tr>
                <th style="width:20%">{{'ENTITY_CUSTOMER_COEFMARGE'|trans|raw }}</th>
                <td>{{ Customer.margecoef }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>