{% import "appBundle::coreadmin_macro.html.twig" as _ %}
<table class="table">
    <thead>
        <tr>
            <th>{{'ENTITY_CUSTOMER_ID'|trans|raw }}</th>
            <th>{{'ENTITY_CUSTOMER_IMAGE'|trans|raw }}</th>
            <th>{{'ENTITY_CUSTOMER_NAME'|trans|raw }}</th>
            <th>{{'ENTITY_CUSTOMER_ACTIVTY'|trans|raw }}</th>
            <th>{{'ENTITY_CUSTOMER_COEFMARGE'|trans|raw }}</th>
                {% if is_granted('ROLE_COMMERCIAL') %}
                <th>{{'APPLICATION_ACTIONCOLUMN'|trans|raw }}</th>
                <th>{{'NBR_CADENCIER'|trans|raw }}</th>
                <th>{{'LASTOFFER'|trans|raw }}</th>
                {% endif %}
        </tr>
    </thead>
    <tbody>


        {% for customer in Customers %}
            <tr>
                <td><a href="{{ path('customer_show', { 'id': customer.id }) }}">{{ customer.id }}</a></td>
                <td>{% if ( customer.logo) %}<a href="{{ path('customer_show', { 'id': customer.id }) }}"><img style="height:40px;" src="{{webpath~customer.logo.image }}"></a> {% endif %}</td>
                <td><a href="{{ path('customer_show', { 'id': customer.id }) }}">{{ customer.name }}</a></td>
                <td>{%if (customer.activity) %}{{ customer.activity.title }}{% endif %}</td>
                <td>{{ customer.margecoef }}</td>

                <td>
                    {% if is_granted('ROLE_DELETE') %}
                        {{_.dropdownactions([
           {'route': path('customer_show', { 'id': customer.id }) ,'text':'ACTION_CONSULT'},
           {'route': path('customer_edit', { 'id': customer.id }) ,'text':'ACTION_EDIT'},
           {'route': path('customer_show', { 'id': customer.id })~'#contacts' ,'text':'APPLICATION_USERS_LIST'},
           {'route': path('profils_customer',{'id':customer.id}) ,'text':'APPLICATION_LOGEDAS'},
           {'route': path('customer_delete', { 'id': customer.id }) ,'text':'ACTION_DELETE','ico':'icon-trash','confirm':'Confirm?'}
           ])}}  
                    {% else %}
                        {{_.dropdownactions([
           {'route': path('customer_show', { 'id': customer.id }) ,'text':'ACTION_CONSULT'},
           {'route': path('customer_edit', { 'id': customer.id }) ,'text':'ACTION_EDIT'},
           {'route': path('customer_show', { 'id': customer.id })~'#contacts' ,'text':'APPLICATION_USERS_LIST'},
           {'route': path('profils_customer',{'id':customer.id}) ,'text':'APPLICATION_LOGEDAS'}
           ])}}  
                    {% endif %}

                    <a class="btn btn-xs btn-default" href="{{path('profils_customer',{'id':customer.id})}}"><i class="icon-share"></i></a>

                </td>
                <td></td>
                <td></td>

            </tr>
        {% endfor %}
    </tbody>
</table>
