{% extends 'appBundle::layout_site.html.twig' %}

{% block plugins %}
    <link rel="stylesheet" href="{{ asset('bundles/app/plugins/jstree/dist/themes/default/style.min.css') }}"/>
    <script src="{{ asset('bundles/app/plugins/jstree/dist/jstree.min.js') }}"></script>
{% endblock %}

{% block header -%}
    {% if (Customer.id) %}
        {{ _.header({'title':'CUSTOMER_NEW_TITLE','subtitle':'CUSTOMER_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CUSTOMERS','ico':'icon-barcode','url':path('customer'),'parent':{'title':Customer.id,'ico':'icon-barcode','url':path('customer_show',{'id':Customer.id})}}}) }}
    {% else %}
        {{ _.header({'title':'CUSTOMER_NEW_TITLE','subtitle':'CUSTOMER_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CUSTOMERS','ico':'icon-barcode','url':path('customer')}}) }}
    {% endif %}
{% endblock -%}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ _.box('CUSTOMER_NEW_TITLE') }}
                <fieldset>
                    <div class="row">
                        <div class="col-lg-6">
                            <legend>{{ 'ENTITY_CUSTOMER_FIELDSET_'|trans|raw }}</legend>
                            <ul class=" separate-sections">
                                <li class="input">
                                    {{ form_row(form.leads, {'label': 'ENTITY_LEADS'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.name, {'label': 'ENTITY_CUSTOMER_NAME'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.siret, {'label': 'ENTITY_CUSTOMER_SIRET'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.activity, {'label': 'ENTITY_CUSTOMER_ACTIVITY'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.address, {'label': 'ENTITY_CUSTOMER_ADDRESS'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.city, {'label': 'ENTITY_CUSTOMER_CITY'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.pc, {'label': 'ENTITY_CUSTOMER_ZIP'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.country, {'label': 'ENTITY_CUSTOMER_COUNTRY'}) }}
                                </li>
                            </ul>
                            <fieldset>
                                <legend>{{ 'User'|trans|raw }}</legend>
                                <ul class=" separate-sections">
                                    <li class="input">
                                        {{ form_row(form.contacts.0.name, {'label': 'ENTITY_CUSTOMER_NAME'}) }}
                                    </li>
                                    <li class="input">
                                        {{ form_row(form.contacts.0.email, {'label': 'ENTITY_CONTACT_EMAIL'}) }}
                                    </li>
                                    <li class="input">
                                        {{ form_row(form.contacts.0.phone, {'label': 'ENTITY_CONTACT_PHONE'}) }}
                                    </li>
                                    <li class="input">
                                        {{ form_row(form.contacts.0.job, {'label': 'ENTITY_CONTACT_JOB'}) }}
                                    </li>
                                    <li class="input">
                                        {{ form_row(form.locale, {'label': 'ENTITY_CUSTOMER_LANGUAGE'}) }}
                                    </li>
                                </ul>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">

                            <fieldset>
                                <legend>{{ 'ENTITY_CUSTOMER_FIELDSET_SUPPLIERRESTRICTION'|trans|raw }}</legend>
                                <ul class=" separate-sections">
                                    <li class="input">
                                        <div>
                                            <label for="sourcinasia_appbundle_customer_leads">{{ 'DEMOACCESS'|trans|raw }}</label>
                                            <input type="checkbox" name="DemoAcess" value="1"></div>
                                    </li>
                                    <li class="input">
                                        {{ form_row(form.contacts.0.type, {'label': 'Type'}) }}
                                    </li>
                                    <li class="input">
                                        {{ form_row(form.margecoef, {'label': 'ENTITY_CUSTOMER_MARGECOEF'}) }}
                                    </li>
                                    <li class="input">
                                        {{ form_row(form.zones, {'label': 'ENTITY_CUSTOMER_ZONE'}) }}
                                    </li>
                                    <li class="input">
                                        {{ form_row(form.contacts.0.frequencenews, {'label': 'Frequence email (jours)'}) }}
                                    </li>
                                </ul>
                                <legend>{{ 'ENTITY_CUSTOMER_FIELDSET_RESTRICTION'|trans|raw }}</legend>
                                {{ form_row(form.nomenclatures, {'label': 'ENTITY_CUSTOMER_CATEGORIESACCESS'}) }}
                                <div id="jstree"></div>

                            </fieldset>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    {{ _.endbox() }}
            </div>
        </div>
    </div>


    <script type="text/javascript">

        $(document).ready(function () {


            function changeMarge(force) {
                var marges = {
                {% for activity in activites %}
                {%  if activity .marge  %}
                {{  activity .id }}:  {{  activity .marge }},
                {%  endif  %}
                {%  endfor %}
                0
            :
                10
            };

            if (force || ($('#customer_leads').is(':checked') && !$('#customer_margecoef').val())) {
                $('#customer_margecoef').val(marges[$('#customer_activity').val()])
            }
        }

        $('customer_leads').click(function () {
            changeMarge();
        });
        $('#customer_activity').change(function () {
            changeMarge(true);
        });

        function actualiseForm() {
            agentco = $('#customer_activity').val();
            if (agentco == 6) {
                $('#customer_commercialtools').attr('checked', false);
                $('#customer_commercialtools').closest('li').hide();
            } else {
                $('#customer_commercialtools').closest('li').show();
            }
        }

        actualiseForm();
        $('#customer_activity').change(function () {
            actualiseForm();
        });

        $('#jstree').jstree({
            'plugins': ["checkbox"], 'core': {
                'data':{{Nomenclatures|raw}}
            }
        });

        $('#jstree').on("changed.jstree", function (e, data) {
            var nomenclatures = [];
            $.each(data.selected, function (key, nomenclature) {
                if (nomenclature.substr(7) != "000")
                    nomenclatures.push(nomenclature);
            });
            $('#customer_nomenclatures').val(nomenclatures.join());
        });

        function update() {
            selected = $('#customer_categories').val();
            if (selected) {
                $.each(selected, function (key, data) {
                    $('#nomenclature_list option[value=' + data + ']').appendTo('#nomenclature_access');
                });
            }
            selected = $('#customer_categoriesrestriction').val();
            if (selected) {
                $.each(selected, function (key, data) {
                    $('#nomenclature_list option[value=' + data + ']').appendTo('#nomenclature_restriction');
                });
            }
        }

        update();

        $('#AddAccess').click(function () {
            selected = $("#nomenclature_list").val();
            if (selected) {
                $.each(selected, function (key, data) {
                    $('#customer_categories option[value*=' + data + ']').attr('selected', 'selected');
                });
                update();
            } else {
                alert('No item selected');
            }
        });

        $('#AddRestriction').click(function () {
            selected = $("#nomenclature_list").val();
            if (selected) {
                $.each(selected, function (key, data) {
                    $('#customer_categoriesrestriction option[value*=' + data + ']').attr('selected', 'selected');
                });
                update();
            } else {
                alert('No item selected');
            }
        });


        $('#RemoveRestriction').click(function () {
            selected = $("#nomenclature_restriction").val();
            if (selected) {
                $.each(selected, function (key, data) {
                    $('#customer_categoriesrestriction option[value*=' + data + ']').attr('selected', false);
                    $('#nomenclature_restriction option[value=' + data + ']').appendTo('#nomenclature_list');
                });
                update();
            } else {
                alert('No item selected');
            }
        });


        $('#RemoveAccess').click(function () {
            selected = $("#nomenclature_access").val();
            if (selected) {
                $.each(selected, function (key, data) {
                    $('#customer_categories option[value*=' + data + ']').attr('selected', false);
                    $('#nomenclature_access option[value=' + data + ']').appendTo('#nomenclature_list');
                });
                update();
            } else {
                alert('No item selected');
            }
        });

        })
        ;
    </script>

{% endblock %}


