{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
    {{ _.header({'title': 'ENTITY_CUSTOMER'|trans|raw~' : '~Customer.name ,'subtitle':'ENTITY_CUSTOMER','ico':'icon-globe','parent':{'title':'ENTITY_CUSTOMER','ico':'icon-globe','url':path('customer')}}) }}
{% endblock %}

{% block body -%}

    <div class="container">
        <div class="row">
            <div class="col-md-12">   
                {{_.tabs([
                {'key':'home','text':Customer.name,'ico':'icon-home'},
                {'key':'contacts','text':'ENTITY_CONTACTS','ico':'icon-group'},
                {'key':'exclusivity','text':'CUSTOMERS_TABS_EXCLUSIVITY','ico':'icon-shopping-cart'},
                {'key':'order','text':'ENTITY_ORDERS','ico':'icon-book'},
                {'key':'products','text':'Details','ico':'icon-book'},
                {'key':'activity','text':'CUSTOMERS_TABS_USERACTIVITY','ico':'icon-calendar'},
                {'key':'invoices','text':'Invoices','ico':'icon-inbox'},
                {'key':'newsletter','text':'Newsletters','ico':'icon-inbox'},
                {'key':'historics','text':'ENTITY_HISTORIQUE','ico':'icon-calendar'}
             ],[
                {'route':path('customer_edit', { 'id': Customer.id }) ,'ico':'icon-edit','text':'ACTION_EDIT'},
                {'route':path('export_fixedprice', { 'id': Customer.id }) ,'ico':'icon-download-alt','text':'EXPORTFIXEDPRICE'},
                {'route':path('customer_delete', { 'id': Customer.id }),'text':'ACTION_DELETE','ico':'icon-trash','confirm':'Confirm?'},
                {'route': path('profils_customer',{'id':Customer.id}) ,'text':'APPLICATION_LOGEDAS','ico':'icon-share'},
                {'route': path('customer_new',{'id':Customer.id}) ,'text':'ACTION_ADD_CUSTOMER','ico':'icon-plus-sign'},
                {'route': path('customer_quickadd',{'id':Customer.id}) ,'text':'ACTION_QUICKADD_CUSTOMER','ico':'icon-plus-sign'}
             ],[{'route':path('customer_edit', { 'id': Customer.id }) ,'ico':'icon-edit'},{'route':path('profils_customer', { 'id': Customer.id }) ,'ico':'icon-share'}])}}
                <div class="tab-pane active" id="home">
                    {% include 'appBundle:Customer:item.html.twig'  %}
                </div>

                <div class="tab-pane" id="contacts">
                    <a class="btn btn-default pull-right" href="{{path('contact_new',{'customer': Customer.id})}}"><i class="icon-plus-sign"></i> {{'ACTION_ADD_CONTACT'|trans|raw }}</a>
                    {% include 'appBundle:Contact:list.html.twig' with {'Contacts': Customer.Contacts,'customer':Customer.id,'commercialtools':Customer.commercialtools} %}
                </div>
                <div class="tab-pane" id="exclusivity">
                    {% include 'appBundle:Product:list.html.twig'   with {'entities': Customer.products}  %} 
                </div>
                <div class="tab-pane" id="order">
                    {% include 'appBundle:Command:listCommandCustomer.html.twig' with {'Cadenciers': Customer.cadenciers} %}
                </div>
                <div class="tab-pane" id="products">
                    {% include 'appBundle:Customer:historiesCustomer.html.twig' with {'Historysale': Customer.Historysale} %}
                </div>
                <div class="tab-pane" id="activity">
                    {% include 'appBundle:UserActivity:list.html.twig' with {'Histories': Customer.historiescustomer} %} 
                </div>
                <div class="tab-pane" id="invoices">
                    {% include 'appBundle:Payment:list.html.twig' with {'invoices':  Customer.invoices, consult:true} %}
                </div>
                <div class="tab-pane" id="historics">
                    {% include 'appBundle:History:historiquesList.html.twig' with {'Histories': Customer.Histories} %}
                </div>
                <div class="tab-pane" id="newsletter">
                    {% include 'appBundle:Newsletter:Newsletterlist.html.twig' with {'Contacts': Customer.Contacts} %}
                </div>
                {{_.endtabs()}}
            </div>
        </div>
    </div>
    {#  {'key':'access','text':'CUSTOMERS_TABS_ACCESS','ico':'icon-calendar'}, #}
{% endblock %}
