{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Shippingcompany.id) %}
{{ _.header({'title':'SHIPPINGCOMPANY_NEW_TITLE','subtitle':'SHIPPINGCOMPANY_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_SHIPPINGCOMPANYS','ico':'icon-barcode','url':path('shippingcompany'),'parent':{'title':Shippingcompany.id,'ico':'icon-barcode','url':path('shippingcompany_show',{'id':Shippingcompany.id})}}})}}
{% else %}
{{ _.header({'title':'SHIPPINGCOMPANY_NEW_TITLE','subtitle':'SHIPPINGCOMPANY_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_SHIPPINGCOMPANYS','ico':'icon-barcode','url':path('shippingcompany')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('SHIPPINGCOMPANY_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_SHIPPINGCOMPANY_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_SHIPPINGCOMPANY_TITLE'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


