<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/bundles/app/plugins/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/bundles/app/css/coreadmin.css">
        <link rel="stylesheet" type="text/css" href="/bundles/app/css/sourcinasia.css">
        <title>Page momentan&eacute;ment indisponible</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
            <div class="collapse navbar-collapse navbar-collapse-top"> </div>
        </nav>
        <div class="sidebar-background">
            <div class="primary-sidebar-background"></div>
        </div>
        <div class="primary-sidebar">
            <ul class="nav navbar-collapse collapse navbar-collapse-primary">
                <li>
                    <span class="glow"></span>
                    <a href="/">
                        <i class="icon-shopping-cart icon-2x"></i>
                        <span>{{'MENU_DASHBOARD'|trans }}</span>
                    </a>
                </li>
            </ul>    
        </div>
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="box ">
                            <div class="box-header">
                                <div class="title"> </div>
                            </div>
                            <div class="box-content padded">   
                                <h1>{{'ERR'|trans }}</h1>
                                <br/>
                                <p>
                                    {{'ERRTXT'|trans|raw }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>