{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (City.id) %}
{{ _.header({'title':'CITY_NEW_TITLE','subtitle':'CITY_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CITYS','ico':'icon-barcode','url':path('city'),'parent':{'title':City.id,'ico':'icon-barcode','url':path('city_show',{'id':City.id})}}})}}
{% else %}
{{ _.header({'title':'CITY_NEW_TITLE','subtitle':'CITY_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CITYS','ico':'icon-barcode','url':path('city')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('CITY_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_CITY_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_CITY_TITLE'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


