{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
{{ _.header({'title':'Exctrat images','subtitle':'Exctrat images','ico':'icon-dashboard'}) }}
{% endblock %}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-6" >
              {{_.box('Import for supplier '~ supplier.name)}}
             {{ form_start(form) }}
            <fieldset>
                <legend> Upload your xlsx file you want extract images</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">
                            <li class="input">
                                          {{ form_row(form.attachment, {'label': 'CHOOSE YOUR EXCEL FILE'}) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>
            <legend> 4 - Upload file </legend>
            <div class="row">
                <div class="col-lg-12">
                    <ul class=" separate-sections">
                        <li class="input">
                            <input type="submit" value="Upload file and get ZIP" class="btn btn-blue"/>
                        </li>
                    </ul>
                </div>
            </div>
               {{ form_errors(form) }}
                  {{ form_end(form) }}
         {{_.endbox()}}
        </div>
    </div>
</div>
{% endblock %}
