{% extends 'appBundle::layout_site.html.twig' %}

{% block plugins %}
    <link rel="stylesheet" href="{{ asset('bundles/app/plugins/jstree/dist/themes/default/style.min.css') }}" />
    <script src="{{ asset('bundles/app/plugins/jstree/dist/jstree.min.js') }}"></script>{% endblock %}

{% block header -%}
{% if (Supplier.id) %}
{{ _.header({'title':Supplier.id~' - '~Supplier.name,'subtitle':'SUPPLIER_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_SUPPLIERS','ico':'icon-barcode','url':path('supplier'),'parent':{'title':Supplier.id,'ico':'icon-barcode','url':path('supplier_show',{'id':Supplier.id})}}})}}
{% else %}
{{ _.header({'title':'SUPPLIER_NEW_TITLE','subtitle':'SUPPLIER_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_SUPPLIERS','ico':'icon-barcode','url':path('supplier')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('SUPPLIER_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_SUPPLIER_FIELDSET_IDENTIFICATION'|trans|raw}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">
                            <li class="input">
                                 {{ form_row(form.name, {'label': 'ENTITY_SUPPLIER_NAME'}) }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-12">
                        <ul class=" separate-sections">
                            <li class="input">
                                 {{ form_row(form.website, {'label': 'ENTITY_SUPPLIER_WEBSITE'}) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>{{'ENTITY_SUPPLIER_FIELDSET_OFFER'|trans|raw}}</legend>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class=" separate-sections">
                            <li class="input">
                                 {{ form_row(form.offername, {'label': 'ENTITY_SUPPLIER_OFFERNAMEEN'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.offernamefr, {'label': 'ENTITY_SUPPLIER_OFFERNAMEFR'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.containers, {'label': 'ENTITY_SUPPLIER_CONTAINERTYPE'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.incoterms, {'label': 'ENTITY_SUPPLIER_INCOTERM'}) }}
                            </li>
                            <li class="input">
                                {{ form_row(form.shopNumber) }}
                            </li>
                            <li class="input">
                                {{ form_row(form.supplierCategory) }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class=" separate-sections">
                            <li class="input">
                                 {{ form_row(form.comments, {'label': 'ENTITY_SUPPLIER_COMMENTS'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.exportlicence, {'label': 'ENTITY_SUPPLIER_EXPOTLICENCE'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.businesslicence, {'label': 'ENTITY_SUPPLIER_BUSINESSLICENCE'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.deleverytime, {'label': 'ENTITY_SUPPLIER_DELEVERYTIME'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.validityoffer, {'label': 'ENTITY_SUPPLIER_VALIDITYOFFER'}) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>{{'ENTITY_SUPPLIER_FIELDSET_PAYEMENT'|trans|raw}}</legend>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class=" separate-sections">
                            <li class="input">
                                 {{ form_row(form.infobank, {'label': 'ENTITY_SUPPLIER_INFOBANK'}) }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class=" separate-sections">
                            <li class="input">
                                 {{ form_row(form.paymenterms, {'label': 'ENTITY_SUPPLIER_PAYMENTTERMS'}) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset> 
            <fieldset>
                <legend>{{'ENTITY_SUPPLIER_FIELDSET_NOTE'|trans|raw}}</legend>
                <div class="row">
                    <div class="col-lg-9">
                        <ul class=" separate-sections">
                            <li class="input">
                                 {{ form_row(form.note, {'label': 'ENTITY_SUPPLIER_NOTE'}) }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <ul class=" separate-sections">
                            <li class="input">
                                 {{ form_row(form.mark, {'label': 'ENTITY_SUPPLIER_MARK'}) }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <fieldset>
                        <legend>{{'ENTITY_PRODUCT_NOMENCLATURE'|trans|raw}}</legend>
                        {{ form_row(form.nomenclatures, {'label': 'ENTITY_PRODUCT_NOMENCLATURE'}) }}
                        <div>
                            <button type="button" id="tree_fold_all">Fold All</button>
                            <button type="button" id="tree_unfold_all">UnFold All</button>
                        </div>

                        <div id="jstree"></div>
                    </fieldset>
                </div>
            </fieldset> 
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
<script> 
    $('form.fill-up').on("submit", function() {
        if (!$('input[name*=containers').is(':checked')) { 
            alert('Please select a container');
            return false;
        }
        if (!$('input[name*=incoterms').is(':checked')) {
            alert('Please select a incoterm');
            return false;
        }
        return true;
    });
    $(document).ready(function() {

        $('#jstree').jstree({'plugins': ["checkbox"], 'core': {
                'data':{{Nomenclatures|raw}}
            }});

        $('#jstree').on("changed.jstree", function(e, data) {
            var nomenclatures = [];
            $.each(data.selected, function(key, nomenclature) {
                if (nomenclature.substr(7) != "000")
                    nomenclatures.push(nomenclature);
            });
            $('#supplier_nomenclatures').val(nomenclatures.join());
        });

        $("#tree_fold_all").click(function(){
            $('#jstree').jstree('close_all');
        });

        $("#tree_unfold_all").click(function(){
            $('#jstree').jstree('open_all');
        });


    });
</script>
 {% endblock %}


