{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
    {{ _.header({'title':'Import new products','subtitle':'Import new products','ico':'icon-dashboard'}) }}
{% endblock %}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ _.box('Import for supplier '~ supplier.name) }}
                {% if (post) %}
                <form id="importvalue" action="{{ path('supplier_import',{'supplier': supplier.id}) }}" method="post"
                      enctype="multipart/form-data">
                    <input type="button" value="Back" class="btn btn-default BackAction"/>
                    <input id="import_values" type="button"
                           value="Confirm importation for the supplier {{ supplier.name }}" class="btn btn-blue"/>
                    <textarea style="display:none;" name="datas" id="datas" cols="30" rows="10">{{ datas }}</textarea>
                    <textarea style="display:none;" name="images" id="images" cols="30"
                              rows="10">{{ images }}</textarea>
                    <textarea style="display:none;" name="updateoffer" id="updateoffer" cols="30"
                              rows="10">{{ updateoffer }}</textarea>
                </form>
                {% else %}
                <form action="{{ path('supplier_import',{'supplier': supplier.id}) }}" method="post"
                      enctype="multipart/form-data">
                    {{ form_start(form) }}
                    <fieldset>
                        <legend>{{ 'SUPPLIERS_IMPORT_STEP1'|trans }}</legend>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class=" separate-sections">
                                    <li class="input">
                                        <a href="{{ asset('bundles/app/masters/master.xlsx') }}">Download example master
                                            file</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <legend>{{ 'SUPPLIERS_IMPORT_STEP2'|trans }}
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class=" separate-sections">
                                        <li class="input">
                                            {{ form_row(form.attachment, {'label': 'CHOOSE YOUR EXCEL FILE'}) }}
                                        </li>
                                    </ul>
                                </div>
                            </div>

                    </fieldset>
                    <ul class=" separate-sections">
                        <li class="input hidden">
                            {{ form_row(form.startline, {'label': ''}) }}
                        </li>
                    </ul>
                    <legend>{{ 'SUPPLIERS_IMPORT_STEP3'|trans }}
                        <legend></legend>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class=" separate-sections">
                                    <li class="input">
                                        <input type="submit" value="{{ 'SUPPLIERS_IMPORT_SUBMIT'|trans }}"
                                               class="btn btn-blue"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {{ form_errors(form) }}
                        {{ form_end(form) }}
                        {% endif %}
                        {{ _.endbox() }}
            </div>
        </div>
        {% if (post) %}
            <div class="row">
                <div class="col-md-12">
                    {{ _.box('Preview') }}
                    <div style="overflow-x: auto;">
                        <table class="table" id="tablepreview">
                            <thead>
                            <th class="required">Nomenclature</th>
                            <th class="required">Supplier Item Number</th>
                            <th class="display">Photo</th>
                            <th>INASIA Item Number</th>
                            <th class="required">Short Description EN</th>
                            <th class="required">Description EN</th>
                            <th>Short Description FR</th>
                            <th>Description FR</th>
                            <th>Gencod</th>
                            <th>Color</th>
                            <th>Material</th>
                            <th>Packing</th>
                            <th>Comments</th>
                            <th>Product Size cm</th>
                            <th>Packing Size cm</th>
                            <th>NW product</th>
                            <th>GW product</th>
                            <th>NW Package</th>
                            <th>GW Package</th>
                            <th>QTY 20 GP</th>
                            <th>QTY 40 GP</th>
                            <th>QTY 40 HQ</th>
                            <th class="required">PCB</th>
                            <th>MOQ Packing</th>
                            <th>MOQ Packing UNIT</th>
                            <th class="required">MOQ</th>
                            <th class="required">MOQ UNIT</th>
                            <th class="required">CBM Packing</th>
                            <th>FOB Unit Price USD</th>
                            <th>FOB pol</th>
                            <th>EXW Unit Price</th>
                            <th>Currency</th>
                            <th>CE Standard</th>
                            </thead>
                            <tbody id="preview">
                            </tbody>
                        </table>
                    </div>
                    {{ _.endbox() }}
                </div>
            </div>
        {% endif %}
    </div>
    {% if (post) %}
        <script>
            var supplieritemnumber= "";
            var images = "";
            $(document).ready(function () {
                function newline(data) {
                    var line;
                    $('#tablepreview th').each(function (i, th) {
                        id = $(th).html().replace(/ /g, '_').toLowerCase();
                        value = (data[id]) ? data[id] : "";
                        line += "<td class=" + id + ">" + value + "</td>";
                    });
                    return line;
                }

                function showpictures() {
                    images = eval($('#images').val())[0];

                    $.each(images, function (line, images) {
                        $.each(images, function (index, image) {
                            $('.photo:eq(' + line + ')').prepend('<a class="product-thumb" href="' + image.url + '" style="background-image:url(' + image.url + ')" title=""></a><div style="cursor: pointer;" class="rotate-button">Rotate</div>');
                        });
                    });
                    if (images.lenght) {
                        $('.photo').show();
                    }
                    $('a.product-thumb').touchTouch();

                    $("div.rotate-button").click(function(){

                        var supplieritemnumber= $(this).parent('td').parent('tr').data('supplieritemnumber');
                        var image = $(this).parent('td').find('a').attr('href');
                        $(this).parent('td').addClass("photo_"+supplieritemnumber);

                        var request = $.ajax({
                            url: "/app_dev.php/en/images/rotateImage",
                            type: "post",
                            data: {supplieritemnumber : supplieritemnumber,
                                    image : image },
                        });

                        request.done(function(msg) {
                            var url = msg+"?"+ new Date().getTime();
                            $(".photo_"+supplieritemnumber).find('a').attr('href',url);
                            $(".photo_"+ supplieritemnumber ).find('a').css('background-image','url("' + url + '")' );

                        });

                    });
                }



                function hidecols() {
                    $('#tablepreview th').each(function (i, th) {
                        classname = $(th).html().replace(/ /g, '_').toLowerCase();
                        $(th).addClass(classname);
                        if (!dataincol(classname)) {
                            if (!$(th).hasClass('required') && !$(th).hasClass('display'))
                                $('.' + classname).hide();
                        }

                    });
                }

                function dataincol(classname) {
                    test = false;
                    $('td.' + classname).each(function () {
                        if ($(this).html() != "")
                            test = true;
                    });
                    return test;
                }

                function hideraws() {
                    $('#tablepreview tr').each(function (i, tr) {
                        if (i > 0) {
                            test = false;
                            $(this).find('td').each(function (j) {
                                if (j > 0 && $(this).html() != "")
                                    test = true;
                            });
                            $(tr).addClass('line' + i);
                            if (!test)
                                $('tr.' + 'line' + i).remove();
                        }
                    });
                }

                function updatePreview() {
                    nberror = 0;
                    $('#preview').html('');
                    $.each(eval($('#datas').val())[0], function (index, data) {
                        $('#preview').append('<tr data-state="upload" data-supplieritemnumber="' + data.supplier_item_number + '">' + newline(data) + '</tr>');
                    });
                    hidecols();
                    showpictures();
                    // hideraws();
                    checkdatas();

                }

                updatePreview();

            });

            function checkdatas() {
                error = 0;
                $('#tablepreview th.required').each(function (i, th) {
                    classname = $(th).html().replace(/ /g, '_').toLowerCase();
                    dataincol = true;
                    $('td.' + classname).each(function () {
                        if ($(this).html() == "") {
                            dataincol = false;
                            $(this).css('background-color', 'red');
                            $(this).css('color', '#fff');
                            $(this).addClass('error');
                            $(this).show();
                            error++;
                            if (classname == "supplier_item_number")
                                $(this).append('<i class="icon-warning-sign"></i>Item number repeated or empty');
                            else
                                $(this).append('<i class="icon-warning-sign"></i>Could not be empty');
                        }
                    });
                });

                $.each(eval($('#updateoffer').val())[0], function (index, data) {
                    $('tr[data-supplieritemnumber="' + data + '"]').addClass('update');
                });

                $('tr[data-state="upload"]:not(.update)').find('td.supplier_item_number').append(' <br/><b><i class="icon-plus-sign"></i>CREATE</b>');
                $('tr.update[data-state="upload"]').find('td.supplier_item_number').append(' <br/><b><i class="icon-refresh"></i>UPDATE</b>');
                $('tr[data-state="upload"]:not(.update)').css('background-color', 'rgb(175, 231, 175)');
                $('tr.update').css('background-color', 'rgb(255, 197, 154)');

                $('#tablepreview tr').each(function (i, tr) {
                    moq = $(tr).find('.moq').html();
                    moq_unit = $(tr).find('.moq_unit').html();
                    moq_packing = $(tr).find('.moq_packing').html();
                    moq_packing_unit = $(tr).find('.moq_packing_unit').html();
                    fob = $(tr).find('.fob_unit_price_usd').html();
                    exw = $(tr).find('.exw_unit_price').html();
                    currency = $(tr).find('.currency').html();
                    pol = $(tr).find('.fob_pol').html();

                    if (moq) {
                        if (!moq_unit) {
                            $(tr).find('.nomenclature').append('<li><b style="color:red">NO MOQ UNIT!</b></li>');
                            error++;
                        }
                    }
                    else if (moq_packing) {
                        if (!moq_packing_unit) {
                            $(tr).find('.nomenclature').append('<li><b style="color:red">NO MOQ PACKING UNIT!</b></li>');
                            error++;
                        }
                    }
                    else {
                        $(tr).find('.nomenclature').append('<li><b style="color:red">NO MOQ</b></li>');
                        error++;
                    }

                    if (fob) {
                        if (!pol) {
                            $(tr).find('.nomenclature').append('<li><b style="color:red">NO POL!</b></li>');
                            error++;
                        }
                    }
                    else if (exw) {
                        if (!currency) {
                            $(tr).find('.nomenclature').append('<li><b style="color:red">NO CURRENCY FOR EXW PRICE!</b></li>');
                            error++;
                        }
                    } else {
                        $(tr).find('.nomenclature').append('<li><b style="color:red">NO EXW OR FOB PRICE!</b></li>');
                        error++;
                    }
                });

                if (error > 0) {
                    alert('Error: Please check errors : ' + error + 'errors founded before importation');
                    $('#import_values').after('<span class="">Please change xlsx file and press F5 to update errors</span>')
                    $('#import_values').remove();
                }

                if (error > 0)
                    return true;
                else
                    return false;
            }

            $('#import_values').click(function () {
                if (confirm('Confirm importation for the supplier {{ supplier.name }}')) {
                    $('#importvalue').submit();
                }
            });


        </script>
    {% endif %}
{% endblock %}
