{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
{{ _.header({'title':'Import new suppliers','subtitle':'Import new suppliers','ico':'icon-dashboard'}) }}
{% endblock %}

{% block body -%}


<div class="container">
    <div class="row">
        <div class="col-md-6" >
         	{{_.box('Import suppliers')}}
            {% if post %}
            	<form id="importvalue" action="{{ path('supplier_import_csv_suppliers') }}" method="post">
                	<input type="button" value="Back" class="btn btn-default BackAction"/>
                	<input type="hidden" name="datas" value="{{ datas|json_encode }}"/>
                	<input id="import_values" type="submit" value="Confirm importation" class="btn btn-blue"/>
            	</form>
            {% else %}
            	<form action="{{ path('supplier_import_csv_suppliers') }}" method="post" enctype="multipart/form-data">
   					{{ form_start(form) }}
                	<fieldset>
                    	<legend> Upload your suppliers csv file</legend>
                    	<div class="row">
                        	<div class="col-lg-12">
                            	<ul class=" separate-sections">
                                	<li class="input">
                                      {{ form_row(form.attachment, {'label': 'CHOOSE YOUR CSV FILE'}) }}
                                	</li>
                            	</ul>
                        	</div>
                    	</div>
                	</fieldset>
                	<legend> 3 - Upload file and check result</legend>
                	<div class="row">
                    	<div class="col-lg-12">
                        	<ul class=" separate-sections">
                            	<li class="input">
                                	<input type="submit" value="Uploder file and check result" class="btn btn-blue" id="submit-btn"/>
                            	</li>
                        	</ul>
                    	</div>
                	</div>
           		{{ form_errors(form) }}
          		{{ form_end(form) }}
         	{% endif %}
         	{{_.endbox()}}
        </div>
    </div>
    {% if post %}
	    <div class="row">
	        <div class="col-md-12">
	            {{_.box('Preview')}}
	            <div  style="overflow-x: auto;">
	                <table class="table" id="tablepreview">
	                    <thead>
		                    <th>Id</th>
		                    <th>Name</th>
		                    <th>Website</th>
                            <th>Supplier Category</th>
                            <th>Comments</th>
		                    <th>Deleverytime</th>
		                    <th>Offername</th>
		                    <th>Infobank</th>
		                    <th>Exportlicence</th>
		                    <th>Businesslicence</th>
		                    {# <th>Paymentcondition_id</th> #}
		                    <th>Mark</th>
		                    <th>Note</th>
		                    <th>Offernamefr</th>
		                    <th>Validityoffer</th>
	                    </thead>
	                    <tbody id="preview">
	                    	{% if post %}
	                    		{% for supplier in datas %}
	                    			<tr>
	                    				<td>{{ supplier.id }}</td>
	                    				<td>{{ supplier.name ? supplier.name : '<b style="color:red">NO NAME</b>' }}</td>
	                    				<td>{{ supplier.website ? supplier.website : '<b style="color:red">NO WEBSITE</b>' }}</td>
                                        <td>{{ supplier.supplier_category ? supplier.supplier_category : '<b style="color:red">NO CATEGORY</b>' }}</td>
	                    				<td>{{ supplier.comments ? supplier.comments : '<b style="color:red">NO COMMENTS</b>' }}</td>
	                    				<td>{{ supplier.deleverytime ? supplier.deleverytime : '<b style="color:red">NO DELEVERYTIME</b>' }}</td>
	                    				<td>{{ supplier.offername ? supplier.offername : '<b style="color:red">NO OFFERNAME</b>' }}</td>
	                    				<td>{{ supplier.infobank ? supplier.infobank : '<b style="color:red">NO INFOBANK</b>' }}</td>
	                    				<td>{{ supplier.exportlicence ? supplier.exportlicence : '<b style="color:red">NO EXPORTLICENCE</b>' }}</td>
	                    				<td>{{ supplier.businesslicence ? supplier.businesslicence : '<b style="color:red">NO BUSINESSLICENCE</b>' }}</td>
	                    				{# <td>{{ supplier.paymenterms ? supplier.paymenterms : '<b style="color:red">NO PAYMENTCONDITION</b>' }}</td> #}
	                    				<td>{{ supplier.mark ? supplier.mark : '<b style="color:red">NO MARK</b>' }}</td>
	                    				<td>{{ supplier.note ? supplier.note : '<b style="color:red">NO NOTE</b>' }}</td>
	                    				<td>{{ supplier.offernamefr ? supplier.offernamefr : '<b style="color:red">NO OFFERNAMEFR</b>' }}</td>
	                    				<td>{{ supplier.validityoffer ? supplier.validityoffer : '<b style="color:red">NO VALIDITYOFFER</b>' }}</td>
	                    			</tr>
	                    		{% endfor %}
	                    	{% endif %}
	                    </tbody>
	                </table>
	            </div>
	            {{_.endbox()}}
	        </div>
	    </div>
    {% endif %}
</div>

<script>
    $(document).ready(function() {
        function newline(data) {
            var line;
            $('#tablepreview th').each(function(i, th) {
                id = $(th).html().replace(/ /g, '_').toLowerCase();
                value = (data[id]) ? data[id] : "";
                line += "<td class=" + id + ">" + value + "</td>";
            });
            return line;
        }

        function showpictures() {
            images = eval($('#images').val())[0];
            $.each(images, function(index, image) {
                $('.photo:eq(' + index + ')').html('<a class="product-thumb" href="' + image.url + '" style="background-image:url(' + image.url + ')" title=""></a>');
            });
            if (images.lenght) {
                $('.photo').show();
            }
            $('a.product-thumb').touchTouch();
        }

        function hidecols() {
            $('#tablepreview th').each(function(i, th) {
                classname = $(th).html().replace(/ /g, '_').toLowerCase();
                $(th).addClass(classname);
                if (!dataincol(classname)) {
                    if (!$(th).hasClass('required') && !$(th).hasClass('display'))
                        $('.' + classname).hide();
                }

            });
        }

        function dataincol(classname) {
            test = false;
            $('td.' + classname).each(function() {
                if ($(this).html() != "")
                    test = true;
            });
            return test;
        }

        function hideraws() {
            $('#tablepreview tr').each(function(i, tr) {
                if (i > 0) {
                    test = false;
                    $(this).find('td').each(function(j) {
                        if (j > 0 && $(this).html() != "")
                            test = true;
                    });
                    $(tr).addClass('line' + i);
                    if (!test)
                        $('tr.' + 'line' + i).remove();
                }
            });
        }

        // function updatePreview() {
        //     nberror = 0;
        //     $('#preview').html('');
        //     $.each(eval($('#datas').val())[0], function(index, data) {
        //         $('#preview').append('<tr data-state="upload" data-supplieritemnumber="' + data.supplier_item_number + '">' + newline(data) + '</tr>');
        //     });
        //     hidecols();
        //     showpictures();
        //     // hideraws();
        //     checkdatas();

        // }
        // updatePreview();
    });
    function checkdatas() {
        error = 0;
        $('#tablepreview th.required').each(function(i, th) {
            classname = $(th).html().replace(/ /g, '_').toLowerCase();
            dataincol = true;
            $('td.' + classname).each(function() {
                if ($(this).html() == "") {
                    $(this).append('<i class="icon-warning-sign"></i>Could not be empty');
                }
            });
        });

        $.each(eval($('#updateoffer').val())[0], function(index, data) {
            $('tr[data-supplieritemnumber="' + data + '"]').addClass('update');
        });

        $('tr[data-state="upload"]:not(.update)').find('td.supplier_item_number').append(' <br/><b><i class="icon-plus-sign"></i>CREATE</b>');

        if (error > 0) {
            alert('Error: Please check errors : ' + error + 'errors founded before importation');
            $('#import_values').after('<span class="btn btn-default">Please change xlsx file et press F5 to update errors</span>')
            $('#import_values').remove();
        }

        if (error > 0)
            return true;
        else
            return false;
    }

    $('#import_values').click(function() {
        if (confirm('Confirm importation')) {
            $('#importvalue').submit();
        }
    });

</script>
{% endblock %}
