{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
    {{ _.header({'title':'SUPPLIERS_TITLE','subtitle':'SUPPLIERS_SUBTITLE','ico':'icon-home','parent':{'title':'ENTITY_CUSTOMER','ico':'icon-globe','url':path('supplier')}}) }}
{% endblock %}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header fixedbox">
                        <span class="title">{{ 'ENTITY_SUPPLIERS'|trans }}</span>
                        <ul class="box-toolbar">
                            <li><label><input type="checkbox"
                                              id="filterwithoutproduct">{{ 'WITHOUT PRODUCT'|trans|raw }}</label></li>
                            <li><select name="request[order]" id="" class="request chzn-select">
                                    <option value="0" selected>{{ 'APPLICATION_ORDERBY_ID'|trans|raw }}</option>
                                    <option value="volume">{{ 'APPLICATION_ORDERBY_VOLUME'|trans|raw }}</option>
                                </select></li>
                            <li><input placeholder="{{ 'ENTITY_SUPPLIER'|trans }}" type="text"
                                       value="{{ app.session.get('supplierFilter') }}" name="request[supplierid]"
                                       class="request" style="width:70px"></li>
                            <li><input placeholder="{{ 'ENTITY_PRODUCT'|trans }}" type="text"
                                       value="{{ app.session.get('productFilter') }}" name="request[productid]"
                                       class="request" style="width:70px"></li>
                            <li>
                                <select name="request[containerSize]" class="request chzn-select">
                                    <option value="" class="search"{{ not app.session.get('containerSize') ? 'selected' }}>All shipments</option>
                                    <option value="fcl" class="search" {{ app.session.get('containerSize') == "fcl" ? 'selected' }}>FCL</option>
                                    <option value="lcl" class="search" {{ app.session.get('containerSize') == "lcl" ? 'selected' }}>LCL</option>
                                </select>
                            </li>
                            <li class="toolbar-link">
                                <a href="#" class="dropdown" data-toggle="dropdown"><i class="icon-cog"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('supplier_new') }}"><i
                                                    class="icon-plus-sign"></i> {{ 'ACTION_ADD_SUPPLIER'|trans }}</a>
                                    </li>
                                    {% if (is_granted('ROLE_ADMIN')) %}
                                    <li>
                                    	<a href="{{ path('supplier_export_csv_all') }}" target="_blank">
                                    		<i class="icon-file"></i> {{ 'EXPORT_CSV_SUPPLIERS'|trans }}
                                    	</a>
                                    </li>
                                    <li>
                                    	<a href="{{ path('supplier_import_csv_suppliers') }}">
                                    		<i class="icon-file"></i> {{ 'IMPORT_CSV_SUPPLIERS'|trans }}
                                    	</a>
                                    </li>
	                                {% endif %}
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <div class="box-header fixedbox">
                        <ul class="box-toolbar" style="width: 100%;">
                            <li>
                                <div id="filters"
                                     data-pol="{{ app.session.get('pol') }}"
                                     data-uriproduct="{{ path('supplier_filters',{'filter':'nomenclature'}) }}"
                                     data-uripol="{{ path('supplier_filters',{'filter':'pol'}) }}"
                                     data-autocomplete="true" data-alldep="{{ 'ALLDEP'|trans|raw }}"
                                     data-allshe="{{ 'ALLSHE'|trans|raw }}" data-allfam="{{ 'ALLFAM'|trans|raw }}"
                                     data-allsub="{{ 'ALLSUB'|trans|raw }}" data-allpol="{{ 'ALLPOL'|trans|raw }}"
                                     data-depval="{{ session.get('departementFilter') }}"
                                     data-sheval="{{ session.get('shelvesFilter') }}"
                                     data-famval="{{ session.get('famillyFilter') }}"
                                     data-subval="{{ session.get('subfamillyFilter') }}"
                                ></div>
                            </li>
                        </ul>
                        <input type="hidden" id="uri_request" value="{{ path('suppliers_request') }}">
                    </div>
                    <div class="box-content padded">
                        <div class="row" id="filters_result"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#filterwithoutproduct').click(function () {
                if ($(this).prop('checked')) {
                    $('.supplier').each(function () {
                        if ($(this).data('nbr') == 0)
                            $(this).show();
                        else
                            $(this).hide();

                    });
                } else {
                    $('.supplier').each(function () {
                        $(this).show();
                    });
                }
            });
        });
    </script>
{% endblock %}
