<table class="table">
    <tbody>
        <tr>
            <th style="width:20%">{{'ENTITY_SUPPLIER_ID'|trans|raw }}</th>
            <td>{{ Supplier.id }}</td>
        </tr>
        <tr>
            <th style="width:20%">{{'ENTITY_SUPPLIER_NAME'|trans|raw }}</th>
            <td>{{ Supplier.name }}</td>
        </tr>
        
        <tr>
            <th style="width:20%">{{'ENTITY_SUPPLIER_WEBSITE'|trans|raw }}</th>
            <td><a target="_blank" href="http://{{ Supplier.website|replace({'%http://%': "", '%https://%': "", '%http//%': "", '%https//%': ""})  }}">{{ Supplier.website|replace({'%http://%': "", '%https://%': "", '%http//%': "", '%https//%': ""})  }}</a></td>
        </tr>
        <tr>
            <th style="width:20%">{{'ENTITY_SUPPLIER_COMMENTS'|trans|raw }}</th>
            <td>{{ Supplier.comments }}</td>
        </tr>
        <tr>
            <th style="width:20%">{{'ENTITY_SUPPLIER_OFFERNAME'|trans|raw }}</th>
            <td>{{ Supplier.offername }}</td>
        </tr>
        <tr>
            <th style="width:20%">{{'ENTITY_SUPPLIER_INFOBANK'|trans|raw }}</th>
            <td>{{ Supplier.infobank }}</td>
        </tr>
        <tr>
            <th style="width:20%">{{'ENTITY_SUPPLIER_EXPOTLICENCE'|trans|raw }}</th>
            <td>{{ Supplier.exportlicence }}</td>
        </tr>
        <tr>
            <th style="width:20%">{{'ENTITY_SUPPLIER_INCOTERM'|trans|raw }}</th>
            <td></td>
        </tr>
       
        <tr>
            <th style="width:20%">{{'ENTITY_SUPPLIER_DELEVERYTIME'|trans|raw }}</th>
            <td>{{ Supplier.deleverytime }}</td>
        </tr>
        <tr>
            <th style="width:20%">{{'ENTITY_CUSTOMER_SHOP_NUMBER'|trans|raw }}</th>
            <td>{{ Supplier.shopNumber }}</td>
        </tr>
        <tr>
            <th style="width:20%">{{'ENTITY_SUPPLIER_CATEGORY_TITLE'|trans|raw }}</th>
            {% if Supplier.supplierCategory is defined and Supplier.supplierCategory is not empty %}
                <td>{{ Supplier.supplierCategory.title }}</td>
            {% else %}
                <td>-</td>
            {% endif %}
        </tr>
    </tbody>
</table>


