{% import "appBundle::coreadmin_macro.html.twig" as _ %}
<table class="table">
    <thead>
        <tr>
            <th>{{'ENTITY_PRODUCT_IMAGE'|trans|raw }}</th>
            <th>{{'ENTITY_SUPPLIER_ID'|trans|raw }}</th>
            <th>{{'ENTITY_SUPPLIER_NAME'|trans|raw }}</th>
            <th>{{'ENTITY_SUPPLIER_OFFERNAME'|trans|raw }}</th>
            <th>{{'CADENCIER_NBRPRODUCT'|trans|raw }}</th>
            <th>{{'ENTITY_SUPPLIER_MARK'|trans|raw }}</th>
            <th>{{'ENTITY_SUPPLIER_VOLMAX'|trans|raw }}</th>
            <th>{{'APPLICATION_ACTIONCOLUMN'|trans|raw }}</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr class="supplier" data-nbr="{{ entity.nbr }}" {% if (entity.volumemax>75)%}style="background-color: rgb(255, 228, 228)"{% endif %}>
                <td>
                    {% if (entity.image)%}
                        <span class="product-thumb" style="display:inline-block;background-image:url({{ webpath ~ entity.image}})"  alt=""></span>
                    {% else %}
                        <span class="product-thumb" style="display:inline-block;background-image:url({{webpath}}bundles/app/images/no-image.png)"  alt=""></span>
                    {% endif %}
                </td>
                <td><a href="{{ path('supplier_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('supplier_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td><a href="{{ path('supplier_show', { 'id': entity.id }) }}">{{ entity.offername }}</a></td>
                <td>{{ entity.nbr }}</a></td>
                <td><i class="icon-circle" style="color:{% if (entity.mark==0) %}
                       #000
                       {% elseif (entity.mark==1) %}
                           green
                           {% elseif (entity.mark==2) %}
                               orange
                               {% elseif (entity.mark==3) %}
                                   red
                                   {% endif %}"></i>
                               </td>
                               <td>
                                   {{ entity.volumemax | number_format(2) }}   
                               </td>
                               <td>
                                   <ul> 
                                       {%if (is_granted('ROLE_ADMIN')) %}
                                           {{_.dropdownactions([
      {'route': path('supplier_show', { 'id': entity.id }) ,'text':'ACTION_CONSULT'},
      {'route': path('supplier_edit', { 'id': entity.id }) ,'text':'ACTION_EDIT'},
      {'route': path('supplier_cadencier_show' , {'id':entity.id}) ,'text':'ACTION_CONSULT_CADENCIER'},
      {'route': path('supplier_delete',{'id':entity.id}),'text':'ACTION_DELETE','ico':'icon-trash','confirm':'Confirm?'},
      {'route': path('supplier_hide_products',{'id':entity.id}),'text':'ACTION_HIDEALLPRODUCTS','ico':'icon-eye-close'}
      ])}}  
                                       {%else %}
                                           {{_.dropdownactions([
      {'route': path('supplier_show', { 'id': entity.id }) ,'text':'ACTION_CONSULT'},
      {'route': path('supplier_edit', { 'id': entity.id }) ,'text':'ACTION_EDIT'},
      {'route': path('supplier_cadencier_show', {'id':entity.id}) ,'text':'ACTION_CONSULT_CADENCIER'},
      ])}}  
                                       {% endif %}
                                   </ul>
                               </td>
                           </tr>  
                           {% endfor %}
                           </tbody>
                       </table>
