{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
    {{ _.header({'title': 'ENTITY_SUPPLIER'|trans|raw~ ' : '~Supplier.id~' - '~Supplier.name|title ,'subtitle':'ENTITY_SUPPLIER','ico':'icon-home','parent':{'title':'ENTITY_SUPPLIERS','ico':'icon-home','url':path('supplier')}}) }}
{% endblock %}

{% block body -%}
    <div class="container">
        <span id="updateOfferSupplier"></span>
        <div class="row">
            <div class="col-md-12">
                {# ACTION #}
                {# base actions #}
                {% set actions = [
                    {'route':path('supplier_edit', { 'id': Supplier.id }) ,'ico':'icon-edit','text':'ACTION_EDIT_SUPPLIER'},
                    {'route': path('product') ,'ico':'icon-plus-sign','text':'ACTION_ADD_PRODUCT'},
                    {'route': path('product_new',{'supplier': Supplier.id}) ,'ico':'icon-barcode','text':'ACTION_ADD_NEWPRODUCT'},
                    {'route': path('supplier_extract',{'supplier': Supplier.id}) ,'ico':'icon-download-alt','text':'ACTION_EXCTRACTIMAGES'},
                    {'route': path('contact_new',{'supplier': Supplier.id}) ,'ico':'icon-group','text':'ACTION_ADD_CONTACT'},
                    {'route': path('address_new',{'supplier': Supplier.id}) ,'ico':'icon-group','text':'ACTION_ADD_ADDRESSE'},
                ] %}

                {% if (is_granted('ROLE_SOURCING')) %}
                    {% set actions = actions|merge([{'route': path('supplier_import',{'supplier': Supplier.id}) ,'ico':'icon-upload-alt','text':'ACTION_IMPORTPRODUCTFILE'}]) %}
                    {% set actions = actions|merge([{'route': path('supplier_import_images_form',{'supplier': Supplier.id}) ,'ico':'icon-upload-alt','text':'ACTION_IMPORTIMAGES'}]) %}
                {% endif %}
                {% if (is_granted('ROLE_COMMERCIAL')) %}
                    {% set actions = actions|merge([{'route':path('supplier_cadencier_show',{'id': Supplier.id}),'ico':'icon-book','text':'ACTION_CONSULT_CADENCIER'}]) %}
                {% endif %}
                {% if (is_granted('ROLE_ADMIN')) %}
                    {% set actions = actions|merge([{'route':path('supplier_delete',{'id': Supplier.id}),'ico':'icon-trash','text':'ACTION_DELETE_SUPPLIER','confirm':'Confirm?'}]) %}
                {% endif %}

                {# if not ADMIN OR ROLE_SOURCING OR COMMERCIAL, no actions #}
                {% if (not is_granted('ROLE_SOURCING') and not is_granted('ROLE_COMMERCIAL') and not is_granted('ROLE_ADMIN')) %}
                {% set actions = [] %}
                {% endif %}

                {# TABS AND ROUTES #}
                {% if (is_granted('ROLE_ADMIN')) %}
                    {% set tabs = [
                        {'key':'home','text':Supplier.id~' - '~Supplier.name|title,'ico':'icon-home'},
                        {'key':'offers','text':'ENTITY_OFFERS'|trans|raw~'('~Offers|length~')','ico':'icon-shopping-cart'},
                        {'key':'address','text':'ENTITY_ADDRESSES','ico':'icon-home'},
                        {'key':'contacts','text':'ENTITY_CONTACTS','ico':'icon-group'},
                        {'key':'suppliercomments','text':'ENTITY_SUPPLIERCOMMENT','ico':'icon-pencil'},
                        {'key':'invoices','text':'Invoices','ico':'icon-inbox'},
                        {'key':'historics','text':'ENTITY_HISTORIQUE','ico':'icon-calendar'}
                    ] %}
                    {% set routes = [
                        {'route':path('supplier_edit', { 'id': Supplier.id }) ,'ico':'icon-edit'}
                    ] %}
                {% elseif (is_granted('ROLE_SOURCING')) %}
                    {% set tabs = [
                        {'key':'home','text':Supplier.id~' - '~Supplier.name|title,'ico':'icon-home'},
                        {'key':'offers','text':'ENTITY_OFFERS','ico':'icon-shopping-cart'},
                        {'key':'address','text':'ENTITY_ADDRESSES','ico':'icon-home'},
                        {'key':'contacts','text':'ENTITY_CONTACTS','ico':'icon-group'},
                        {'key':'suppliercomments','text':'ENTITY_SUPPLIERCOMMENT','ico':'icon-pencil'},
                        {'key':'historics','text':'ENTITY_HISTORIQUE','ico':'icon-calendar'}
                    ] %}
                    {% set routes = [
                        {'route':path('supplier_edit', { 'id': Supplier.id }) ,'ico':'icon-edit'}
                    ] %}
                {% else %}
                    {% set tabs = [
                        {'key':'home','text':Supplier.id~' - '~Supplier.name|title,'ico':'icon-home'},
                        {'key':'offers','text':'ENTITY_OFFERS','ico':'icon-shopping-cart'},
                        {'key':'address','text':'ENTITY_ADDRESSES','ico':'icon-home'},
                        {'key':'contacts','text':'ENTITY_CONTACTS','ico':'icon-group'},
                        {'key':'suppliercomments','text':'ENTITY_SUPPLIERCOMMENT','ico':'icon-pencil'},
                        {'key':'historics','text':'ENTITY_HISTORIQUE','ico':'icon-calendar'}
                    ] %}
                    {% set routes = [] %}
                {% endif %}

                {% if(document_can_list['catalog']) %}
                    {% set tabs = tabs|merge([{'key':'catalogs','text':'ENTITY_DOCUMENT_LIST_NAME_CATALOG','ico':'icon-calendar'}])  %}
                {% endif %}
                {% if(document_can_list['quotation']) %}
                    {% set tabs = tabs|merge([{'key':'quotations','text':'ENTITY_DOCUMENT_LIST_NAME_QUOTATION','ico':'icon-calendar'}])  %}
                {% endif %}
                {% if(document_can_list['customer_offer']) %}
                    {% set tabs = tabs|merge([{'key':'customeroffers','text':'ENTITY_DOCUMENT_LIST_CUSTOMER_OFFER','ico':'icon-calendar'}])  %}
                {% endif %}

                {{ _.tabs(tabs,actions,routes) }}

                <div class="tab-pane active" id="home">
                    {% include 'appBundle:Supplier:item.html.twig' %}
                </div>
                <div class="tab-pane" id="address">
                    {% if (is_granted('ROLE_SOURCING')) %} <a class="btn btn-default pull-right"
                                                              href="{{ path('address_new',{'supplier': Supplier.id}) }}">
                        <i class="icon-plus-sign"></i> {{ 'ACTION_ADD_ADDRESSE'|trans|raw }}</a>{% endif %}
                    {% include 'appBundle:Address:list.html.twig'  with {'Addresses': Supplier.addresses} %}
                </div>
                <div class="tab-pane" id="suppliercomments">
                    {% if (is_granted('ROLE_SOURCING')) %}   <a class="btn btn-default pull-right"
                                                                href="{{ path('suppliercomment_new',{'idsupplier': Supplier.id}) }}">
                        <i class="icon-plus-sign"></i> {{ 'ACTION_ADD_SUPPLIERCOMMENT'|trans|raw }}</a>{% endif %}
                    {% include 'appBundle:Suppliercomment:list.html.twig' with {'Suppliercomments': Supplier.Suppliercomments} %}
                </div>

                <div class="tab-pane" id="contacts">
                    {% if (is_granted('ROLE_SOURCING')) %}    <a class="btn btn-default pull-right"
                                                                 href="{{ path('contact_new',{'supplier': Supplier.id}) }}">
                        <i class="icon-plus-sign"></i> {{ 'ACTION_ADD_CONTACT'|trans|raw }}</a>{% endif %}
                    {% include 'appBundle:Contact:list.html.twig' with {'Contacts': Supplier.contacts} %}
                </div>

                <div class="tab-pane" id="offers">
                    <div class="box">
                        <div class="box-header">
                            <!-- new filters -->
                            <ul class="box-toolbar" style="width: 100%;">
                                {# personal catalog as a filter?
                                                                <li>
                                                                    <select id="hideRef" name="request[hideRef]" class="request chzn-select">
                                                                        {% if is_granted('ROLE_SOURCING') and not profil.cutomer_id %}
                                                                            <option value="1" {{ app.session.get('hideRef')==1  ?'selected' }}>Hidden
                                                                                products
                                                                            </option>
                                                                            <option value="4" {{ app.session.get('hideRef')==4  ?'selected' }}>Public
                                                                                catalog
                                                                            </option>
                                                                        {% endif %}
                                                                        <option value="2" {{ app.session.get('hideRef')==2  ?'selected' }}>Customer
                                                                            catalog
                                                                        </option>
                                                                        {% for catalog in catalogs %}
                                                                            <option value="{{ catalog.id + 5}}" {{ app.session.get('hideRef')==catalog.id   ?'selected' }}>
                                                                                {% if (app.request.locale=='fr') %}
                                                                                    {{ catalog.titleFr }}
                                                                                {% else %}
                                                                                    {{ catalog.titleEn }}
                                                                                {% endif %}
                                                                            </option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </li>
                                #}

                                <li><input placeholder="{{ 'ENTITY_PRODUCT'|trans|raw }}" type="text"
                                           value="{{ app.session.get('productFilter') }}"
                                           name="request[productid]" class="request" style="width:80px"></li>
                                <li><input placeholder="{{ 'ENTITY_CATEGORIE'|trans|raw }}" type="text"
                                           value="{{ app.session.get('categoryFilter') }}"
                                           name="request[category]" class="request" style="width:100px"></li>
                                <li>
                                    <div id="filters" data-pol="{{ app.session.get('pol') }}" data-nselected="0"
                                         data-uriproduct="{{ path('offer_filters',{'filter':'nomenclature'}) }}"
                                         data-uripol="{{ path('offer_filters',{'filter':'pol'}) }}"
                                         data-autocomplete="true"
                                         data-alldep="{{ 'ALLDEP'|trans|raw }}" data-allshe="{{ 'ALLSHE'|trans|raw }}"
                                         data-allfam="{{ 'ALLFAM'|trans|raw }}" data-allsub="{{ 'ALLSUB'|trans|raw }}"
                                         data-allpol="{{ 'ALLPOL'|trans|raw }}"

                                         data-depval="{{ session.get('departementFilter') }}"
                                         data-sheval="{{ session.get('shelvesFilter') }}"
                                         data-famval="{{ session.get('famillyFilter') }}"
                                         data-subval="{{ session.get('subfamillyFilter') }}"
                                    >
                                    </div>
                                </li>
                                <input type="hidden" value="" id="soucinasiaItemNumber" name="request[soucinasiaItemNumber]" class="request" style="width:80px">
                                <li>
                                    <span class="btn btn-default col-md-12" id="selectionTool" style="margin-top: 3px;">{{ 'SELECTION_RAPIDE'|trans|raw }}</span>
                                </li>
                                <input type="hidden" id="uri_request"
                                       value="{{ path('supplier_showproducts', {'id': Supplier.id}) }}">
                            </ul>
                        </div>
                    </div>

                    {% if (is_granted('ROLE_SOURCING')) %}
                    {{ form_start(form) }}
                    {% endif %}
                    {% if (is_granted('ROLE_SOURCING')) %}
                    {% if (is_granted('ROLE_DELETE')) %}<a class="btn btn-sm btn-red confirmform2 pull-right"
                                                           data-task="delete"><i class="icon-trash"></i><i
                            class="icon-warning-sign"></i> {{ 'APPLICATION_DELETESELECTION'|trans|raw }}</a>{% endif %}
                        <a class="btn btn-default pull-right" href="{{ path('product') }}"><i
                                    class="icon-plus-sign"></i> {{ 'ACTION_ADD_PRODUCT'|trans|raw }}</a>
                        <a class="btn btn-default pull-right"
                           href="{{ path('product_new',{'supplier': Supplier.id}) }}"><i
                                    class="icon-plus-sign"></i> {{ 'ACTION_ADD_NEWPRODUCT'|trans|raw }}</a>
                    {% if (is_granted('ROLE_EXPORT')) %}<a class="btn btn-sm btn-default  confirmform2 pull-right"
                                                           data-task="export"><i
                            class="icon-download-alt"></i> {{ 'APPLICATION_EXPORTSELECTION'|trans|raw }}</a>{% endif %}
                        <a class="btn btn-sm btn-default  confirmform2 pull-right" data-task="deals"><i
                                    class="icon-star"></i> {{ 'APPLICATION_SWITHDEAL'|trans|raw }}</a>
                        <input name="task" id="task" type="hidden" value="">
                        <input name="supplier" id="supplier" type="hidden" value="{{ Supplier.id }}">
                        <a id="form_cid_all" class="btn btn-default"><i
                                    class="icon-check"></i> {{ 'APPLICATION_ALL'|trans|raw }}</a>

                        <a id="selectionmasquerade" data-products="none"
                           data-action="{{ path('product_hideselection', { 'prodids': 'none'}) }}"
                           class="btn btn-default hideselection-btn">
                            <i class="icon-eye-close actionclic"></i> {{ 'Hide' | raw }}</a>
                        <a id="selectiondemasquerade" data-products="none"
                           data-action="{{ path('product_unhideselection', { 'prodids': 'none', 'flip': 'unhide'}) }}"
                           class="btn btn-default unhideselection-btn">
                            <i class="icon-eye-open actionclic"></i> {{ 'Unhide' | raw }}</a>

                        <script>
                            $(document).ready(function () {
                                $('.confirmform2').click(function () {
                                    if (confirm('Are you sure?')) {
                                        $('#task').val($(this).data('task'));
                                        $(this).closest('form').submit();
                                    } else
                                        return false;
                                });

                                $('#form_cid_all').click(function () {
                                    all = true;

                                    $(".cid").each(function () {
                                        all = all && $(this).is(':checked');
                                    });

                                    if (all) {
                                        $(".cid").each(function () {
                                            $(this).prop("checked", false);
                                        });
                                    } else {
                                        if ($(".cid:checked").length >= 1000) {
                                            $(".cid").each(function () {
                                                $(this).prop("checked", false);
                                            });
                                        } else {
                                            if ($(".cid").length < 1000) {
                                                $(".cid").each(function () {
                                                    $(this).prop("checked", true);
                                                });
                                            } else {
                                                var from = parseInt(prompt('Select 1000 products from line', '1'));
                                                var i = 1;
                                                $(".cid").each(function () {
                                                    if ((i >= from) && (i < parseInt(from + 1000))) {
                                                        $(this).prop("checked", true);
                                                        console.log(i)
                                                    } else {
                                                        $(this).prop("checked", false);
                                                    }
                                                    i = i + 1;
                                                });
                                            }
                                        }
                                    }
                                });
                                var selected = [];
                                $('.hideselection-btn').off().on('click', function () {
                                    var btn = $(this);
                                    selected = [];
                                    $(".cid").each(function () {
                                        if ($(this).prop("checked")) {
                                            selected.push($(this).parent().text().trim());
                                        }
                                        ;
                                    });
                                    $('#selectionmasquerade').attr('data-products', selected.toString());
                                    $('#selectionmasquerade').attr('data-action', function (index, currentvalue) {
                                        return currentvalue.substring(0, currentvalue.indexOf("hideselection") + 13) + '/' + selected.toString();
                                    });
                                    if (selected.length > 0) {
                                        $.get(btn.attr('data-action'), function (result) {
                                            if (result == 1) { // 1 = success
                                                var productids = btn.attr('data-products').split(',');
                                                productids.forEach(function (product) {
                                                    $('.small-product-thumb[data-product=' + product + ']').css('opacity', '0.4');
                                                });
                                            }
                                        })
                                    } else {
                                        console.log("No products selected - no products hidden.");
                                    }
                                });
                                $('.unhideselection-btn').off().on('click', function () {
                                    var btn = $(this);
                                    selected = [];
                                    $(".cid").each(function () {
                                        if ($(this).prop("checked")) {
                                            selected.push($(this).parent().text().trim());
                                        }
                                        ;
                                    });
                                    $('#selectiondemasquerade').attr('data-products', selected.toString());
                                    $('#selectiondemasquerade').attr('data-action', function (index, currentvalue) {
                                        return currentvalue.substring(0, currentvalue.indexOf("hideselection") + 13) + '/' + selected.toString() + '/unhide';
                                    });
                                    if (selected.length > 0) {
                                        $.get(btn.attr('data-action'), function (result) {
                                            if (result == 1) { // 1 = success
                                                var productids = btn.attr('data-products').split(',');
                                                productids.forEach(function (product) {
                                                    $('.small-product-thumb[data-product=' + product + ']').css('opacity', '1.0');
                                                });
                                            }
                                        })
                                    } else {
                                        console.log("No products selected - no products un-hidden.");
                                    }
                                });

                                // Pour le quick select
                                $('#selectionTool').click(function () {
                                    selection = prompt('{{ 'SELECTION_RAPIDE_TEXTE'|trans|raw }}', $('#soucinasiaItemNumber').val());
                                    $('#soucinasiaItemNumber').val(selection.replace(/\n|\r|(\n\r)/g, ','));
                                    $('#updateOfferSupplier').trigger('click');
                                });
                            });
                        </script>
                    {% endif %}
                    <div class="row padded scroll" id="filters_result" data-effect="supplier" data-loaditem="true">
                        {% include 'appBundle:Offer:productsList.html.twig' with {'Offers': Offers} %}
                    </div>
                    {% if (is_granted('ROLE_SOURCING')) %}
                        {{ form_errors(form) }}
                        {{ form_end(form) }}
                    {% endif %}
                </div>
                {% if (is_granted('ROLE_ADMIN')) %}
                    <div class="tab-pane" id="invoices">
                        {% include 'appBundle:Payment:list.html.twig' with {'invoices':  Supplier.invoices, consult:true,'supplier':true} %}
                    </div>
                {% endif %}
                <div class="tab-pane" id="historics">
                    {% include 'appBundle:History:historiquesList.html.twig' with {'Histories': Supplier.Histories} %}
                </div>
                <div class="tab-pane" id="catalogs">
                    {% if (document_can_add['catalog']) %}
                    <div class="row"><div class="col-md-12"><a class="btn btn-default" href="{{ path('add_document_to_supplier',{'id':Supplier.id,'type':'catalog'}) }}"><i class="icon-plus"></i> {{  'SUPPLIER_ADD_CATALOG_DOCUMENT' | trans }}</a></div></div>
                    {% endif %}
                    <div class="box-content scrollable" style="height: 552px; overflow-y: auto">
                        {% for document_catalog in documents_catalogs %}
                            <div class="box-section news with-icons">
                                <div class="avatar blue"> <a href="{{ vich_uploader_asset(document_catalog, 'documentFile') }}" target="_blank" download><i class="icon-download-alt"></i></a></div>
                                <div class="news-content">
                                    <div class="news-title"></div>
                                    <div class="news-text">
                                        <a href="{{ vich_uploader_asset(document_catalog, 'documentFile') }}" target="_blank" download> {{ document_catalog.title }}</a>
                                        {% if (document_can_remove['catalog']) %}
                                        <form action="{{ path('remove_document', { id: document_catalog.id }) }}" method="post">
                                            <input type="hidden" name="token" value="{{ csrf_token('delete-document-'~document_catalog.id) }}"/>
                                            <button type="submit" onclick="return confirm('{{'DELETE_DOCUMENT_CONFIRMATION_TEXT'|trans }}')"><i class="icon-trash"></i> {{ 'CATALOG_REMOVE_SELECTION'|trans }}</button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane" id="quotations">
                    {% if (document_can_add['quotation']) %}
                    <div class="row"><div class="col-md-12"><a class="btn btn-default" href="{{ path('add_document_to_supplier',{'id':Supplier.id,'type':'quotation'}) }}"><i class="icon-plus"></i> {{  'SUPPLIER_ADD_QUOTATION_DOCUMENT' | trans }} </a></div></div>
                    {% endif %}
                    <div class="box-content scrollable" style="height: 552px; overflow-y: auto">
                        {% for document_quotation in documents_quotations %}
                            <div class="box-section news with-icons">
                                <div class="avatar blue"> <a href="{{ vich_uploader_asset(document_quotation, 'documentFile') }}" target="_blank" download><i class="icon-download-alt"></i></a></div>
                                <div class="news-content">
                                    <div class="news-title"></div>
                                    <div class="news-text">
                                        <a href="{{ vich_uploader_asset(document_quotation, 'documentFile') }}" target="_blank" download> {{ document_quotation.title }}</a>
                                        {% if (document_can_remove['quotation']) %}
                                        <form action="{{ path('remove_document', { id: document_quotation.id }) }}" method="post">
                                            <input type="hidden" name="token" value="{{ csrf_token('delete-document-'~document_quotation.id) }}"/>
                                            <button type="submit" onclick="return confirm('{{'DELETE_DOCUMENT_CONFIRMATION_TEXT'|trans }}')"><i class="icon-trash"></i> {{ 'CATALOG_REMOVE_SELECTION'|trans }}</button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane" id="customeroffers">
                    {% if (document_can_add['customer_offer']) %}
                    <div class="row"><div class="col-md-12"><a class="btn btn-default" href="{{ path('add_document_to_supplier',{'id':Supplier.id,'type':'customer_offer'}) }}"><i class="icon-plus"></i> {{  'SUPPLIER_ADD_CATALOG_CUSTOMER_OFFER' | trans }}</a></div></div>
                    {% endif %}
                    <div class="box-content scrollable" style="height: 552px; overflow-y: auto">
                        {% for documents_customer_offer in documents_customer_offers %}
                            <div class="box-section news with-icons">
                                <div class="avatar blue"> <a href="{{ vich_uploader_asset(documents_customer_offer, 'documentFile') }}" target="_blank" download><i class="icon-download-alt"></i></a></div>
                                <div class="news-content">
                                    <div class="news-title"></div>
                                    <div class="news-text">
                                        <a href="{{ vich_uploader_asset(documents_customer_offer, 'documentFile') }}" target="_blank" download> {{ documents_customer_offer.title }}</a>
                                        {% if (document_can_remove['customer_offer']) %}
                                        <form action="{{ path('remove_document', { id: documents_customer_offer.id }) }}" method="post">
                                            <input type="hidden" name="token" value="{{ csrf_token('delete-document-'~documents_customer_offer.id) }}"/>
                                            <button type="submit" onclick="return confirm('{{'DELETE_DOCUMENT_CONFIRMATION_TEXT'|trans }}')"><i class="icon-trash"></i> {{ 'CATALOG_REMOVE_SELECTION'|trans }}</button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {{ _.endtabs() }}
            </div>
        </div>
    </div>
{% endblock %}
