{% extends "appBundle::layout_site.html.twig" %}
{% set profil = profils.get() %}

    {% block header %}
        {{ _.header({'title':'DASHBOARD_TITLE','subtitle':'DASHBOARD_SUBTITLE','ico':'icon-desktop','light':1}) }}

        {% include 'appBundle::cadencierbar.html.twig' with {'back':'false'}%}
    {% endblock %}

    {% block body %}
        <div class="container">
            <div class="row">
                {% set myuser = profils.get()  %}
                    {% if is_granted('ROLE_ADMIN') and myuser.cutomer_id == 0%}
                        <div class="col-md-4">
                            <div class="action-nav-normal action-nav-line">
                                <div class="row action-nav-row">
                                    <div class="col-md-12 action-nav-button">
                                        <a href="#" title="New Project">
                                            <i class="icon-inbox"></i>
                                            <span>{{'DASHBOARD_BTN_ORDERS'|trans|raw }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{_.scrollable('DASHBOARD_BOXTITLE_HISTORY')}}
                            {% for history in histories %}

                                <div class="box-section news with-icons">
                                    <a style="margin-right:10px;float: left;line-height: 36px;font-size:25px;text-align: center;" href="#">{{history.ico|raw}}
                                    </a>
                                    <div class="news-time">
                                        <span>{{history.date|date("d")}}</span> {{history.date|date("M")}}
                                    </div>
                                    <div class="news-content">
                                        <div class="news-title"><a href="#">
                                                {{history.title}} - {{history.user.username}}
                                            </a></div>
                                        <div class="news-text">
                                            {{history.description}} 
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {{_.endscrollable()}}
                        </div>
                    {%endif %}
                    {% if is_granted('ROLE_COMMERCIAL') or  is_granted('ROLE_SOURCING') or  is_granted('ROLE_CLIENT')%}
                        <div class="col-md-4">
                            <div class="action-nav-normal action-nav-line">
                                <div class="row action-nav-row">
                                    <div class="col-md-12 action-nav-button">
                                        <a href="{{path('catalog')}}" title="New Project">
                                            <i class="icon-shopping-cart"></i>
                                            <span>{{'DASHBOARD_BTN_PRODUCTS'|trans|raw }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{_.scrollable('DASHBOARD_BOXTITLE_DEALS')}}
                            {% for deal in deals%}
                                <div class="box-section news with-icons">
                                    <a style="margin-right:10px;float: left;line-height: 36px;margin-top: -15px;margin-left: -8px;text-align: center;" href="{{path('catalog',{'n':deal.nomenclature})}}">
                                        <span class="small-product-thumb" style="background-image:url({%if (deal.mainimage)%}{{webpath~deal.mainimage|replace({'original.jpg':'small.jpg'})}}{%elseif (deal.image)%}{{webpath~deal.image}}{%else%}{{ webpath}}bundles/app/images/no-image.png{%endif%})"  alt=""></span>
                                    </a>
                                    <div class="news-time">
                                        <span>{{deal.modified|date("d")}}</span> {{deal.modified|date("M")}}
                                    </div>
                                    <div class="news-content">
                                        <div class="news-title"><a href="{{path('catalog',{'n':deal.nomenclature})}}">{{deal.smalldescription}}</a></div>
                                        <div class="news-text">
                                            {{deal.smalldescription}}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {{_.endscrollable()}}
                        </div>

                        <div class="col-md-4">
                            <div class="action-nav-normal action-nav-line">
                                <div class="row action-nav-row">
                                    <div class="col-md-12 action-nav-button">
                                        <a href="{{path('suppliers_cadenciers')}}" title="New Project">
                                            <i class="icon-book"></i>
                                            <span>{{'DASHBOARD_BTN_SUPPLIERS'|trans|raw }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{_.scrollable('DASHBOARD_BOXTITLE_LASTOFFERS')}}
                            {% for last in lasts%}
                                <div class="box-section news with-icons">
                                    <a style="margin-right:10px;float: left;line-height: 36px;margin-top: -15px;margin-left: -8px;text-align: center;" href="{{path('catalog',{'n':last.nomenclature})}}">
                                        <span class="small-product-thumb" style="background-image:url({%if (last.mainimage)%}{{webpath~last.mainimage|replace({'original.jpg':'small.jpg'})}}{%elseif (last.image)%}{{webpath~last.image}}{%else%}{{ webpath}}bundles/app/images/no-image.png{%endif%})"  alt=""></span>
                                    </a>
                                    <div class="news-time">
                                        <span>{{last.modified|date("d")}}</span> {{last.modified|date("M")}}
                                    </div>
                                    <div class="news-content">
                                        <div class="news-title"><a href="{{path('catalog',{'n':last.nomenclature})}}">{{last.smalldescription}}</a></div>
                                        <div class="news-text">
                                            {{last.smalldescription}}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {{_.endscrollable()}}
                        </div>
                    {%endif%}
                    {% if is_granted('ROLE_COMMERCIAL') or  is_granted('ROLE_CLIENT')%}
                        {% if (profil.mode!="presentation" and profil.mode!="commercial") %}
                            <div class="col-md-4">
                                <div class="action-nav-normal action-nav-line">
                                    <div class="row action-nav-row">
                                        <div class="col-md-12 action-nav-button">
                                            <a href="#" title="New Project">
                                                <i class="icon-inbox"></i>
                                                <span>{{'DASHBOARD_BTN_ORDERS'|trans|raw }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {{_.scrollable('DASHBOARD_BOXTITLE_LASTCOMMANDES')}}
                                {% for order in orders%}

                                    <div class="box-section news with-icons">
                                        <a style="margin-right:10px;float: left;line-height: 36px;margin-top: -15px;margin-left: -8px;text-align: center;" href="{{path('command_show',{'id':order.id})}}">
                                        </a>
                                        <div class="news-time">
                                            <span>{{order.modified|date("d")}}</span> {{order.modified|date("M")}}
                                        </div>
                                        <div class="news-content">
                                            <div class="news-title"><a href="{{path('command_show',{'id':order.id})}}">
                                                    {% if (app.request.locale=='fr') %}
                                                        {{order.cadencier.supplier.offernamefr}} - {% if order.cadencier.pol %}{{order.cadencier.pol.title}}{% endif %}
                                                    {% else %}
                                                        {{order.cadencier.supplier.offernamefr}} -  {% if order.cadencier.pol %}{{order.cadencier.pol.title}}{% endif %}
                                                    {% endif %}
                                                </a></div>
                                            <div class="news-text">
                                                {{order.cadencier.offerslist|length }} {{'ENTITY_PRODUCTS'|trans|raw }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {{_.endscrollable()}}
                            </div>
                        {%endif %} 
                    {%endif %} 

                </div>
            </div>
            {% endblock %}

                {% block commercialtools %}
                    {% include 'appBundle::commercialtools.html.twig'%}
                {% endblock %}