{% import "appBundle::coreadmin_macro.html.twig" as _ %}
{{ profils.initProfil() }}
{% set myuser = profils.get()  %}
    <!doctype html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
            <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
            {#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">#}
            <title>{% block title %}SOURCINASIA{% endblock %}</title>
            {% stylesheets 
	'bundles/app/tmpl/stylesheets/application.css'  filter="cssrewrite" 
	'bundles/app/css/app.css'  filter="cssrewrite" 
	'bundles/app/plugins/select2/select2.css'  filter="cssrewrite" 
	'bundles/app/plugins/select2/select2-bootstrap.css'  filter="cssrewrite" 
	'bundles/app/plugins/datepicker/css/datepicker.css'  filter="cssrewrite"  
            %}
            <link rel="stylesheet" href="{{ asset_url}}">
            {% endstylesheets%}
            {% block stylesheets%}
            {% endblock %}

            {% javascripts 
	'bundles/app/plugins/jquery.js'
	'bundles/app/plugins/boostrap/js/bootstrap.min.js'
	'bundles/app/tmpl/javascripts/vendor/touchTouch.js'
	'bundles/app/plugins/jquery.validate/jquery.validate.js'
	'bundles/app/plugins/select2/select2.min.js'
	'bundles/app/plugins/jquery.scrollUp.min.js'
	'bundles/app/js/app.js'
	'bundles/app/js/filters.js'
	'bundles/app/js/form.js'
            %}
            <script src="{{ asset_url}}" type="text/javascript"></script>
            {% endjavascripts%}
            {% block plugins %}
            {% endblock %}
            <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        </head>
        <body>
            <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
                <div class="navbar-header">
                    {% if ((myuser.mode=="presentation") or (myuser.mode=="commercial")) and myuser.cutomer_id != 0 %}
                        <a href="{{path('home')}}"><img src="{{webpath~myuser.customer_logo}}" alt="{{myuser.cutomer_name}}" style="height:80px;" ></a>
                        {% else %}
                            <a href="{{path('home')}}"><img src="{{ asset('bundles/app/images/logoh.png') }}" alt="" style="height:40px;"></a>
                        {% endif %}

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-primary">
                        <span class="sr-only">Toggle Side Navigation</span>
                        <i class="icon-th-list"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-top">
                        <span class="sr-only">Toggle Top Navigation</span>
                        <i class="icon-align-justify"></i>
                    </button>
                </div>
            {% block nav %}{% endblock %}
        </nav>
    {% block container %}{% endblock %}
</body>
</html>