{% if incoterm in archives|keys %}
    <i style="color:red" class="icon-time showtooltip" data-html="true" data-toggle="tooltip" data-placement="bottom" title=" <ul>
       {% for date,value in attribute( archives,incoterm)|reverse|slice(0, 10) %}
           {% if (date and value and value.p is defined and value.d is defined and value.m is defined) %}
               <li> {{date}} :<br/> {{value.p}} {{value.d}}<br/> MOQ {{value.m}} <li>
           {% endif%}
       {%endfor%}
       </ul>"></i>
{%endif%}
