
<i style="" class="icon-time showtooltip" data-html="true" data-toggle="tooltip" data-placement="bottom" title="
   {% if customer is defined  %} 
       {% set key= "c"~customer %}
           {% if attribute(archives,key) is defined %}
               <ul>
               {% for date,value in attribute(archives,key)|reverse|slice(0, 10) %}
                   <li>
                   {% if (date and value) %}
                       {{date}}:<br/>{{value.q}}|{{value.p}}{{value.devise}}<br/>
                   {% endif%}
                   </li>
               {%endfor%}
           {%endif%}
           {%endif%}
               </ul>
               "></i>


