{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Pod.id) %}
{{ _.header({'title':'POD_NEW_TITLE','subtitle':'POD_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_PODS','ico':'icon-barcode','url':path('pol'),'parent':{'title':Pod.id,'ico':'icon-barcode','url':path('pol_show',{'id':Pod.id})}}})}}
{% else %}
{{ _.header({'title':'POD_NEW_TITLE','subtitle':'POD_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_PODS','ico':'icon-barcode','url':path('pol')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('POD_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_POD_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_POD_TITLE'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


