

<div class="box-content scrollable" style="height: 552px; overflow-y: auto">
         {% for History in Histories|reverse %}
    <div class="box-section news with-icons">
        <div class="avatar blue"> {{ History.ico|raw }}</div>
        <div class="news-time">
            <span>{{History.date|date("M")}}</span> {{History.date|date("d M Y")}}
        </div>
        <div class="news-content">
            <div class="news-title">{{ History.user}} > {{ History.title }} </div>
            <div class="news-text">
                       {{ History.description }}
            </div>
        </div>
    </div>
           {% endfor %}            
</div>

