<table class="table">
    {% for InvoiceCustomer in InvoiceCustomers|reverse %}
        <tr>

            {% set total = InvoiceCustomer.amount %}
            {% for Payment in InvoiceCustomer.payments %}
                {% set total = total - Payment.amount %}
            {% endfor %}
            <td>
                {{ InvoiceCustomer.chrono }}
            </td>
            <td>
                {{ InvoiceCustomer.date|date('d-m-Y') }}
            </td>
            <td>
                 {% if InvoiceCustomer.cadencier %}
                <a
                        href="{{ path('command_show',{'id': InvoiceCustomer.cadencier ? InvoiceCustomer.cadencier.id : null}) }}#Payments">
                    {{ InvoiceCustomer.cadencier.customer.name }} - Order n°{{ InvoiceCustomer.cadencier.id }}
                    Amount {{ InvoiceCustomer.amount|number_format(2, '.', ' ') }}€
                </a>
                {% endif %}
            </td>
            <td>
                Balance : -{{ total|number_format(0, '.', ' ') }}€
            </td>
        </tr>
    {% endfor %}
</table>
