<p>
    Order n°{{ Supplychain.cadencier.id }} ({{ Supplychain.cadencier.customer.name }}) - Waiting confirmation  :
    <a
            href="https://market.inasia-corp.com{{ path('command_show',{'id':Supplychain.cadencier.id}) }}#Payments">{{ Supplychain.supplychaintype.title }} {{ Supplychain.name }} </a>
</p>