{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Incoterm.id) %}
{{ _.header({'title':'INCOTERM_NEW_TITLE','subtitle':'INCOTERM_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_INCOTERMS','ico':'icon-barcode','url':path('incoterm'),'parent':{'title':Incoterm.id,'ico':'icon-barcode','url':path('incoterm_show',{'id':Incoterm.id})}}})}}
{% else %}
{{ _.header({'title':'INCOTERM_NEW_TITLE','subtitle':'INCOTERM_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_INCOTERMS','ico':'icon-barcode','url':path('incoterm')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('INCOTERM_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_INCOTERM_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_INCOTERM_TITLE'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


