{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
{{ _.header({'title': entity.username ,'subtitle':'User','ico':'icon-dashboard' }) }}
{% endblock %}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{_.box('Confirmation Suppression')}}
                {{ form(delete_form) }}
             {{_.endtabs()}}
        </div>
    </div>
</div>

{% endblock %}
