{% extends "appBundle::layout_site.html.twig" %}

{% block header -%}
    {% if (User.id) %}
        {{ _.header({'title':'Edit user','subtitle':'Edit user','ico':'icon-dashboard','parent':{'title':'Users list','ico':'icon-dashboard','url':path('users')}}) }}
    {% else %}
        {{ _.header({'title':'Nouveau user','subtitle':'Nouveau user','ico':'icon-dashboard','parent':{'title':'Users list','ico':'icon-dashboard','url':path('users')}}) }}
    {% endif %}
{% endblock -%}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-8 padded">
                {{ _.box('User list') }}
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <fieldset>
                    <legend>Connexion</legend>
                    <div class="row">
                        <div class="col-lg-3">
                            <ul class=" separate-sections">
                                <li class="input">
                                    {{ form_row(form.name) }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <ul class=" separate-sections">
                                <li class="input">
                                    {{ form_row(form.username) }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <ul class=" separate-sections">
                                <li class="input">
                                    {{ form_row(form.phone) }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <ul class=" separate-sections">
                                <li class="input">
                                    {{ form_row(form.password) }}
                                </li>
                            </ul>
                        </div>
                </fieldset>

                <fieldset>
                    <legend>Profil</legend>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class=" separate-sections">
                                <li class="input">
                                    {{ form_row(form.email) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.roles) }}
                                </li>
                            </ul>
                        </div>

                    </div>
                </fieldset>
                {{ form_end(form) }}
                {{ _.endbox() }}
            </div>
            <div class="col-md-4">
                {{ _.box('Sauvegarde ') }}
                <ul class="separate-sections">
                    <li class="input" id="btn-form"></li>
                </ul>
                {{ _.endbox() }}
            </div>
        </div>
    </div>
    <script>
        $('label[for=sourcinasia_appbundle_user_id], #sourcinasia_appbundle_user_id').hide();
    </script>
{% endblock %}


