{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
    {{ _.header({'title':'Users list','subtitle':'Users list','ico':'icon-dashboard'}) }}
{% endblock %}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ _.box('Users list',[{'route':path('user_new'),'ico':'icon-plus-sign','text':'Nouveau'}]) }}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Username</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Lastlogin</th>
                        <th>Actions</th>
                        <th>ADMIN</th>
                        <th>ADMIN SUPLYCHAIN</th>
                        <th>ADMIN SOURCING</th>
                        <th>SOURCING</th>
                        <th>COMMERCIAL</th>
                        <th>PRODUCTION</th>
                        <th>ALLOWIP</th>
                        <th>DELETE</th>
                        <th>EXPORT</th>
                        <th>POL</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in Users %}
                        <tr>
                            <td>{% if (user.logo) %}<a href="{{ path('user_edit', { 'id': user.id }) }}"><img src="{{ webpath~user.logo.image }}"></a>{% endif %}</td>
                            <td><a href="{{ path('user_edit', { 'id': user.id }) }}">{{ user.name }}</a></td>
                            <td>{{ user.Username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                <ul>
                                    {{ _.dropdownactions([
                                    {'route': path('user_edit', { 'id': user.id }) ,'text':"Edit user"},
                                    {'route': path('user_delete_confirmation', { 'id': user.id }) ,'text':"Supprimer user"},
                                    ]) }}
                                </ul>
                            </td>
                            <td>
                                {% if "ROLE_ADMIN" in user.roles %}<i class="icon-check"></i>{% endif %}
                            </td>
                            <td>
                                {% if "ROLE_ADMINSUPPLYCHAIN" in user.roles %}<i class="icon-check"></i>{% endif %}
                            </td>
                            <td>
                                {% if "ROLE_ADMINSOURCING" in user.roles %}<i class="icon-check"></i>{% endif %}
                            </td>
                            <td>
                                {% if "ROLE_SOURCING" in user.roles %}<i class="icon-check"></i>{% endif %}
                            </td>
                            <td>
                                {% if "ROLE_COMMERCIAL" in user.roles %}<i class="icon-check"></i>{% endif %}
                            </td>
                            <td>
                                {% if "ROLE_PRODUCTION" in user.roles %}<i class="icon-check"></i>{% endif %}
                            </td>
                            <td>
                                {% if "ROLE_ALLOWIP" in user.roles %}<i class="icon-check"></i>{% endif %}
                            </td>
                            <td>
                                {% if "ROLE_DELETE" in user.roles %}<i class="icon-check"></i>{% endif %}
                            </td>
                            <td>
                                {% if "ROLE_EXPORT" in user.roles %}<i class="icon-check"></i>{% endif %}
                            </td>
                            <td>
                                {% if "ROLE_ADDPOL" in user.roles %}<i class="icon-check"></i>{% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ _.endbox() }}
            </div>
        </div>
    </div>
{% endblock %}
