{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
    {% if (Product.id) %}
        {{ _.header({'title':'PRODUCT_NEW_TITLE','subtitle':'PRODUCT_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_PRODUCTS','ico':'icon-barcode','url':path('product'),'parent':{'title':Product.id,'ico':'icon-barcode','url':path('product_show',{'id':Product.id})}}}) }}
    {% else %}
        {{ _.header({'title':'PRODUCT_NEW_TITLE','subtitle':'PRODUCT_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_PRODUCTS','ico':'icon-barcode','url':path('product')}}) }}
    {% endif %}
{% endblock -%}

{% block plugins -%}
    <script src="{{ asset('bundles/app/plugins/jqueryui/jquery-ui.min.js') }}" type="text/javascript"></script>
{% endblock -%}



{% block body -%}

    {% if (not Product.id) %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="progress progress-striped active" style="height:20px;margin-bottom: 0px;">
                        <div class="progress-bar progress-blue" id="progress-bar" data-free=""
                             style="height:20px;width:33%;"> ADD NEW OFFER - STEP 1/3 : DEFINE PRODUCT <span
                                    class="sr-only"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    {% endif %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="container">
    <div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <div class="title">{{ 'PRODUCTS_NEW_TITLE'|trans|capitalize|raw }} </div>
                <ul class="box-toolbar pull-right">
                    <li><a class="btn btn-default"
                           href="{{ path('catalog') }}"><i class="icon-chevron-left"></i> Back
                            to catalog</a>
                    </li>

                </ul>
            </div>
            <div class="box-content padded">

                <fieldset>
                    <legend>{{ 'ENTITY_PRODUCT_FIELDSET_DEFINITION'|trans|raw }}</legend>

                    <div class="row">
                        <div class="col-lg-6">
                            <ul class=" separate-sections">
                                <li class="input">
                                    {{ form_row(form.categorie, {'label': 'ENTITY_PRODUCT_NOMENCLATURE'}) }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5">
                            {% if form.codebar is defined %}
                                {{ form_row(form.codebar.codebar, {'label': 'CODEBAR'}) }}
                            {% endif %}
                            {% if (Product.id is defined and Product.id) %}
                                <a href="{{ path('product_gencode',{'id': Product.id}) }}" class="ConfirmAction"><i
                                            class="icon-barcode"></i> {{ 'GENERATEBARCODE'|trans|raw }}</a>
                            {% endif %}
                        </div>
                        <div class="col-lg-1">
                            {{ form_row(form.hidden, {'label': 'Hidden on catalog'}) }}
                        </div>
                    </div>
                </fieldset>
                {% if (Product.id) %}
                    <fieldset>
                        <legend>{{ 'ENTITY_PRODUCT_FIELDSET_IMAGES'|trans|raw }} <a
                                    href="{{ path('multiupload_images',{'id':Product.id}) }}"
                                    class="btn btn-blue">{{ 'ACTION_ADD_IMAGE'|trans|raw }}</a></legend>
                        <a id="droppable" class="product-thumb col-md-2" href="{{ webpath~Product.mainimage }}"
                           style="background-image:url({% if (Product.mainimage) %}
                            {{ webpath~Product.mainimage }}?{{ random(1,99999) }}
                        {% else %}
                            {{ webpath }}bundles/app/images/no-image.png
                        {% endif %})"></a>
                        {% for file in Product.images %}
                            <a 	class="product-thumb col-md-2 pull-right"
                               	data-url="{{ file.image }}"
                               	href="{{ webpath ~ file.image }}"
                               	style="background-image:url({{ webpath ~ file.image|replace({'original.jpg':'small.jpg'}) }}?{{ random(1,99999) }})"
                               	title="test">
                               	<i class="icon-trash" data-del="{{ path('image_delete',{'id':file.id}) }}"></i>
                               	<i class="icon-repeat" data-rotate="{{ path('image_rotate',{'id':file.id}) }}"></i>
                            </a>
                        {% endfor %}
                    </fieldset>
                {% endif %}
                <fieldset>
                    <legend>{{ 'ENTITY_PRODUCT_FIELDSET_DESCRIPTION'|trans|raw }}</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class=" separate-sections">
                                <li class="input">
                                    {{ form_row(form.smalldescription, {'label': 'ENTITY_PRODUCT_SMALLDESCRIPTION'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.description, {'label': 'ENTITY_PRODUCT_DESCRIPTION'}) }}
                                </li>

                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class=" separate-sections">
                                <li class="input">
                                    {{ form_row(form.frenchsmalldescription, {'label': 'ENTITY_PRODUCT_FRENSHSMALLDESCRIPTION'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.frenchdescription, {'label': 'ENTITY_PRODUCT_FRENSHDESCRIPTION'}) }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>{{ 'ENTITY_PRODUCT_FIELDSET_CHARACTERISTICS'|trans|raw }}</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class=" separate-sections">

                                <li class="input">
                                    {{ form_row(form.ce, {'label': 'ENTITY_PRODUCT_CE'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.coloris, {'label': 'ENTITY_PRODUCT_COLORIS'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.material, {'label': 'ENTITY_PRODUCT_MATERIAL'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.packing, {'label': 'ENTITY_PRODUCT_PACKING'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.cbm, {'label': 'ENTITY_PRODUCT_CBM'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.pcb, {'label': 'ENTITY_PRODUCT_PCB'}) }}
                                </li>

                                <li class="input">
                                    {{ form_row(form.comments, {'label': 'ENTITY_PRODUCT_COMMENTS'}) }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class=" separate-sections">
                                <li class="input">
                                    {{ form_row(form.packingsize, {'label': 'ENTITY_PRODUCT_PACKINGSIZE'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.productsize, {'label': 'ENTITY_PRODUCT_PRODUCTSIZE'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.nwproduct, {'label': 'ENTITY_PRODUCT_NWPRODUCT'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.gwproduct, {'label': 'ENTITY_PRODUCT_NGPRODUCT'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.nwpackage, {'label': 'ENTITY_PRODUCT_NWPACKAGE'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.gwpackage, {'label': 'ENTITY_PRODUCT_NGPACKAGE'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.qty20gp, {'label': 'ENTITY_PRODUCT_QTY20GP'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.qty40gp, {'label': 'ENTITY_PRODUCT_QTY40GP'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.qty40hq, {'label': 'ENTITY_PRODUCT_QTY40HQ'}) }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-lg-12">
                            <legend>{{ 'ENTITY_PRODUCT_FIELDSET_EXCLUSIVITY'|trans|raw }}</legend>
                            <div class="row">
                                <ul class=" separate-sections">
                                    <li class="input">
                                        {{ form_row(form.customers, {'label': 'ENTITY_PRODUCT_EXCLUSIVITY'}) }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="input" style="display:none;">
                    {{ form_row(form.mainimage, {'label': 'ENTITY_PRODUCT_MAINIMAGE'}) }}
                </div>
                <input type="hidden" value="{{ supplierid }}" name="supplier">
                <input type="hidden" value="{{ n }}" name="n" id="n">
                {{ _.endbox() }}
            </div>

        </div>
    </div>
    {{ form_end(form) }}

    <script>

        $(function () {
            $(".product-thumb").draggable({
                appendTo: "body",
                helper: "clone"
            });
            $("#droppable").droppable({
                drop: function (event, ui) {
                    $('#product_mainimage').val(ui.draggable.data('url'));
                    $('#droppable').attr('src', '{{ webpath }}' + ui.draggable.data('url'));
                    $('#n').val('addmainpicture');
                    $('.fill-up').submit();
                }
            });
        });
        $('a.product-thumb i.icon-trash').click(function () {
            if (confirm('DELETE?'))
                window.location = $(this).data('del');
            return false;
        });

        $('a.product-thumb i.icon-repeat').click(function () {
            window.location = $(this).data('rotate');
            return false;
        });
    </script>


{% endblock %}
