{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
    {{ _.header({'title':'PRODUCTS_TITLE','subtitle':'PRODUCTS_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CUSTOMER','ico':'icon-globe','url':path('product')}}) }}
{% endblock %}

{% block body %}
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header fixedbox">
                        <span class="title">{{ 'ENTITY_PRODUCTS'|trans }}</span>
                        <ul class="box-toolbar">
                            <li><input placeholder="{{ 'ENTITY_PRODUCT'|trans }}" type="text"
                                       value="{{ app.session.get('productFilter') }}" name="request[productid]"
                                       class="request" style="width:70px"></li>
                            <li><input placeholder="{{ 'ENTITY_SUPPLIER'|trans }}" type="text"
                                       value="{{ app.session.get('supplierFilter') }}" name="request[supplierid]"
                                       class="request" style="width:70px"></li>
                        </ul>
                    </div>
                    <div class="box-header fixedbox">
                        <ul class="box-toolbar" style="width: 100%;">
                            <li>
                                <div id="filters"
                                     data-pol="{{ app.session.get('pol') }}"
                                     data-uriproduct="{{ path('products_filters',{'filter':'nomenclature'}) }}"
                                     data-uripol="{{ path('products_filters',{'filter':'pol'}) }}"
                                     data-autocomplete="true" data-alldep="{{ 'ALLDEP'|trans|raw }}"
                                     data-allshe="{{ 'ALLSHE'|trans|raw }}" data-allfam="{{ 'ALLFAM'|trans|raw }}"
                                     data-allsub="{{ 'ALLSUB'|trans|raw }}" data-allpol="{{ 'ALLPOL'|trans|raw }}"
                                     data-depval="{{ session.get('departementFilter') }}"
                                     data-sheval="{{ session.get('shelvesFilter') }}"
                                     data-famval="{{ session.get('famillyFilter') }}"
                                     data-subval="{{ session.get('subfamillyFilter') }}"
                                ></div>
                            </li>
                            {# Filtre supplier categorie #}
                            {% if suppliersCategories is not empty %}
                                <li class="col-xs-12 col-sm-2 col-md-2" style="padding: 0;">
                                    <select name="request[supplierCategoryFilter]" class="request chzn-select">
                                        <option value="" class="search"{{ not app.session.get('supplierCategoryFilter') ? 'selected' }}>{{ 'ENTITY_SUPPLIER_CATEGORY_ALL'|trans|raw }}</option>
                                        {% for supplierCategory in suppliersCategories %}
                                            <option value="{{ supplierCategory.id }}" class="search" {{ app.session.get('supplierCategoryFilter') == supplierCategory.id ? 'selected' }}>{{ supplierCategory.title }}</option>
                                        {% endfor %}
                                    </select>
                                </li>
                            {% endif %}
                            {# Filtre containers #}
                            <li style="padding-left: 5px;">
                                <select name="request[containerSize]" class="request chzn-select">
                                    <option value="" class="search"{{ not app.session.get('containerSize') ? 'selected' }}>All shipments</option>
                                    <option value="fcl" class="search" {{ app.session.get('containerSize') == "fcl" ? 'selected' }}>FCL</option>
                                    <option value="lcl" class="search" {{ app.session.get('containerSize') == "lcl" ? 'selected' }}>LCL</option>
                                </select>
                            </li>
                        </ul>
                        <input type="hidden" id="uri_request" value="{{ path('products_request') }}">
                    </div>

                    <div class="box-content padded">
                        <div class="row" id="filters_result">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
