{% set myuser = profils.get() %}
<div class="box" id="productrequest" data-product="{{ Product.id }}">
    <div class="box-header">
        <ul class="nav nav-tabs nav-tabs-left">
            <li class="active"><a href="#one" data-toggle="tab">Description</a></li>
            <li><a href="#two" data-toggle="tab">Details</a></li>
        </ul>
        <ul class="box-toolbar">
            {% if (is_granted('ROLE_SOURCING')) %}
                <li><span data-product="{{ Product.id }}"
                          data-action="{{ path('product_hiddenproduct', { 'id': Product.id}) }}"
                          class="btn btn-default hidden-btn"><i
                                class="icon-eye-{{ Product.hidden ? 'open':'close' }} actionclic"></i></span>
                </li>
                <li><a href="{{ path('product_edit', { 'id': Product.id, 'n':Product.categorie.id }) }}" target="_blank"
                       class="btn btn-default">{{ 'ACTION_EDIT'|trans|raw }}</a></li>
                <li><a href="{{ path('multiupload_images',{'id':Product.id}) }}"  target="_blank"
                       class="btn btn-default">{{ 'IMAGES_MULTI_SUBTITLE'|trans|raw }}</a></li>
            {% endif %}
            <li><span class="btn btn-blue" id="selectproductbtn">{{ 'APPLICATION_SELECT'|trans|raw }}</span></li>
        </ul>
    </div>
    <div class="box-content">
        <div class="tab-content">
            <div class="tab-pane active overflowtab" id="one" style="overflow-y: auto;">
                {% include 'appBundle:Product:item_offer_prices.html.twig' %}
                <table class="table">
                    <tbody>
                    {% if (is_granted('ROLE_SOURCING')) %}
                        <tr>
                            <td colspan="4">
                                <span data-action="{{ path('product_publicproduct', { 'id': Product.id}) }}"
                                      style="cursor:pointer;text-decoration: blink;"
                                      class="btn-public label label-{{ Product.public and not Product.hidden ? 'success':'default' }} pointer">{{ Product.public and not Product.hidden ? 'Online':'ERP Product' }}</span>
                                {% if (is_granted('ROLE_ADMIN')) %}
                                    <script>
                                        $('.btn-public').click(function () {
                                            var btn = $(this);
                                            $.get(btn.data('action'), function (result) {
                                                if (result == 1) {
                                                    btn.removeClass('label-default').addClass('label-success').html('Online');
                                                } else {
                                                    btn.removeClass('label-success').addClass('label-default').html('ERP Product');
                                                }
                                            })
                                        });
                                    </script>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td style="width:30%">
                            {% if (myuser.mode=="commercial" or myuser.mode=="presentation") %}
                                Num
                            {% else %}
                                {{ 'ENTITY_PRODUCT_SOURCINASIAITEMNUMBER'|trans|raw }}
                            {% endif %}
                        </td>
                        <td><b>{{ Product.id }}  </b></td>

                        <td colspan="2">
                            {% if Product.Codebar %}
                                <img src="{{ path('codebage_generate',{'id':Product.Codebar.id}) }}" alt="">
                            {% else %}
                                --
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">  {% if (Product.mainimage) %}
                                <a class="product-thumb" href="{{ webpath ~ Product.mainimage }}"
                                   style="background-image:url({{ webpath ~ Product.mainimage|replace({'original.jpg':'small.jpg'}) }})"
                                   title="test"></a>
                                <img src="{{ webpath ~ Product.mainimage }}" style="display:none;"/>
                            {% else %}
                                {% if (Product.images|length ==1 ) %}
                                    {% set file=Product.images|first %}
                                    <a class="product-thumb" href="{{ webpath ~ file.image }}"
                                       style="background-image:url({{ webpath ~ file.image|replace({'original.jpg':'small.jpg'}) }})"
                                       title="test"></a>
                                {% else %}
                                    <img src="{{ webpath }}bundles/app/images/no-image.png"
                                         style="width:120px;height:120px;"/>
                                {% endif %}
                            {% endif %}
                            {% if (Product.images|length > 1) %}

                                {% for file in Product.images %}
                                    {% if (file.image!=Product.mainimage) %}
                                        <a class="product-thumb" href="{{ webpath ~ file.image }}"
                                           style="background-image:url({{ webpath ~ file.image|replace({'original.jpg':'small.jpg'}) }})"
                                           title="test"></a>
                                        <img src="{{ webpath ~ file.image }}" style="display:none;"/>
                                    {% endif %}
                                {% endfor %}

                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"><a
                                    href="{{ path('product_extractpictures',{id:Product.id}) }}">{{ 'APPLICATION_EXTRACTPICTURE'|trans|raw }}</a>
                        </td>
                    </tr>

                    {% if ( Product.categorie ) %}
                        {% if (app.request.locale=='fr') %}
                            <tr>
                                <th style="width:30%" colspan="2">{{ 'ENTITY_PRODUCT_NOMENCLATURE'|trans|raw }}</th>
                                <td colspan="2">{{ Product.categorie.nom }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <th style="width:30%" colspan="2">{{ 'ENTITY_PRODUCT_NOMENCLATURE'|trans|raw }}</th>
                                <td colspan="2">{{ Product.categorie.name }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}

                    {% if (is_granted('ROLE_SOURCING') or app.request.locale=='en') %}
                        {% if ( Product.smalldescription ) %}
                            <tr>
                                <th style="width:30%" colspan="2">{{ 'ENTITY_PRODUCT_SMALLDESCRIPTION'|trans|raw }}</th>
                                <td colspan="2">{{ Product.smalldescription }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% if (is_granted('ROLE_SOURCING') or app.request.locale=='en') %}
                        {% if ( Product.description ) %}
                            <tr>
                                <th style="width:30%" colspan="2">{{ 'ENTITY_PRODUCT_DESCRIPTION'|trans|raw }}</th>
                                <td colspan="2">{{ Product.description }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% if (is_granted('ROLE_SOURCING') or app.request.locale=='fr') %}
                        {% if ( Product.frenchsmalldescription ) %}
                            <tr>
                                <th style="width:30%"
                                    colspan="2">{{ 'ENTITY_PRODUCT_FRENSHSMALLDESCRIPTION'|trans|raw }}</th>
                                <td colspan="2">{{ Product.frenchsmalldescription }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}


                    {% if (is_granted('ROLE_SOURCING') or app.request.locale=='fr') %}
                        {% if ( Product.frenchdescription ) %}
                            <tr>
                                <th style="width:30%"
                                    colspan="2">{{ 'ENTITY_PRODUCT_FRENSHDESCRIPTION'|trans|raw }}</th>
                                <td colspan="2">{{ Product.frenchdescription }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    </tbody>
                </table>

            </div>
            <div class="tab-pane" id="two">
                <table class="table">
                    <tbody>
                    <tr>
                        <td style="width:30%">{{ 'ENTITY_PRODUCT_CE'|trans|raw }}</td>
                        <td>  {{ Product.ce }} </td>
                        <td style="width:30%">{{ 'ENTITY_PRODUCT_COLORIS'|trans|raw }}</td>
                        <td>{{ Product.coloris }}</td>
                    </tr>
                    <tr>
                        <td style="width:30%">{{ 'ENTITY_PRODUCT_MATERIAL'|trans|raw }}</td>
                        <td>{{ Product.material }}</td>
                        <td style="width:30%">
                        {{ 'ENTITY_PRODUCT_PACKING'|trans|raw }}</th>
                        <td>{% if ( Product.packing ) %}{{ Product.packing }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td style="width:30%" colspan="2"> {{ 'ENTITY_PRODUCT_PACKINGSIZE'|trans|raw }}</td>
                        <td colspan="2">{{ Product.packingsize }}</td>

                    </tr>
                    <tr>
                        <td style="width:30%" colspan="2">{{ 'ENTITY_PRODUCT_PRODUCTSIZE'|trans|raw }}</td>
                        <td colspan="2">{% if (Product.productsize) %}{{ Product.productsize }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td style="width:30%">{{ 'ENTITY_PRODUCT_NWPRODUCT'|trans|raw }}</td>
                        <td>{% if (Product.nwproduct) %}{{ Product.nwproduct }}{% endif %}</td>
                        <td style="width:30%">{{ 'ENTITY_PRODUCT_NGPRODUCT'|trans|raw }}</td>
                        <td>{% if (Product.gwproduct) %}{{ Product.gwproduct }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td style="width:30%">{{ 'ENTITY_PRODUCT_NWPACKAGE'|trans|raw }}</td>
                        <td>{% if (Product.nwpackage) %}{{ Product.nwpackage }}{% endif %}</td>
                        <td style="width:30%">{{ 'ENTITY_PRODUCT_NGPACKAGE'|trans|raw }}</td>
                        <td>{% if (Product.gwpackage ) %}{{ Product.gwpackage }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td style="width:30%">{{ 'ENTITY_PRODUCT_CBM'|trans|raw }}</td>
                        <td>{{ Product.cbm }}</td>
                        <td style="width:30%">{{ 'ENTITY_PRODUCT_PCB'|trans|raw }}</td>
                        <td id="pcbcel" data-value="{{ Product.pcb }}">{{ Product.pcb }}</td>
                    </tr>
                    {% if ( Product.comments ) %}
                        <tr>
                            <th style="width:30%" colspan="2">{{ 'ENTITY_PRODUCT_COMMENTS'|trans|raw }}</th>
                            <td colspan="2">{{ Product.comments }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="offeropened">
            </div>
        </div>
    </div>
</div>

{% if (is_granted('ROLE_SOURCING')) %}
    <script>

        $('.hidden-btn').click(function () {
            var btn = $(this);

            $.get(btn.data('action'), function (result) {
                if (result == 1) {
                    $('.articlethumbs[data-product=' + btn.data('product') + ']').css('opacity', '0.4');
                    btn.find('.icon-eye-close').removeClass('icon-eye-close').addClass('icon-eye-open');
                } else {
                    $('.articlethumbs[data-product=' + btn.data('product') + ']').css('opacity', 1);
                    btn.find('.icon-eye-open').removeClass('icon-eye-open').addClass('icon-eye-close');
                }
            })
        });
    </script>
{% endif %}


