{% set mode = app.session.get('mode') %}
    {% if  (is_granted('ROLE_ADMIN')) %}
        <div class="row no-gutters mb-1">
            <div class="col col-lg-5 mr-auto">
                <em>{{ product.smalldescription }}</em>
            </div>
            <div class="col col-lg-2">
                <ul class="items-list list-unstyled">
                    <li class="d-flex">
                        <em>Ref <i class="fas fa-tag ml-1"></i></em>
                        <span><strong>{{ product.id) }}</strong></span>
                    </li>
                    <li class="d-flex">
                        <em>MOQ <i class="fas fa-sack ml-1"></i></em>
                        <span><strong>{{ offer.moq }}</strong> {{ offer.moqunit.title }}</span>
                    </li>
                </ul>
            </div>

            {% for offer in offers %}

                {% set displayfob = false %}
                {% set displayexw = false %}

                {% if (offer.getSaleprice('fob',myuser,true,false)|number_format(2, '.', ',')!="0.00") %}
                    {% set displayfob = true %}
                {% endif %}
                {% if offer.getSaleprice('exw',myuser,true,false)|number_format(2, '.', ',')!="0.00" %}
                    {% set displayexw = true %}
                {% endif %}

                {% if (displayfob) %}
                    <div class="col col-lg-2">
                        <ul class="items-list list-unstyled">
                            <li class="d-flex">
                                <em>FOB <i class="fas fa-user-circle ml-1"></i></em>
                                <span><strong>{{ offer.getSaleprice('fob',myuser,true,false)|number_format(2, '.', ',') }}</strong> $</span>
                            </li>
                            <li class="d-flex">
                                <em>FOB <i class="fas fa-industry-alt ml-1"></i></em>
                                <span><strong>{{ offer.fob|number_format(2, '.', ',') }}</strong> $</span>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                {% if (displayexw) %}
                    <div class="col col-lg-2">
                        <ul class="items-list list-unstyled">
                            <li class="d-flex">
                                <em>EXW <i class="fas fa-user-circle ml-1"></i></em>
                                <span><strong>{{ offer.getSaleprice('exw',myuser,true,false)|number_format(2, '.', ',') }}</strong> $</span>
                            </li>
                            <li class="d-flex">
                                <em>EXW <i class="fas fa-industry-alt ml-1"></i></em>
                                <span><strong>{{ offer.exwusd|number_format(2, '.', ',') }}</strong> $</span>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    {% elseif  (is_granted('ROLE_COMMERCIAL') and myuser.cutomer_id != 0) %}

        <div class="row no-gutters mb-1">
            <div class="col col-lg-5 mr-auto">
                <em>{{ product.smalldescription }}</em>
            </div>
            <div class="col col-lg-2">
                <ul class="items-list list-unstyled">
                    <li class="d-flex">
                        <em>Ref <i class="fas fa-tag ml-1"></i></em>
                        <span><strong>{{ product.id) }}</strong></span>
                    </li>
                    <li class="d-flex">
                        <em>MOQ <i class="fas fa-sack ml-1"></i></em>
                        <span><strong>{{ offer.moq }}</strong> {{ offer.moqunit.title }}</span>
                    </li>
                </ul>
            </div>

            {% for offer in offers %}
                {% set displayfob = false %}
                {% set displayexw = false %}

                {% if (offer.getSaleprice('fob',myuser,true,false)!="0.00") %}
                    {% set displayfob = true %}
                {% endif %}
                {% if offer.getSaleprice('exw',myuser,true,false)!="0.00" %}
                    {% set displayexw = true %}
                {% endif %}

                {% if (displayfob) %}
                    <div class="col col-lg-2">
                        <ul class="items-list list-unstyled">
                            <li class="d-flex">
                                <em>FOB <i class="fas fa-user-circle ml-1"></i></em>
                                <span><strong>{{ offer.getSaleprice('fob',myuser,true,false)|number_format(2, '.', ',') }} </strong> $</span>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                {% if (displayexw) %}
                    <div class="col col-lg-2">
                        <ul class="items-list list-unstyled">
                            <li class="d-flex">
                                <em>EXW <i class="fas fa-user-circle ml-1"></i></em>
                                <span><strong>{{ offer.getSaleprice('exw',myuser,true,false)|number_format(2, '.', ',') }} </strong> $</span>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>


    {% elseif  (is_granted('ROLE_SOURCING') and myuser.cutomer_id == 0) %}

        <div class="row no-gutters mb-1">
            <div class="col col-lg-5 mr-auto">
                <em>{{ product.smalldescription }}</em>
            </div>
            <div class="col col-lg-2">
                <ul class="items-list list-unstyled">
                    <li class="d-flex">
                        <em>Ref <i class="fas fa-tag ml-1"></i></em>
                        <span><strong>{{ product.id) }}</strong></span>
                    </li>
                    <li class="d-flex">
                        <em>MOQ <i class="fas fa-sack ml-1"></i></em>
                        <span><strong>{{ offer.moq }}</strong> {{ offer.moqunit.title }}</span>
                    </li>
                </ul>
            </div>

            {% for offer in offers %}
                {% set displayfob = false %}
                {% set displayexw = false %}

                {% if (offer.fob|number_format(2, '.', ',')!="0.00") %}
                    {% set displayfob = true %}
                {% endif %}
                {% if  offer.exwusd|number_format(2, '.', ',')!="0.00" %}
                    {% set displayexw = true %}
                {% endif %}

                {% if (displayfob) %}
                    <div class="col col-lg-2">
                        <ul class="items-list list-unstyled">
                            <li class="d-flex">
                                <em>FOB <i class="fas fa-industry-alt ml-1"></i></em>
                                <span><strong>{{ offer.fob|number_format(2, '.', ',') }} </strong> $</span>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                {% if (displayexw) %}
                    <div class="col col-lg-2">
                        <ul class="items-list list-unstyled">
                            <li class="d-flex">
                                <em>EXW <i class="fas fa-industry-alt ml-1"></i></em>
                                <span><strong>{{ offer.exwusd|number_format(2, '.', ',') }} </strong> $</span>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>


    {% else %}

        <div class="row no-gutters mb-1">
            <div class="col col-lg-5 mr-auto">
                <em>{{ product.smalldescription }}</em>
            </div>
            <div class="col col-lg-2">
                <ul class="items-list list-unstyled">
                    <li class="d-flex">
                        <em>Ref <i class="fas fa-tag ml-1"></i></em>
                        <span><strong>{{ product.id) }}</strong></span>
                    </li>
                    <li class="d-flex">
                        <em>MOQ <i class="fas fa-sack ml-1"></i></em>
                        <span><strong>{{ offer.moq(myuser.cutomer_id) }}</strong> {{ offer.moqunit.title }}</span>
                    </li>
                </ul>
            </div>

            {% for offer in offers if offer.mainoffer %}

                {% set displayfob = false %}
                {% set displayexw = false %}

                {% if (offer.getSaleprice('fob',myuser)!="0.00") %}
                    {% set displayfob = true %}
                {% endif %}
                {% if offer.getSaleprice('exw',myuser)!="0.00" %}
                    {% set displayexw = true %}
                {% endif %}

                {% if (displayfob) %}
                    <div class="col col-lg-2">
                        <ul class="items-list list-unstyled">
                            <li class="d-flex">
                                <em>FOB <i class="fas fa-user-circle ml-1"></i></em>
                                <span><strong>{{ offer.getSaleprice('fob',myuser)|number_format(2, '.', ',') }} </strong> $</span>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                {% if (displayexw) %}
                    <div class="col col-lg-2">
                        <ul class="items-list list-unstyled">
                            <li class="d-flex">
                                <em>EXW <i class="fas fa-user-circle ml-1"></i></em>
                                <span><strong>{{ offer.getSaleprice('exw',myuser)|number_format(2, '.', ',') }} </strong> $</span>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}


