<table class="table">
    <tbody>
        {%if (is_granted('ROLE_SOURCING') and catalog is defined) %}
            <tr>
                <td colspan="4">
                    <a href="{{path('product_show', { 'id': Product.id})}}" class="btn btn-default">{{'ACTION_CONSULT'|trans|raw }}</a>
                    <a href="{{path('product_edit', { 'id': Product.id, 'n':Product.categorie.id })}}" class="btn btn-default">{{'PRODUCTS_EDIT_TITLE'|trans|raw }}</a>
                    <a href="{{path('multiupload_images',{'id':Product.id}) }}" class="btn btn-default">{{'IMAGES_MULTI_SUBTITLE'|trans|raw }}</a>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td style="width:30%">{{'ENTITY_PRODUCT_SOURCINASIAITEMNUMBER'|trans|raw }}</td>
            <td > <b>{{Product.id}}  </b>



            </td>
            <td style="width:30%" >{{'ENTITY_PRODUCT_GENCODE'|trans|raw }}</td>


            <td >
                {% if Product.Codebar%}
                    <img src="{{path('codebage_generate',{'id':Product.Codebar.id})}}" alt="">
                {% else%}
                    --
                {% endif%}
            </td>
        </tr>
        <tr>
            <td colspan="4">  {% if (Product.mainimage)%}
                <a  class="product-thumb" href="{{ webpath ~ Product.mainimage}}" style="background-image:url({{ webpath ~ Product.mainimage|replace({'original.jpg':'small.jpg'})}})" title="test"></a>
                {% else %}
                    {% if (Product.images|length ==1 ) %}
                        {% set file=Product.images|first%}
                            <a  class="product-thumb" href="{{ webpath ~ file.image}}" style="background-image:url({{ webpath ~ file.image|replace({'original.jpg':'small.jpg'})}})" title="test"></a>
                            {% else %}
                                <img src="{{webpath}}bundles/app/images/no-image.png" style="width:120px;height:120px;" />
                                {% endif %}
                                    {% endif %}
                                        {% if (Product.images|length > 1) %}

                                            {% for file in Product.images %}
                                                {% if (file.image!=Product.mainimage)%}
                                                    <a class="product-thumb" href="{{ webpath ~ file.image}}" style="background-image:url({{ webpath ~ file.image|replace({'original.jpg':'small.jpg'})}})" title="test"></a>
                                                {% endif %}
                                            {% endfor %}

                                        {% endif %}
                                    </td>
                                </tr>
                                {% if ( Product.categorie )%}
                                    {% if (app.request.locale=='fr') %}
                                        <tr>
                                            <th style="width:30%" colspan="2">{{'ENTITY_PRODUCT_NOMENCLATURE'|trans|raw }}</th>
                                            <td colspan="2">{{ Product.categorie.nom }}</td>
                                        </tr>
                                    {% else%}
                                        <tr>
                                            <th style="width:30%" colspan="2">{{'ENTITY_PRODUCT_NOMENCLATURE'|trans|raw }}</th>
                                            <td colspan="2">{{ Product.categorie.name }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}

                                {%if (is_granted('ROLE_SOURCING') or app.request.locale=='en')  %}
                                    {% if ( Product.smalldescription )%}
                                        <tr>
                                            <th style="width:30%" colspan="2">{{'ENTITY_PRODUCT_SMALLDESCRIPTION'|trans|raw }}</th>
                                            <td colspan="2">{{ Product.smalldescription }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                                {%if (is_granted('ROLE_SOURCING') or app.request.locale=='fr')  %}
                                    {% if ( Product.description )%}
                                        <tr>
                                            <th style="width:30%" colspan="2">{{'ENTITY_PRODUCT_DESCRIPTION'|trans|raw }}</th>
                                            <td colspan="2">{{ Product.description }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                                {%if (is_granted('ROLE_SOURCING') or app.request.locale=='fr')  %}
                                    {% if ( Product.frenchsmalldescription )%}
                                        <tr>
                                            <th style="width:30%" colspan="2">{{'ENTITY_PRODUCT_FRENSHSMALLDESCRIPTION'|trans|raw }}</th>
                                            <td colspan="2">{{ Product.frenchsmalldescription }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}


                                {%if (is_granted('ROLE_SOURCING') or app.request.locale=='fr')  %}
                                    {% if ( Product.frenchdescription )%}
                                        <tr>
                                            <th style="width:30%" colspan="2">{{'ENTITY_PRODUCT_FRENSHDESCRIPTION'|trans|raw }}</th>
                                            <td colspan="2">{{ Product.frenchdescription }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                                <tr>
                                    <td style="width:30%" >{{'ENTITY_PRODUCT_CE'|trans|raw }}</td>
                                    <td >  {{Product.ce}} </td>
                                    <td style="width:30%" >{{'ENTITY_PRODUCT_COLORIS'|trans|raw }}</td>
                                    <td>{{ Product.coloris }}</td>
                                </tr>
                                <tr>
                                    <td style="width:30%">{{'ENTITY_PRODUCT_MATERIAL'|trans|raw }}</td>
                                    <td >{{ Product.material }}</td>
                                    <td style="width:30%">{{'ENTITY_PRODUCT_PACKING'|trans|raw }}</th>
                                    <td >{% if ( Product.packing ) %}{{ Product.packing }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <td style="width:30%"> {{'ENTITY_PRODUCT_PACKINGSIZE'|trans|raw }}</td>
                                    <td >{{ Product.packingsize }}</td>
                                    <td style="width:30%">{{'ENTITY_PRODUCT_PRODUCTSIZE'|trans|raw }}</td>
                                    <td>{% if (Product.productsize) %}{{ Product.productsize }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <td style="width:30%" >{{'ENTITY_PRODUCT_NWPRODUCT'|trans|raw }}</td>
                                    <td >{% if (Product.nwproduct) %}{{ Product.nwproduct }}{% endif %}</td>
                                    <td style="width:30%">{{'ENTITY_PRODUCT_NGPRODUCT'|trans|raw }}</td>
                                    <td >{% if (Product.gwproduct) %}{{ Product.gwproduct }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <td style="width:30%">{{'ENTITY_PRODUCT_NWPACKAGE'|trans|raw }}</td>
                                    <td>{% if (Product.nwpackage) %}{{ Product.nwpackage }}{% endif %}</td>
                                    <td style="width:30%">{{'ENTITY_PRODUCT_NGPACKAGE'|trans|raw }}</td>
                                    <td>{% if (Product.gwpackage ) %}{{ Product.gwpackage }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <td style="width:30%" >{{'ENTITY_PRODUCT_CBM'|trans|raw }}</td>
                                    <td>{{ Product.cbm }}</td>
                                    <td style="width:30%">{{'ENTITY_PRODUCT_PCB'|trans|raw }}</td>
                                    <td id="pcbcel" data-value="{{ Product.pcb }}">{{ Product.pcb }}</td>
                                </tr>
                                {% if ( Product.comments )%}
                                    <tr>
                                        <th style="width:30%" colspan="2">{{'ENTITY_PRODUCT_COMMENTS'|trans|raw }}</th>
                                        <td colspan="2">{{ Product.comments }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
