{% set displayfob = false %}
    {% set displayexw = false %}

        {% for offer in offers %}
            {% if (offer.getSaleprice('fob',myuser)!="0.00") %}
                {% set displayfob = true %}
                    {% endif %}
                        {% if offer.getSaleprice('exw',myuser)!="0.00" %}
                            {% set displayexw = true %}
                                {% endif %}
                                    {% endfor %}
                                        {%if (myuser.mode=="presentation") %}
                                            <table class="table" style="background-color:#EFEFEF">
                                                <tbody>
                                                    {% for offer in offers if offer.mainoffer %}
                                                        <tr>
                                                            <td>MOQ</td><td>{{ offer.moq(myuser.cutomer_id) }} {{ offer.moqunit.title }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            {% set mode = app.session.get('mode') %}
                                                {%if  (is_granted('ROLE_ADMIN'))  %}
                                                    <table class="table" style="background-color:#EFEFEF">
                                                        <thead>
                                                            <tr>
                                                                <th>{{'ENTITY_SUPPLIER'|trans|raw}}</th>
                                                                {% if (displayfob) %}<th>FOB (USD)</th>{% endif %}
                                                                {% if (displayexw) %}<th>EXW (USD)</th>{% endif %}
                                                                <th>MOQ</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for offer in offers %} 
                                                                <tr>
                                                                    <td>
                                                                        {% if (offer.mainoffer) %}<i class="icon-check"></i>{% endif %} 
                                                                        {%if  is_granted('ROLE_SOURCING')  %}
                                                                            <a href="{{ path('supplier_show', { 'id': offer.supplier.id }) }}">{{ offer.supplier.id ~'-'~ offer.supplier.name  }}<br>{{ offer.itemnumber}}</a>
                                                                            <a href="{{path('offer_edit', { 'id': offer.id,'n':offer.product.categorie.id})}}" class="btn btn-default">{{'ACTION_EDIT'|trans|raw }}</a>    
                                                                        {% else %}
                                                                            {{ offer.supplier.id }}
                                                                        {% endif %} - {{ offer.itemnumber}} 
                                                                    </td> 
                                                                    {% if (displayfob) %}<td><b>{{ offer.getSaleprice('fob',myuser,true,false)|number_format(2, '.', ',') }}</b> [<strong>{{ offer.fob|number_format(2, '.', ',') }} <i class="icon-home"></i></strong>]</td>{% endif %}
                                                                    {% if (displayexw) %}<td><b>{{ offer.getSaleprice('exw',myuser,true,false)|number_format(2, '.', ',') }}</b> [<strong>{{ offer.exwusd|number_format(2, '.', ',') }} <i class="icon-home"></i></strong>]</td>{% endif %}
                                                                    <td>{{ offer.moq }} {{ offer.moqunit.title }}</td>
                                                                </tr>
                                                                {% if (offer.supplier.comments) %}
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            {{ offer.supplier.comments }}
                                                                        </td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {%elseif  (is_granted('ROLE_COMMERCIAL') and myuser.cutomer_id != 0)  %}
                                                    <table class="table"  style="background-color:#EFEFEF">
                                                        <thead>
                                                            <tr>
                                                                <th>{{'ENTITY_SUPPLIER'|trans|raw}}</th>
                                                                {% if (displayfob) %}<th>FOB (USD)</th>{% endif %}
                                                                {% if (displayexw) %}<th>EXW (USD)</th>{% endif %}
                                                                <th>MOQ</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for offer in offers %} 
                                                                <tr>
                                                                    <td>
                                                                        {% if (offer.mainoffer) %}<i class="icon-check"></i>{% endif %} 
                                                                        {{ offer.supplier.id }} - {{ offer.itemnumber}} 
                                                                    </td> 
                                                                    {% if (displayfob) %}<td><b>{{ offer.getSaleprice('fob',myuser,true,false)|number_format(2, '.', ',') }}</b></td>{% endif %}
                                                                    {% if (displayexw) %}<td><b>{{ offer.getSaleprice('exw',myuser,true,false)|number_format(2, '.', ',') }}</b></td>{% endif %}
                                                                    <td>{{ offer.moq }} {{ offer.moqunit.title }}</td>
                                                                </tr>
                                                                {% if (offer.supplier.comments) %}
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            {{ offer.supplier.comments }}
                                                                        </td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {%elseif  (is_granted('ROLE_SOURCING') and myuser.cutomer_id == 0)  %}
                                                    <table class="table"  style="background-color:#EFEFEF">
                                                        <thead>
                                                            <tr>
                                                                <th>{{'ENTITY_SUPPLIER'|trans|raw}}</th>
                                                                {% if (displayfob) %}<th>FOB (USD)</th>{% endif %}
                                                                {% if (displayexw) %}<th>EXW (USD)</th>{% endif %}
                                                                <th>MOQ</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for offer in offers %} 
                                                                <tr>
                                                                    <td>
                                                                        {% if (offer.mainoffer) %}<i class="icon-check"></i>{% endif %} 
                                                                        {%if  is_granted('ROLE_SOURCING')  %}
                                                                            <a href="{{ path('supplier_show', { 'id': offer.supplier.id }) }}">{{ offer.supplier.id ~'-'~ offer.supplier.name  }}<br>{{ offer.itemnumber}}</a>
                                                                            <a href="{{path('offer_edit', { 'id': offer.id})}}" class="btn btn-default">{{'ACTION_EDIT'|trans|raw }}</a>    
                                                                        {% else %}
                                                                            {{ offer.supplier.id }}
                                                                        {% endif %}
                                                                    </td>
                                                                    {% if (displayfob) %}<td><strong>{{ offer.fob|number_format(2, '.', ',') }} <i class="icon-home"></i></strong></td>{% endif %}
                                                                    {% if (displayexw) %}<td><strong>{{ offer.exwusd|number_format(2, '.', ',') }} <i class="icon-home"></i></strong></td>
                                                                            {% endif %}
                                                                    <td>{{ offer.moq }} {{ offer.moqunit.title }}</td>
                                                                </tr>
                                                                {% if (offer.supplier.comments) %}
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            {{ offer.supplier.comments }}
                                                                        </td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% else %}
                                                    <table class="table"  style="background-color:#EFEFEF"> 
                                                        <thead> 
                                                            <tr>
                                                                <th>{{'ENTITY_SUPPLIER'|trans|raw}}</th>
                                                                {% if (displayfob) %}<th>FOB (USD)</th>{% endif %}
                                                                {% if (displayexw) %}<th>EXW (USD)</th>{% endif %}
                                                                <th>MOQ</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for offer in offers if offer.mainoffer %}
                                                                <tr>
                                                                    <td>{{ offer.supplier.id }}</td>
                                                                    {% if (displayfob) %}<td><b>{{ offer.getSaleprice('fob',myuser)|number_format(2, '.', ',') }}</b></td>{% endif %}
                                                                    {% if (displayexw) %}<td><b>{{ offer.getSaleprice('exw',myuser)|number_format(2, '.', ',') }}</b></td>{% endif %}
                                                                    <td>{{ offer.moq(myuser.cutomer_id) }} {{ offer.moqunit.title }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% endif %}
                                                {% endif %}