{% set myuser = profils.get() %}



<div class="modal-header">
    <h3 class="modal-title" id="items">{{ product.smalldescription }}</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row no-gutters mb-1">
        <div class="col col-lg-5 mr-auto">
            <em>{{ product.smalldescription }}</em>
        </div>
        <div class="col col-lg-2">
            <ul class="items-list list-unstyled">
                <li class="d-flex">
                    <em>Ref <i class="fas fa-tag ml-1"></i></em>
                    <span><strong>{{ product.id }}</strong></span>
                </li>
                {% for offer in offers %}
                    {% if offer.mainoffer %}
                        <li class="d-flex">
                            <em>MOQ <i class="fas fa-sack ml-1"></i></em>
                            <span><strong>{{ offer.moq }}</strong> {{ offer.moqunit.title }}</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col col-lg-2">

            <ul class="items-list list-unstyled">
                {% for offer in offers %}
                    {% if offer.getSaleprice('fob',myuser,true,false)|number_format(2, '.', ',')!="0.00" %}
                        <li class="d-flex">
                            <em>FOB <i class="fas fa-industry-alt ml-1"></i></em>
                            <span><strong>{{ offer.getSaleprice('fob',myuser,true,false)|number_format(2, '.', ',') }}</strong> $</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col col-lg-2">
            <ul class="items-list list-unstyled">
                {% for offer in offers %}
                    {% if offer.getSaleprice('exw',myuser,true,false)|number_format(2, '.', ',')!="0.00" %}
                        <li class="d-flex">
                            <em>EXW <i class="fas fa-industry-alt ml-1"></i></em>
                            <span><strong>{{ offer.getSaleprice('exw',myuser,true,false)|number_format(2, '.', ',') }}</strong> $</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="tabs-container">

        <div class="tabs-left">
            <ul class="nav nav-tabs">
                <li><a class="nav-link active" data-toggle="tab" href="#tab-photos"> Photos</a></li>
                <li><a class="nav-link" data-toggle="tab" href="#tab-details">Détails</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-photos" class="tab-pane active">
                    <div class="panel-body">
                        <div class="lightBoxGallery">
                            {% if (product.images|length > 0) %}
                                {% for file in product.images %}
                                    <img src="{{ webpath ~ file.image }}" style="display:none;"/>
                                    <a href="{{ webpath ~ file.image }}" title="" data-gallery="">
                                        <img src="{{ webpath ~ file.image|replace({'original.jpg':'small.jpg'}) }}">
                                    </a>
                                {% endfor %}
                            {% else %}
                                <h3>No Image Found!</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="tab-details" class="tab-pane">
                    <div class="panel-body">
                        <div class="row no-gutters">
                            <div class="col-sm-12 col-lg-7">
                                <ul class="product-list list-unstyled">
                                    <li class="d-flex">
                                        <strong>{{ 'ENTITY_PRODUCT_CE'|trans|raw }}</strong>
                                        <span>{{ product.ce }}</span>
                                    </li>
                                    <li class="d-flex">
                                        <strong>{{ 'ENTITY_PRODUCT_COLORIS'|trans|raw }}</strong>
                                        <span>{{ product.coloris }}</span>
                                    </li>
                                    <li class="d-flex">
                                        <strong>{{ 'ENTITY_PRODUCT_MATERIAL'|trans|raw }}</strong>
                                        <span>
                                            {{ product.material ? product.material : '--' }}

                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <strong>{{ 'ENTITY_PRODUCT_PACKING'|trans|raw }}</strong>
                                        <span>
                                            {{ product.packing ? product.packing : '--' }}

                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <strong>{{ 'ENTITY_PRODUCT_PACKINGSIZE'|trans|raw }}</strong>
                                        <span>
                                            {{ product.packingsize ? product.packingsize : '--' }}

                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <strong>{{ 'ENTITY_PRODUCT_PRODUCTSIZE'|trans|raw }}</strong>
                                        <span>
                                            {{ product.productsize ? product.productsize : '--' }}

                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <strong>{{ 'ENTITY_PRODUCT_CBM'|trans|raw }}</strong>
                                        <span>
                                            {{ product.cbm ? product.cbm : '--' }}
                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <strong>{{ 'ENTITY_PRODUCT_PCB'|trans|raw }}</strong>
                                        <span>
                                            {{ product.pcb ? product.pcb : '--' }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-lg-5">
                                <ul class="product-list list-unstyled">
                                    <li class="d-flex">
                                        <strong>{{ 'ENTITY_PRODUCT_NWPRODUCT'|trans|raw }} (KG)</strong>
                                        <span>
                                            {{ product.nwproduct ? product.nwproduct : '--' }}
                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <strong>{{ 'ENTITY_PRODUCT_NWPACKAGE'|trans|raw }} (KG)</strong>
                                        <span>
                                            {{ product.nwpackage ? product.nwpackage : '--' }}
                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <strong>{{ 'ENTITY_PRODUCT_NGPRODUCT'|trans|raw }} (KG)</strong>
                                        <span>
                                            {{ product.gwproduct ? product.gwproduct : '--' }}
                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <strong>{{ 'ENTITY_PRODUCT_NGPACKAGE'|trans|raw }} (KG)</strong>
                                        <span>
                                            {{ product.gwpackage ? product.gwpackage : '--' }}
                                        </span>
                                    </li>
                                </ul>
                                <div class="pt-4 pb-1 text-center">
                                    {% if product.Codebar %}
                                        <img alt="code bar" class="img-responsive"
                                             src="{{ path('codebage_generate',{'id':product.Codebar.id}) }}">
                                    {% else %}
                                        --
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for offer in offers %}
        <div class="d-flex modal-description">
            <div class="w-20">
                <em class="text-muted">Fournisseurs <i class="fas fa-industry-alt ml-2"></i></em>
            </div>
            <div class="w-80">
                <div class="fournisseur-label">
                    {% if is_granted('ROLE_ADMIN') %}
                        <span>{{ offer.supplier.id }}-{{ offer.supplier.name }} - <strong>{{ offer.id }}</strong></span>
                    {% endif %}
                    {% if  is_granted('ROLE_SOURCING') %}
                        <a class="btn btn-primary btn-circle btn-outline" target="_blank"
                           href="{{ path('offer_edit',{'id':offer.id}) }}">
                            <i class="fas fa-pencil"></i>
                            <span class="sr-only">Éditer</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="modal-footer">

    <a href="{{ path('product_edit', { 'id': product.id, 'n':product.categorie.id }) }}" target="_blank"
       class="btn btn-primary btn-outline mr-auto btn-sm"><strong>{{ 'ACTION_EDIT'|trans|raw }}</strong></a>
    <a href="{{ path('multiupload_images',{'id':product.id}) }}" target="_blank"
       class="btn btn-default btn-sm"><strong>{{ 'IMAGES_MULTI_SUBTITLE'|trans|raw }}</strong></a>

    {% for Offer in product.offers %}
        {% if Offer.mainoffer %}
            {% if (is_granted('ROLE_SOURCING')) %}
                <button class="btn btn-default btn-sm" id="hideProduct"
                        data-action="{{ path('product_hiddenproduct', { 'id': product.id}) }}"
                        data-offer="{{ product.offers.first.id }}"
                        type="button">
                    <i class="fas fa-eye{{ not product.hidden ? '-slash' }}"></i>
                    <span class="sr-only">Masquer</span>
                </button>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% for Offer in product.offers %}
        {% if Offer.mainoffer %}
            <button class="btn btn-primary btn-sm" id="addProduct" type="button"
                    data-offer="{{ product.offers.first.id }}">
                <strong>Sélectionner</strong></button>
        {% endif %}
    {% endfor %}
</div>
