{% import "appBundle::coreadmin_macro.html.twig" as _ %}
<table class="table">
    <thead>
        <tr>
            <th>{{'ENTITY_PRODUCT_SOURCINASIAITEMNUMBER'|trans|raw }}</th>
            <th>{{'ENTITY_PRODUCT_FRENSHSMALLDESCRIPTION'|trans|raw }}</th>
            <th>{{'ENTITY_PRODUCT_IMAGE'|trans|raw }}</th>
            <th>{{'ENTITY_SUPPLIER_MARK'|trans|raw }}</th>
            <th>{{'APPLICATION_ACTIONCOLUMN'|trans|raw }}</th>
        </tr>
    </thead>
    <tbody>
     {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>
          {%if  is_granted('ROLE_SOURCING')  %}
                <a href="{{path('product_show', { 'id': entity.id })}}">{{ entity.smalldescription }}</a>
          {% else %}
          {{ entity.smalldescription }}
          {% endif %}
            </td>
            <td>

                <span class="small-product-thumb" style="background-image:url({% if entity.mainimage %}
        {{ webpath ~ entity.mainimage|replace({'original.jpg':'small.jpg'})}}
        {% else %}
        {{ webpath}}bundles/app/images/no-image.png {% endif %})"  alt=""></span>

            </td>
            <td>
       {% if (entity.mark is defined) %}
                <i class="icon-circle" style="color:{% if (entity.mark==0) %}
                   #000
       {% elseif (entity.mark==1) %}
                   green 
       {% elseif (entity.mark==2) %}
                   orange
       {% elseif (entity.mark==3) %}
                   red
       {% endif %}"></i>
       {% endif %}
            </td>
            <td>
                <ul>
        {{_.dropdownactions([
        {'route': path('product_show', { 'id': entity.id }) ,'text':'ACTION_CONSULT'},
        {'route': path('product_edit', { 'id': entity.id }) ,'text':'ACTION_EDIT'},
        {'route': path('product_show', { 'id': entity.id })~'#suppliers' ,'text':'PRODUCT_SHOWOFFER'},
        {'route': path('multiupload_images',{'id':entity.id}) ,'text':'ACTION_ADD_IMAGE'},
        {'route': path('offer_new',{'product':entity.id}) ,'text':'ACTION_ADD_OFFER'},
        {'route': path('product_delete',{'id':entity.id}) ,'text':'ACTION_DELETE','ico':'icon-trash','confirm':'Confirm?'}
        ])}}
                </ul>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table> 

