{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
    {{ _.header({'title':  Product.id ~ ' - '~Product.smalldescription ,'subtitle':'ENTITY_PRODUCT','ico':'icon-barcode','parent':{'title':'ENTITY_PRODUCTS','ico':'icon-barcode','url':path('product')} }) }}
{% endblock %}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                {% set actions = [
            {'route':path('product_edit', { 'id': Product.id }) ,'ico':'icon-edit','text':'ACTION_EDIT'},
            {'route':path('offer_new',{'product': Product.id}) ,'ico':'icon-home','text':'ACTION_ADD_SUPPLIER'},
            {'route':path('multiupload_images',{'id':Product.id}) ,'ico':'icon-picture','text':'ACTION_ADD_IMAGE'},
            {'route':path('product_delete',{'id':Product.id}) ,'ico':'icon-trash','text':'ACTION_DELETE_PRODUCT','confirm':'Confirm?'}
            ]
                %}

                {%if (is_granted('ROLE_ADMIN')) %}

                    {% set actions = actions|merge([{'route': path('product_gencode',{'id': Product.id}) ,'ico':'icon-barcode','text':'GENERATEBARCODE','confirm':'Confirm?'}]) %}
                        {% endif %}

                            {{_.tabs([
            {'key':'home','text':Product.smalldescription,'ico':'icon-barcode'},
            {'key':'suppliers','text':'ENTITY_SUPPLIER','ico':'icon-home'},
            {'key':'exclu','text':'CUSTOMERS_TABS_EXCLUSIVITY','ico':'icon-shopping-cart'},
            {'key':'historiques','text':'ENTITY_HISTORIQUE','ico':'icon-calendar'}
            ],actions,[
            {'route':path('catalog', { 'n': Product.Categorie.id }) ,'ico':'icon-shopping-cart'},
            {'route':path('product_edit', { 'id': Product.id }) ,'ico':'icon-edit'},
            {'route':path('multiupload_images',{'id':Product.id}) ,'ico':'icon-picture'}
            ])}}
                            <div class="tab-pane active" id="home">
                                {% include 'appBundle:Product:item.html.twig'%}
                            </div>
                            <div class="tab-pane" id="suppliers">
                                <a class="btn btn-default pull-right" href="{{path('offer_new',{'product': Product.id,'return': 'product'})}}">{{'ACTION_ADD_SUPPLIER'|trans }}</a>
                                {% include 'appBundle:Offer:suppliersList.html.twig' with {'Offers': Product.Offers} %}
                            </div>
                            <div class="tab-pane" id="historiques">
                                {% include 'appBundle:History:historiquesList.html.twig' with {'Histories': Product.Histories} %}
                            </div>
                            <div class="tab-pane" id="exclu">
                                {% include 'appBundle:Customer:list.html.twig' with {'Customers': Product.Customers} %}
                            </div>

                            {{_.endtabs()}}
                        </div>
                    </div>
                </div>

                {% endblock %}
