<!DOCTYPE html>
{% import "appBundle::coreadmin_macro.html.twig" as _ %}
{{ profils.initProfil() }}
{% set myuser = profils.get() %}
<html>
<head>
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    {#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">#}
    <title>{% block title %}INASIA CORP. LIMITED{% endblock %}</title>
    {% stylesheets
    'bundles/app/css/new_theme/bootstrap.min.css'  filter="cssrewrite"
    'bundles/app/css/new_theme/plugins/select2/select2.min.css'  filter="cssrewrite"
    'bundles/app/css/new_theme/plugins/blueimp/css/blueimp-gallery.min.css'  filter="cssrewrite"
    'bundles/app/css/new_theme/theme.css'  filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% block stylesheets %}
    {% endblock %}

    {% javascripts
    'bundles/app/js/new_theme/jquery-3.1.1.min.js'
    'bundles/app/js/new_theme/popper.min.js'
    'bundles/app/js/new_theme/bootstrap.js'
    'bundles/app/js/new_theme/plugins/metisMenu/jquery.metisMenu.js'
    'bundles/app/js/new_theme/plugins/slimscroll/jquery.slimscroll.min.js'
    'bundles/app/js/new_theme/inspinia.js'
    'bundles/app/js/new_theme/plugins/pace/pace.min.js'
    'bundles/app/js/new_theme/plugins/select2/select2.full.min.js'
    'bundles/app/js/new_theme/plugins/blueimp/jquery.blueimp-gallery.min.js'
    'bundles/app/js/new_theme/app.js'
    'bundles/app/plugins/scrollup/dist/jquery.scrollUp.min.js'
    'bundles/app/js/app.js'
    'bundles/app/js/filtersV2.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    {% block plugins %}
    {% endblock %}
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
</head>
<body class="fixed-sidebar no-skin-config full-height-layout">
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAV START -->
    {% include("appBundle::left_menu_v2.html.twig") %}
    <!-- NAV END -->
    {% block body %}{% endblock %}
</div>
<!-- end - WRAPPER -->
</body>
</html>
