{% import "appBundle::coreadmin_macro.html.twig" as _ %}
{{ profils.initProfil() }}
{% set myuser = profils.get()  %}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
            {#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">#}
        <title>{% block title %}Mat&Co{% endblock %}</title>
            {% stylesheets   
	'bundles/app/plugins/bootstrap/dist/css/bootstrap.min.css'  filter="cssrewrite" 
	'bundles/app/css/coreadmin.css'  filter="cssrewrite" 
	'bundles/app/plugins/select2/select2.css'  filter="cssrewrite" 
	'bundles/app/plugins/select2-bootstrap3-css/select2-bootstrap.css'  filter="cssrewrite" 
	'bundles/app/plugins/bootstrap-datepicker/css/datepicker3.css'  filter="cssrewrite"
            'bundles/app/plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css'  filter="cssrewrite"
	'bundles/app/css/sourcinasia.css'  filter="cssrewrite" 
             %}
        <link rel="stylesheet" href="{{ asset_url}}">
            {% endstylesheets%}
            {% block stylesheets%}
            {% endblock %}

            {% javascripts 
	'bundles/app/plugins/jquery/dist/jquery.min.js'
	'bundles/app/plugins/bootstrap/dist/js/bootstrap.min.js'
	'bundles/app/plugins/touchTouch/assets/touchTouch.js'
	'bundles/app/plugins/select2/select2.min.js'
            'bundles/app/plugins/scrollup/dist/jquery.scrollUp.min.js'
	'bundles/app/plugins/jquery-validation/dist/jquery.validate.min.js'
	'bundles/app/js/app.js' 
	'bundles/app/js/filters.js'
            %}
        <script src="{{ asset_url}}" type="text/javascript"></script>
            {% endjavascripts%}
            {% block plugins %}
            {% endblock %}
        <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    </head> 
    <body style="background: url('/images/matcobg.png');background-position: center;background-repeat: no-repeat;background-position-y: 61px;margin-top: 51px;">
    {% block container %}{% endblock %}
    </body>
</html>