{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
{{ _.header({'title':'SUPPLIERS_TITLE','subtitle':'SUPPLIERS_SUBTITLE','ico':'icon-home'}) }}
{% endblock %}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header fixedbox">
                    <form action="">
                        <span class="title">{{'ENTITY_SUPPLIERS'|trans }}</span>
                        <ul class="box-toolbar">
                            <li><input placeholder="{{'ENTITY_SUPPLIER'|trans }}" type="text" value="" name="request[supplierid]" class="request" style="width:70px"></li>
                            <li><input placeholder="{{'ENTITY_PRODUCT'|trans }}" type="text" value="" name="request[productid]" class="request"  style="width:70px"></li>
                            <li> <input type="hidden" id="uri_filters" data-autocomplete="true"  value="{{path('suppliers_filters')}}"></li>
                            <li> <input type="hidden" id="uri_geofilters" value="{{path('suppliers_geofilters')}}"></li>
                            <li>
                                <select name="request[maxresult]" id="" class="request">
                                    <option value="100" class="search">POL</option>
                                    <option value="100" class="search">SHENZHEN (YANTIAN)</option>
                                    <option value="200" class="search">GUANGZHOU (NANSHA)</option>
                                    <option value="300" class="search">GUANGZHOU (HUANGPU)</option>
                                    <option value="300" class="search">SHANGHAI</option>
                                    <option value="300" class="search">NANJING</option>
                                    <option value="300" class="search">NINGBO</option>
                                    <option value="300" class="search">QINGDAO</option>
                                    <option value="300" class="search">TIANJIN</option>
                                    <option value="300" class="search">ZHONGSHAN</option>
                                    <option value="300" class="search">XIAMEN</option>
                                    <option value="300" class="search">KLANG en Malaysie</option>
                                </select>
                            </li>
                            <li>
                                <select name="request[maxresult]" id="" class="request">
                                    <option value="10000" class="search" selected >20</option>
                                    <option value="50" class="search" >50</option>
                                    <option value="100" class="search">100</option>
                                    <option value="200" class="search">200</option>
                                    <option value="300" class="search">300</option>
                                    <option value="500" class="search">500</option>
                                    <option value="1000" class="search">1000</option>
                                    <option value="10000" class="search">10000</option>
                                </select>
                            </li>
                            <li class="toolbar-link">
                                <a href="#" class="dropdown" data-toggle="dropdown"><i class="icon-cog"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{path('supplier_new')}}"><i class="icon-plus-sign"></i> {{'ACTION_ADD_SUPPLIER'|trans }}</a></li>
                                </ul>
                            </li>

                        </ul>
                    </form>
                    <input type="hidden" id="uri_request" value="{{path('suppliers_request')}}">
                </div>
                <div class="box-content padded">  
                    <div class="row" id="filters_result">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
