<table class="table">
    <tbody>
        <tr>
            <th>{{'ACTION_ADD_ADDRESSE'|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{'ENTITY_SUPPLIER_NAME'|trans }}</th>
            <td>{{ entity.name }}</td>
        </tr>
        
        <tr>
            <th>{{'ENTITY_SUPPLIER_WEBSITE'|trans }}</th>
            <td><a target="_blank" href="http://{{ entity.website|replace({'%http://%': "", '%https://%': "", '%http//%': "", '%https//%': ""})  }}">{{ entity.website|replace({'%http://%': "", '%https://%': "", '%http//%': "", '%https//%': ""})  }}</a></td>
        </tr>
        <tr>
            <th>{{'ENTITY_SUPPLIER_COMMENTS'|trans }}</th>
            <td>{{ entity.comments }}</td>
        </tr>
        <tr>
            <th>{{'ENTITY_SUPPLIER_OFFERNAME'|trans }}</th>
            <td>{{ entity.offername }}</td>
        </tr>
        <tr>
            <th>{{'ENTITY_SUPPLIER_INFOBANK'|trans }}</th>
            <td>{{ entity.infobank }}</td>
        </tr>
        <tr>
            <th>{{'ENTITY_SUPPLIER_EXPOTLICENCE'|trans }}</th>
            <td>{{ entity.exportlicence }}</td>
        </tr>
        <tr>
            <th>{{'ENTITY_SUPPLIER_INCOTERM'|trans }}</th>
            <td></td>
        </tr>
        <tr>
            <th>{{'ENTITY_SUPPLIER_POL'|trans }}</th>
            <td>{{ entity.pol }}</td>
        </tr>
        <tr>
            <th>{{'ENTITY_SUPPLIER_DELEVERYTIME'|trans }}</th>
            <td>{{ entity.deleverytime }}</td>
        </tr>
    </tbody>
</table>


