{% import "appBundle::coreadmin_macro.html.twig" as _ %}
<table class="table">
    <thead>
        <tr>
            <th>{{'ENTITY_SUPPLIER_ID'|trans }}</th>
            <th>{{'ENTITY_SUPPLIER_NAME'|trans }}</th>
            <th>{{'APPLICATION_ACTIONCOLUMN'|trans }}</th>
        </tr>
    </thead>
    <tbody>
      {% for entity in entities %}
    <tr>
        <td><a href="{{ path('supplier_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        <td><a href="{{ path('supplier_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
        <td>
            <ul>
                  {{_.dropdownactions([
                      {'route': path('supplier_show', { 'id': entity.id }) ,'text':'ACTION_CONSULT'},
                      {'route': path('supplier_edit', { 'id': entity.id }) ,'text':'ACTION_EDIT'},
                      {'route': path('supplier_cadencier_show', {'id':entity.id}) ,'text':'ACTION_CONSULT_CADENCIER'}
                 ])}}  
            </ul>
        </td>
    </tr>  
    {% endfor %}
</tbody>
</table>