{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
{{ _.header({'title':'SUPPLIERS_NEW_TITLE','subtitle':'SUPPLIERS_NEW_SUBTITLE','ico':'icon-home'
,'parent':{'title':'ENTITY_SUPPLIERS','ico':'icon-home','url':path('supplier')}}
) }}
{% endblock %}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-8 padded">
               {{_.box('SUPPLIERS_NEW_TITLE')}}
               {{ form_start(form) }}
               {{ form_errors(form) }}
            <fieldset>
                <legend>{{'ENTITY_SUPPLIER_FIELDSET_IDENTIFICATION'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">
                            <li class="input">
                                 {{ form_row(form.name, {'label': 'ENTITY_SUPPLIER_NAME'}) }}
                            </li>
                        </ul>
                    </div>


                    <div class="col-lg-12">
                        <ul class=" separate-sections">
                            <li class="input">
                                 {{ form_row(form.website, {'label': 'ENTITY_SUPPLIER_WEBSITE'}) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>{{'ENTITY_SUPPLIER_FIELDSET_OFFER'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class=" separate-sections">
                            <li class="input">
                                 {{ form_row(form.offername, {'label': 'ENTITY_SUPPLIER_OFFERNAME'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.container, {'label': 'ENTITY_SUPPLIER_CONTAINERTYPE'}) }}
                            </li>

                            <li class="input">
                                 {{ form_row(form.incoterm, {'label': 'ENTITY_SUPPLIER_INCOTERM'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.pol, {'label': 'ENTITY_SUPPLIER_POL'}) }}
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class=" separate-sections">
                            <li class="input">
                                 {{ form_row(form.comments, {'label': 'ENTITY_SUPPLIER_COMMENTS'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.exportlicence, {'label': 'ENTITY_SUPPLIER_EXPOTLICENCE'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.businesslicence, {'label': 'ENTITY_SUPPLIER_BUSINESSLICENCE'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.deleverytime, {'label': 'ENTITY_SUPPLIER_DELEVERYTIME'}) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>{{'ENTITY_SUPPLIER_FIELDSET_PAYEMENT'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class=" separate-sections">
                            <li class="input">
                                 {{ form_row(form.infobank, {'label': 'ENTITY_SUPPLIER_INFOBANK'}) }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class=" separate-sections">
                            <li class="input">
                                 {{ form_row(form.paymenterms, {'label': 'ENTITY_SUPPLIER_PAYMENTTERMS'}) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>
                    {{ form_end(form) }}
            {{_.endbox()}}
        </div>
        <div class="col-md-4">
      {{_.box('APPLICATION_SAVE')}}
            <ul class="separate-sections">
                <li class="input" id="btn-form"></li>
            </ul>
      {{_.endbox()}}
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        function actualiseForm() {
            FOB = $('#sourcinasia_appbundle_supplier_incoterm_4').is(':checked');
            if (FOB) {
                $('label[for=sourcinasia_appbundle_supplier_pol]').show();
                $('#sourcinasia_appbundle_supplier_pol').show()
            } else {
                $('label[for=sourcinasia_appbundle_supplier_pol]').hide();
                $('#sourcinasia_appbundle_supplier_pol').hide()
            }

        }

        actualiseForm();
        $('#sourcinasia_appbundle_supplier_incoterm input').change(function() {
            actualiseForm();
        });


    });

</script>
{% endblock %}
