{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
{{ _.header({'title': 'ENTITY_SUPPLIER'|trans~ ' : '~entity.name ,'subtitle':'ENTITY_SUPPLIER','ico':'icon-home','parent':{'title':'ENTITY_SUPPLIERS','ico':'icon-home','url':path('supplier')}}) }}
{% endblock %}

{% block body -%}

<div class="container">
    <div class="row">
        <div class="col-md-12">   
    {{_.tabs([
                {'key':'home','text':entity.name,'ico':'icon-home'},
                {'key':'offers','text':'ENTITY_OFFERS','ico':'icon-shopping-cart'},
                {'key':'address','text':'ENTITY_ADDRESSES','ico':'icon-home'},
                {'key':'contacts','text':'ENTITY_CONTACTS','ico':'icon-group'},
                {'key':'historics','text':'ENTITY_HISTORIQUE','ico':'icon-calendar'}
             ],[
                {'route':path('supplier_new') ,'ico':'icon-edit','text':'ACTION_ADD_SUPPLIER'},
                {'route':path('supplier_edit', { 'id': entity.id }) ,'ico':'icon-edit','text':'ACTION_EDIT_SUPPLIER'},
                {'route': path('product') ,'ico':'icon-plus-sign','text':'ACTION_ADD_PRODUCT'},
                {'route': path('product_new',{'supplier': entity.id}) ,'ico':'icon-barcode','text':'ACTION_ADD_NEWPRODUCT'},
                {'route': path('supplier_import',{'supplier': entity.id}) ,'ico':'icon-download-alt','text':'ACTION_IMPORTPRODUCTFILE'},
                {'route': path('contact_new',{'supplier': entity.id}) ,'ico':'icon-group','text':'ACTION_ADD_CONTACT'},
                {'route': path('address_new',{'supplier': entity.id}) ,'ico':'icon-group','text':'ACTION_ADD_ADDRESSE'},
                {'route':path('supplier_cadencier_show',{'id': entity.id}),'ico':'icon-book','text':'ACTION_CONSULT_CADENCIER'},
                {'route':path('supplier_delete_confirmation',{'id': entity.id}),'ico':'icon-trash','text':'ACTION_DELETE_SUPPLIER'}
             ],[
{'route':path('supplier_edit', { 'id': entity.id }) ,'ico':'icon-edit'},
 {'route': path('supplier_import',{'supplier': entity.id}) ,'ico':'icon-download-alt'}
])}}
            <div class="tab-pane active" id="home">
               {% include 'appBundle:Supplier:item.html.twig'  %}
            </div>
            <div class="tab-pane" id="address">
                <a class="btn btn-default pull-right" href="{{path('address_new',{'supplier': entity.id})}}"><i class="icon-plus-sign"></i> {{'ACTION_ADD_ADDRESSE'|trans }}</a>
               {% include 'appBundle:address:index.html.twig'  with {'entities': addresses}  %}
            </div>
            <div class="tab-pane" id="contacts">
                <a class="btn btn-default pull-right" href="{{path('contact_new',{'supplier': entity.id})}}"><i class="icon-plus-sign"></i> {{'ACTION_ADD_CONTACT'|trans }}</a>
                 {% include 'appBundle:Contact:list.html.twig' with {'entities': contacts} %}
            </div>

            <div class="tab-pane" id="offers">
                <a class="btn btn-default pull-right" href="{{path('supplier_cadencier_show',{'id': entity.id})}}"><i class="icon-book"></i> {{'ACTION_CONSULT_CADENCIER'|trans }}</a>
                <a class="btn btn-default pull-right" href="{{path('product')}}"><i class="icon-plus-sign"></i> {{'ACTION_ADD_PRODUCT'|trans }}</a>
                <a class="btn btn-default pull-right" href="{{path('product_new',{'supplier': entity.id})}}"><i class="icon-plus-sign"></i> {{'ACTION_ADD_NEWPRODUCT'|trans }}</a>
                <a class="btn btn-default pull-right" href="{{ path('supplier_import',{'supplier': entity.id})}}"><i class="icon-download-alt"></i> {{'ACTION_IMPORTPRODUCTFILE'|trans }}</a>
                  {{ form_start(form) }}
                <a  class="btn btn-sm btn-red  confirmform">Delete</a><a  id="form_cid_all" class="btn btn-default">{{'APPLICATION_ALL'|trans }}</a>
                
                <script>
                    $(document).ready(function() {
                        $('.confirmform').click(function() {
                            if (confirm('Are you sure?')) {
                                $(this).closest('form').submit();
                            } else
                                return false;
                        });

                        $('#form_cid_all').click(function() {
                            $(".cid").each(function() {
                                $(this).attr('checked','checked');
                            });
                        });
                        $('#form_cid_notall').click(function() {
                            $(".cid").each(function() {
                                $(this).attr('checked','');
                            });
                        });


                    });
                </script>
                 {% include 'appBundle:Offer:productsList.html.twig' with {'entities': offers} %}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </div>
            <div class="tab-pane" id="historics">
  {% include 'appBundle:History:historiquesList.html.twig' with {'entities': Historique} %}
            </div>

        {{_.endtabs()}}
        </div>
    </div>
</div>
{% endblock %}
