{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Paymentcondition.id) %}
{{ _.header({'title':'PAYMENTCONDITION_NEW_TITLE','subtitle':'PAYMENTCONDITION_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_PAYMENTCONDITIONS','ico':'icon-barcode','url':path('paymentcondition'),'parent':{'title':Paymentcondition.id,'ico':'icon-barcode','url':path('paymentcondition_show',{'id':Paymentcondition.id})}}})}}
{% else %}
{{ _.header({'title':'PAYMENTCONDITION_NEW_TITLE','subtitle':'PAYMENTCONDITION_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_PAYMENTCONDITIONS','ico':'icon-barcode','url':path('paymentcondition')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('PAYMENTCONDITION_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_PAYMENTCONDITION_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_PAYMENTCONDITION_TITLE'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


