{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Address.id) %}
{{ _.header({'title':'ADDRESS_NEW_TITLE','subtitle':'ADDRESS_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_ADDRESSS','ico':'icon-barcode','url':path('address'),'parent':{'title':Address.id,'ico':'icon-barcode','url':path('address_show',{'id':Address.id})}}})}}
{% else %}
{{ _.header({'title':'ADDRESS_NEW_TITLE','subtitle':'ADDRESS_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_ADDRESSS','ico':'icon-barcode','url':path('address')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('ADDRESS_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_ADDRESSE_FIELDSET_IDENTIFICATION'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">

                            <li class="input {% if (supplier is not defined)%}hidden{% endif %}" >
   {{ form_row(form.type, {'label': 'ENTITY_ADDRESSE_TYPE'}) }}
                            </li>

                            <li class="input">
   {{ form_row(form.address, {'label': 'ENTITY_ADDRESSE'}) }}
                            </li>
                            <li class="input">
   {{ form_row(form.city, {'label': 'ENTITY_LOCALISATION'}) }}
                            </li>
                            <li class="input hidden">
                                {% if (customer)%}{{ form_row(form.customer)}}{% endif %}
                                {% if (supplier)%}{{ form_row(form.supplier)}}{% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


