<table class="table">
    <thead>
        <tr>
            <th>{{'ENTITY_TYPE'|trans }}</th>
            <th>{{'ENTITY_ADDRESSE'|trans }}</th>
            <th>{{'ENTITY_CITY'|trans }}</th>
            <th>{{'ENTITY_PROVINCE'|trans }}</th>
            <th>{{'ENTITY_COUNTRY'|trans }}</th>
            <th>{{'APPLICATION_ACTIONCOLUMN'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for address in Addresses %}
        <tr>
            <td>{{ address.type }}</td>
            <td>{{ address.address }}</td>
            {% if (address.city) %}
            <td>{{ address.city.title }}</td>
            <td>{{ address.city.province.title }}</td>
            <td>{{ address.city.province.country.title}}</td>
            {% else %}
            <td></td>
            <td></td>
            <td></td>
            {% endif %}

            <td>
              {%if (is_granted('ROLE_SOURCING')) %}
                <ul>
                   {{_.dropdownactions([
                    {'route': path('address_edit', { 'id': address.id }) ,'text':'ACTION_EDIT'}, 
                    {'route': path('address_delete', { 'id': address.id }) ,'text':'ACTION_DELETE','confirm':''}  
                   ])}}  
                </ul>
             {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
