{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Categorie.id) %}
{{ _.header({'title':'CATEGORIE_NEW_TITLE','subtitle':'CATEGORIE_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CATEGORIES','ico':'icon-barcode','url':path('categorie'),'parent':{'title':Categorie.id,'ico':'icon-barcode','url':path('categorie_show',{'id':Categorie.id})}}})}}
{% else %}
{{ _.header({'title':'CATEGORIE_NEW_TITLE','subtitle':'CATEGORIE_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CATEGORIES','ico':'icon-barcode','url':path('categorie')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{ form_start(form) }}
      {{ form_errors(form) }}
      {{_.box('CATEGORIE_NEW_TITLE') }}
      <fieldset>
        <legend>{{'ENTITY_CATEGORIE_FIELDSET_'|trans}}</legend>
        <div class="row">
          <div class="col-lg-12">
            <ul class=" separate-sections">                           
              <li class="input">
                {{ form_row(form.type, {'label': 'ENTITY_CATEGORIE_TYPE'}) }}
              </li>
              <li class="input">
                {{ form_row(form.id, {'label': 'ENTITY_CATEGORIE_ID'}) }}
              </li>
              <li class="input">
                {{ form_row(form.nom, {'label': 'ENTITY_CATEGORIE_NOM'}) }}
              </li>                            
              <li class="input">
                {{ form_row(form.name, {'label': 'ENTITY_CATEGORIE_NAME'}) }}
              </li>                            
              <li class="input">
                {{ form_row(form.margesourcin, {'label': 'ENTITY_CATEGORIE_MARGESOURCIN'}) }}
              </li>  
              <li class="input">
                {{ form_row(form.indexation, {'label': 'ENTITY_CATEGORIE_INDEXATION'}) }}
              </li>                       
            </ul>
          </div>
        </div>
      </fieldset>  
      {{ form_end(form) }}   
      {{_.endbox() }}
    </div>
  </div>
</div>
{% endblock %}


