{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{{ _.header({'title':'CATEGORIE_TITLE','subtitle':'CATEGORIE_SUBTITLE','ico':'icon-home'}) }}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header fixedbox">

                    <span class="title">{{'ENTITY_CATEGORIE'|trans }}</span>

                    <ul class="box-toolbar">
                        <li>
                            <input placeholder="{{'MENU_NOMENCLATURES'|trans|raw }}" type="text" value="" name="request[nomenclatureid]" class="request" style="width:70px">
                        </li>
                        <li class="toolbar-link">
                            <a href="#" class="dropdown" data-toggle="dropdown"><i class="icon-cog"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path('categorie_new')}}"><i class="icon-plus-sign"></i> {{'ACTION_ADD_CATEGORIE'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="box-header fixedbox">
                    <ul class="box-toolbar" style="width:100%">
                        <li>
                            <div id="filters"  data-uriproduct="{{path('categorie_filters',{'filter':'nomenclature'})}}" data-autocomplete="true"
                                 data-alldep="{{ 'ALLDEP'|trans|raw }}" data-allshe="{{ 'ALLSHE'|trans|raw }}"
                                 data-allfam="{{ 'ALLFAM'|trans|raw }}" data-allsub="{{ 'ALLSUB'|trans|raw }}"
                                 data-allpol="{{ 'ALLPOL'|trans|raw }}"

                                 data-depval="{{ session.get('departementFilter') }}"
                                 data-sheval="{{ session.get('shelvesFilter') }}"
                                 data-famval="{{ session.get('famillyFilter') }}"
                                 data-subval="{{ session.get('subfamillyFilter') }}"

                            ></div>
                            <input type="hidden" id="uri_request" value="{{path('categorie_request')}}">
                        </li>
                    </ul>
                </div>
                <div class="box-content padded"> 
                    <div id="filters_result" > </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
