{% import "appBundle::coreadmin_macro.html.twig" as _ %}
<table class="table">
    <thead>
    <tr>
        <th>{{ 'ENTITY_CATEGORIE_ID'|trans }} </th>
        <th>{{ 'ENTITY_CATEGORIE_NAME'|trans }} </th>
        <th>{{ 'ENTITY_CATEGORIE_NOM'|trans }} </th>
        <th>{{ 'ENTITY_CATEGORIE_MARGESOURCIN'|trans }} </th>
        <th>{{ 'ENTITY_CATEGORIE_INDEXATION'|trans }} </th>
        <th>Public</th>
        <th>{{ 'APPLICATION_ACTIONCOLUMN'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for Categorie in Categories %}
        <tr {{ Categorie.public ? 'style="background-color:#EEE "' }}>
            <td><a href="{{ path('categorie_show', { 'id': Categorie.id }) }}">{{ Categorie.id }}</a></td>
            <td>{{ Categorie.name }}</td>
            <td>{{ Categorie.nom }}</td>
            <td>{% if (Categorie.margesourcin!="0") %}{{ Categorie.margesourcin }}{% endif %}</td>
            <td>{% if (Categorie.indexation!="0") %}{{ Categorie.indexation }}{% endif %}</td>
            <td>{{ Categorie.public ? '<b>Yes<b/>':'No' }}</td>
            <td>
                {{ _.dropdownactions([
                {'route': path('categorie_edit', { 'id': Categorie.id }) ,'text':'ACTION_EDIT','ico':'icon-edit'},
                {'route': path('categorie_delete', { 'id': Categorie.id }) ,'text':'ACTION_DELETE','ico':'icon-trash','confirm':'Confirm?'}
                ]) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>