{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{{ _.header({'title': 'ENTITY_CATEGORIE' ,'subtitle':'ENTITY_CATEGORIE','ico':'icon-barcode','parent':{'title':'ENTITY_CATEGORIES','ico':'icon-barcode','url':path('categorie')} })}}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{_.tabs([
            {'key':'Categorie','text':Categorie.id,'ico':'icon-barcode'}
            ],[
            {'route':path('categorie_edit', { 'id': Categorie.id }) ,'ico':'icon-edit','text':'ACTION_EDIT'},
            {'onclick': "$('#modal').modal('show');" ,'ico':'icon-trash','text':'ACTION_DELETE' },
            ],[])}}
            <div class="tab-pane active" id="Categorie">
                <table class="table">
                    <tbody>                        <tr>
                            <td>{{'ENTITY_CATEGORIE_Id'|trans }} </td>
                            <td>{{ Categorie.id }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_CATEGORIE_Type'|trans }} </td>
                            <td>{{ Categorie.type }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_CATEGORIE_Department'|trans }} </td>
                            <td>{{ Categorie.department }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_CATEGORIE_Shelves'|trans }} </td>
                            <td>{{ Categorie.shelves }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_CATEGORIE_Familly'|trans }} </td>
                            <td>{{ Categorie.familly }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_CATEGORIE_Subfamilly'|trans }} </td>
                            <td>{{ Categorie.subfamilly }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_CATEGORIE_Name'|trans }} </td>
                            <td>{{ Categorie.name }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_CATEGORIE_Nom'|trans }} </td>
                            <td>{{ Categorie.nom }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_CATEGORIE_Margesourcin'|trans }} </td>
                            <td>{{ Categorie.margesourcin }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_CATEGORIE_Indexation'|trans }} </td>
                            <td>{{ Categorie.indexation }}</td>
                        </tr>                    </tbody>
                </table>
            </div>
             {{_.endtabs()}}
        </div>
    </div>
</div>
{% endblock %}

{% block modaltitle %}
{{'DELETE_CONFIRMATION'|trans }}
{% endblock %}
{% block modalcontent %}
{{'DELETE_CONFIRMATION_TEXT'|trans }} Categorie.id 
<div class="hidden">{{ form(delete_form) }}</div>
{% endblock %}
{% block modalconfirm %}
<button type="button" class="btn btn-red" OnClick="$('#modal').find('form').submit()">{{'APPLICATION_DELETE'|trans }}</button>
{% endblock %}
