{% extends "appBundle::layout_site.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/plugins/bower-xcharts/xcharts.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" style="margin-bottom: 50px;">
            <fieldset>
                <legend>Period</legend>
                <form action="{{ path('dashbord') }}" method="GET">
                    <div class="col-md-3"><label>Start</label>
                        <input type="text" name="start" class="datepicker" value="{{ start }}"/>
                    </div>
                    <div class="col-md-3"><label>Stop</label>
                        <input type="text" name="stop" class="datepicker" value="{{ stop }}"/>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" class="btn btn-default" value="Generate">
                    </div>
                    <div class="col-md-3">
                        <a href="{{ path('export_adminstats',{'start':start,'stop':stop}) }}" class="btn btn-danger"><i
                                    class="icon-download-alt"></i> DOWNLOAD XLS DATA <br/>FROM {{ start }} to {{ stop }}
                        </a>
                    </div>
                </form>
            </fieldset>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header fixedbox">
                        <span class="title">Balance</span>
                    </div>
                    <div class="box-content padded">
                        {% include 'appBundle:Emails:waitingpayment.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({'format': 'dd-mm-yyyy'})
    </script>


{% endblock %}
