{% extends "appBundle::layout_site.html.twig" %}


{% block body %}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <legend>SOURCING</legend>
            <div class="row">
                <div class="col-md-12">
                    {{_.scrollable('DASHBOARD_BOXTITLE_HISTORY')}}
                            {% for history in histories %}
                    <div class="box-section news with-icons">
                {% if history.user.logo %}
                        <a style="margin-right:10px;float: left;line-height: 36px;margin-top: -15px;margin-left: -8px;text-align: center;" href="#">
                            <span class="small-product-thumb" style="background-image:url({{webpath~history.user.logo.image}})"  alt=""></span>
                        </a>
                {%endif%}
                        <div class="news-time">
                            <span>{{history.date|date("M")}}</span> {{history.date|date("d H:i")}}
                        </div>
                        <div class="news-content">
                            <div class="news-title"><a href="#">
                                                {{history.title}} - {{history.user.username}}
                                </a></div>
                            <div class="news-text">
                                         {%if ( history.cadencier) %} <a href="{{path('cadencier_show',{'id':history.cadencier.id})}}">{%if ( history.cadencier.supplier.offername) %} {{ history.cadencier.supplier.offername }} {% endif%} | SUPPLIER {{ history.cadencier.supplier.id }}</a> {% endif%}
                            </div>
                        </div>
                    </div>  
                            {% endfor %}
                            {{_.endscrollable()}}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <legend>CUSTOMERS</legend>
            <div class="row">
                <div class="col-md-12">
 {{_.scrollable('DASHBOARD_BOXTITLE_HISTORY')}}
                            {% for history in useractivity %}
                    <div class="box-section news with-icons">
                {% if history.customer %}
                        <a style="margin-right:10px;float: left;line-height: 36px;margin-top: -15px;margin-left: -8px;text-align: center;" href="{{path('customer_show',{'id':history.customer.id})}}">
                            {% if history.customer.logo %}
                            <span class="small-product-thumb" style="background-image:url({{webpath~history.customer.logo.image}})"  alt=""></span>
                {%endif%}
                        </a>
                {%endif%}
                        <div class="news-time">
                            <span>{{history.date|date("M")}}</span> {{history.date|date("d H:i")}}
                        </div>
                        <div class="news-content">
                            <div class="news-title"><a href="#">
                                                {% if history.user %}  {{history.user.name}} {%endif%} -  {{history.title}}
                                </a></div>
                            <div class="news-text">
                                           {%if ( history.cadencier) %} <a href="{{path('cadencier_show',{'id':history.cadencier.id})}}">{%if ( history.cadencier.supplier.offername) %} {{ history.cadencier.supplier.offername }} {% endif%} | SUPPLIER {{ history.cadencier.supplier.id }}</a> {% endif%}
                            </div>
                        </div>
                    </div>
                            {% endfor %}
                            {{_.endscrollable()}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
