

<div class="box-content scrollable" style="height: 552px; overflow-y: auto">
         {% for History in Histories|reverse %}
    <div class="box-section news with-icons">
        <a style="margin-right:10px;float: left;line-height: 36px;margin-top: -15px;margin-left: -8px;text-align: center;" href="{{path('customer_show',{'id':History.customer.id})}}">
                            {% if History.customer.logo %}
            <span class="small-product-thumb" style="background-image:url({{webpath~History.customer.logo.image}})"  alt=""></span>
                {%endif%}
        </a>
        <div class="news-time">
            <span>{{History.date|date("M")}}</span> {{History.date|date("d-M-Y  H:i")}}
        </div>
        <div class="news-content">
            <div class="news-title">{{ History.user}} > {{ History.title }} </div>
            <div class="news-text">
                        {%if ( History.cadencier) %} <a href="{{path('cadencier_show',{'id':History.cadencier.id})}}">{%if ( History.cadencier.supplier.offername) %} {{ History.cadencier.supplier.offername }} {% endif%} | SUPPLIER {{ History.cadencier.supplier.id }}</a> {% endif%}
            </div>
        </div>
    </div>
           {% endfor %}            
</div>

