{% extends "appBundle::layout_site.html.twig" %}
{% set profil = profils.get() %}

{% block header %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{_.box('APPLICATION_NEW_IP') }}
            <fieldset>
                <legend>{{'APPLICATION_NEW_IP_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form(form) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  

          {{_.endbox() }}
        </div>
    </div>
</div>

{% endblock %}
