{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block error %}
    {% if error %}
        <div class="alert alert-error" style="margin-top:10px;margin:bottom:-50px;">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Attention :</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        <div></div>
    {% endif %}
{% endblock %}

{% block fos_user_content %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
        <br/>
        <br/>
        <a class="btn btn-blue btn-block" href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>

    {% else %}
        <form action="{{ path("fos_user_security_check") }}" method="post" class="separate-sections">
            <div class="input-group addon-left">
        <span class="input-group-addon" href="#">
            <i class="icon-user"></i>
        </span>
                <input placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username"
                       value="{{ last_username }}" required="required"/>
            </div>
            <div class="input-group addon-left">
        <span class="input-group-addon" href="#">
            <i class="icon-key"></i>
        </span>
                <input placeholder="{{ 'security.login.password'|trans }}" type="password" id="password"
                       name="_password" required="required"/>
            </div>
            <div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>


                <input class="btn btn-blue btn-block" type="submit" id="_submit" name="_submit"
                       value="{{ 'security.login.submit'|trans }}" style="margin-bottom: 10px;"/>
                <a href="{{ path('fos_user_resetting_request') }}" class="pull-right"
                   style="text-decoration:  underline;">Password lost</a>
                <a href="{{ path('fos_user_resetting_request') }}" style="text-decoration:underline;">Sign
                    up</a>
            </div>
        </form>
    {% endif %}
{% endblock fos_user_content %}
