
<div class="box-content scrollable" style="height: 552px; overflow-y: auto">
         {% for Invoice in Invoices %}
    <div class="box-section news with-icons">
        <div class="avatar blue"></div>
        <div class="news-time">
            <span>{{Invoice.date|date("M")}}</span> {{Invoice.date|date("d M Y")}}
        </div>
        <div class="news-content">
            <div class="news-title">{{ Invoice.amount}} </div>
        </div>
    </div>
           {% endfor %}            
</div>

