{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
    {{ _.header({'title':'CATEGORY_NEW_TITLE','subtitle':'CATEGORY_NEW_SUBTITLE','ico':'icon-barcode'})}}
{% endblock -%}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{_.box('CATEGORY_NEW_TITLE') }}
                <fieldset>
                    <legend>{{'ENTITY_CATEGORY_FIELDSET_'|trans}}</legend>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class=" separate-sections">                            
                                <li class="input">
                                    {{ form_row(form.title) }}
                                </li>                      
                                <li class="input">
                                    {{ form_row(form.type) }}
                                </li>                      
                            </ul>
                        </div>
                    </div>
                </fieldset>  
                {{ form_end(form) }}   
                {{_.endbox() }}
            </div>
        </div>
    </div>
{% endblock %}


