{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
    {{ _.header({'title':'SUPPLYCHAINCAT_TITLE','subtitle':'SUPPLYCHAINCAT_SUBTITLE','ico':'icon-home'}) }}
{% endblock -%}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header fixedbox">
                        <span class="title">{{'ENTITY_SUPPLYCHAINCAT'|trans }}</span>
                        <ul class="box-toolbar">
                            <li class="toolbar-link">
                                <a href="#" class="dropdown" data-toggle="dropdown"><i class="icon-cog"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{path('supplychaincat_new')}}"><i class="icon-plus-sign"></i> {{'ACTION_ADD_SUPPLYCHAINCAT'|trans }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="box-content padded"> 
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{'ENTITY_SUPPLYCHAINCAT_TITLE'|trans }} </th>
                                    <th>{{'ENTITY_SUPPLYCHAINCAT_TYPE'|trans }} </th>
                                    <th>{{'APPLICATION_ACTIONCOLUMN'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for Supplychaincat in Supplychaincats %}
                                    <tr>
                                        <td><a href="{{ path('supplychaincat_show', { 'id': Supplychaincat.id }) }}">{{ Supplychaincat.title }}</a> </td>
                                        <td>
                                            {% if Supplychaincat.type==0 %}
                                                Supplychain
                                            {% elseif Supplychaincat.type==1 %}
                                                Logistic
                                            {% elseif Supplychaincat.type==2 %}
                                                Invoices
                                            {% endif %}

                                        </td>
                                        <td>
                                            {{_.dropdownactions([
                                    {'route': path('supplychaincat_edit', { 'id': Supplychaincat.id }) ,'text':'ACTION_EDIT','ico':'icon-edit'},
                                    {'route': path('supplychaincat_delete', { 'id': Supplychaincat.id }) ,'text':'ACTION_DELETE','ico':'icon-trash','confirm':'Confirm?'}
                                    ])}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
