{% extends "::base.html.twig" %}

 {% block container %}
     <div class="col-md-4 col-md-offset-4">
         <div class="padded">
             <div class="login box" style="margin-top: 80px;">
                 <div class="box-header">
                     <span class="title">{{ 'DESINSCRIPTION_TITRE'|trans()|raw }} </span>
                 </div>
                 <div class="box-content padded">
                     <table width="100%" cellpadding="0" cellspacing="0" class="container">
                         <tbody>
                         <tr>
                         </tr>
                         <tr>
                             <td valign="top" align="left" class="content formText">
                                 <div id="content">

                                     {% if unsub %}
                                         <div id="unsubThankYouPage" class="contentBox">
                                             <div class="alert" id="unsubTitle">{{ 'DESINSCRIPTION_OK'|trans()|raw }}
                                             </div>

                                             <h3 style="font-size: 16px;">{{ 'DESINSCRIPTION_MESSAGE'|trans()|raw }} </h3>
                                         </div>
                                     {% endif %}

                                     {% if update %}
                                         <div id="unsubThankYouPage" class="contentBox">
                                             <div class="alert" id="unsubTitle">{{ 'DESINSCRIPTION_UPDATEOK'|trans()|raw }} </div>

                                             <h3 style="font-size: 16px;">{{ 'DESINSCRIPTION_UPDATEOKMESSAGE'|trans()|raw }}</h3>
                                         </div>
                                     {% endif %}

                                     {% if not update and not unsub %}
                                         <form id="unsubscribe-reason-form"
                                               action="{{ path('unsuscribe',{'token':token}) }}" method="GET" style="">
                                             <h2>{{ 'DESINSCRIPTION_ACTIONS'|trans()|raw }}:</h2>
                                             <table style="width: 100%;">
                                                 <tr>
                                                     <td><h3 style="font-size: 16px;"> 1- {{ 'DESINSCRIPTION_MODIFIERFREQUENCE'|trans()|raw }}</h3>
                                                         <select name="f" id="f" class="required"
                                                                 style="width: 100%">
                                                             <option value="1">{{ 'DESINSCRIPTION_TOUSLES'|trans()|raw }} {{ 'DESINSCRIPTION_JOUR'|trans()|raw }}</option>
                                                             <option value="3">{{ 'DESINSCRIPTION_TOUSLES'|trans()|raw }} 3 {{ 'DESINSCRIPTION_JOUR'|trans()|raw }}</option>
                                                             <option value="7">{{ 'DESINSCRIPTION_TOUSLES'|trans()|raw }} 7 {{ 'DESINSCRIPTION_JOUR'|trans()|raw }}</option>
                                                             <option value="14">{{ 'DESINSCRIPTION_TOUSLES'|trans()|raw }} 2 {{ 'DESINSCRIPTION_SEMAINE'|trans()|raw }}</option>
                                                             <option value="28" selected>{{ 'DESINSCRIPTION_TOUSLES'|trans()|raw }} 4 semaines</option>
                                                             <option value="56">{{ 'DESINSCRIPTION_TOUSLES'|trans()|raw }} 8 {{ 'DESINSCRIPTION_SEMAINE'|trans()|raw }}</option>
                                                             <option value="84">{{ 'DESINSCRIPTION_TOUSLES'|trans()|raw }} 12 {{ 'DESINSCRIPTION_SEMAINE'|trans()|raw }}</option>
                                                             <option value="144">{{ 'DESINSCRIPTION_TOUSLES'|trans()|raw }}6 {{ 'DESINSCRIPTION_MOIS'|trans()|raw }}</option>
                                                             <option value="365">{{ 'DESINSCRIPTION_TOUSLES'|trans()|raw }} {{ 'DESINSCRIPTION_ANNEE'|trans()|raw }}</option>
                                                         </select>
                                                         <input class="button btn btn-default pull-right" type="submit"
                                                                value="{{ 'DESINSCRIPTION_MODIFIERFREQ'|trans()|raw }}"
                                                                style="margin-top:50px;"></td>
                                                 </tr>
                                             </table>
                                         </form>
                                         <form id="unsubscribe-reason-form"
                                               action="{{ path('unsuscribe',{'token':token}) }}" method="GET" style="">
                                             <table style="width: 100%;">
                                                 <tr>
                                                     <td>
                                                         <hr/>
                                                         <h3 style="font-size: 16px;">2- {{ 'DESINSCRIPTION_DESINCRIPTION'|trans()|raw }}</h3>
                                                         <select name="unsub-reason" id="unsub-reason" size="5"
                                                                 class="required"
                                                                 style="width: 100%">
                                                             <option value="1">{{ 'DESINSCRIPTION_R1'|trans()|raw }}  </option>
                                                             <option value="2">{{ 'DESINSCRIPTION_R2'|trans()|raw }}  </option>
                                                             <option value="3">{{ 'DESINSCRIPTION_R3'|trans()|raw }} </option>
                                                             <option value="4">{{ 'DESINSCRIPTION_R4'|trans()|raw }} </option>
                                                             <option value="5">{{ 'DESINSCRIPTION_R5'|trans()|raw }} </option>
                                                         </select>
                                                         <input type="hidden" name="unsub" value="1"/>
                                                         <input class="button btn btn-default pull-right" type="submit"
                                                                value="{{ 'DESINSCRIPTION_DESINCRIPTION'|trans()|raw }}" style="margin-top:50px;">
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                 </tr>
                                             </table>
                                         </form>
                                     {% endif %}
                                 </div>
                                 <br clear="all">
                             </td>
                         </tr>
                         </tbody>
                     </table>
                     <div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}