{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Contact.id) %}
{{ _.header({'title':'CONTACT_NEW_TITLE','subtitle':'CONTACT_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CONTACTS','ico':'icon-barcode','url':path('home'),'parent':{'title':Contact.id,'ico':'icon-barcode','url':path('home')}}})}}
{% else %}
{{ _.header({'title':'CONTACT_NEW_TITLE','subtitle':'CONTACT_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CONTACTS','ico':'icon-barcode','url':path('contact')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('CONTACT_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_CONTACT_FIELDSET_CONTACT'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class=" separate-sections">
                            {% if (Contact.user.id is defined and Contact.user.enabled )%}
                            <li class="input">
                                 {{ form_row(form.type, {'label': 'ENTITY_CONTACT_TYPE'}) }}
                            </li> 
                            <li class="input">
                                            {{ form_row(form.exportnbrmax, {'label': 'ENTITY_CUSTOMER_EXPORTNBRMAX'}) }}
                            </li> 
                            {% endif %}

                            <li class="input">
                                 {{ form_row(form.name, {'label': 'ENTITY_CONTACT_NAME'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.job, {'label': 'ENTITY_CONTACT_JOB'}) }}
                            </li>
                            <li class="input">
                                {{ form_row(form.email, {'label': 'ENTITY_CONTACT_EMAIL'}) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{'ENTITY_CONTACT_FIELDSET_DETAIL'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class=" separate-sections">
                            <li class="input">
                                 {{ form_row(form.phone, {'label': 'ENTITY_CONTACT_PHONE'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.mobile, {'label': 'ENTITY_CONTACT_MOBILE'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.fax, {'label': 'ENTITY_CONTACT_FAX'}) }}
                            </li>

                            <li class="input">
                                 {{ form_row(form.qq, {'label': 'ENTITY_CONTACT_QQ'}) }}
                            </li>
                            <li class="input">
                                 {{ form_row(form.skype, {'label': 'ENTITY_CONTACT_SKYPE'}) }}
                            </li>

                        </ul>
                    </div>
                </div>
            </fieldset>
            <div class="hidden">
                {{ form_end(form) }}
            </div>
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


