<table class="table">
    <thead>
    <tr>
        <th>Type</th>
        <th>{{ 'ENTITY_CONTACT_NAME'|trans|raw }}</th>
        <th>{{ 'ENTITY_CONTACT_JOB'|trans|raw }}</th>
        <th>{{ 'ENTITY_CONTACT_PHONE'|trans|raw }}</th>
        <th>{{ 'ENTITY_CONTACT_MOBILE'|trans|raw }}</th>
        <th>{{ 'ENTITY_CONTACT_EMAIL'|trans|raw }}</th>
        <th>{{ 'ENTITY_CONTACT_FAX'|trans|raw }}</th>
        <th>{{ 'ENTITY_CONTACT_QQ'|trans|raw }}</th>
        <th>{{ 'ENTITY_CONTACT_SKYPE'|trans|raw }}</th>
        {% if (customer is defined and is_granted('ROLE_ADMIN')  ) %}
            <th>{{ 'State'|trans|raw }}</th>
            <th>{{ 'Access'|trans|raw }}</th>
        {% endif %}
        <th>{{ 'APPLICATION_ACTIONCOLUMN'|trans|raw }}</th>
    </tr>
    </thead>
    <tbody>
    {% for contact in Contacts %}
        <tr>
            <td>

                {% if (contact.user.id is defined and contact.user.enabled ) %}
                    {% if (contact.type==0) %}
                        <i class="icon-user"></i> Admin {% if (commercialtools is defined and commercialtools) %} reseller {% endif %}
                    {% elseif (contact.type==1) %}
                        <i class="icon-suitcase"></i> Saler  (Saler mode with PO)
                    {% elseif (contact.type==2) %}
                        <i class="icon-shopping-cart"></i> Customer  (Saler mode)
                    {% elseif (contact.type==3) %}
                        <i class="icon-shopping-cart"></i> Presentation (Presentation mode)
                    {% elseif (contact.type==4) %}
                        <i class="icon-suitcase"></i> AgentCo INASIA
                    {% endif %}
                {% else %}
                    Contact
                {% endif %}
            </td>
            <td>{{ contact.name }}</td>
            <td>{{ contact.job }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.mobile }}</td>
            <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
            <td>{{ contact.fax }}</td>
            <td>{{ contact.qq }}</td>
            <td>{{ contact.skype }}</td>
            {% if (customer is defined and (is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL'))  ) %}
                <td>
                    {% if (contact.user.id is defined) %}
                        {% if (contact.user.enabled) %}
                            {% if (contact.user.expireDate) %}
                                <span style="margin-right: 10px"
                                      class="label label-{{ contact.user.expireDate < today? 'red' :  'green' }}">DEMO ACCESS {{ contact.user.expireDate<today ? 'expired NO ACCESS' : 'OK' }}</span>
                                <br/>
                                Expire date : {{ contact.user.expireDate|date('d-m-Y') }}<br/>
                                {% if  ( contact.user.expireDate > today ) %}
                                    <a href="{{ path('User_regenerate_password',{'id':contact.id}) }}"
                                       class="btn btn-xs btn-default ConfirmAction">{{ 'ENTITY_CONTACT_GENERATEPASSWORD'|trans|raw }}</a>
                                    <a href="{{ path('block_contact_acess',{'id':contact.id}) }}"
                                       class="btn btn-xs btn-default ConfirmAction">{{ 'ENTITY_CONTACT_BLOCK'|trans|raw }}</a>
                                {% else %}
                                    <a href="{{ path('give_contact_acess',{'id':contact.id,'demo':1}) }}"
                                       class="btn btn-xs btn-default ConfirmAction">{{ 'DEMOACCESS'|trans|raw }}</a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('give_contact_acess',{'id':contact.id,'demo':0}) }}"
                                       class="btn btn-xs btn-default ConfirmAction">{{ 'ENTITY_CONTACT_GIVEACCESS'|trans|raw }}</a>
                                {% endif %}
                            {% else %}
                                <span style="margin-right: 10px" class="label label-blue">ACCESS TO MAKET</span><br/>
                                <a href="{{ path('User_regenerate_password',{'id':contact.id}) }}"
                                   class="btn btn-xs btn-default ConfirmAction">{{ 'ENTITY_CONTACT_GENERATEPASSWORD'|trans|raw }}</a>
                                <a href="{{ path('block_contact_acess',{'id':contact.id}) }}"
                                   class="btn btn-xs btn-default ConfirmAction">{{ 'ENTITY_CONTACT_BLOCK'|trans|raw }}</a>
                            {% endif %}
                            <br/>

                        {% else %}
                            <span style="margin-right: 10px" class="label label-black">NO ACCESS</span>   <br/>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('give_contact_acess',{'id':contact.id,'demo':0}) }}"
                                   class="btn btn-xs btn-default ConfirmAction">{{ 'ENTITY_CONTACT_GIVEACCESS'|trans|raw }}</a>
                            {% endif %}
                            <a href="{{ path('give_contact_acess',{'id':contact.id,'demo':1}) }}"
                               class="btn btn-xs btn-default ConfirmAction">{{ 'DEMOACCESS'|trans|raw }}</a>
                        {% endif %}
                    {% else %}
                        <span style="margin-right: 10px" class="label label-black">NO ACCESS</span>
                        <br/>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('give_contact_acess',{'id':contact.id,'demo':0}) }}"
                               class="btn btn-xs btn-default ConfirmAction">{{ 'ENTITY_CONTACT_GIVEACCESS'|trans|raw }}</a>
                        {% endif %}
                        <a href="{{ path('give_contact_acess',{'id':contact.id,'demo':1}) }}"
                           class="btn btn-xs btn-default ConfirmAction">{{ 'DEMOACCESS'|trans|raw }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if (contact.user.id is defined) %}
                        Last access : {{ contact.user.lastlogin|date("d/m/Y") }}<br/>
                        login: {{ contact.user.usernamecanonical }}<br/>
                    {% endif %}
                </td>
            {% endif %}
            <td>
                {% if (is_granted('ROLE_SOURCING') or is_granted('ROLE_COMMERCIAL') ) %}
                    <ul>
                        {{ _.dropdownactions([
                        {'route': path('contact_edit', { 'id': contact.id }) ,'text':'ACTION_EDIT'},
                        {'route': path('contact_delete', { 'id': contact.id }) ,'text':'ACTION_DELETE','confirm':'Confirm ?'}
                        ]) }}
                        {% if (customer is defined) %}
                        {% endif %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


