{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Country.id) %}
{{ _.header({'title':'COUNTRY_NEW_TITLE','subtitle':'COUNTRY_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_COUNTRYS','ico':'icon-barcode','url':path('country'),'parent':{'title':Country.id,'ico':'icon-barcode','url':path('country_show',{'id':Country.id})}}})}}
{% else %}
{{ _.header({'title':'COUNTRY_NEW_TITLE','subtitle':'COUNTRY_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_COUNTRYS','ico':'icon-barcode','url':path('country')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('COUNTRY_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_COUNTRY_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_COUNTRY_TITLE'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


