{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Chat.id) %}
{{ _.header({'title':'Message','subtitle':'Message','ico':'icon-barcode','parent':{'title':'ENTITY_CHATS','ico':'icon-barcode','url':path('chat'),'parent':{'title':Chat.id,'ico':'icon-barcode','url':path('chat_show',{'id':Chat.id})}}})}}
{% else %}
{{ _.header({'title':'Message','subtitle':'Message','ico':'icon-barcode','parent':{'title':'ENTITY_CHATS','ico':'icon-barcode','url':path('chat')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('Message') }}
            <fieldset>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                                
                            <li class="input">
                              {{ form_row(form.type, {'label': 'To'}) }}
                              {{ form_row(form.title, {'label': 'Title'}) }}
                              {{ form_row(form.message, {'label': 'Message'}) }}
                            </li>               
                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


