{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{{ _.header({'title':'CHAT_TITLE','subtitle':'CHAT_SUBTITLE','ico':'icon-home'}) }}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header fixedbox">
                    <span class="title">{{'ENTITY_CHAT'|trans }}</span>
                    <ul class="box-toolbar">
                        <li class="toolbar-link">
                            <a href="#" class="dropdown" data-toggle="dropdown"><i class="icon-cog"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path('chat_new')}}"><i class="icon-plus-sign"></i> {{'ACTION_ADD_CHAT'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="box-content padded"> 
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{'ENTITY_CHAT_ID'|trans }} </th>
                                <th>{{'ENTITY_CHAT_DATE'|trans }} </th>
                                <th>{{'ENTITY_CHAT_MESSAGE'|trans }} </th>
                                <th>{{'APPLICATION_ACTIONCOLUMN'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
        {% for Chat in Chats %}
                            <tr>
                                <td><a href="{{ path('chat_show', { 'id': Chat.id }) }}">{{ Chat.id }}</a></td>
                                <td>{% if Chat.date %}{{ Chat.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ Chat.message }}</td>
                                <td>
                   {{_.dropdownactions([
                                    {'route': path('chat_show', { 'id': Chat.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'},
                                    {'route': path('chat_edit', { 'id': Chat.id }) ,'text':'ACTION_EDIT','ico':'icon-edit'}
                                    ])}}
                                </td>
                            </tr>
        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
