<div class="row">
    <div class="col-md-12">
        <div class="box closable-chat-box">
            <div class="box-content padded">
             
            </div>
        </div>
        <ul class="chat-box timeline">
            {% for Chat in Chats |reverse %}
            <li class="arrow-box-left gray">
                <div class="avatar"><img class="avatar-small" src="http://192.1.1.150/sourcinasia/app/web/bundles/app/images/logoh.png"></div>
                <div class="info">
                    <span class="name">
                        <span class="label label-green">Message</span> <strong class="indent">{{Chat.user.username}}</strong>
                    </span>
                    <span class="time"><i class="icon-time"></i>  {{Chat.date|date('d-m-Y H:i:s')}}</span>
                </div>
                <div class="content">
                    <blockquote>
                       {{Chat.message}}
                    </blockquote>
                </div>
            </li>
             {% endfor %}
        </ul>
    </div>
</div>