{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{{ _.header({'title': 'CONFIRMATION' ,'subtitle':'CONFIRMATION','ico':'icon-barcode','parent':{'title':'CONFIRMATIONS','ico':'icon-barcode','url':path('chat')} })}}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{_.tabs([])}}
            <div class="tab-pane active" id="Chat">
                CONFIRMATION CONFIRMATION
            </div>
             {{_.endtabs()}}
        </div>
    </div>
</div>
{% endblock %}