{% block extends %}
{{ "{% extends 'appBundle::layout_site.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block header -%}" }}
{{ "{%" }} if ({{ entity }}.id) {{ "%}" }}
{{ "{{" }} _.header({'title':'{{ entity|upper }}_NEW_TITLE','subtitle':'{{ entity|upper }}_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_{{ entity|upper }}S','ico':'icon-barcode','url':path('{{ route_name_prefix  }}'),'parent':{'title':{{ entity }}.id,'ico':'icon-barcode','url':path('{{ route_name_prefix  }}_show',{'id':{{ entity }}.id})}}}){{ "}}" }}
{{ "{%" }} else {{ "%}" }}
{{ "{{" }} _.header({'title':'{{ entity|upper }}_NEW_TITLE','subtitle':'{{ entity|upper }}_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_{{ entity|upper }}S','ico':'icon-barcode','url':path('{{ route_name_prefix  }}')}}){{ "}}" }}
{{ "{%" }} endif {{ "%}" }}
{{ "{% endblock -%}" }}

{{ "{% block body -%}" }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ "{{" }} form_start(form) {{ "}}" }}
          {{ "{{" }} form_errors(form) {{ "}}" }}
          {{ "{{" }}_.box('{{ entity|upper }}_NEW_TITLE') {{ "}}" }}
            <fieldset>
                <legend>{{ "{{" }}'ENTITY_{{ entity|upper }}_FIELDSET_'|trans{{ "}}" }}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">
                    {%- for field, metadata in fields %}
                            {%- if field not in ['id'] %}
                            <li class="input">
                              {{ "{{" }} form_row(form.{{field|replace({'_': ''})}}, {'label': 'ENTITY_{{ entity|upper }}_{{field|replace({'_': ''})|upper}}'}) {{ "}}" }}
                            </li>
                      {%- endif %}
                    {%- endfor %}
                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ "{{" }} form_end(form) {{ "}}" }}   
          {{ "{{" }}_.endbox() {{ "}}" }}
        </div>
    </div>
</div>
 {{ "{% endblock %}" }}
{% endblock body %}


