{% block extends %}
{{ "{% extends 'appBundle::layout_site.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block header -%}" }}
{{ "{{" }} _.header({'title':'{{ entity|upper }}_TITLE','subtitle':'{{ entity|upper }}_SUBTITLE','ico':'icon-home'}) {{ "}}" }}
{{ "{% endblock -%}" }}

{{ "{% block body -%}" }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header fixedbox">
                    <span class="title">{{ "{{" }}'ENTITY_{{ entity|upper }}'|trans {{ "}}" }}</span>
                    <ul class="box-toolbar">
                        <li class="toolbar-link">
                            <a href="#" class="dropdown" data-toggle="dropdown"><i class="icon-cog"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ "{{" }}path('{{ route_name_prefix  }}_new'){{ "}}" }}"><i class="icon-plus-sign"></i> {{ "{{" }}'ACTION_ADD_{{ entity|upper }}'|trans {{ "}}" }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="box-content padded"> 
                    <table class="table">
                        <thead>
                            <tr>
                                {%- for field, metadata in fields %}

                                <th>{{ "{{" }}'ENTITY_{{ entity|upper }}_{{ field|upper }}'|trans {{ "}}" }} </th>

                                  {%- endfor %}

                                <th>{{ "{{" }}'APPLICATION_ACTIONCOLUMN'|trans {{ "}}" }}</th>
                            </tr>
                        </thead>
                        <tbody>
        {{ '{% for '~entity ~' in '~ entity ~'s %}' }}
                            <tr>

        {%- for field, metadata in fields %}
            {%- if loop.first and ('show' in actions) %}

                                <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': "~entity~".id }) }}" }}">{{ '{{ '~entity~'.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

            {%- elseif metadata.type in ['date', 'datetime'] %}

                                <td>{{ '{% if '~entity~'.' ~ field|replace({'_': ''}) ~ ' %}{{ '~entity~'.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

            {%- else %}

                                <td>{{ '{{ '~entity~'.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

                                <td>
                   {{ "{{" }}_.dropdownactions([
                                    {'route': path('{{route_name_prefix}}_show', { 'id': {{ entity}}.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'},
                                    {'route': path('{{route_name_prefix}}_edit', { 'id': {{ entity}}.id }) ,'text':'ACTION_EDIT','ico':'icon-edit'}
                                    {'route': path('{{route_name_prefix}}_delete', { 'id': {{ entity}}.id }) ,'text':'ACTION_DELETE','ico':'icon-trash','confirm':'Confirm?'}
                                    ]){{ "}}" }}
                                </td>

            {%- endif %}
        {%- endfor %}

                            </tr>
        {{ '{% endfor %}' }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{ "{% endblock %}" }}
{% endblock body %}
