{% block extends %}
{{ "{% extends 'appBundle::layout_site.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block header -%}" }}
{{ "{{" }} _.header({'title': 'ENTITY_{{ entity|upper }}' ,'subtitle':'ENTITY_{{ entity|upper }}','ico':'icon-barcode','parent':{'title':'ENTITY_{{ entity|upper }}S','ico':'icon-barcode','url':path('{{ route_name_prefix }}')} }){{ "}}" }}
{{ "{% endblock -%}" }}

{{ "{% block body -%}" }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ "{{" }}_.tabs([
            {'key':'{{ entity }}','text':{{ entity }}.id,'ico':'icon-barcode'}
            ],[
            {'route':path('{{route_name_prefix  }}_edit', { 'id': {{ entity }}.id }) ,'ico':'icon-edit','text':'ACTION_EDIT'},
            {'onclick': "$('#modal').modal('show');" ,'ico':'icon-trash','text':'ACTION_DELETE' },
            ],[]){{ "}}" }}
            <div class="tab-pane active" id="{{ entity }}">
                <table class="table">
                    <tbody>
                         {%- for field, metadata in fields %}
                        <tr>
                            <td>{{ "{{" }}'ENTITY_{{ entity|upper }}_{{ field|capitalize }}'|trans {{ "}}" }} </td>
                            <td>{{ '{{ '~ entity ~'.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>
                        </tr>
                         {%- endfor %}
                    </tbody>
                </table>
            </div>
             {{ "{{" }}_.endtabs(){{ "}}" }}
        </div>
    </div>
</div>
{{ "{% endblock %}" }}

{{ "{% block modaltitle %}" }}
{{ "{{" }}'DELETE_CONFIRMATION'|trans {{ "}}" }}
{{ "{% endblock %}" }}
{{ "{% block modalcontent %}" }}
{{ "{{" }}'DELETE_CONFIRMATION_TEXT'|trans {{ "}}" }} {{ entity}}.id 
<div class="hidden">{{ '{{ form(delete_form) }}' }}</div>
{{ "{% endblock %}" }}
{{ "{% block modalconfirm %}" }}
<button type="button" class="btn btn-red" OnClick="$('#modal').find('form').submit()">{{ "{{" }}'APPLICATION_DELETE'|trans {{ "}}" }}</button>
{{ "{% endblock %}" }}
{% endblock body %}