{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
    {{ _.header({'title':'SUPPLYCHIAN_MULTI_TITLE','subtitle':'SUPPLYCHIAN_MULTI_SUBTITLE','ico':'icon-dashboard','parent':{'title':'ENTITY_COMMANDS','ico':'icon-dashboard','url':path('command')} }) }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/plugins/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css') }}">
{% endblock %}


{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{_.box('SUPPLYCHIAN_MULTI_TITLE'|trans )}}
                <h1>Drag your documents</h1>
                <br/>
                {{ form(form) }}
                <br/>
                <div id="uploader">
                    <p>{{'SUPPLYCHIAN_MULTI_PLUUPLOAD'|trans }}</p>
                </div>
                {{_.endbox()}}
            </div>
        </div>
    </div>

    <script src="{{ asset('bundles/app/plugins/plupload/js/plupload.full.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/plugins/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js') }}"
            type="text/javascript"></script>
    <script type="text/javascript">
        // Convert divs to queue widgets when the DOM is ready
        $(function() {
            $("#uploader").pluploadQueue({
                // General settings
                runtimes: 'flash,html5,silverlight,gears,browserplus',
                url: '{{path('multiupload_add_document')}}',
                max_file_size: '15mb',
                chunk_size: '1mb',
                unique_names: true,
                multipart_params: {cadencier: '{{cadencier.id}}', supplychaintype: $("SELECT#form_supplychaintype").val()},
                filters: [
                    {title: "Image files", extensions: "jpg,jpeg,pdf,xls,xlsx,doc,docx"}
                ],
                flash_swf_url: '{{ asset('bundles/app/plugins/plupload/js/Moxie.swf') }}',
                silverlight_xap_url: '/plupload/js/plupload.silverlight.xap',
                init: {
                    FilesAdded: function(up, files) {
                        up.start();
                    }
                }
            });


            var uploader = $('#uploader').pluploadQueue();

            uploader.bind('StateChanged', function() {
                if (uploader.files.length > 0) {
                    if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                       window.location = '{{path('command_show', { 'id': cadencier.id})|raw}}#Supplychains';
                    }
                }
            });

            uploader.bind('BeforeUpload', function(up, file) {
                up.settings.multipart_params = {cadencier: '{{cadencier.id}}', supplychaintype: $("SELECT#form_supplychaintype").val()};
            });

        });
    </script>


{% endblock %}