{% extends 'appBundle::layout_site.html.twig' %}

{% block header %}
    {% if (not Offer.id) %}
        {{ _.header({'title':'OFFER_NEW_TITLE','subtitle':'OFFER_NEW_SUBTITLE','ico':'icon-shopping-cart'}) }}
    {% else %}
        {{ _.header({'title':'EDIT OFFER :'~Offer.id,'subtitle':'OFFER_NEW_SUBTITLE','ico':'icon-shopping-cart'}) }}
    {% endif %}
{% endblock %}

{% block body -%}

    {% if (not Offer.id) %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="progress progress-striped active" style="height:20px;margin-bottom: 0px;">
                        <div class="progress-bar progress-blue" id="progress-bar" data-free="" style="height:20px;width:100%;"> ADD NEW OFFER - STEP 3/3 :  DEFINE SUPPLIER OFFER <span class="sr-only"></span></div>
                    </div>
                </div> 
            </div> 
        </div>
        <br/>
    {% endif %}


    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{_.box("OFFER")}}
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend>{{'ENTITY_SUPPLIER'|trans|raw}}</legend>
                            <ul class=" separate-sections">
                                <li class="row">
                                    {% if (form.supplier is  defined) %}
                                        <div class="col-md-6">
                                            <ul class=" separate-sections">
                                                <li class="input">
                                                    {{ form_row(form.supplier, {'label': 'ENTITY_SUPPLIER'}) }}
                                                </li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <div class="col-md-6">
                                        <ul class=" separate-sections">
                                            <li class="input">
                                                {{ form_row(form.itemnumber, {'label': 'ENTITY_PRODUCT_SUPPLIERITEMNUMBER'}) }}
                                            </li> 

                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend>{{'ENTITY_SUPPLIER'|trans|raw}}</legend>
                            <ul class=" separate-sections">
                                <li class="row">
                                    {{ form_row(form.unpublished, {'label': 'Hide product for all customers'}) }}
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend>{{'ENTITY_OFFER_FIELDSET_PRICE'|trans|raw}}</legend>
                            <ul class=" separate-sections">
                                <li class="row">
                                    <div class="col-md-6">
                                        <ul class=" separate-sections">
                                            <li class="input">
                                                {{ form_row(form.fob, {'label': 'ENTITY_OFFER_FOBPRICE'}) }}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class=" separate-sections">
                                            <li class="input">
                                                {{ form_row(form.pol, {'label': 'POL'}) }}
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="input">
                                </li>
                                <li class="row">
                                    <div class="col-md-6">
                                        <ul class=" separate-sections">
                                            <li class="input">
                                                {{ form_row(form.exw, {'label': 'ENTITY_OFFER_EXWPRICE'}) }} 
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class=" separate-sections">
                                            <li class="input">
                                                {{ form_row(form.currency, {'label': 'ENTITY_OFFER_CURRENCY'}) }} 
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </fieldset>
                    </div>

                    <div class="col-md-6">
                        <fieldset>
                            <legend>{{'ENTITY_OFFER_FIELDSET_MOQ'|trans|raw}}</legend>
                            <ul class=" separate-sections">
                                <li class="row">
                                    <div class="col-md-6">
                                        <ul class=" separate-sections">
                                            <li class="input">
                                                {{ form_row(form.moq, {'label': 'ENTITY_OFFER_MOQ'}) }}
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-md-6"> 
                                        <ul class=" separate-sections">
                                            <li class="input">
                                                {{ form_row(form.moqunit, {'label': 'ENTITY_OFFER_MOQUNIT'}) }}
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6">
                                        <ul class=" separate-sections">
                                            <li class="input">
                                                {{ form_row(form.moqpacking, {'label': 'ENTITY_OFFER_MOQPACKING'}) }}
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-md-6"> 
                                        <ul class=" separate-sections">
                                            <li class="input">
                                                {{ form_row(form.moqpackingunit, {'label': 'ENTITY_OFFER_MOQPACKINGUNIT'}) }}
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>{{'ENTITY_OFFER_FIELDSET_COMMERCIAL'|trans|raw}}</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class=" separate-sections">
                                        <li class="input">
                                            {{ form_row(form.deal, {'label': 'ENTITY_OFFER_ISITDEAL'}) }}
                                        </li>
                                    </ul>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <ul class=" separate-sections">
                                        <li class="input">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div style="display:none;">
                    <ul class=" separate-sections">

                        <li class="input" style="display:none;"><input type="hidden" value="{{ return }}" name="return"></li>
                        <li class="input" style="display:none;"><input type="hidden" value="{{ n }}" name="n"></li>
                    </ul>
                </div>
                {{ form_end(form) }}
                {{_.endbox()}}
            </div>
            <div class="col-md-4">
                {{_.box('APPLICATION_SAVE')}}
                <ul class="separate-sections">
                    <li class="input" id="btn-form"></li>
                </ul>
                {{_.endbox()}}
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function() {

            /* $('#makemoqpack').click(function() {
             moq = $('#sourcinasia_appbundle_offer_moq').val();
             pcb = $('#pcbcel').data('value');
             if (moq && pcb)
             $('#sourcinasia_appbundle_offer_moqpacking').val(moq / pcb)
             });*/
            /* $('#makemoq').click(function() {
             moqpacking = $('#sourcinasia_appbundle_offer_moqpacking').val();
             pcb = $('#pcbcel').data('value');
             if (moqpacking && pcb)
             $('#sourcinasia_appbundle_offer_moq').val(moqpacking * pcb)
             });*/

            $('form.fill-up').on("submit", function() {
                if (!$('#offer_fob').val() && !$('#offer_exw').val()) {
                    alert('Please enter price');
                    return false;
                }
                return true;
            });


        });



    </script>
{% endblock %}


