{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
    {% include 'appBundle::cadencierbar.html.twig' with {'back':'false'} %}
{% endblock %}

{% block plugins %}
    <script src="{{ asset('bundles/app/js/catalog.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/plugins/jscroll/jquery.jscroll.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div class="container padded">
        <div class="row">
            <div class="col-md-8" id="products">
                <div class="box">
                    <div class="box-header ">
                        <span id="updateCatalog"></span>
                        <ul class="box-toolbar">
                            <li><span class="label label-blue" id="nbrproduct"></span></li>
                            <li><input placeholder="{{ 'ENTITY_PRODUCT'|trans|raw }}" type="text"
                                       value="{{ app.session.get('productFilter') }}"
                                       name="request[productid]" class="request" style="width:80px"></li>
                            <li style="display:none;"><input placeholder="{{'ENTITY_CATEGORIE'|trans|raw }}" type="text"
                                       value="{{ app.session.get('categoryFilter') }}"
                                       name="request[category]" class="request" style="width:100px"></li>

                            <li><input placeholder="{{ 'ENTITY_SUPPLIER'|trans|raw }}" type="text"
                                       value="{{ app.session.get('supplierFilter') }}"
                                       name="request[supplierid]" class="request locked" style="width:80px"></li>
                            <li><span class="btn btn-default razbtn"><i
                                            class="icon-trash"></i> {{ 'CATALOG_BTN_RAZ'|trans|raw }}</span></li>

                            <li><span class="btn btn-default" id="advancedsearchbtn">{{ 'CATALOG_BTN_MORE'|trans|raw }}
                                    <i class="icon-caret-down"></i></span></li>


                            <li><span class="btn btn-blue selectionbtn">{{ 'CATALOG_BTN_SEESELECTION'|trans|raw }} <i
                                            class="icon-angle-right"></i></span></li>
                            {% if is_granted('ROLE_SOURCING') %}

                            <li><span id="selectionmasquerade" data-products="none"
                                      data-action="{{ path('product_hideselection', { 'prodids': 'none'})}}"
                                    class="btn btn-default hideselection-btn">
                                <i class="icon-eye-close actionclic"></i></span>
                            </li>
                            {% endif %}




                            <input type="hidden" id="uri_request" value="{{ path('offers_request') }}">
                            <input type="hidden" id="product_request" value="{{ path('product_request') }}">
                            <input type="hidden" id="offers_count" value="{{ path('offers_count') }}">
                        </ul>
                    </div>
                    <div class="box-header ">
                        <ul class="box-toolbar" style="width: 100%;">
                            <li>
                                <div id="filters" data-pol="{{ app.session.get('pol') }}"
                                     data-nselected="{{ nomenclature }}"
                                     data-uriproduct="{{ path('offer_filters',{'filter':'nomenclature'}) }}"
                                     data-uripol="{{ path('offer_filters',{'filter':'pol'}) }}" data-autocomplete="true"
                                     data-alldep="{{ 'ALLDEP'|trans|raw }}" data-allshe="{{ 'ALLSHE'|trans|raw }}"
                                     data-allfam="{{ 'ALLFAM'|trans|raw }}" data-allsub="{{ 'ALLSUB'|trans|raw }}"
                                     data-allpol="{{ 'ALLPOL'|trans|raw }}"

                                     data-depval="{{ session.get('departementFilter') }}"
                                     data-sheval="{{ session.get('shelvesFilter') }}"
                                     data-famval="{{ session.get('famillyFilter') }}"
                                     data-subval="{{ session.get('subfamillyFilter') }}"
                                >

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="box-content">
                        <div id="advancedsearch" class="row-fluid"
                             style="border-bottom: 1px solid #cdcdcd;background-color: rgba(243,243,243,0.96);display:none;">
                            <div class="row padded">
                                <div class="col-md-3">
                                    <label>{{ 'CATALOG'|trans|raw }}</label><br/>
                                    <select id="hideRef" name="request[hideRef]" class="request chzn-select">
                                        {% if app.user %}

                                                {% if profil.cutomer_id %}
                                                    <option value="0" {{ not app.session.get('hideRef') ?'selected' }}>All
                                                        products
                                                    </option>
                                                {% endif %}

                                                {% for catalog in catalogs %}
                                                    {% if catalog.rights in app.user.roles or catalog.rights is empty %}
                                                        {% if (catalog.catalogType == constant('sourcinasia\\appBundle\\Entity\\Repository\\OfferRepository::CATALOG_TYPE_HIDDEN') or catalog.catalogType == constant('sourcinasia\\appBundle\\Entity\\Repository\\OfferRepository::CATALOG_TYPE_ALL')) %}
                                                            {% if not profil.cutomer_id %}
                                                                <option value="{{ catalog.id }}" {{ app.session.get('hideRef') == catalog.id ?'selected' }}>
                                                                    {% if (app.request.locale == 'fr') %}
                                                                        {{ catalog.titleFr }}
                                                                    {% else %}
                                                                        {{ catalog.titleEn }}
                                                                    {% endif %}
                                                                </option>
                                                            {% endif %}
                                                        {% else %}
                                                            <option value="{{ catalog.id }}" {{ app.session.get('hideRef') == catalog.id ?'selected' }}>
                                                                {% if (app.request.locale == 'fr') %}
                                                                    {{ catalog.titleFr }}
                                                                {% else %}
                                                                    {{ catalog.titleEn }}
                                                                {% endif %}
                                                            </option>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                        {% endif %}
                                    </select>
                                    <br/><br/><label>{{ 'Order by'|trans|raw }}</label><br/>
                                <select name="request[order]" id="orderby" class="request chzn-select">
                                        <option value="0" {{ not app.session.get('order')? '0' }}>{{ 'APPLICATION_ORDERBY_DATE'|trans|raw }}</option>
                                        <option value="pricefob" {{ app.session.get('order')=="pricefob" ? 'selected' }}>{{ 'APPLICATION_ORDERBY_FOBPRICE'|trans|raw }}</option>
                                        <option value="priceexw" {{ app.session.get('order')=="priceexw" ? 'selected' }}>{{ 'APPLICATION_ORDERBY_EXWPRICE'|trans|raw }}</option>
                                        <option value="notoriety" {{ app.session.get('order')=="notoriety" ? 'selected' }}>{{ 'APPLICATION_ORDERBY_NOTORIETY'|trans|raw }}</option>
                                        <option value="moq" {{ app.session.get('order')=="moq" ? 'selected' }}>{{ 'APPLICATION_ORDERBY_MOQ'|trans|raw }}</option>
                                    </select>
                                </div>


                                <div class="col-md-3">
                                    <label>{{ 'APPLICATION_FILTER_PRICE'|trans|raw }}</label><br/>
                                    <input placeholder="minprice" type="text" value="{{ app.session.get('minprice') }}"
                                           name="request[minprice]"
                                           id="minprice" class="request ">
                                    <input placeholder="maxprice" type="text" value="{{ app.session.get('maxprice') }}"
                                           name="request[maxprice]"
                                           id="maxprice" class="request ">

                                    {# Filtre supplier categorie #}
                                    {% if suppliersCategories is not empty %}
                                        <div class="col-xs-12" style="padding: 0; margin-top: 10px;">
                                            <label>{{ 'ENTITY_SUPPLIER_CATEGORY_TITLE'|trans }}</label><br/>
                                            <select name="request[supplierCategoryFilter]" class="request chzn-select">
                                                <option value="" class="search"{{ not app.session.get('supplierCategoryFilter') ? 'selected' }}>{{ 'ENTITY_SUPPLIER_CATEGORY_ALL'|trans|raw }}</option>
                                                {% for supplierCategory in suppliersCategories %}
                                                    <option value="{{ supplierCategory.id }}" class="search" {{ app.session.get('supplierCategoryFilter') == supplierCategory.id ? 'selected' }}>{{ supplierCategory.title }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}

                                    {# Filtre containers #}
                                    <div class="col-xs-12" style="padding: 0; margin-top: 10px;">
                                        <label>Shipment category</label><br/>
                                        <select name="request[containerSize]" class="request chzn-select">
                                            <option value="" class="search"{{ not app.session.get('containerSize') ? 'selected' }}>All shipments</option>
                                            <option value="fcl" class="search" {{ app.session.get('containerSize') == "fcl" ? 'selected' }}>FCL</option>
                                            <option value="lcl" class="search" {{ app.session.get('containerSize') == "lcl" ? 'selected' }}>LCL</option>
                                        </select>
                                    </div>

                                    <div id="pricesliderzz"></div>
                                </div>
                                <div class="col-md-3">
                                    <label>{{ 'APPLICATION_FILTER_MOQ'|trans|raw }}</label><br/>
                                    <input placeholder="minmoq" type="text" value="{{ app.session.get('minmoq') }}"
                                           name="request[minmoq]" id="minmoq"
                                           class="request ">
                                    <input placeholder="maxmoq" type="text" value="{{ app.session.get('maxmoq') }}"
                                           name="request[maxmoq]" id="maxmoq"
                                           class="request ">

                                    <div id="moqsliderzz"></div>
                                </div>
                                <div class="col-md-3">
                                    <label>{{ 'ENTITY_PRODUCT_CE'|trans|raw }}</label>
                                    <select name="request[ce]" id="" class="request chzn-select">
                                        <option value="" class="search"
                                                {{ not app.session.get('ce') ? 'selected' }}>{{ 'APPLICATION_ALL'|trans|raw }}</option>
                                        <option value="YES"
                                                class="search" {{ app.session.get('ce')=="YES" ? 'selected' }}>{{ 'APPLICATION_YES'|trans|raw }}</option>
                                        <option value="NO"
                                                class="search" {{ app.session.get('ce')=="NO" ? 'selected' }}>{{ 'APPLICATION_NO'|trans|raw }}</option>
                                        <option value="N/A"
                                                class="search" {{ app.session.get('ce')=="N/A" ? 'selected' }}>{{ 'APPLICATION_NA'|trans|raw }}</option>
                                    </select>
                                    <br/>
                                    <label><input type="checkbox" name="request[gooddeal]"
                                                  value="1"
                                                  class="request">{{ 'DASHBOARD_BOXTITLE_DEALS'|trans|raw }}</label>

                                </div>

                                <div class="col-md-3">
                                    {% if ( app.user.expiredate is null) %}
                                        <input type="hidden" value="" id="soucinasiaItemNumber"
                                               name="request[soucinasiaItemNumber]" class="request" style="width:80px">
                                        <input type="hidden" value="{{ offerIdPushOnTop }}" id="offerIdPushOnTop"
                                               name="request[offerIdPushOnTop]" class="request" style="width:80px">

                                        <span class="btn btn-default col-md-12"
                                              id="selectionTool">{{ 'SELECTION_RAPIDE'|trans|raw }}</span><br/>
                                        <span class="btn btn-default col-md-12"
                                              id="checkall">{{ 'BTN_CONFIRM_ALL'|trans|raw }} <i
                                                    class="icon-check"></i></span>
                                        {% if is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_ADMINSUPPLYCHAIN') %}
                                            {#<a class="btn btn-default col-md-4"
                                               href="{{ path('export_catalogpdf',{'_locale':'en'}) }}"><i
                                                        class="icon-download-alt"></i> {{ 'PDF'|trans|raw }}</a> #}
                                            <a class="btn btn-default col-md-4"
                                               href="{{ path('export_document',{'_locale':'en','id':0,'doc':'catalog','type':'xls'}) }}"><i
                                                        class="icon-download-alt"></i> {{ 'XLS'|trans|raw }}</a>
                                            <a class="btn btn-default col-md-4"
                                               href="{{ path('newsletter_generate') }}"><i
                                                        class="icon-download-alt"></i> {{ 'MAIL'|trans|raw }}</a>
                                        {% elseif is_granted('ROLE_PRODUCTION') %}

                                        {% elseif is_granted('ROLE_SOURCING') %}
                                            <a class="btn btn-default col-md-4"
                                               href="{{ path('export_document',{'_locale':'en','id':0,'doc':'catalog','type':'xls'}) }}"><i
                                                        class="icon-download-alt"></i> {{ 'XLS'|trans|raw }}</a>
                                        {% else %}
                                            {#<a class="btn btn-default col-md-6"
                                               href="{{ path('export_catalogpdf',{'_locale':'en'}) }}"><i
                                                        class="icon-download-alt"></i> {{ 'PDF'|trans|raw }}</a>#}
                                            <a class="btn btn-default col-md-6"
                                               href="{{ path('export_document',{'_locale':'en','id':0,'doc':'catalog','type':'xls'}) }}"><i
                                                        class="icon-download-alt"></i> {{ 'XLS'|trans|raw }}</a>
                                        {% endif %}
                                        <br/>
                                    {% endif %}
                                </div>
                                <input type="hidden" id="uri_geofilters" value="{{ path('offers_request') }}">
                            </div>
                        </div>
                        <div class="row padded scroll" id="filters_result" data-effect="catalog" data-loaditem="true">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-8" id="selectionbox" style="display:none;">
                <div class="box">
                    <div class="box-header fixedbox">
                        <ul class="box-toolbar">
                            <li><span class="label label-blue"><b class="nbrcadencier">0 cadencier</b></span></li>
                            <li><span class="btn btn-default selectionbtn"><i
                                            class="icon-chevron-left"></i> {{ 'CATALOG_BTN_BACKTOCATALOG'|trans|raw }}</span>
                            </li>
                            <li><span class="btn btn-default razbtn"> <i
                                            class="icon-trash"></i> {{ 'CATALOG_BTN_RAZ'|trans|raw }}</span></li>
                            {% if ( app.user.expiredate is null) %}
                                <li><a class="btn btn-default" href="{{ path('product_extractpictures',{id:0}) }}"><i
                                                class="icon-download-alt"></i> {{ 'APPLICATION_EXTRACTPICTURE'|trans|raw }}
                                    </a></li>

                                {% if is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_ADMINSUPPLYCHAIN') %}
                                    {#<li><a class="btn btn-default"
                                           href="{{ path('export_catalogpdf',{'_locale':'en'}) }}"><i
                                                    class="icon-download-alt"></i> {{ 'PDF'|trans|raw }}</a></li>#}
                                    <li><a class="btn btn-default"
                                           href="{{ path('export_document',{'_locale':'en','id':0,'doc':'catalog','type':'xls'}) }}"><i
                                                    class="icon-download-alt"></i> {{ 'XLS'|trans|raw }}</a></li>
                                {% elseif is_granted('ROLE_PRODUCTION') %}

                                {% elseif is_granted('ROLE_SOURCING') %}
                                    <li><a class="btn btn-default"
                                           href="{{ path('export_document',{'_locale':'en','id':0,'doc':'catalog','type':'xls'}) }}"><i
                                                    class="icon-download-alt"></i> {{ 'XLS'|trans|raw }}</a></li>
                                {% else %}
                                    {#<li><a class="btn btn-default"
                                           href="{{ path('export_catalogpdf',{'_locale':'en'}) }}"><i
                                                    class="icon-download-alt"></i> {{ 'PDF'|trans|raw }}</a></li>#}
                                    <li><a class="btn btn-default"
                                           href="{{ path('export_document',{'_locale':'en','id':0,'doc':'catalog','type':'xls'}) }}"><i
                                                    class="icon-download-alt"></i> {{ 'XLS'|trans|raw }}</a></li>
                                {% endif %}


                                {% if is_granted('ROLE_COMMERCIAL') %}
                                    <li><a class="btn btn-default" href="{{ path('newsletter_generate') }}"><i
                                                    class="icon-download-alt"></i> {{ 'MAIL'|trans|raw }}</a></li>
                                {% endif %}
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMINSOURCING') or is_granted('ROLE_ADMINSUPPLYCHAIN')  %}
                                <li><a class="btn btn-default" href="#" data-toggle="modal"
                                       data-target="#SelectionList"><i
                                                class="icon-plus-sign"></i> {{ 'CATALOG_ADD_SELECTION'|trans|raw }}</a>
                                </li>
                            {% endif %}

                            {% if is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_CLIENT') %}
                                <li><span class="btn btn-blue" id="generatebtn">{{ 'CATALOG_BTN_GENERATECADENCIER'|trans|raw }} <i class="icon-angle-right"></i></span></li>
                            {% endif %}
                        </ul>
                    </div>

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMINSOURCING') or is_granted('ROLE_ADMINSUPPLYCHAIN') %}
                        <div class="modal fade" id="SelectionList" tabindex="-1" role="dialog" aria-labelledby="SelectionListLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="SelectionListLabel"> {{ 'CATALOG_TITLE_SELECTION'|trans|raw }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <select id="addToCatalogSelection" class="form-control">
                                            {% if app.user %}
                                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMINSOURCING') or is_granted('ROLE_ADMINSUPPLYCHAIN') or is_granted('ROLE_COMMERCIAL') %}
                                                    {% for catalog in catalogs %}
                                                        {% if catalog.rights in app.user.roles or catalog.rights is empty %}
                                                            {% if not (catalog.catalogType == constant('sourcinasia\\appBundle\\Entity\\Repository\\OfferRepository::CATALOG_TYPE_HIDDEN') or catalog.catalogType == constant('sourcinasia\\appBundle\\Entity\\Repository\\OfferRepository::CATALOG_TYPE_ALL') or catalog.catalogType == constant('sourcinasia\\appBundle\\Entity\\Repository\\OfferRepository::CATALOG_TYPE_CUSTOMER') ) %}
                                                                <option value="{{ catalog.id }}" {{ app.session.get('hideRef') == catalog.id ?'selected' }}>
                                                                    {% if (app.request.locale == 'fr') %}
                                                                        {{ catalog.titleFr }}
                                                                    {% else %}
                                                                        {{ catalog.titleEn }}
                                                                    {% endif %}
                                                                </option>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif  %}
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="addToSelection">Add</button>
                                        <button type="button" class="btn btn-danger pull-left" id="removeToSelection">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script type="text/javascript">
                            function getSelection() {
                                var selection = [];
                                $('#selections .articlethumbs').each(function () {
                                    selection.push($(this).data('product'));
                                });
                                return selection;
                            }

                            $('#addToSelection').click(function () {
                                $.post('{{ path('actionSelection',{'action':'add'}) }}', {
                                    'selectionids': getSelection(),
                                    'catalog': $('#addToCatalogSelection option:selected').val()
                                }).done(function (url) {
                                    window.location = url.content;
                                });
                            });

                            $('#removeToSelection').click(function () {
                                if (confirm('Confirmation?')){
                                    $.post('{{ path('actionSelection',{'action':'remove'}) }}', {
                                        'selectionids': getSelection(),
                                        'catalog': $('#addToCatalogSelection option:selected').val()
                                    }).done(function (url) {
                                        window.location = url.content;
                                    });
                                }
                            });

                            function actuBtnSelection() {
                                if ($('#hideRef option:selected').val() >= 5) {
                                    $('#RemoveFromSelection').show();
                                    $('#RemoveFromSelection ').data('confirm', '{{ 'CATALOG_REMOVE_CONFIRMATION'|trans|raw }} ' + $('#hideRef option:selected').html());
                                } else {
                                    $('#RemoveFromSelection').hide();
                                    $('#RemoveFromSelection ').data('confirm', '');
                                }
                            }
                            actuBtnSelection();
                            $('#hideRef').change(function () {
                                actuBtnSelection();
                            });
                        </script>
                    {% endif %}

                    <div class="box-content">
                        <input type="hidden" value="{{ path('offer_savecatalog') }}" id="uri_savecatalog">

                        <form action="{{ path('cadenciers_generate',{action:'display'}) }}" method="post"
                              id="selectionsform">
                            <div class="row padded" id="selections">
                                {{ selection|raw }}
                                <script>
                                    $('#selections .articlethumbs input[type=checkbox]').prop('checked', true);
                                </script>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 staticbox hidden-sm visible-lg" id="productbox">
                <div class="row" id="product" style="text-align:center;"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            if (document.documentElement.clientWidth < 992) {
                $('.select2-container').hide();
                $('.select2-offscreen').removeClass('select2-offscreen').css('width', '100%');
            }

            $('#selectionTool').click(function () {
                selection = prompt('{{ 'SELECTION_RAPIDE_TEXTE'|trans|raw }}', $('#soucinasiaItemNumber').val());
                $('#soucinasiaItemNumber').val(selection.replace(/\n|\r|(\n\r)/g, ','));
                $('#updateCatalog').trigger('click');
            });

            $('#checkall').click(function () {
                if (confirm('{{ 'MESSAGE_CONFIRM_ALL'|trans|raw }}'.replace('{n}', $('#filters_result INPUT[type=checkbox]').not(":checked").length)))
                    $('#filters_result INPUT[type=checkbox]').not(":checked").each(function () {
                        if (!$(this).is(':checked')) {
                            $(this).trigger("click");
                        }
                    });
            });

            $('#product').jscroll({
                autoTriggerUntil: 3
            });

// Initialize hide selection button, see also filters.js
            var selection = [];
            $('#selections .articlethumbs').each(function () {
                selection.push($(this).data('product'));
            });
            $('#selectionmasquerade').attr('data-action', function (index, currentvalue) {
                return currentvalue.substring(0, currentvalue.indexOf("hideselection") + 13) + '/' + selection.toString() + '/1';
            });
            $('#selectionmasquerade').attr('data-products', selection.toString());
            $('.hideselection-btn').off().on('click', function () {
                var btn = $(this);
                $.get(btn.attr('data-action'), function (result) {
                    if (result == 1) { // 1 = success
                        var productids = btn.attr('data-products').split(',');
                        productids.forEach(function(product) {
                            if ($('.articlethumbs[data-product=' + product + ']').css('opacity') == 1) {
                                $('.articlethumbs[data-product=' + product + ']').css('opacity', '0.4');
                            } else {
                                $('.articlethumbs[data-product=' + product + ']').css('opacity', '1.0');
                            }
                        });
                    }
                })
            });
        });

    </script>

{% endblock %}
{% block commercialtools %}
    {% include 'appBundle::commercialtools.html.twig' %}
{% endblock %}
