{% extends "::base_v2.html.twig" %}

{% block plugins %}
    <script src="{{ asset('bundles/app/js/catalogV2.js') }}" type="text/javascript"></script>
    <script type="text/javascript">

    </script>
{% endblock %}

{% block body %}
    {% set profil = profils.get() %}

    <!-- PAGE WRAPPER -->
    <div id="page-wrapper" class="gray-bg">

        {% include 'appBundle::menubarV2.html.twig' %}

        <!-- ////////////////////////////////////////// -->
        <!-- PRODUCTS BOX -->
        <!-- ////////////////////////////////////////// -->
        <!-- FILTERS N1  -->
        <div class="row white-bg filters-mag products-box">
            <!-- FILTERS N1  -->
            <div class="filters-n1">
                <button class="btn-left" id="RazFiltersActions" type="reset">
                        <span class="btn btn-default btn-circle">
                            <i class="fas fa-eraser rounded-circle"></i>
                        </span><br>
                    <i>Réinit..</i>
                </button>
                <div class="flex-grow-1">
                    <!-- FILTER BAR 1 -->
                    <div class="filterBar">
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMINSOURCING') or is_granted('ROLE_ADMINSUPPLYCHAIN') or is_granted('ROLE_COMMERCIAL') %}
                                {% if catalogs|length>0 %}
                                    <div class="form-group">
                                        <select id="hideRef" name="request[hideRef]"
                                                class="request chzn-select form-control">

                                            {% if profil.cutomer_id %}
                                                <option value="0" {{ not app.session.get('hideRef') ?'selected' }}>All
                                                    products
                                                </option>
                                            {% endif %}

                                            {% for catalog in catalogs %}
                                                {% if catalog.rights in app.user.roles or catalog.rights is empty %}
                                                    {% if (catalog.catalogType == constant('sourcinasia\\appBundle\\Entity\\Repository\\OfferRepository::CATALOG_TYPE_HIDDEN') or catalog.catalogType == constant('sourcinasia\\appBundle\\Entity\\Repository\\OfferRepository::CATALOG_TYPE_ALL')) %}
                                                        {% if not profil.cutomer_id %}
                                                            <option value="{{ catalog.id }}" {{ app.session.get('hideRef') == catalog.id ?'selected' }}>
                                                                {% if (app.request.locale == 'fr') %}
                                                                    {{ catalog.titleFr }}
                                                                {% else %}
                                                                    {{ catalog.titleEn }}
                                                                {% endif %}
                                                            </option>
                                                        {% endif %}
                                                    {% else %}
                                                        <option value="{{ catalog.id }}" {{ app.session.get('hideRef') == catalog.id ?'selected' }}>
                                                            {% if (app.request.locale == 'fr') %}
                                                                {{ catalog.titleFr }}
                                                            {% else %}
                                                                {{ catalog.titleEn }}
                                                            {% endif %}
                                                        </option>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        <i class="fal fa-search fa-lg mt-2 mr-2"></i>

                        <button id="filtersPlus" class="btn btn-primary btn-outline btn-sm" type="button">
                            <strong>Filtres</strong>
                            <i class="fal fa-plus ml-1"></i>
                            <i class="fal fa-chevron-up ml-1"></i>
                        </button>

                        <div class="input-group ml-auto">
                            <div class="input-group-prepend">
                                <span class="input-group-addon"><i class="fal fa-search"></i></span>
                            </div>

                            <input placeholder="{{ 'ENTITY_PRODUCT'|trans|raw }}" type="text"
                                   value="{{ app.session.get('productFilter') }}"
                                   name="request[productid]" class="request form-control" style="width:80px">

                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-addon"><i class="fal fa-search"></i></span>
                            </div>
                            <input placeholder="{{ 'ENTITY_SUPPLIER'|trans|raw }}" type="text"
                                   value="{{ app.session.get('supplierFilter') }}"
                                   name="request[supplierid]" onkeyup="setOffset();" class="request locked form-control"
                                   style="width:80px">
                        </div>
                    </div>

                    <!-- FILTER BAR 2 -->
                    <div class="filterBar filterBar-Breadcrumb"><!-- FIXME CLASS   request    chzn-select -->
                        <div class="form-group" style="width: 100%;">


                            <ul style="width: 100%; display: inline-flex; list-style: none; padding: 0px; margin:0px;">
                                <li>
                                    <div id="filters" data-pol="{{ app.session.get('pol') }}"
                                         data-categorie-level="{{ categorieLevel }}"
                                         data-categorie-selected="{{ categorieSelected }}"
                                         data-uriproduct="{{ path('offer_filters_v2',{'filter':'nomenclature'}) }}"
                                         data-uripol="{{ path('offer_filters_v2',{'filter':'pol'}) }}"
                                         data-autocomplete="true"
                                         data-alldep="{{ 'ALLDEP'|trans|raw }}" data-allshe="{{ 'ALLSHE'|trans|raw }}"
                                         data-allfam="{{ 'ALLFAM'|trans|raw }}" data-allsub="{{ 'ALLSUB'|trans|raw }}"
                                         data-allpol="{{ 'ALLPOL'|trans|raw }}"

                                         data-depval="{{ session.get('departementFilter') }}"
                                         data-sheval="{{ session.get('shelvesFilter') }}"
                                         data-famval="{{ session.get('famillyFilter') }}"
                                         data-subval="{{ session.get('subfamillyFilter') }}"
                                    >

                                    </div>
                                </li>
                                <li style="width:19%; margin-right: 10px;" class="tool uriproduct-fltr d-none">

                                    <select data-placeholder="" value="" id="departement" name="request[departementid]"
                                            class="request chzn-select filterselect">

                                    </select>
                                </li>
                                <li style="width:19%; margin-right: 10px;" class="tool uriproduct-fltr d-none">
                                    <select data-placeholder="" value="" id="shelves" name="request[shelvesid]"
                                            class="request chzn-select filterselect">

                                    </select>
                                </li>
                                <li class="tool uriproduct-fltr d-none" style="width:19%; margin-right: 10px;">
                                    <select data-placeholder="" value="" name="request[famillyid]" id="familly"
                                            class="request chzn-select filterselect">

                                    </select>
                                </li>
                                <li class="tool uriproduct-fltr" style="width:19%; margin-right: 10px;">
                                    <select data-placeholder="" value="" name="request[subfamillyid]" id="subfamilly"
                                            class="request chzn-select filterselect"></select>
                                </li>

                                <li style="width:13%; margin-right: 10px;" class="tool pol-fltr d-none">
                                    <select data-placeholder="Select a State" name="request[pol]" id="pol"
                                            class="chzn-select request"></select>
                                </li>
                                <li><span class="badge badge-primary" id="nbrproduct"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FILTERS N2  -->
            <div class="filters-n2">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label>Prix ($)</label>
                            <div class="d-flex">
                                <input placeholder="minprice" type="text" value="{{ app.session.get('minprice') }}"
                                       name="request[minprice]"
                                       id="minprice" class="request form-control w-50 ">
                                <input placeholder="maxprice" type="text" value="{{ app.session.get('maxprice') }}"
                                       name="request[maxprice]"
                                       id="maxprice" class="request form-control w-50 ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>MOQ</label>
                            <div class="d-flex">
                                <input class="request form-control w-50" placeholder="Min" type="number"
                                       value="{{ app.session.get('minmoq') }}"
                                       name="request[minmoq]" id="minmoq">
                                <input class="request form-control w-50" placeholder="Max" type="number"
                                       value="{{ app.session.get('maxmoq') }}"
                                       name="request[maxmoq]" id="maxmoq">
                            </div>
                            <!--  <div id="moqsliderzz"></div> -->
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label for="containerSize">Filtre containers </label>

                            <select name="request[containerSize]" id="containerSize" class="request chzn-select">
                                <option value="" class="search"{{ not app.session.get('containerSize') ? 'selected' }}>
                                    All
                                    container size
                                </option>
                                <option value="fcl"
                                        class="search" {{ app.session.get('containerSize') == "fcl" ? 'selected' }}>Type
                                    FCL
                                </option>
                                <option value="lcl"
                                        class="search" {{ app.session.get('containerSize') == "lcl" ? 'selected' }}>Type
                                    LCL
                                </option>
                            </select>
                        </div>

                        {% if suppliersCategories is not empty %}
                            <div class="form-group">
                                <label for="supplierCategoryFilter">Catégorie fournisseur</label>
                                <select id="supplierCategoryFilter" name="request[supplierCategoryFilter]"
                                        class="request chzn-select form-control">
                                    <option value=""
                                            class="search"{{ not app.session.get('supplierCategoryFilter') ? 'selected' }}>{{ 'ENTITY_SUPPLIER_CATEGORY_ALL'|trans|raw }}</option>
                                    {% for supplierCategory in suppliersCategories %}
                                        <option value="{{ supplierCategory.id }}"
                                                class="search" {{ app.session.get('supplierCategoryFilter') == supplierCategory.id ? 'selected' }}>{{ supplierCategory.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label for="orderby">Order by</label>

                            <select name="request[order]" id="orderby" class="request chzn-select form-control">
                                <option value="0" {{ not app.session.get('order')? '0' }}>{{ 'APPLICATION_ORDERBY_DATE'|trans|raw }}</option>
                                <option value="pricefob" {{ app.session.get('order')=="pricefob" ? 'selected' }}>{{ 'APPLICATION_ORDERBY_FOBPRICE'|trans|raw }}</option>
                                <option value="priceexw" {{ app.session.get('order')=="priceexw" ? 'selected' }}>{{ 'APPLICATION_ORDERBY_EXWPRICE'|trans|raw }}</option>
                                <option value="notoriety" {{ app.session.get('order')=="notoriety" ? 'selected' }}>{{ 'APPLICATION_ORDERBY_NOTORIETY'|trans|raw }}</option>
                                <option value="moq" {{ app.session.get('order')=="moq" ? 'selected' }}>{{ 'APPLICATION_ORDERBY_MOQ'|trans|raw }}</option>
                            </select>
                        </div>

                        <div class="form-group form-check pt-4 pl-5 " style="display: none;">
                            <input type="checkbox" id="gooddeal" name="request[gooddeal]"
                                   value="1" class="request form-check-input mb-2">
                            <label class="form-check-label" for="gooddeal">Bonnes affaires</label>
                        </div>
                    </div>

                    <div class="col-3 pt-4 text-center">
                        <button class="btn btn-primary mb-2 selectionTool" type="button">
                            <i class="fal fa-plus mr-1"></i>
                            <strong>Séléction rapide</strong>
                        </button>
                        <br>
                        <span class="btn btn-primary btn-outline mb-2 checkall">
                                <i class="fal fa-check mr-1"></i>
                                <strong>Tout sélectionner</strong>
                            </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END FILTERS  -->
        <div class="fh-breadcrumb products-box">
            <div class="element-detail-box">
                <div class="row grid-items pt-2" id="filters_result"></div>
                <div id="loader-infinite-scroll" class="text-center fa-5x pt-3 pb-5 active">
                    <i class="fas fa-spinner fa-spin text-navy"></i>
                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////// -->
        <!-- END PRODUCTS BOX -->
        <!-- ////////////////////////////////////////// -->

        <!-- ////////////////////////////////////////// -->
        <!-- SELECTION BOX -->
        <!-- ////////////////////////////////////////// -->
        <div class="row white-bg filters-mag selection-box">
            <!-- FILTERS  -->
            <div class="filters-n1">
                <button class="btn btn-left d-flex align-items-center switch-screen" type="button">
                    <i class="fal fa-chevron-left fa-2x mr-3 ml-1"></i>
                    <i>Retour</i>
                </button>
                <div class="flex-grow-1">
                    <!-- FILTER BAR CADENCIER -->
                    <div class="filterBar">
                        <button class="btn btn-default deleteSelection" type="button">
                            <i class="fas fa-trash-alt mr-1"></i>
                            Supprimer sélection
                        </button>
                        <a class="btn btn-default" href="{{ path('product_extractpictures',{id:0}) }}">
                            <i class="fas fa-download mr-1"></i>
                            Télécharger images HD
                        </a>
                        <a class="btn btn-default"
                           href="{{ path('export_document',{'_locale':'en','id':0,'doc':'catalog','type':'xls'}) }}">
                            <i class="fas fa-download mr-1"></i>
                            Exporter XLS
                        </a>
                        {#
                        <a class="btn btn-default" href="#" data-toggle="modal" data-target="#SelectionList">
                            <i class="fas fa-file-plus mr-1"></i>
                            Ajouter au catalogue
                        </a>
                        #}

                        <button class="btn btn-primary" type="button" id="generatebtn">
                            <strong>Generate</strong>
                            <i class="far fa-sync-alt ml-1 mr-1"></i>
                            <span id="blocCadencierCount"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- END FILTERS  -->
        </div>
        <div class="fh-breadcrumb selection-box">
            <div class="element-detail-box">
                <input type="hidden" value="{{ path('offer_savecatalog_V2') }}" id="uri_savecatalog">
                <form action="{{ path('cadenciersV2_generate',{action:'display'}) }}" method="post" id="selectionsform">
                    <div class="row grid-items pt-2" id="selections">
                        {{ selection|raw }}
                    </div>
                </form>
            </div>
        </div>
        <!-- ////////////////////////////////////////// -->
        <!-- END PRODUCTS BOX -->
        <!-- ////////////////////////////////////////// -->

        <!-- ////////////////////////////////////////// -->
        <!-- TOOLSBAR -->
        <!-- ////////////////////////////////////////// -->
        <div class="toolsbar-mag">

            <button class="btn btn-primary btn-sm mr-2  switch-screen" type="button">
                <i class="fas fa-shopping-cart mr-1"></i>
                <strong>Panier (<span class="selectioninchartcount"> - </span>)</strong>
            </button>

            {# <button class="btn btn-default btn-sm mr-2 hideselection-btn" id="selectionmasquerade" data-products="none"
                     type="button"
                     data-action="{{ path('product_hideselection',{ 'prodids': 'none'}) }}">
                 <i class="fas fa-eye-slash mr-1"></i>
                 <strong>Masquer</strong>
             </button>
 #}
            <button class="btn btn-default btn-sm mr-2 toggle-btn selectionTool" type="button">
                <i class="fal fa-plus mr-1"></i>
                <strong>Séléction</strong>
            </button>

            <button class="btn btn-default btn-sm mr-2 toggle-btn checkall" type="button">
                <i class="fal fa-check mr-1"></i>
                <strong>Tout</strong>
            </button>

            <a class="btn btn-primary btn-outline btn-sm"
               href="{{ path('export_document',{'_locale':'en','id':0,'doc':'catalog','type':'xls'}) }}">
                <i class="fas fa-download mr-1"></i>
                <strong>Exporter</strong>
            </a>
        </div>
        <!-- ////////////////////////////////////////// -->
        <!-- END - TOOLSBAR -->
        <!-- ////////////////////////////////////////// -->


        <!-- ////////////////////////////////////////// -->
        <!-- BTN - SCROLL TOP  -->
        <!-- ////////////////////////////////////////// -->

        <a id="scrollUp" href="#top" class="btn btn-primary btn-lg">
            <i class="fas fa-chevron-up"></i>
        </a>

        <!-- ////////////////////////////////////////// -->
        <!-- END  -  BTN - SCROLL TOP  -->
        <!-- ////////////////////////////////////////// -->


        <!-- ////////////////////////////////////////// -->
        <!-- BAR CADENCIERS -->
        <!-- ////////////////////////////////////////// -->
        <div class="cadenciers">
            <button id="btn-cadenciers" class="btn btn-cadenciers" type="button">
                    <span class="open-cadenciers">
                        <i class="fas fa-arrow-from-bottom mr-1"></i>
                        <strong>Voir cadenciers</strong>
                    </span>
                <span class="close-cadenciers">
                        <i class="fas fa-arrow-from-top mr-1"></i>
                        <strong>Fermer cadenciers</strong>
                    </span>
            </button>
            <div class="d-flex flex-wrap align-items-baseline flex-row-reverse list-cadenciers">
                <div>
                    <span class="btn btn-primary btn-confirmation" data-url="{{ path('cadencier_delete_all_V2') }}">
                        <i class="fas fa-trash-alt mr-1"></i>
                        <strong>Supprimer tous<br>les cadenciers</strong>
                    </span>
                </div>
                {% for cadencieropen in openCadenciers %}
                    <div class="d-flex align-items-center cadencier-box">
                        <a class="showtooltip showcadencier" href="{{ path('cadencier_show',{'id':cadencieropen.id}) }}"
                           data-name="{{ cadencieropen.supplier.id }}{% if (cadencieropen.pol) %}POL:{{ cadencieropen.pol.title }}{% endif %}"
                           data-unlink="{{ path('cadencier_delete',{'id':cadencieropen.id}) }}" class="
                                    {% if ( cadencier.id is defined) %} {% if ( cadencier.id == cadencieropen.id) %}btn btn-blue{% endif %}{% endif %}
                                    showtooltip showcadencier" data-toggle="tooltip" data-placement="bottom" title="
                                    {% if (app.request.locale=='fr') %}
                                        {{ cadencieropen.supplier.offername }}
                                    {% else %}
                                        {{ cadencieropen.supplier.offernamefr }}
                                    {% endif %}
                                    {% if (cadencieropen.pol) %}
                                        POL:{{ cadencieropen.pol.title }}
                                    {% endif %}
                                    ">
                            <span class="text-uppercase">{{ cadencieropen.supplier.id }}</span><br>
                            <em>{{ cadencieropen.user.name }}</em>
                            <span class="badge badge-primary">N° {{ cadencieropen.id }}</span>
                        </a>
                        <span data-url="{{ path('cadencier_delete_V2',{'id':cadencieropen.id }) }}"
                              class="deleted-cadencier btn-confirmation" style="cursor:pointer">
                            <i class="fas fa-times"></i>
                        </span>
                    </div>
                {% endfor %}

            </div>
        </div>
        <!-- ////////////////////////////////////////// -->
        <!-- END - BAR CADENCIERS -->
        <!-- ////////////////////////////////////////// -->

        <!-- ////////////////////////////////////////// -->
        <!-- MODAL Offer Product Details-->
        <!-- ////////////////////////////////////////// -->
        <div class="modal fade" id="offerProductDetails" tabindex="-1" role="dialog"
             aria-labelledby="offerProductDetails" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document"><!-- modal-dialog-centered -->
                <div class="modal-content">

                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////// -->
        <!-- END - MODAL -->
        <!-- ////////////////////////////////////////// -->

        <!-- ////////////////////////////////////////// -->
        <!-- GALLERY LIGHTBOX -->
        <!-- ////////////////////////////////////////// -->
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
        <!-- ////////////////////////////////////////// -->
        <!-- END - GALLERY LIGHTBOX -->
        <!-- ////////////////////////////////////////// -->

        <!-- ////////////////////////////////////////// -->
        <!-- URI FOR REQUESTS -->
        <!-- ////////////////////////////////////////// -->
        <input type="hidden" id="uri_request" value="{{ path('offers_requests_v2') }}">
        <input type="hidden" id="product_request" value="{{ path('product_request') }}">
        <input type="hidden" id="offers_count" value="{{ path('offers_count_v2') }}">
        <input type="hidden" value="" id="soucinasiaItemNumber" name="request[soucinasiaItemNumber]" class="request">
        <input type="hidden" value="{{ pagination }}" id="pagination" name="request[pagination]" class="request">
        <input type="hidden" value="0" id="firstResult" name="request[firstResult]" class="request">
        <!-- ////////////////////////////////////////// -->
        <!-- END - URI FOR REQUESTS -->
        <!-- ////////////////////////////////////////// -->

    </div><!-- end - PAGE WRAPPER -->
{% endblock %}




