<table class="table">
    <tbody>
        
        <tr>
            <th>Price</th>
            <td>{{ entity.price }}</td>
        </tr>
        <tr>
            <th>Moq</th>
            <td>{{ entity.moq }}</td>
        </tr>
       
    </tbody>
</table>
