{% extends "::light.html.twig" %}

{# block header #}
{# include 'appBundle::cadencierbar.html.twig' with {'back':'false'}#}
{# endblock #}

{% block plugins %}
    <script src="{{ asset('bundles/app/js/catalog.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <script src="{{ asset('bundles/app/plugins/jquery.jscroll.min.js') }}" type="text/javascript"></script>
    <div class="container padded">
        <div class="row">
            <div class="col-md-12" id="products">
                <div class="box">
                    <div class="box-header fixedbox">
                        <ul class="box-toolbar">
                            <li><span class="label label-blue" id="nbrproduct"></span></li>
                            <li><input placeholder="{{'ENTITY_PRODUCT'|trans|raw }}" type="text" value="" name="request[productid]" class="request" style="width:150px"></li>
                            <li><input placeholder="{{'ENTITY_SUPPLIER'|trans|raw }}" type="text" value="" name="request[supplierid]" class="request locked" style="width:60px"></li>
                            <li><span class="btn btn-default razbtn"><i class="icon-trash"></i> {{'CATALOG_BTN_RAZ'|trans|raw }}</span></li>
                            <li><select name="request[order]" id="orderby" class="request">
                                    <option value="0" selected >{{'APPLICATION_ORDERBY_DATE'|trans|raw }}</option>
                                    <option value="pricefob"  >{{'APPLICATION_ORDERBY_FOBPRICE'|trans|raw }}</option>
                                    <option value="priceexw"  >{{'APPLICATION_ORDERBY_EXWPRICE'|trans|raw }}</option>
                                    <option value="notoriety"  >{{'APPLICATION_ORDERBY_NOTORIETY'|trans|raw }}</option>
                                    <option value="moq" >{{'APPLICATION_ORDERBY_MOQ'|trans|raw }}</option>
                                </select></li>
                            <li><span class="btn btn-default" id="advancedsearchbtn">{{'CATALOG_BTN_MORE'|trans|raw }} <i class="icon-caret-down"></i></span></li>
                            <li><span class="btn btn-blue selectionbtn">{{'CATALOG_BTN_SEESELECTION'|trans|raw }} <i class="icon-angle-right"></i></span></li>
                            <input type="hidden" id="uri_request" value="{{path('offers_request')}}">
                            <input type="hidden" id="product_request" value="{{path('product_request')}}">
                            <input type="hidden" id="offers_count" value="{{path('offers_count')}}">
                        </ul>
                    </div>
                    <div class="box-header fixedbox">
                        <ul class="box-toolbar" style="width: 100%;">
                            <li><div id="filters" data-nselected="{{nomenclature}}" data-uriproduct="{{path('offer_filters',{'filter':'nomenclature'})}}" data-uripol="{{path('offer_filters',{'filter':'pol'})}}" data-autocomplete="true"></div></li>
                        </ul>
                    </div>
                    <div class="box-content">
                        <div id="advancedsearch" class="row-fluid" style="border-bottom: 1px solid #cdcdcd;background-color: rgba(243,243,243,0.96);display:none;">
                            <div class="row padded">
                                <div class="col-md-3">
                                    <label>{{'APPLICATION_FILTER_PRICE'|trans|raw }}</label><br/>
                                    <input placeholder="minprice" type="text" value="" name="request[minprice]"  id="minprice"  class="request " >
                                    <input placeholder="maxprice" type="text" value="" name="request[maxprice]" id="maxprice" class="request ">
                                    <div id="pricesliderzz"></div>
                                </div>
                                <div class="col-md-3">
                                    <label>{{'APPLICATION_FILTER_MOQ'|trans|raw }}</label><br/>
                                    <input placeholder="minmoq" type="text" value="" name="request[minmoq]"  id="minmoq"  class="request ">
                                    <input placeholder="maxmoq" type="text" value="" name="request[maxmoq]"  id="maxmoq"  class="request ">
                                    <div id="moqsliderzz"></div>
                                </div>
                                <div class="col-md-3">
                                    <label>{{'ENTITY_PRODUCT_CE'|trans|raw }}</label>
                                    <select name="request[ce]" id="" class="request">
                                        <option value="" class="search" selected >{{'APPLICATION_ALL'|trans|raw }}</option>
                                        <option value="YES" class="search" >{{'APPLICATION_YES'|trans|raw }}</option>
                                        <option value="NO" class="search" >{{'APPLICATION_NO'|trans|raw }}</option>
                                        <option value="N/A" class="search">{{'APPLICATION_NA'|trans|raw }}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label><input type="checkbox" name="request[gooddeal]" value="1" class="request" >{{'DASHBOARD_BOXTITLE_DEALS'|trans|raw }}</label>
                                </div>
                                <input type="hidden" id="uri_geofilters" value="{{path('offers_request')}}">
                            </div>
                        </div>
                        <div class="row padded scroll" id="filters_result" data-effect="catalog" data-loaditem="true">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-8" id="selectionbox" style="display:none;">
                <div class="box">
                    <div class="box-header fixedbox">
                        <ul class="box-toolbar">
                            <li><span class="label label-blue"><b class="nbrcadencier">0</b> cadencier</span></li>
                            <li><span class="btn btn-default selectionbtn"><i class="icon-chevron-left"></i> {{'CATALOG_BTN_BACKTOCATALOG'|trans|raw }}</span></li>
                            <li><span class="btn btn-default razbtn"> <i class="icon-trash"></i> {{'CATALOG_BTN_RAZ'|trans|raw }}</span></li>
                        </ul>
                    </div>
                    <div class="box-content">
                        <input type="hidden" value="{{path('offer_savecatalog')}}" id="uri_savecatalog">
                        <form action="{{path('cadenciers_generate',{action:'display'})}}" method="post" id="selectionsform">
                            <div class="row padded"  id="selections" >
                                {{selection|raw}}
                                <script>
                                    $('#selections .articlethumbs input[type=checkbox]').prop('checked', true)
                                </script>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 staticbox" id="productbox" style="position:fix;top:70px;right:0px;" >
                <div class="row" id="product" style="text-align:center;"> </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block commercialtools %}
    {% include 'appBundle::commercialtools.html.twig'%}
{% endblock %}
