<div class="row">
    <div class="col-xs-12 col-md-12 ">
        {% for offer in Offers %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 articlethumbs selectedzone"
                 data-product="{{ offer.productid }}" data-offer="{{ offer.id }}"
                 data-supplier="{{ offer.supplierid }}" {% if offer.poltitle %} data-pol="{{ offer.poltitle }}"{% else %}data-pol="none"{% endif %}
                 style="height:240px;
                 {% if  offer.hidden %}
                     {% if is_granted('ROLE_SOURCING') %}
                             opacity:0.4
                     {% else %}
                            display:none;
                     {% endif %}
                 {% endif %}">
                <div class="row">
                    <div class="col-md-12"
                         style="padding-top: 5px !important;padding-bottom: 5px!important;text-align: center;">
                        {% if (offer.mainimage) %}
                            <span class="product-thumb"
                                  style="background-image:url({{ webpath~offer.mainimage|replace({'original.jpg':'small.jpg'}) }})"
                                  data-preload="{{ webpath~offer.mainimage|replace({'original.jpg':'small.jpg'}) }}"
                                  alt=""></span>
                        {% elseif (offer.image) %}
                            <span class="product-thumb"
                                  style="background-image:url({{ webpath~offer.image|replace({'original.jpg':'small.jpg'}) }})"
                                  data-preload="{{ webpath~offer.image|replace({'original.jpg':'small.jpg'}) }}"
                                  alt=""></span>
                        {% else %}
                            <span class="product-thumb"
                                  style="background-image:url({{ webpath }}bundles/app/images/no-image.png)"></span>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"><input type="checkbox" value="{{ offer.id }}"
                                                 name="selection[{{ offer.id }}][o]"></div>
                    <div class="col-md-10"><b>{{ offer.productid }}</b><br/>
                        {% if (app.request.locale=='fr') %}
                            {% if (offer.frenchsmalldescription) %}
                                {{ offer.frenchsmalldescription|slice(0, 35) }}
                            {% else %}
                                {{ offer.smalldescription|slice(0, 35) }}
                            {% endif %}
                        {% else %}
                            {{ offer.smalldescription|slice(0, 35) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


