{% set myuser = profils.get() %}
{% if Offers is not empty %}


    {% for offer in Offers %}

        {% set displayfob = false %}
        {% set displayexw = false %}
        {% if (offer.getSaleprice('fob',myuser)!="0.00") %}
            {% set displayfob = true %}
        {% endif %}
        {% if offer.getSaleprice('exw',myuser)!="0.00" %}
            {% set displayexw = true %}
        {% endif %}

    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 selectedzone"
            {{ offer.isHidden(myuser.cutomer_id) and not is_granted('ROLE_SOURCING') ? 'style="display:none;"' }}
            {% if offer.pol %}
                data-pol="{{ offer.pol.title }}"
            {% else %}
                data-pol="none"
            {% endif %}
         data-product="{{ offer.product.id }}"
         data-offer="{{ offer.id }}"
         data-supplier="{{ offer.supplier.id }}">

    <div class="articlethumbs {{ offer.isHidden(myuser.cutomer_id) and  is_granted('ROLE_SOURCING') ? 'disabled' }}">
        <input class="checkbox" style="display: none;" type="checkbox" id="{{ offer.product.id }}"
               value="{{ offer.id }}" name="selection[{{ offer.id }}][o]" data-product="{{ offer.product.id }}"
               data-offer="{{ offer.id }}">
    <label class="items" for="{{ offer.product.id }}">
        {% if (offer.product.mainimage) %}
            <span class="items-thumb"
                  style="background-image:url({{ webpath~offer.product.mainimage|replace({'original.jpg':'small.jpg'}) }})"
                  alt=""></span>
        {% else %}
            <span class="items-thumb"
                  style="background-image:url({{ webpath }}bundles/app/images/no-image.png)"></span>
        {% endif %}
        <span class="items-txt">
         {% if (app.request.locale=='fr') %}
             {% if (offer.product.frenchsmalldescription) %}
                 {{ offer.product.frenchsmalldescription|slice(0, 35) }}
             {% else %}
                 {{ offer.product.smalldescription|slice(0, 35) }}
             {% endif %}
         {% else %}
             {{ offer.product.smalldescription|slice(0, 35) }}
         {% endif %}
                            </span>
        <ul class="items-list list-unstyled">
            <li class="d-flex">
                <em>Ref <i class="fas fa-tag ml-1"></i></em>
                <span><strong>{{ offer.product.id }}</strong></span>
            </li>
            <li class="d-flex">
                <em>MOQ <i class="fas fa-sack ml-1"></i></em>
                <span><strong>{{ offer.moq }}</strong> PCS</span>
            </li>
        </ul>
        <div class="items-line d-flex">

        {% set mode = app.session.get('mode') %}
        {% if  (is_granted('ROLE_ADMIN')) %}
            {% if (displayfob) %}
                <div>
                    <em>FOB :</em>
                    <span><strong>{{ offer.getSaleprice('fob',myuser,true,false)|number_format(2, '.', ',') }}</strong> $</span>
                </div>
            {% endif %}
            {% if (displayexw) %}
                <div>
                    <em>EXW :</em>
                    <span><strong>{{ offer.getSaleprice('exw',myuser)|number_format(2, '.', ',') }}</strong> $</span>
                </div>
            {% endif %}
        {% elseif  (is_granted('ROLE_COMMERCIAL') and myuser.cutomer_id != 0) %}
            {% if (displayfob) %}
                <div>
                    <em>FOB :</em>
                    <span><strong>{{ offer.getSaleprice('fob',myuser,true,false)|number_format(2, '.', ',') }}</strong> $</span>
                </div>
            {% endif %}
            {% if (displayexw) %}
                <div>
                    <em>EXW :</em>
                    <span><strong>{{ offer.getSaleprice('exw',myuser)|number_format(2, '.', ',') }}</strong> $</span>
                </div>
            {% endif %}
        {% elseif  (is_granted('ROLE_SOURCING') and myuser.cutomer_id == 0) %}
            {% if (displayfob) %}
                <div>
                    <em>FOB :</em>
                    <span><strong>{{ offer.fob|number_format(2, '.', ',') }}</strong> $</span>
                </div>
            {% endif %}
            {% if (displayexw) %}
                <div>
                    <em>EXW :</em>
                    <span><strong>{{ offer.getSaleprice('exw',myuser)|number_format(2, '.', ',') }}</strong> $</span>
                </div>
            {% endif %}
        {% else %}
            {% if (displayfob) %}
                <div>
                    <em>FOB :</em>
                    <span><strong>{{ offer.getSaleprice('fob',myuser)|number_format(2, '.', ',') }}</strong> $</span>
                </div>
            {% endif %}
            {% if (displayexw) %}
                <div>
                    <em>EXW :</em>
                    <span><strong>{{ offer.getSaleprice('exw',myuser)|number_format(2, '.', ',') }}</strong> $</span>
                </div>
            {% endif %}
        {% endif %}
        </div>
        </label>
        <button class="btn btn-primary btn-modal-items"
                data-action="{{ path('product_request_v2', {'id': offer.product.id }) }}" type="button"
                data-toggle="modal" data-target="#offerProductDetails">
            <i class="fal fa-plus mr-2"></i>
            Détails
        </button>
        </div>
        </div>
    {% endfor %}
    {{ Offers|length<pagination? '<div id="noMore"></div>' }}
{% else %}
    <div id="noMore"></div>
{% endif %}
