{% import "appBundle::coreadmin_macro.html.twig" as _ %}
<table class="table">
    <thead>
        <tr>
            <th width="2%">{{'ENTITY_PRODUCT_SOURCINASIAITEMNUMBER'|trans }}</th>
            <th width="2%">{{'ENTITY_PRODUCT_SUPPLIERITEMNUMBER'|trans }}</th>
            <th>{{'ENTITY_PRODUCT_NOMENCLATURE'|trans }}</th>
            <th width="10%">{{'ENTITY_PRODUCT_IMAGE'|trans }}</th>
            <th>{{'ENTITY_PRODUCTS'|trans }}</th>
            <th>{{'ENTITY_OFFER_FOBPRICE'|trans }}</th>
            <th>{{'ENTITY_OFFER_EXWPRICE'|trans }}</th>
            <th>{{'Pol_title'|trans }}</th>
            <th>{{'ENTITY_OFFER_MOQ'|trans }}</th>
            <th>{{'ENTITY_OFFER_MOQPACKING'|trans }}</th>
            <th width="10%">{{'APPLICATION_ACTIONCOLUMN'|trans }}</th>
            <th>{{'ENTITY_OFFER_ISITDEAL'|trans }}</th>

        </tr>
    </thead>
    <tbody>
        {% for Offer in Offers %}
            <tr id="{{ 'tr' ~ Offer.product.id }}">
                <td>
                    <label>
                        {%if (is_granted('ROLE_SOURCING')) %}
                            <input type="checkbox" class="cid" id="form_cid{{Offer.id}}" name="selection[{{Offer.id}}][o]" value="{{Offer.id}}" />
                        {% endif %}
                        {{Offer.product.id}}</label>
                </td>
                <td>{{Offer.itemnumber}}</td>
                <td>{{Offer.product.categorie.name}}</td>
                <td>
                    <a href="{{ path('product_show', { 'id': Offer.product.id })}} ">
                        {% if Offer.product.mainimage%}
                            <span data-product="{{ Offer.product.id }}" class="small-product-thumb" style="background-image:url({{ webpath ~ Offer.product.mainimage|replace({'original.jpg':'small.jpg'}) }})
                            {% if Offer.product.hidden %}; opacity: 0.4 {% endif %}"  alt=""></span>
                        {% elseif Offer.product.images |length%}
                            <span data-product="{{ Offer.product.id }}" class="small-product-thumb" style="background-image:url({{ webpath ~ Offer.product.images|first|replace({'original.jpg':'small.jpg'}) }})
                            {% if Offer.product.hidden %}; opacity: 0.4 {% endif %}"  alt=""></span>
                        {% else%}
                            <span data-product="{{ Offer.product.id }}" class="small-product-thumb"  style="background-image:url({{webpath}}bundles/app/images/no-image.png)
                            {% if Offer.product.hidden %}; opacity: 0.4 {% endif %}"  ></span>
                        {% endif%}
                    </a>
                </td>
                <td><a href="{{ path('product_show', { 'id': Offer.product.id })}} ">{{ Offer.product.description }}</a></td>
                <td>{% if ( Offer.fob ) %}{{ Offer.fob|number_format(2, '.', ',') }} USD{% endif %} {% include 'appBundle:Modules:archiveprix.html.twig' with {'incoterm':'fob','archives':Offer.archive} %}</td>
                <td>{% if ( Offer.exw ) %}{{ Offer.exw|number_format(2, '.', ',') }} {{ Offer.currency.title }}{% endif %}  {% include 'appBundle:Modules:archiveprix.html.twig' with {'incoterm':'exw','archives':Offer.archive} %}</td>
                <td>{% if ( Offer.pol ) %}{{ Offer.pol.title}}{% endif %}</td>
                <td>{% if (Offer.moq) %}{{ Offer.moq }} {{ Offer.moqunit.title }}{% endif %}</td>
                <td>{% if (Offer.moqpacking) %}{{ Offer.moqpacking }} {% endif %} {% if (Offer.moqpackingunit.title is defined) %}{{ Offer.moqpackingunit.title }}{% endif %}</td>
                <td>
                    {%if (is_granted('ROLE_SOURCING')) %}
                        <a class="btn btn-xs btn-default" href="{{ path('offer_edit', { 'id': Offer.id })}}"><i class="icon-edit"></i></a>
                        <ul> 
                            {{_.dropdownactions([
                   {'route': path('product_show', { 'id': Offer.product.id }) ,'text':'ACTION_CONSULT'},
                   {'route': path('offer_edit', { 'id': Offer.id }) ,'text':"ACTION_EDIT_OFFER"},
                   {'route': path('product_new',{'product': Offer.product.id,'supplier': Supplier.id}) ,'text':'PRODUCT_COPY','confirm':'Confirm?'},
                   {'route': path('multiupload_images',{'id':Offer.product.id}) ,'text':'ACTION_ADD_IMAGE'},
                   {'route': path('product_edit', { 'id': Offer.product.id, 'supplier': Supplier.id }) ,"text":"ACTION_EDIT_PRODUCT"},
                   {'route': path('offer_delete', { 'id': Offer.id }) ,'text':'ACTION_DELETE_OFFER','confirm':''}
                   ])}}  
                        </ul>
                    {% endif %}
                </td>
                <td>
                    {%if (is_granted('ROLE_SOURCING')) %}
                        <a href="{{ path('offer_switchdeal', { 'id': Offer.id })}}">{% if (Offer.deal) %}<i class="icon-star" style="color:rgb(87, 162, 221);"></i>{%else%}<i class="icon-star-empty"></i>{%endif%}</a>
                            {% else %}
                                {% if (Offer.deal) %}<i class="icon-star" style="color:rgb(87, 162, 221);"></i>{%else%}<i class="icon-star-empty"></i>{%endif%}
                        {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>