{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
{{ _.header({'title': 'Produit '~entity.product.name,'subtitle':'Consulter  offre','ico':'icon-dashboard','parent':{'title':'Fournisseurs','ico':'icon-dashboard','url':path('supplier')
,'parent':{'title':entity.supplier.name,'ico':'icon-dashboard','url':path('supplier_show',{'id':entity.supplier.id})
}
}}
) }}
{% endblock %}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">   
             {{_.box(entity.product.name,[
             {'route':path('offer_edit', { 'id': entity.id }),'ico':'icon-plus-sign','text':'Editer l\'offre'},
             {'route':path('product_edit', { 'id': entity.product.id }),'ico':'icon-plus-sign','text':'Editer le produit'},
 {'route':path('multiupload_images',{'id':entity.product.id}) ,'ico':'icon-plus-sign','text':'Ajouter une nouvelle photo'}
                ])}}

            <div class="tab-pane active" id="tab1">
               {% include 'appBundle:Product:item.html.twig' with {'entity': entity.product}  %}
               {% include 'appBundle:Offer:item.html.twig'  %}

            </div>
        {{_.endbox()}}
        </div>
    </div>
</div>
{% endblock %}