<table class="table supplierlist">
    <thead>
        <tr>
            <th>{{'ENTITY_PRODUCT_SUPPLIERITEMNUMBER'|trans|raw }}</th>
            <th>{{'ENTITY_OFFER_MAINOFFER'|trans|raw }}</th>
            <th>{{'ENTITY_SUPPLIER_NAME'|trans|raw }}</th>
            <th>{{'ENTITY_OFFER_FOBPRICE'|trans|raw }}</th>
            <th>{{'ENTITY_OFFER_EXWPRICE'|trans|raw }}</th>
            <th>{{'Pol_title'|trans|raw }}</th>
            <th>{{'ENTITY_OFFER_MOQ'|trans|raw }}</th>
            <th>{{'ENTITY_OFFER_MOQPACKING'|trans|raw }}</th>
            <th>{{'ENTITY_OFFER_ISITDEAL'|trans|raw }}</th>
            <th>{{'APPLICATION_ACTIONCOLUMN'|trans|raw }}</th> 
        </tr>
    </thead>
    <tbody>
        {% for Offer in Offers %}
        <tr  >
            <td>{{ Offer.itemnumber }}</td>
            <td>
                {% if (Offer.mainoffer) %}<a href="{{path('offer_switchmain',{'id': Offer.id })}}"><i class="icon-check"></i></a>{% else %}<a href="{{path('offer_switchmain',{'id': Offer.id })}}"><i class="icon-check-empty"></i><a>  {% endif %} 

            </td>
            <td><a href="{{ path('supplier_show', { 'id': Offer.supplier.id ,'return': 'product'} ) }}">{{ Offer.supplier.id }} - {{ Offer.supplier.name }}</a></td>
            <td>{% if ( Offer.fob ) %}{{ Offer.fob|number_format(2, '.', '') }} USD{% endif %}</td>
            <td>{% if ( Offer.exw ) %}{{ Offer.exw|number_format(2, '.', '') }} {{ Offer.currency.title }}
                {% if ( Offer.currency.id!=1 ) %}
                | {{ Offer.exwusd|number_format(2, '.', '') }} USD
                {% endif %}
                {% endif %}
            </td>
            <td>{% if ( Offer.pol ) %}{{ Offer.pol.title}}{% endif %}</td>
            <td>{% if (Offer.moq ) %}{{ Offer.moq }} {{ Offer.moqunit.title}}{% endif %}</td>
            <td>{% if (Offer.moqpacking ) %}{{ Offer.moqpacking }} {{ Offer.moqpackingunit.title }}{% endif %}</td>
            <td><a href="{{ path('offer_switchdeal', { 'id': Offer.id })}}">{% if (Offer.deal) %}<i class="icon-star"></i>{%else%}<i class="icon-star-empty"></i>{%endif%}</a></td>
            <td>

                <ul>
                   {{_.dropdownactions([
                   {'route': path('offer_edit', { 'id': Offer.id ,'return': 'product'} ) ,'text':'ACTION_EDIT_OFFER'},
                   {'route': path('supplier_show', { 'id': Offer.supplier.id })  ,'text':'ACTION_CONSULT_SUPPLIER', 'newtab':'yes'},
                   {'route': path('offer_delete', { 'id': Offer.id }) ,'text':'ACTION_DELETE_SUPPLIER','confirm':''}
                   ])}}  
               </ul>
           </td>
       </tr>
       {% endfor %}
   </tbody>
</table>

<script>
    $('table.supplierlist tbody tr:first-child').addClass('selected')
</script>