<html>
<head>
    <style>
        body {
            font-family: sans-serif;
            font-size: 10pt;
        }

        p {
            margin: 0pt;
        }

        td {
            vertical-align: top;
        }

        table#pi td {
            border-bottom: 0.1mm solid #ccc;
        }

        .items td {
            border-left: 0.1mm solid #000000;
            border-right: 0.1mm solid #000000;
        }

        table thead td {
            background-color: #EEEEEE;
            text-align: center;
            border: 0.1mm solid #000000;
        }

        .items td.blanktotal {
            background-color: #FFFFFF;
            border: 0mm none #000000;
            border-top: 0.1mm solid #000000;
            border-right: 0.1mm solid #000000;
        }

        .items td.totals {
            text-align: right;
            border: 0.1mm solid #000000;
        }
    </style>
</head>
<body>

<!--mpdf


<htmlpagefooter name="myfooter">
<div style=" font-size: 9pt; text-align: center; padding-top: 3mm; ">
<img src="https://market.inasia-corp.com/bundles/app/images/FOOTER.jpg" style="width:100%">
Page {PAGENO} of {nb} - COMMERCIAL INVOICE No. {{number}}
</div>
</htmlpagefooter>

<sethtmlpagefooter name="myfooter" value="on" />
mpdf-->

<table width="100%">
    <tr>
        <td width="60%" style="color:#000;text-align:left;"><img
                src="https://market.inasia-corp.com/bundles/app/images/HEADER.jpg"><br/>
            <span style="font-weight: bold; font-size: 12pt;">INASIA CORP. LIMITED </span><br/>
            <span style="font-weight: bold; font-size: 10pt;">Hong Kong - Head Office</span><br/>
            Room 501, Wayson Commercial Bldg.<br/>
            28 Connaught Road West, Sheung Wan, Hong Kong<br/>
            Tel: +852 8193 2162 - Fax: +852 3157 7957<br/>
            <span style="font-weight: bold; font-size: 10pt;"> Guangzhou - Office</span><br/>
            10/F, HNA Tower, No 8 Linhe Zhong Road<br/>
            Tianhe District, 510610 Guangzhou, China<br/>
            Tel: +86 (0)20 2831 7155 - Fax: +86 (0)20 2831 7299<br/>
        </td>
        <td width="40%" style="text-align: right;font-size: 20pt;font-weight: bold;"> COMMERCIAL INVOICE<br/><span
                style="font-weight: bold; font-size: 12pt;">No.{{number}}</span></td>
    </tr>
</table>
<br/>
<table width="100%" cellpadding="10">
    <tr>
        <td width="45%" style="text-align:left;padding:0; margin-bottom: -20px;font-size: 9pt;"></td>
        <td width="10%" style="text-align:right;padding:0; margin-bottom: -20px;">&nbsp;</td>
        <td width="45%" style="text-align:right;padding:0; margin-bottom: -20px;font-size: 9pt;">Date: <b>{{dateci}}</b>
        </td>
    </tr>
    <tr>
        <td width="45%" style="border: 0.1mm solid #888888;"><span
                style="font-size: 7pt; color: #555555;">To :</span><br/>
            <span style="font-weight: bold; font-size: 12pt;">{{customername}}</span><br/>
            {{customeraddress}}<br>
            {{customerzip}} {{customercity}}<br>
            {{customercountry}}
        </td>
        <td width="10%">&nbsp;</td>
        <td width="45%" style="border: 0.1mm solid #888888;">
            Source : <b>{{refsupplier}}</b> - Order No : <b>{{order}}</b><br/>
            Incoterm : <b>{{incorterm}}</b><br/>
            Container : <b>{{containernumber}}</b><br/>
            SEAL : <b>{{seal}}</b><br/>
            ETD/ETA : <b>{{etd/eta}}</b><br/>
            Payment term : <b>{{paymentterm}}</b><br/>
        </td>
    </tr>
</table>
<br/>
<table id="pi" class="items" width="100%" style="font-size: 9pt; border-collapse: collapse;" cellpadding="8">
    <thead>
    <tr>
        <td width="9%">{{TITLE_ITEM_NO}}</td>
        <td width="40%">{{TITLE_DESCRIPTION}}</td>
        <td width="7%">{{TITLE_BARCODE}}</td>
        <td width="9%">{{TITLE_MATERIEL}}</td>
        <td width="9%">{{TITLE_PRODUCT_SIZE_CM}}</td>
        <td width="9%">{{TITLE_TOTAL_CBM}}</td>
        <td width="9%">{{TITLE_ORDER_QUANTITY_PDF}}</td>
        <td width="9%">{{TITLE_UNIT_PRICE}}</td>
        <td width="9%">{{TITLE_TOTAL}}</td>
    </tr>
    </thead>
    <tbody>
    {{rows}}
    </tbody>
</table>
<br/>
MADE IN {{origin}} - {{totalin}}
<table width="100%" cellpadding="10" style="margin-top:20px;">
    <tr>

        <td width="100%" style=" font-size: 8pt; text-align: center; padding-top: 3mm; ">{{BANK_INFORMATION}}</td>
    </tr>
</table>
</body>
</html>