{% import "appBundle::coreadmin_macro.html.twig" as _ %}

{% set actions = [] %}
    {% if not Invoice.confirm %}
        {% if Invoice.service %}
            {% set actions = actions|merge([{ 'route': path('invoicecustomer_edit', { 'id': Invoice.id, 'type': (Invoice.service ? 'service')}) ,'text':'Edit Service Invoice','ico':'icon-edit'}]) %}
        {% endif %}
        {% if Invoice.cadencier and not Invoice.cadencier.locked %}
            {% set actions = actions|merge([{ 'route': path('cadencier_show',{'id':Invoice.cadencier.id,'action':'genpi'})  ,'text':'Edit Invoice','ico':'icon-edit'}]) %}
        {% endif %}
        {% set actions = actions|merge([{ 'divider': 1}]) %}
    {% endif %}
    {% if Invoice.ci %}
        {% set actions = actions|merge([{ 'route': path('multiupload_supplychain_read',{'id':Invoice.ci.id}) ,'text':'Consult uploaded CI','ico':'icon-download-alt','newtab':1}]) %}
        {% if not Invoice.ci.validate %}
            {% set actions = actions|merge([{ 'route': path('multiupload_supplychain_valid',{'id':Invoice.ci.id}) ,'text':'Valid CI','ico':'icon-ok','confirm':'Are you sure?'}]) %}
        {% endif %}
    {% endif %}

    {% if not Invoice.confirm and Invoice.pi %}
        {% if not Invoice.pi.validate %}
            {% set actions = actions|merge([{ 'route': path('multiupload_supplychain_valid',{'id':Invoice.pi.id}) ,'text':'Valid PI','ico':'icon-ok','confirm':'Are you sure?'}]) %}
        {% elseif Invoice.pi.validate %}
            {% if not Invoice.chrono %}
                {% set actions = actions|merge([{ 'route': path('invoicecustomer_chrono', { 'Invoicecustomer': Invoice.id,'idcadencier': Invoice.cadencier ? Invoice.cadencier.id }) ,'text':'Create number','ico':'icon-magic','confirm':'Are you sure?'}]) %}
            {% endif %}
            {% if Invoice.cadencier and not Invoice.service %}
{#                {% set actions = actions|merge([{ 'route': path('export_document', { 'id': Invoice.cadencier.id,'doc':'ci','type':'pdf' }) ,'text':'Generate CI  PDF','ico':'icon-cogs','newtab':1}]) %}#}
                {% set actions = actions|merge([{ 'route': path('export_document', { 'id': Invoice.cadencier.id,'doc':'ci','type':'xls' }) ,'text':'Generate CI  XLS','ico':'icon-cogs','newtab':1}]) %}
                {% set actions = actions|merge([{ 'route': path('multiupload_supplychain_add',{'id':Invoice.cadencier.id,'doc':38}) ,'text':'Upload CI','ico':'icon-upload-alt'}]) %}
            {% else %}
{#                {% set actions = actions|merge([{ 'route': path('export_document', { 'id': Invoice.id,'doc':'ciservice','type':'pdf' }) ,'text':'Generate CI Service PDF','ico':'icon-cogs','newtab':1}]) %}#}
                {% set actions = actions|merge([{ 'route': path('export_document', { 'id': Invoice.id,'doc':'ciservice','type':'xls' }) ,'text':'Generate CI Service XLS','ico':'icon-cogs','newtab':1}]) %}
                {% set actions = actions|merge([{ 'route': path('multiupload_supplychain_add',{'id':Invoice.cadencier.id,'doc':77}) ,'text':'Upload CI Service','ico':'icon-upload-alt'}]) %}
{#                {% set actions = actions|merge([{ 'route': path('multiupload_supplychain_add',{'invoicecustomer':Invoice.id,'doc':77}) ,'text':'Upload CI Service','ico':'icon-upload-alt'}]) %}#}
            {% endif %}
        {% endif %}
    {% endif %}

 {% if Invoice.pi %}
     {% set actions = actions|merge([{ 'divider': 1}]) %}
     {% set actions = actions|merge([{ 'route': path('multiupload_supplychain_read',{'id':Invoice.pi.id}) ,'text':'Consult uploaded PI','ico':'icon-download-alt','newtab':1}]) %}
 {% else %}
     {% if Invoice.cadencier %}
{#         {% set actions = actions|merge([{ 'route': path('export_document', { 'id': Invoice.cadencier.id,'doc':'pi','type':'pdf' }) ,'text':'Generate PI  PDF','ico':'icon-cogs','newtab':1}]) %}#}
         {% set actions = actions|merge([{ 'route': path('export_document', { 'id': Invoice.cadencier.id,'doc':'pi','type':'xls' }) ,'text':'Generate PI  XLS','ico':'icon-cogs','newtab':1}]) %}
     {% else %}
{#         {% set actions = actions|merge([{ 'route': path('export_document', { 'id': Invoice.id,'doc':'piservice','type':'pdf' }) ,'text':'Generate PI Service PDF','ico':'icon-cogs','newtab':1}]) %}#}
         {% set actions = actions|merge([{ 'route': path('export_document', { 'id': Invoice.id,'doc':'piservice','type':'xls' }) ,'text':'Generate PI Service XLS','ico':'icon-cogs','newtab':1}]) %}
     {% endif %}
{#     {% set actions = actions|merge([{ 'route': path('multiupload_supplychain_add',{'invoicecustomer':Invoice.id,'doc':73}) ,'text':'Upload PI Service','ico':'icon-upload-alt'}]) %} #}
     {% set actions = actions|merge([{ 'route': path('multiupload_supplychain_add',{'id':Invoice.cadencier.id,'doc':73}) ,'text':'Upload PI Service','ico':'icon-upload-alt'}]) %}
 {% endif %}


    {% set actions = actions|merge([{ 'divider': 1}]) %}

    {% if Invoice.cadencier and showOrder is defined %}
        {% set actions = actions|merge([{ 'route':  path('command_show',{"id": Invoice.cadencier.id})~"#Payments",'text':'Consult order','ico':'icon-inbox'}]) %}
    {% endif %}

    {% set actions = actions|merge([{ 'route': path('payment_new',{'customer':Invoice.id})  ,'text':'ACTION_ADD_PAYMENT','ico':'icon-signin'}]) %}

{% if not Invoice.confirm %}
    {% if Invoice.service %}
        {% set actions = actions|merge([{ 'divider': 1}]) %}
        {% set actions = actions|merge([{ 'route': path('invoicecustomer_delete',{'id':Invoice.id}) ,'text':'Remove','ico':'icon-trash','confirm':'Are you sure?'}]) %}
    {% endif %}
{% endif %}


    {{ _.dropdownactions(actions) }}

