{% extends 'appBundle::layout_site.html.twig' %}{% import "appBundle::coreadmin_macro.html.twig" as _ %}

{% block header -%}
    {{ _.header({'title':'MENU_INVOICES_LIST','subtitle':'MENU_INVOICES_LIST','ico':'icon-home'}) }}
{% endblock -%}


{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header fixedbox">
                        <span class="title">{{ 'ENTITY_UNIT'|trans }}</span>
                        <ul class="box-toolbar">
                            <li class="toolbar-link">
                                <a href="#" class="dropdown" data-toggle="dropdown"><i class="icon-cog"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('invoicecustomer_create',{'type':'servicewithoutCustomer'}) }}"><i
                                                    class="icon-plus-sign"></i> {{ 'CREATE_INVOICE_SERVICE'|trans }}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="box-content padded">
                        <table class="table" id="table">
                            <thead>
                            <tr>
                                <th style="width:10%">{{ 'APPLICATION_DATE'|trans }}</th>
                                <th style="width:10%">{{ 'APPLICATION_TYPE'|trans }}</th>
                                <th style="width:10%">{{ 'APPLICATION_NUMBER'|trans }}</th>
                                <th style="width:10%">{{ 'ENTITY_SUPPLIER_OFFERNAME'|trans }}</th>
                                <th style="width:10%">{{ 'APPLICATION_CUSTOMER'|trans }}</th>
                                <th style="width:10%">{{ 'APPLICATION_ACTIONCOLUMN'|trans }}</th>
                                <th style="width:10%">{{ 'APPLICATION_AMOUNT'|trans }}</th>
                                <th style="width:10%">{{ 'APPLICATION_BALANCE'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for Invoice in Invoices %}
                                <tr data-id="{{ Invoice.id }}">
                                    <td>{{ Invoice.date|date('d-m-Y') }}</td>
                                    <td>
                                        {% if Invoice.ci %}
                                            {{ Invoice.service ? 'CI service' : 'CI' }}
                                            {{ not Invoice.confirm ?'(draft)' }}
                                        {% else %}
                                            {% if Invoice.pi and Invoice.pi.validate %}
                                                {{ Invoice.service ? 'CI service(draft))' : 'CI(draft)' }}
                                            {% else %}
                                                {{ Invoice.service ? 'PI service' : 'PI' }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>{{ Invoice.getNumber }}</td>
                                    <td>
                                        {% if Invoice.cadencier and Invoice.customer %}
                                            <a href="{{ path('command_show',{"id": Invoice.cadencier.id}) }}">
                                                {% if (app.request.locale=='fr') %}
                                                    {% if ( Invoice.cadencier.supplier.offernamefr) %}
                                                        {{ Invoice.cadencier.supplier.offernamefr|upper }}
                                                    {% else %}
                                                        {{ Invoice.cadencier.supplier.offername|upper }}
                                                    {% endif %}
                                                {% endif %}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if Invoice.customer %}
                                            <a href="{{ path('customer_show',{"id": Invoice.customer.id}) }}">{{ Invoice.customer.name }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% include 'appBundle:Invoicecustomer:actionbtn.html.twig' with {'Invoice':Invoice,'showOrder':1} %}
                                    </td>
                                    <td>
                                        {% if Invoice.ci and Invoice.confirm %}
                                            {% set amount =Invoice.amount %}
                                        {% else %}
                                            {% if Invoice.cadencier %}
                                                {% if Invoice.service %}
                                                    {% set amount =Invoice.cadencier.servicevalue %}
                                                {% else %}
                                                    {% set amount =Invoice.cadencier.totalvalue %}
                                                {% endif %}
                                            {% else %}
                                                {% set amount =Invoice.amount %}
                                            {% endif %}
                                        {% endif %}
                                        {{ amount|number_format(2,'.',' ') }} €
                                    </td>
                                    <td>
                                        {% set balance = -amount %}
                                        {% for Payment in Invoice.Payments %}
                                            {% set balance = balance + Payment.amount %}
                                        {% endfor %}
                                        {% if balance <0 %}
                                            <b style="color:red">{{ balance|number_format(2,'.',' ') }} €</b>
                                        {% else %}
                                            {{ balance|number_format(2,'.',' ') }} €
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
