<div class="row">
    <div class="col-md-4 ">
        <select id="selectService" class="chzn-select">
            <option value="-">New service</option>
            {% for serviceList in serviceLists %}
                <option value="{{ serviceList.value }}" data-value="10">{{ serviceList.title }}</option>
            {% endfor %}
        </select></div>

    <div class="col-md-2 "><span class="btn btn-default btn-sm" id="addservice"><i
                    class="icon-plus"></i> Add service</span></div>

    {% if Serviceform %}
        {# Display if service Form #}
        <div class="col-md-2 pull-right">
            <span class="label label-black" style="font-size: 16px;">Total : <span id="total"></span>$</span>
        </div>
    {% endif %}
</div>
<hr>
<div id="serviceslist" class="order">
    {% for service in services %}
        {% if service.description is defined and service.value is defined %}
            <div class="row service">
                <div class="col-md-8"><input type="text" name="servicesdescription[]"
                                             style="text-align:center;width:100%;" value="{{ service.description }}">
                </div>
                <div class="col-md-4"><input type="number" name="servicesvalue[]" style="text-align:center;width:100px;"
                                             value="{{ service.value }}">
                    <span class="btn btn-default btn-sm removeservice"><i class="icon-trash"></i></span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div style="display:none;">
    <div class="row" id="tmpl_service">
        <div class="col-md-8"><input type="text" name="servicesdescription[]" style="text-align:center;width:100%;"
                                     value=""></div>
        <div class="col-md-4"><input type="number" name="servicesvalue[]" style="text-align:center;width:100px;"
                                     value="">
            <span class="btn btn-default btn-sm removeservice"><i class="icon-trash"></i></span>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.removeservice').click(function () {
            remove($(this));
        });

        $('#addservice').click(function () {
            clone = $('#tmpl_service').clone().prependTo("#serviceslist");
            clone.addClass('service');
            value = $("select#selectService").select2('val');
            if (value != "-") {
                clone.find('input[name="servicesdescription[]"]').val($("select#selectService").select2('data').text);
            } else {
                clone.find('input[name="servicesdescription[]"]').val("");
            }

            clone.find('input[name="servicesvalue[]"]').val(value).change(function () {
                update();
            });
            clone.find('.removeservice').click(function () {
                remove($(this));
            });
            update();
        });

        function remove(that) {
            swal({
                title: "Confirmation",
                text: "Are you sure ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                closeOnConfirm: true
            }, function () {
                that.closest('.row').remove();
                update();
            });
        }

        {% if Serviceform %}
        {# Display if service Form #}
        function update() {
            var services = [];
            var total = 0;
            $('.service').each(function () {
                value = $(this).find('input[name="servicesvalue[]"]').val();
                if (value != "" && value > 0) {
                    service = {};
                    service.description = $(this).find('input[name="servicesdescription[]"]').val();
                    service.value = parseFloat(value);
                    total = parseFloat(total) + service.value;
                    services.push(service);
                }
            });

            $('.serviceDetail').html(JSON.stringify(services));
            $('input.totalAmount').val(total);

            $('#total').html(total.toFixed(2));
        }

        $('.service input[name="servicesvalue[]"]').change(function () {
            update();
        });

        update();

        {% endif %}
    });
</script>