{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Province.id) %}
{{ _.header({'title':'PROVINCE_NEW_TITLE','subtitle':'PROVINCE_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_PROVINCES','ico':'icon-barcode','url':path('province'),'parent':{'title':Province.id,'ico':'icon-barcode','url':path('province_show',{'id':Province.id})}}})}}
{% else %}
{{ _.header({'title':'PROVINCE_NEW_TITLE','subtitle':'PROVINCE_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_PROVINCES','ico':'icon-barcode','url':path('province')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('PROVINCE_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_PROVINCE_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_PROVINCE_TITLE'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


