{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Activity.id) %}
{{ _.header({'title':'ACTIVITY_NEW_TITLE','subtitle':'ACTIVITY_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_ACTIVITYS','ico':'icon-barcode','url':path('activity'),'parent':{'title':Activity.id,'ico':'icon-barcode','url':path('activity_show',{'id':Activity.id})}}})}}
{% else %}
{{ _.header({'title':'ACTIVITY_NEW_TITLE','subtitle':'ACTIVITY_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_ACTIVITYS','ico':'icon-barcode','url':path('activity')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('ACTIVITY_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_ACTIVITY_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_ACTIVITY_TITLE'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


