{% if openCadenciers is not null and (openCadenciers|length)%}
    <div class="container" style="margin-top:10px;">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <ul class="box-toolbar" style="float:left;">
                            {% if (back is not defined)%}
                                <li class="toolbar-link">
                                    <a href="{{path('catalog')}}" ><i class="icon-chevron-left"></i> {{'CATALOG_BTN_BACKTOCATALOG'|trans }}</a>
                                </li>
                            {% endif %}
                            {% for cadencieropen in openCadenciers %}
                                <li class="toolbar-link">
                                    <a href="{{path('cadencier_show',{'id':cadencieropen.id})}}" data-name="{{cadencieropen.supplier.id}}{% if (cadencieropen.pol) %}POL:{{cadencieropen.pol.title}}{% endif %}" data-unlink="{{path('cadencier_delete',{'id':cadencieropen.id})}}" class="
                                    {% if ( cadencier.id is defined) %} {% if ( cadencier.id == cadencieropen.id) %}btn btn-blue{% endif %}{% endif %}
                                    showtooltip showcadencier" data-toggle="tooltip" data-placement="bottom" title=" 
                                    {% if (app.request.locale=='fr') %}
                                        {{cadencieropen.supplier.offername}}
                                    {% else %}
                                        {{cadencieropen.supplier.offernamefr}}
                                    {% endif %}
                                    {% if (cadencieropen.pol) %}
                                        POL:{{cadencieropen.pol.title}}
                                    {% endif %}
                                    " >

                                     <i class="icon-book"></i> 

                                    {{cadencieropen.supplier.id}}

                                    {{cadencieropen.user.name}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>                  
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.showcadencier').dblclick(function(event) {
            if (confirm('Confirm delete ' + $(this).data('name') + '?')) {
                window.location.replace($(this).data('unlink'));
            }
            e.preventDefault();
        });
    });
</script>
{% endif %}
