{% if (is_granted('ROLE_CLIENT') and profil.contact_type=="3") %}
<li class="cdrop active"><a href="#"><i class="icon-eye-open"></i>{{'APPLICATION_PRESENTATION_MODE'|trans|raw}}</a></li>
{% elseif((profil.contact_type=="2" or profil.contact_type=="1" or profil.contact_type=="4") and is_granted('ROLE_CLIENT')) %}
<li class="cdrop active"><a href="#" ><i class="icon-briefcase"></i> {{'APPLICATION_COMMERCIAL_MODE'|trans|raw}}</a></li>
{% elseif (profil.commercialtools and (is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_CLIENT'))) %}
<li class="cdrop {% if (profil.mode=="presentation") %}active{% endif %}"><a href="{{path('profils_presentation')}}"><i class="icon-eye-open"></i>{{'APPLICATION_PRESENTATION_MODE'|trans|raw}}</a></li>
<li class="cdrop {% if (profil.mode=="commercial") %}active{% endif %}"><a href="{{path('profils_commercial')}}" ><i class="icon-briefcase"></i> {{'APPLICATION_COMMERCIAL_MODE'|trans|raw}}</a></li>
<li class="cdrop {% if (profil.mode=="buy") %}active{% endif %}"><a href="{{path('profils_buy')}}"><i class="icon-shopping-cart"></i> {{'APPLICATION_BUY_MODE'|trans|raw}}</a></li>
{% endif%}