
{#Une box avec toolbar #}
{% macro box(title,toolbar,option) %}
<div class="box {% if (option.fixed is defined) %}fixedItem{% endif %}">
    <div class="box-header">
        <div class="title">{{ title|trans|capitalize|raw }}</div>
        {% if toolbar is not null and (toolbar|length) %}
            <ul class="box-toolbar">
                <li class="toolbar-link">
                    <a href="#" data-toggle="dropdown"><i class="icon-cog"></i></a>
                    <ul class="dropdown-menu">
                        {% for li in toolbar %}
                            <li><a href="{{ li.route }}"><i class="{{ li.ico }}"></i> {{ li.text }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endif %}
    </div>
    <div class="box-content padded">
        {% endmacro %}

        {% macro endbox() %}
    </div>
</div>
{% endmacro %}


{#Une boxscrollable  #}
{% macro scrollable(title) %}
<div class="box">
    <div class="box-header">
        <span class="title">{{ title|trans|capitalize|raw }}</span>
    </div>
    <div class="box-content scrollable" style="height: 1000px; overflow-y: auto">
        {% endmacro %}
        {#Fin de la box #}
        {% macro endscrollable() %}
    </div>
</div>
{% endmacro %}



{#Une tabsbox avec toolbar #}
{% macro tabs(tabs,toolbar,shortscut) %}
<div class="box">
    <div class="box-header">
        <ul class="nav nav-tabs nav-tabs-left">
            {% for tab in tabs %}
                <li {% if (tab.key=='home') %} class="active" {% endif %} ><a href="#{{ tab.key }}" data-toggle="tab"><i
                                class="{{ tab.ico }}"></i>{{ tab.text|trans|raw }}</a></li>
            {% endfor %}
        </ul>
        {% if (toolbar|length) %}
            <ul class="box-toolbar">
                <li class="toolbar-link">
                    <a href="#" data-toggle="dropdown"><i class="icon-cog"></i></a>
                    <ul class="dropdown-menu">
                        {% for li in toolbar %}
                            <li>
                                <a {% if (li.onclick is defined ) %} href="#" onClick="{{ li.onclick }}" {% else %} href="{{ li.route }}"{% endif %} {% if (li.confirm is defined ) %} data-confirm="{{ li.confirm }}" class="ConfirmAction" {% endif %}><i
                                            class="{{ li.ico }}"></i> {{ li.text|trans|raw }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endif %}
        {% if (shortscut|length) %}
       <ul class="box-toolbar">
             {% for li in shortscut %}
           <li class="toolbar-link">
           <li><a {% if (li.onclick is defined ) %} href="#" onClick="{{li.onclick}}" {% else %} href="{{ li.route }}"{% endif %} {% if (li.confirm is defined ) %} data-confirm="{{li.confirm}}" class="ConfirmAction" {% endif %} ><i class="{{li.ico}}"></i>{% if (li.text is defined ) %}{{li.text|trans|raw}}{% endif %}</a></li>
           </li>
            {% endfor %}
       </ul>
        {% endif %}
    </div>
    <div class="box-content padded">
        <div class="tab-content">
            {% endmacro %}

            {% macro endtabs() %}
        </div>
    </div>
</div>
{% endmacro %}
{#Fin de la tabsbox #}

{#Une dropdown actions #}
{% macro dropdownactions(actions) %}
    <div class="btn-group">
        <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
        <ul class="dropdown-menu">
            {% for action in actions %}
                {% if action.divider is defined %}
                    <li class="divider"></li>
                {% else %}
                    <li>
                        <a {% if (action.onclick is defined ) %} href="#" onClick="{{ action.onclick }}" {% else %}href="{{ (action.confirm is defined ) ? '#':action.route }}"{% endif %} {% if (action.confirm is defined ) %} data-href="{{ action.route }}" data-confirm="{{ action.confirm }}" class="ConfirmAction" {% endif %}  {% if (action.newtab is defined ) %} target="_blank" {% endif %} >{% if (action.ico is defined ) %}
                            <i class="{{ action.ico }}"></i>{% endif %} {{ action.text|trans }}</a></li>
                {% endif %}

{#
                <li>
                    <a {% if (action.onclick is defined ) %} href="#" onClick="{{ action.onclick }}" {% else %}href="{{ action.route }}"{% endif %} {% if (action.confirm is defined ) %} data-confirm="{{ action.confirm }}" class="ConfirmAction" {% endif %}  {% if (action.newtab is defined ) %} target="_blank" {% endif %} >{% if (action.ico is defined ) %}
                        <i class="{{ action.ico }}"></i>{% endif %} {{ action.text|trans }}</a></li>
#}
            {% endfor %}
        </ul>
    </div>
{% endmacro %}
{#Fin de la dropdown actions #}



{#Mon header de page #}
{% macro header(page) %}
    {% if page.parent is defined and page.parent.url is defined %}
        {% set home=page.parent.url %}
    {% else %}
        {% set home=path('catalog') %}
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class=" {{ page.ico }}"></i>
                        {{ page.title|trans|capitalize }}
                    </h3>
                    <h5>
                    <span>
                  {{ page.subtitle|trans|capitalize }}
                    </span>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    {% if (page.light is not defined ) %}
        <div class="container padded">
            <div class="row">
                <div id="breadcrumbs">
                    <div class="breadcrumb-button blue">
                        <span class="breadcrumb-label"><a href="{{ home }}" style="color:#fff;"><i
                                        class="icon-home"></i> {{ 'APPLICATION_HOMEARIANE'|trans }}</a></span>
                        <span class="breadcrumb-arrow"><span></span></span>
                    </div>

                    <div class="breadcrumb-button">
                <span class="breadcrumb-label">
                  <a href="{{ home }}">  {{ page.title|trans|capitalize }}</a>
                </span>
                        <span class="breadcrumb-arrow"><span></span></span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
{#Fin du header de page #}

{#Mon header de page #}
{% macro active(active,page) %}
    {% if active is defined %}
        {% if active==page %}
            class="active"
        {% endif %}
    {% endif %}
{% endmacro %}
