{% extends "::base.html.twig" %}
{% block nav %}
    {% set profil = profils.get() %}
    <div class="collapse navbar-collapse navbar-collapse-top">
        <div class="navbar-right">
            {% if is_granted('ROLE_COMMERCIAL') or profil.commercialtools %}
                <ul class="nav navbar-nav navbar-left">
                    {% block commercialtools %}{% endblock %}
                    {% if is_granted('ROLE_COMMERCIAL') %}
                        <li class="dropdown cdrop">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown"> {% if (profil.mode) %}{{ 'APPLICATION_LOGEDAS'|trans|raw }} {{ profil.cutomer_name|upper }}{% else %}{{ 'APPLICATION_LOGEDAS'|trans|raw }}{% endif %}
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if (profil.mode) %}
                                    <li><a href="{{ path('customer_show',{'id':profil.cutomer_id}) }}">Consult
                                            Customer</a></li>
                                    <li><a href="{{ path('customer_edit',{'id':profil.cutomer_id}) }}">Edit Customer</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('profils_logout') }}">Exit</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{{ path('customer') }}">Customers list</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
            {% if (not profil.mode) %}
                <form class="navbar-form navbar-left" role="search" action="{{ path('search') }}" method="post">
                    <div class="form-group">
                        <input type="hidden" id="uri-search" value="{{ path('autocompele') }}">
                        <input id="qqsearch" name="qsearch" type="text" class="search-query animated"
                               placeholder="{{ 'APPLICATION_SEARCH'|trans|raw }}">
                        <i class="icon-search"></i>
                    </div>
                </form>
            {% endif %}

            <ul class="nav navbar-nav navbar-left">
                {% if (app.user.expiredate) %}
                    <li>
                        <a href="{{ path('chat_new') }}">
                            <span style="margin-right: 10px"
                                  class="label label-black">{{ 'VERSIONDEMO'|trans|raw }} {{ app.user.expiredate|date('d-m-Y') }}</span>
                        </a>
                    </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdown-avatar" data-toggle="dropdown">
                    <span>
                            {% if  (is_granted('ROLE_CLIENT') and profil.customer_logo) %}
                                {% if profil.customer_logo!=asset('bundles/app/images/logoh.png') %}
                                    <img class="menu-avatar" src="{{ webpath~profil.customer_logo }}"/>
                                {% endif %}
                            {% elseif (app.user.logo) %}
                                <img class="menu-avatar" src="{{ webpath~app.user.logo.image }}"/>
                            {% endif %}
                        </span>

                        {% if (app.user.contact.name is defined) %}
                            {{ app.user.contact.name }}
                        {% else %}
                            {{ app.user.username }}
                        {% endif %}
                        <i class="icon-caret-down"></i></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="with-image">
                            <div class="avatar">
                                {% if  (is_granted('ROLE_CLIENT') and profil.customer_logo) %}
                                    <img src="{{ webpath~profil.customer_logo }}"/>
                                {% elseif (app.user.logo) %}
                                    <img src="{{ webpath~app.user.logo.image }}"/>
                                {% endif %}
                            </div>
                            <span>{{ app.user.username }}</span>
                        </li>
                        <li class="divider"></li>
                        <li><a data-toggle="modal" data-target="#commercialmodal"><i
                                        class="icon-briefcase"></i> {{ 'APPLICATION_PARAMETERS'|trans|raw }}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i>
                                <span>{{ 'APPLICATION_LOGOUT'|trans|raw }}</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal fade" id="commercialmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ path('profils_edit') }}" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"> {{ 'APPLICATION_PARAMETERS'|trans|raw }}</h4>
                    </div>
                    <div class="modal-body">
                        {% if (profil.commercialtools or profil.contact_type==4 or (is_granted('ROLE_COMMERCIAL')and profil.cutomer_id==0 )) %}
                            <fieldset>
                                <legend>Commercial mode</legend>
                                <div class="row">
                                    {% if (is_granted('ROLE_CLIENT') and (profil.contact_type==0 or profil.contact_type==4)) or is_granted('ROLE_COMMERCIAL') %}
                                        {% if  profil.contact_type==0 and not is_granted('ROLE_COMMERCIAL') %}
                                            <div class="col-lg-12">
                                                <label>{{ 'APPLICATION_WITCHMODEONLOGIN'|trans|raw }} :</label><br/>
                                                <label><input type="radio" name="profil[modeonlogin]"
                                                              value="presentation"
                                                              {% if (app.user.modeonlogin=="presentation") %}checked{% endif %}>{{ 'APPLICATION_PRESENTATION_MODE'|trans|raw }}
                                                </label>
                                                <label> <input type="radio" name="profil[modeonlogin]"
                                                               value="commercial"
                                                               {% if (app.user.modeonlogin=="commercial") %}checked{% endif %}>{{ 'APPLICATION_COMMERCIAL_MODE'|trans|raw }}
                                                </label>
                                                <label> <input type="radio" name="profil[modeonlogin]" value="buy"
                                                               {% if (app.user.modeonlogin=="buy") %}checked{% endif %}>{{ 'APPLICATION_BUY_MODE'|trans|raw }}
                                                </label>
                                            </div>
                                        {% endif %}
                                        <div class="col-lg-12">
                                            <ul class="padded separate-sections">
                                                <li class="input">
                                                    <label>{{ 'APPLICATION_POUCENTAGE_USERMODE'|trans|raw }} :</label>
                                                    <input type="text" name="profil[purcentage]"
                                                           value="{{ profil.commercial_coef }}">
                                                </li>
                                                {% if  profil.contact_type==0 and not is_granted('ROLE_COMMERCIAL') %}
                                                    <li class="input">
                                                        <label>{{ 'APPLICATION_POUCENTAGE_COMMERCIALMODE'|trans|raw }}
                                                            :</label>
                                                        <input type="text" name="profil[customerpurcentage]"
                                                               value="{{ profil.commercial_compagnymargecoef }}">
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            </fieldset>
                        {% endif %}
                        {# if is_granted('ROLE_CLIENT')  #}
                        <fieldset>
                            <legend>{{ 'MENU_USERS'|trans|raw }}</legend>
                            <div class="col-lg-12">
                                <ul class="padded separate-sections">
                                    {% if is_granted('ROLE_CLIENT') and profil.contact_type!=3 %}
                                        <li class="input">
                                            <label>{{ 'ENTITY_CONTACT_NAME'|trans|raw }} :</label>
                                            <input type="text" name="profil[name]" value="{{ profil.contact_name }}">
                                        </li>
                                        <li class="input">
                                            <label>{{ 'ENTITY_CONTACT_PHONE'|trans|raw }} :</label>
                                            <input type="text" name="profil[phone]" value="{{ profil.contact_phone }}">
                                        </li>
                                        <li class="input">
                                            <label>{{ 'ENTITY_CONTACT_MOBILE'|trans|raw }} :</label>
                                            <input type="text" name="profil[mobile]"
                                                   value="{{ profil.contact_mobile }}">
                                        </li>
                                        <li class="input">
                                            <label>{{ 'ENTITY_CONTACT_FAX'|trans|raw }} :</label>
                                            <input type="text" name="profil[fax]" value="{{ profil.contact_fax }}">
                                        </li>
                                        <li class="input">
                                            <label>{{ 'ENTITY_CONTACT_JOB'|trans|raw }} :</label>
                                            <input type="text" name="profil[job]" value="{{ profil.contact_job }}">
                                        </li>
                                        <li class="input">
                                            <label>{{ 'ENTITY_CONTACT_QQ'|trans|raw }} :</label>
                                            <input type="text" name="profil[qq]" value="{{ profil.contact_qq }}">
                                        </li>
                                        <li class="input">
                                            <label>{{ 'ENTITY_CONTACT_SKYPE'|trans|raw }} :</label>
                                            <input type="text" name="profil[skype]" value="{{ profil.contact_skype }}">
                                        </li>
                                    {% endif %}
                                    {% if profil.contact_type!=3 %}
                                        <li class="input">
                                            <label>{{ 'ENTITY_CONTACT_EMAIL'|trans|raw }} :</label>
                                            <input type="text" name="profil[email]" value="{{ app.user.email }}">
                                        </li>
                                        <li class="input">
                                            <label>{{ 'ENTITY_USER_USERNAME'|trans|raw }} :</label>
                                            {{ app.user.username }}
                                        </li>
                                        <li class="input">
                                            <label>{{ 'APPLICATION_CHANGEPASSOWRD'|trans|raw }} :</label>
                                            <input type="text" name="profil[password]" value="">
                                        </li>
                                    {% endif %}
                                    <li class="input">
                                        <label>{{ 'APPLICATION_DEFAULTLANGUAGE'|trans|raw }} :</label>
                                        <label><input type="radio" name="profil[language]" value="fr"
                                                      {% if (app.user.locale=="fr") %}checked{% endif %}>{{ 'APPLICATION_FR'|trans|raw }}
                                        </label>
                                        <label> <input type="radio" name="profil[language]" value="en"
                                                       {% if (app.user.locale=="en") %}checked{% endif %}>{{ 'APPLICATION_UK'|trans|raw }}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </fieldset>
                        {# endif #}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">{{ 'APPLICATION_CLOSE'|trans|raw }}</button>
                        <button type="submit" class="btn btn-primary">{{ 'APPLICATION_SAVECHANGES'|trans|raw }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
        {% block container %}
            {% set profil = profils.get() %}
            {% if (profil.mode=="presentation") %}
                <div class="main-content" style="margin-left:0px;">
            {% else %}
                <div class="sidebar-background">
                    <div class="primary-sidebar-background"></div>
                </div>
                <div class="primary-sidebar">
                    {% include("appBundle::left_menu.html.twig") %}
                </div>
                <div class="main-content">
            {% endif %}
            {% block header %}{% endblock %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="alert alert-info">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Message : </strong> {{ flashMessage|trans|raw }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %}
                            <div class="alert warning-block">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Message : </strong> {{ flashMessage|trans|raw }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% block body %}{% endblock %}
            </div>
        {% endblock %}