{% if (app.request.getHost()=="market.alusinan.com") %}
    {% set template="::matandco.html.twig" %}
{% elseif (app.request.getHost()=="market.mat-and-co.com") %}
    {% set template="::matandco.html.twig" %}
{% elseif (app.request.getHost()=="market.sodirun.com") %}
    {% set template="::sodirun.html.twig" %}
{% else %}
    {% set template="::base.html.twig" %}
{% endif %}

{% extends template %}


{% block nav %}
{% endblock %}
 {% block container %}

     <div class="container">
         <div class="row">
             <p class="text-center">
                 <img src="{{ asset('bundles/app/images/logo-lg.png') }}" alt="INASIA CORP.">
             </p>
             <div style="position:relative;width: 350px;margin-left: auto; margin-right: auto;">
                 {% block error %}{% endblock %}
                 <div class="padded">
                     <div class="login box" style="margin-top: 0px;">
                         <div class="box-header">
                <span class="title">{% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    {% else %}
                        {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                    {% endif %}
                </span>
                         </div>
                         <div class="box-content padded">
                             {% block body %}
                                 {% for type, messages in app.session.flashbag.all() %}
                                     {% for key, message in messages %}
                                         <div class="flash-{{ type }}">
                                             {{ message|trans({}, 'FOSUserBundle') }}
                                         </div>
                                     {% endfor %}
                                 {% endfor %}

                                 <div>
                                     {% block fos_user_content %}
                                     {% endblock fos_user_content %}
                                 </div>
                             {% endblock %}
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}
