{% set profil = profils.get() %}

<ul class="nav navbar-collapse collapse navbar-collapse-primary">
    {% if is_granted('ROLE_USER') %}

        {# <li  {%if active is defined %}{{_.active(active,'home')}}{% endif %}>
            <span class="glow"></span>
            <a href="{{path('home')}}">
                <i class="icon-desktop icon-2x"></i>
                <span>{{'MENU_DASHBOARD'|trans|raw}}</span>
            </a>
        </li>
#}
        <li {% if active is defined %}{{ _.active(active,'catalog') }}{% endif %}>
            <span class="glow"></span>
            <a href="{{ path('catalog') }}">
                <i class="icon-shopping-cart icon-2x"></i>
                <span>{{ 'MENU_CATALOG'|trans|raw }}</span>
            </a>
        </li>

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMINSUPPLYCHAIN') %}
            <li {% if active is defined %}{{ _.active(active,'catalogV2') }}{% endif %}>
                <span class="glow"></span>
                <a href="{{ path('catalog_v2') }}">
                    <i class="icon-shopping-cart icon-2x"></i>
                    <span>{{ 'MENU_CATALOG'|trans|raw }}[Beta]</span>
                </a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_CLIENT') %}
            {% if (profil.mode!="presentation" ) %}
                <li {% if active is defined %}{{ _.active(active,'suppliers_cadenciers') }}{% endif %}>
                    <span class="glow"></span>
                    <a href="{{ path('suppliers_cadenciers') }}">
                        <i class="icon-book icon-2x"></i>
                        <span>{{ 'MENU_CADENCIERS'|trans|raw }}</span>
                    </a>
                </li>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_PRODUCTION') or is_granted('ROLE_CLIENT') %}
        {% if (is_granted('ROLE_COMMERCIAL')or is_granted('ROLE_PRODUCTION') or (is_granted('ROLE_CLIENT') and (profil.contact_type==0 or profil.contact_type==1 or profil.contact_type==4))) %}
            <li {% if active is defined %}{{ _.active(active,'command') }}{% endif %}>
                <span class="glow"></span>
                <a href="{{ path('command') }}">
                    <i class="icon-inbox  icon-2x"></i>
                    <span>{{ 'MENU_ORDERS_LIST'|trans|raw }}</span>
                </a>
            </li>
        {% endif %}
    {% endif %}
    {% if (profil.mode=="") %}
        {% if is_granted('ROLE_COMMERCIAL') %}
            <li {% if active is defined %}{{ _.active(active,'customer') }}{% endif %}>
                <span class="glow"></span>
                <a href="{{ path('customer') }}">
                    <i class="icon-globe  icon-2x"></i>
                    <span>{{ 'MENU_CUSTOMER'|trans|raw }}</span>
                </a>
            </li>
            <li {% if active is defined %}{{ _.active(active,'customer') }}{% endif %}>
                <span class="glow"></span>
                <a href="{{ path('leads') }}">
                    <i class="icon-globe  icon-2x"></i>
                    <span>{{ 'MENU_LEADS'|trans|raw }}</span>
                </a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_SOURCING') %}
            <li {% if active is defined %}{{ _.active(active,'product') }}{% endif %}>
                <span class="glow"></span>
                <a href="{{ path('product') }}">
                    <i class="icon-barcode icon-2x"></i>
                    <span>{{ 'MENU_PRODUCTS'|trans|raw }}</span>
                </a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_SOURCING') or is_granted('ROLE_PRODUCTION') %}
            <li {% if active is defined %}{{ _.active(active,'supplier') }}{% endif %}>
                <span class="glow"></span>
                <a href="{{ path('supplier') }}">
                    <i class="icon-home  icon-2x"></i>
                    <span>{{ 'MENU_SUPPLIERS'|trans }}</span>
                </a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_PRODUCTION') %}
            {% if false %}
                <li {% if active is defined %}{{ _.active(active,'supplier') }}{% endif %}>
                    <span class="glow"></span>
                    <a href="{{ path('production') }}">
                        <i class="icon-cogs icon-2x"></i>
                        <span>{{ 'MENU_PRODUCTION'|trans }}</span>
                    </a>
                </li>
            {% endif %}
            {% if false %}
                <li {% if active is defined %}{{ _.active(active,'supplier') }}{% endif %}>
                    <span class="glow"></span>
                    <a href="#">
                        <i class="icon-money icon-2x"></i>
                        <span>{{ 'MENU_PAYMENTS'|trans }}</span>
                    </a>
                </li>
            {% endif %}
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <li {% if active is defined %}{{ _.active(active,'supplier') }}{% endif %}>
                <span class="glow"></span>
                <a href="{{ path('dashbord') }}">
                    <i class="icon-signal icon-2x"></i>
                    <span>{{ 'MENU_DASHBOARD'|trans }}</span>
                </a>
            </li>
            <li {% if active is defined %}{{ _.active(active,'supplier') }}{% endif %}>
                <span class="glow"></span>
                <a href="{{ path('journal') }}">
                    <i class="icon-time icon-2x"></i>
                    <span>{{ 'History'|trans }}</span>
                </a>
            </li>
        {% endif %}


        {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_ALLOWIP') or  is_granted('ROLE_SOURCING') or  is_granted('ROLE_ADDPOL') %}

            <li class="dark-nav ">
            <span class="glow"></span>
            <a class="accordion-toggle" data-toggle="collapse" href="#tnnmk7rjLZ">
                <i class="icon-wrench icon-2x"></i>
                <span>
                            {{ 'MENU_MANAGE'|trans }}
                        </span>
            </a>
            <ul id="tnnmk7rjLZ" class="collapse">
            {% if is_granted('ROLE_ADDPOL') %}
                <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                    <a href="{{ path('pol') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_POL'|trans|raw }}
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_ALLOWIP') %}
                <li {% if active is defined %}{{ _.active(active,'') }}{% endif %}>
                    <a href="{{ path('ip') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_IP_ADRESS'|trans|raw }}
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_SOURCING') %}
                <li {% if active is defined %}{{ _.active(active,'') }}{% endif %}>
                    <a href="{{ path('city') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_CITY'|trans|raw }}
                    </a>
                </li>
                <li {% if active is defined %}{{ _.active(active,'') }}{% endif %}>
                    <a href="{{ path('province') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_PROVINCE'|trans|raw }}
                    </a>
                </li>
                <li {% if active is defined %}{{ _.active(active,'') }}{% endif %}>
                    <a href="{{ path('country') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_COUNTRY'|trans|raw }}
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMINSOURCING') %}
                <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                    <a href="{{ path('catalog_list') }}">
                        <i class="icon-reorder"></i> {{ 'CATALOG'|trans|raw }}
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li {% if active is defined %}{{ _.active(active,'users') }}{% endif %}>
                    <a href="{{ path('users') }}">
                        <i class="icon-group"></i> {{ 'MENU_USERS'|trans|raw }}
                    </a>
                </li>
                <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                    <a href="{{ path('categorie') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_NOMENCLATURES'|trans|raw }}
                    </a>
                </li>
                <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                    <a href="{{ path('currency') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_CURRENCY'|trans|raw }}
                    </a>
                </li>
                <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                    <a href="{{ path('unit') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_UNITS'|trans|raw }}
                    </a>
                </li>
                <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                    <a href="{{ path('shippingcompany') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_SHIPPINGCOMPANY'|trans|raw }}
                    </a>
                </li>

                <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                    <a href="{{ path('pod') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_POD'|trans|raw }}
                    </a>
                </li>
                <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                    <a href="{{ path('activity') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_ACTIVITY'|trans|raw }}
                    </a>
                </li>
                <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                    <a href="{{ path('paymentcondition') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_PAYMENTCONDITION'|trans|raw }}
                    </a>
                </li>

                <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                    <a href="{{ path('container') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_CONTAINER'|trans|raw }}
                    </a>
                </li>

                <li {% if active is defined %}{{ _.active(active,'zone') }}{% endif %}>
                    <a href="{{ path('zone') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_ZONE'|trans|raw }}
                    </a>
                </li>
                <li {% if active is defined %}{{ _.active(active,'zone') }}{% endif %}>
                    <a href="{{ path('supplychaintype') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_SUPPLYCHAINTYPE'|trans|raw }}
                    </a>
                </li>
                <li {% if active is defined %}{{ _.active(active,'zone') }}{% endif %}>
                    <a href="{{ path('supplychaincat') }}">
                        <i class="icon-reorder"></i> Categories supplychain
                    </a>
                </li>
                <li {% if active is defined %}{{ _.active(active,'certificat') }}{% endif %}>
                    <a href="{{ path('certificat') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_CERTIFICAT'|trans|raw }}
                    </a>
                </li>
                <li {% if active is defined %}{{ _.active(active,'norme') }}{% endif %}>
                    <a href="{{ path('norme') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_NORME'|trans|raw }}
                    </a>
                </li>
                <li {% if active is defined %}{{ _.active(active,'service') }}{% endif %}>
                    <a href="{{ path('service') }}">
                        <i class="icon-reorder"></i> {{ 'MENU_SERVICE'|trans|raw }}
                    </a>
                </li>
                <li {% if active is defined %}{{ _.active(active,'supplier') }}{% endif %}>
                    <a href="{{ path('suppliercategory') }}">
                        <i class="icon-reorder"></i> Supplier category
                    </a>
                </li>
                </ul>
                </li>
            {% endif %}
        {% endif %}


    {% endif %}
    {% if (profil.mode!="presentation" and profil.mode!="commercial")  and false %}
        <li class="dark-nav ">
            <span class="glow"></span>
            <a class="accordion-toggle" data-toggle="collapse" href="#tnnfdfs">
                <i class="icon-phone-sign  icon-2x"></i>
                <span>
                        {{ 'MENU_STAFFONLINE'|trans|raw }}
                    </span>
            </a>
            <ul id="tnnfdfs" class="collapse in">
                {% set usersskype = [
                    { 'skype':'oliviersabban','message':'WEBMASTER'},
                    { 'skype':'faubert','message':'F.AUBERT'},
                    { 'skype':'sourcinasia','message':'INASIA'},
                ] %}

                {% for user in usersskype %}
                    {% if (skype.is_online(user.skype)) %}
                        <li><a href="{{ "skype:{" }}{{ user.skype }}{{ "}?call" }}"><i
                                        class="icon-phone-sign"></i>Call {{ user.message }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <li {% if active is defined %}{{ _.active(active,'contact') }}{% endif %}>
            <span class="glow"></span>
            <a href="{{ path('chat_new') }}">
                <i class=" icon-phone-sign icon-2x"></i>
                <span>{{ 'MENU_CONTACTUS'|trans|raw }}</span>
            </a>
        </li>
    {% endif %}
</ul>
