{% set profil = profils.get() %}

<!-- NAV LEFT -->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="INASIA" class="img-fluid" src="{{ asset('bundles/app/images/logoh.png') }}"/>
                    <a id="login" data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">
                            {% if (app.user.contact.name is defined) %}
                                {{ app.user.contact.name }}
                            {% else %}
                                {{ app.user.username }}
                            {% endif %}<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" aria-labelledby="login">
                        <li>
                            <a class="dropdown-item" data-toggle="modal" data-target="#commercialmodal">
                                <i class="fal fa-cog pr-1"></i> {{ 'APPLICATION_PARAMETERS'|trans|raw }}
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                                <i class="fal fa-power-off pr-1"></i>
                                {{ 'APPLICATION_LOGOUT'|trans|raw }}
                            </a>
                        </li>
                    </ul>
                </div>

                {% if is_granted('ROLE_COMMERCIAL') or profil.commercialtools %}
                    {% block commercialtools %}{% endblock %}
                    {% if is_granted('ROLE_COMMERCIAL') %}
                        <div class="dropdown profile-element">
                        <a id="loginPlus" data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs text-navy">{% if (profil.mode) %}{{ 'APPLICATION_LOGEDAS'|trans|raw }} {{ profil.cutomer_name|upper }}{% else %}{{ 'APPLICATION_LOGEDAS'|trans|raw }}{% endif %}<b
                                            class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs" aria-labelledby="loginPlus">
                            {% if (profil.mode) %}
                                <li><a href="{{ path('customer_show',{'id':profil.cutomer_id}) }}">Consult
                                        Customer</a></li>
                                <li><a href="{{ path('customer_edit',{'id':profil.cutomer_id}) }}">Edit Customer</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{{ path('profils_logout') }}">Exit</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{{ path('customer') }}">Customers list</a></li>
                        </ul>
                    {% endif %}
                    </div>
                {% endif %}
            </li>
            <li {% if active is defined %}{{ _.active(active,'catalog') }}{% endif %}>
                <a href="{{ path('catalog') }}">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="nav-label">{{ 'MENU_CATALOG'|trans|raw }}</span>
                </a>
            </li>

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMINSUPPLYCHAIN') %}
                <li {% if active is defined %}{{ _.active(active,'catalogV2') }}{% endif %}>
                    <a href="{{ path('catalog_v2') }}">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="nav-label">{{ 'MENU_CATALOG'|trans|raw }}[Beta]</span>
                    </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_CLIENT') %}
                {% if (profil.mode!="presentation" ) %}
                    <li {% if active is defined %}{{ _.active(active,'suppliers_cadenciers') }}{% endif %}>
                        <a href="{{ path('suppliers_cadenciers') }}">
                            <i class="fas fa-paste"></i>
                            <span class="nav-label">{{ 'MENU_CADENCIERS'|trans|raw }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}

            {% if is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_PRODUCTION') or is_granted('ROLE_CLIENT') %}
                {% if (is_granted('ROLE_COMMERCIAL')or is_granted('ROLE_PRODUCTION') or (is_granted('ROLE_CLIENT') and (profil.contact_type==0 or profil.contact_type==1 or profil.contact_type==4))) %}
                    <li {% if active is defined %}{{ _.active(active,'command') }}{% endif %}>
                        <a href="{{ path('command') }}">
                            <i class="fas fa-box-check"></i>
                            <span class="nav-label">{{ 'MENU_ORDERS_LIST'|trans|raw }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if (profil.mode=="") %}
                {% if is_granted('ROLE_COMMERCIAL') %}
                    <li {% if active is defined %}{{ _.active(active,'customer') }}{% endif %}>
                        <a href="{{ path('customer') }}">
                            <i class="fas fa-user-circle"></i>
                            <span class="nav-label">{{ 'MENU_CUSTOMER'|trans|raw }}</span>
                        </a>
                    </li>
                    <li {% if active is defined %}{{ _.active(active,'customer') }}{% endif %}>
                        <a href="{{ path('leads') }}">
                            <i class="fas fa-search-plus"></i>
                            <span class="nav-label">{{ 'MENU_LEADS'|trans|raw }}</span>
                        </a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_SOURCING') %}
                    <li {% if active is defined %}{{ _.active(active,'product') }}{% endif %}>
                        <a href="{{ path('product') }}">
                            <i class="fas fa-tag"></i>
                            <span class="nav-label">{{ 'MENU_PRODUCTS'|trans|raw }}</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_SOURCING') or is_granted('ROLE_PRODUCTION') %}
                    <li {% if active is defined %}{{ _.active(active,'supplier') }}{% endif %}>
                        <a href="{{ path('supplier') }}">
                            <i class="fas fa-industry-alt"></i>
                            <span class="nav-label">{{ 'MENU_SUPPLIERS'|trans }}</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_PRODUCTION') %}
                    {% if false %}
                        <li {% if active is defined %}{{ _.active(active,'supplier') }}{% endif %}>
                            <a href="{{ path('production') }}">
                                <i class="fas fa-tags"></i>
                                <span class="nav-label">{{ 'MENU_PRODUCTION'|trans }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if false %}
                        <li {% if active is defined %}{{ _.active(active,'supplier') }}{% endif %}>
                            <a href="#">
                                <i class="fas fa-tags"></i>
                                <span class="nav-label">{{ 'MENU_PAYMENTS'|trans }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li {% if active is defined %}{{ _.active(active,'supplier') }}{% endif %}>
                        <a href="{{ path('dashbord') }}">
                            <i class="fas fa-chart-pie"></i>
                            <span class="nav-label">{{ 'MENU_DASHBOARD'|trans }}</span>
                        </a>
                    </li>
                    <li {% if active is defined %}{{ _.active(active,'supplier') }}{% endif %}>
                        <a href="{{ path('journal') }}">
                            <i class="fas fa-history"></i>
                            <span class="nav-label">{{ 'History'|trans }}</span>
                        </a>
                    </li>
                {% endif %}


                {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_ALLOWIP') or  is_granted('ROLE_SOURCING') or  is_granted('ROLE_ADDPOL') %}

                    <li>
                    <a class="accordion-toggle" aria-expanded="false" href="#tnnmk7rjLZ">
                        <i class="fas fa-cog"></i>
                        <span class="nav-label">
                            {{ 'MENU_MANAGE'|trans }}
                        </span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul id="tnnmk7rjLZ" class="nav nav-second-level collapse" aria-expanded="false">
                    {% if is_granted('ROLE_ADDPOL') %}
                        <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                            <a href="{{ path('pol') }}">
                                {{ 'MENU_POL'|trans|raw }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_ALLOWIP') %}
                        <li {% if active is defined %}{{ _.active(active,'') }}{% endif %}>
                            <a href="{{ path('ip') }}">
                                {{ 'MENU_IP_ADRESS'|trans|raw }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_SOURCING') %}
                        <li {% if active is defined %}{{ _.active(active,'') }}{% endif %}>
                            <a href="{{ path('city') }}">
                                {{ 'MENU_CITY'|trans|raw }}
                            </a>
                        </li>
                        <li {% if active is defined %}{{ _.active(active,'') }}{% endif %}>
                            <a href="{{ path('province') }}">
                                {{ 'MENU_PROVINCE'|trans|raw }}
                            </a>
                        </li>
                        <li {% if active is defined %}{{ _.active(active,'') }}{% endif %}>
                            <a href="{{ path('country') }}">
                                {{ 'MENU_COUNTRY'|trans|raw }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMINSOURCING') %}
                        <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                            <a href="{{ path('catalog_list') }}">
                                {{ 'CATALOG'|trans|raw }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li {% if active is defined %}{{ _.active(active,'users') }}{% endif %}>
                            <a href="{{ path('users') }}">
                                {{ 'MENU_USERS'|trans|raw }}
                            </a>
                        </li>
                        <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                            <a href="{{ path('categorie') }}">
                                {{ 'MENU_NOMENCLATURES'|trans|raw }}
                            </a>
                        </li>
                        <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                            <a href="{{ path('currency') }}">
                                {{ 'MENU_CURRENCY'|trans|raw }}
                            </a>
                        </li>
                        <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                            <a href="{{ path('unit') }}">
                                {{ 'MENU_UNITS'|trans|raw }}
                            </a>
                        </li>
                        <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                            <a href="{{ path('shippingcompany') }}">
                                {{ 'MENU_SHIPPINGCOMPANY'|trans|raw }}
                            </a>
                        </li>

                        <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                            <a href="{{ path('pod') }}">
                                {{ 'MENU_POD'|trans|raw }}
                            </a>
                        </li>
                        <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                            <a href="{{ path('activity') }}">
                                {{ 'MENU_ACTIVITY'|trans|raw }}
                            </a>
                        </li>
                        <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                            <a href="{{ path('paymentcondition') }}">
                                {{ 'MENU_PAYMENTCONDITION'|trans|raw }}
                            </a>
                        </li>

                        <li {% if active is defined %}{{ _.active(active,'categories_tree') }}{% endif %}>
                            <a href="{{ path('container') }}">
                                {{ 'MENU_CONTAINER'|trans|raw }}
                            </a>
                        </li>

                        <li {% if active is defined %}{{ _.active(active,'zone') }}{% endif %}>
                            <a href="{{ path('zone') }}">
                                {{ 'MENU_ZONE'|trans|raw }}
                            </a>
                        </li>
                        <li {% if active is defined %}{{ _.active(active,'zone') }}{% endif %}>
                            <a href="{{ path('supplychaintype') }}">
                                {{ 'MENU_SUPPLYCHAINTYPE'|trans|raw }}
                            </a>
                        </li>
                        <li {% if active is defined %}{{ _.active(active,'zone') }}{% endif %}>
                            <a href="{{ path('supplychaincat') }}">
                                Categories supplychain
                            </a>
                        </li>
                        <li {% if active is defined %}{{ _.active(active,'certificat') }}{% endif %}>
                            <a href="{{ path('certificat') }}">
                                {{ 'MENU_CERTIFICAT'|trans|raw }}
                            </a>
                        </li>
                        <li {% if active is defined %}{{ _.active(active,'norme') }}{% endif %}>
                            <a href="{{ path('norme') }}">
                                {{ 'MENU_NORME'|trans|raw }}
                            </a>
                        </li>
                        <li {% if active is defined %}{{ _.active(active,'service') }}{% endif %}>
                            <a href="{{ path('service') }}">
                                {{ 'MENU_SERVICE'|trans|raw }}
                            </a>
                        </li>
                        <li {% if active is defined %}{{ _.active(active,'supplier') }}{% endif %}>
                            <a href="{{ path('suppliercategory') }}">
                                Supplier category
                            </a>
                        </li>
                        </ul>
                        </li>
                    {% endif %}
                {% endif %}


            {% endif %}
            {% if (profil.mode!="presentation" and profil.mode!="commercial")  and false %}
                <li>
                    <a class="accordion-toggle" aria-expanded="false" href="#tnnfdfs">
                        <i class="fas fa-cog"></i>
                        <span class="nav-label">
                            {{ 'MENU_STAFFONLINE'|trans|raw }}
                        </span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul id="tnnfdfs" class="nav nav-second-level collapse" aria-expanded="false">
                        {% set usersskype = [
                            { 'skype':'oliviersabban','message':'WEBMASTER'},
                            { 'skype':'faubert','message':'F.AUBERT'},
                            { 'skype':'sourcinasia','message':'INASIA'},
                        ] %}

                        {% for user in usersskype %}
                            {% if (skype.is_online(user.skype)) %}
                                <li><a href="{{ "skype:{" }}{{ user.skype }}{{ "}?call" }}">Call {{ user.message }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <li {% if active is defined %}{{ _.active(active,'contact') }}{% endif %}>
                    <a href="{{ path('chat_new') }}">
                        <i class="fas fa-envelope-open-text"></i>
                        <span>{{ 'MENU_CONTACTUS'|trans|raw }}</span>
                    </a>
                </li>
            {% endif %}
        </ul>


    </div>
</nav>
