<!-- ////////////////////////////////////////// -->
<!-- NAV BANNER -->
<!-- ////////////////////////////////////////// -->
<div class="row">
    <div class="hide-hover-nav"></div>
    <nav class="navbar navbar-static-top white-bg navbar-mag border-bottom" role="navigation">
        <ul class="navbar" id="navbar">
            {% for department in topBarMenuCategories %}
            <li class="navMag">
                <a href="#" name="">
                    <span >{{ department.name }}</span>
                    <i class="fal fa-angle-down"></i>
                </a>
                <div class="subMenu-1">
                    <ul class="subMenuList-1">
                        {% for shelve in department.items %}
                        <li class="subNavMag">
                            <a class="linkMag" href="?n={{ shelve.link }}&l={{ department.level }}">
                                {{ shelve.name }}
                            </a>
                            <div class="subMenu-2">
                                <ol class="subMenuList-2">
                                    {% for familly in shelve.items %}
                                    <li>
                                        <a class="linkMag" href="?n={{ familly.link }}&l={{ familly.level }}">
                                            {{ familly.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
<!-- ////////////////////////////////////////// -->
<!-- END NAV BANNER -->
<!-- ////////////////////////////////////////// -->
