{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Suppliercomment.id) %}
{{ _.header({'title':'SUPPLIERCOMMENT_NEW_TITLE','subtitle':'SUPPLIERCOMMENT_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_SUPPLIERCOMMENTS','ico':'icon-barcode','url':path('suppliercomment')}})}}
{% else %}
{{ _.header({'title':'SUPPLIERCOMMENT_NEW_TITLE','subtitle':'SUPPLIERCOMMENT_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_SUPPLIERCOMMENTS','ico':'icon-barcode','url':path('suppliercomment')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('SUPPLIERCOMMENT_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_SUPPLIERCOMMENT_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                         
                           <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_SUPPLIERCOMMENT_TITLE'}) }}
                            </li>                            
                            <li class="input">
                              {{ form_row(form.comments, {'label': 'ENTITY_SUPPLIERCOMMENT_COMMENTS'}) }}
                            </li>  
                            <li class="input" style="display:none;">
                              {{ form_row(form.supplier) }}
                            </li>                    
                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


