{% extends "appBundle::layout_site.html.twig" %}
{% set profil = profils.get() %}

{% block header %}
<div class="container">
    {% include 'appBundle::cadencierbar.html.twig' %}
</div>{% endblock %}

{% block body %}
{% if (not cadencier.locked) %}<form action="{{path('cadenciers_generate',{'action':'pi'})}}" id="selection" method="POST">{%endif%}
    <input type="hidden" id="customer" value="{{profil.cutomer_id}}">
    <div class="container">
  {% if (profil.mode!="presentation") %}
        <div class="row">

    {% if is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_CLIENT') %}
            <div class="col-md-8 ">
                <div class="row ">
                    <div class="col-md-12 fixedItem">
                        <div class="box ">
                            <div class="box-header">
                                <span class="title">{{'CADENCIERS_BOXTITLE_YOURCOMMAND'|trans}}</span>

                                <ul class="box-toolbar">
                                    <li><a href="{{path('catalog')}}" class="btn btn-default" ><i class="icon-chevron-left"></i> {{'CATALOG_BTN_BACKTOCATALOG'|trans }}</a></li>
                            {#<li><a href="{{path('public_cadencier',{'id':cadencier.id,'token':'test'})}}" class="btn btn-default ConfirmAction" id="razAction">{{'PUBLIC'|trans }}</a></li> #}
                            {% if ( not cadencier.locked) %}
                            {% if (cadencier.id) %}
                                    <li><a href="{{path('cadencier_delete',{'id': cadencier.id})}}" class="btn btn-red ConfirmAction" id="deletecadencier"><i class="icon-trash"></i> {{'CADENCIERS_BTN_DELETE'|trans }}</a></li>
                            {% endif %}
                            {% endif %}

                            {% if is_granted('ROLE_CLIENT') or (is_granted('ROLE_COMMERCIAL') and profil.cutomer_id) %}
                            {% if (cadencier.customer.xlsexport is defined) %}
                            {% if cadencier.customer.xlsexport %}
                            {% if (cadencier.id) %}
                                    <li><a class="btn btn-default" href="{{path('export_cadencierpictures',{'id': cadencier.id})}}"><i class="icon-download-alt"></i> {{'APPLICATION_EXTRACTPICTURE'|trans|raw }}</a></li>
                                    <li><a href="{{path('export_quotationsheet',{'id': cadencier.id})}}" class="btn btn-default ExportAction"><i class="icon-download-alt"></i> {{'EXP_SELECTION'|trans }}(XLS)</a></li>
                                    <li><a href="{{path('export_quotationsheetpdf',{'id': cadencier.id})}}" class="btn btn-default ExportAction" target="_blank"><i class="icon-download-alt"></i> {{'EXP_SELECTION'|trans }}(PDF)</a></li>
                            {% endif %}
                            {% endif %}
                            {% endif %}

                            {% if ( not cadencier.locked) %}
                            {% if (profil.mode=="commercial") %}
                                    <li><span  class="btn btn-blue buildPiAction ConfirmAction"><i class="icon-ok"></i> {{'CADENCIERS_BTN_ASKPI'|trans }}</span></li>
                            {% elseif (profil.mode=="presentation") %}
                                    <li><a href="#" class="btn btn-blue sendExportAction ConfirmAction"><i class="icon-ok"></i> {{'CADENCIERS_BTN_SEND_SELECTION'|trans }}</a></li>
                                    <li><span class="btn btn-blue buildPiAction ConfirmAction"><i class="icon-ok"></i> {{'CADENCIERS_BTN_ASKPI'|trans }}</span></li>
                            {% elseif (profil.mode=="buy") %}
                                    <li><span  class="btn btn-blue buildPiAction ConfirmAction"><i class="icon-ok"></i> {{'CADENCIERS_BTN_BUILDPI'|trans }}</span></li>
                            {% endif %}
                            {% endif %}

                            {% elseif is_granted('ROLE_COMMERCIAL') %}
                            {% if (cadencier.id) %}
                                    <li><a class="btn btn-default" href="{{path('export_cadencierpictures',{'id': cadencier.id})}}"><i class="icon-download-alt"></i> {{'APPLICATION_EXTRACTPICTURE'|trans|raw }}</a></li>
                                    <li><a href="{{path('export_quotationsheet',{'id': cadencier.id})}}" class="btn btn-default ExportAction"><i class="icon-download-alt"></i> {{'EXP_SELECTION'|trans }}(XLS)</a></li>
                                    <li><a href="{{path('export_quotationsheetpdf',{'id': cadencier.id})}}" class="btn btn-default ExportAction" target="_blank"><i class="icon-download-alt"></i> {{'EXP_SELECTION'|trans }}(PDF)</a></li>
                            {% endif %}

                            {% if ( not cadencier.locked) %}
                            {% if (profil.mode=="presentation") %}
                                    <li><a href="#" class="btn btn-blue sendExportAction ConfirmAction"><i class="icon-ok"></i> {{'CADENCIERS_BTN_SEND_SELECTION'|trans }}</a></li>
                                    <li><span  class="btn btn-blue buildPiAction ConfirmAction "><i class="icon-ok"></i> {{'CADENCIERS_BTN_BUILDPI'|trans }}</span></li>
                            {% elseif (profil.mode=="commercial") %}
                                    <li><a href="#" class="btn btn-blue sendExportAction ConfirmAction"><i class="icon-ok"></i> {{'CADENCIERS_BTN_SEND_SELECTION'|trans }}</a></li>
                                    <li><span  class="btn btn-blue buildPiAction ConfirmAction"><i class="icon-ok"></i> {{'CADENCIERS_BTN_BUILDPI'|trans }}</span></li>
                            {% else %}
                            {#<li><a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-blue buildQsAction ">{{'CADENCIERS_BTN_BUILDQS'|trans }}</a></li>#}
                              {% endif %}
                              {% endif %}
                              {% endif %}

                              {% if ( cadencier.command) %}
                                    <li><a href="#" class="btn btn-blue SeeCommand"><i class="icon-inbox"></i> {{'CADENCIERS_BTN_CONSULTCOMMAND'|trans }}</a></li>
                              {% endif %}
                                </ul>
                                <form action="">
                             {#<input type="hidden" id="uri_request" value="{{path('products_request')}}">#}
                                </form>
                            </div>
                            <div class="box-content padded">
                                <div class="row">
                                    <div class="col-md-8 ">
                                        <div class="row dashboard-stats"><div class="stats-label hiddenOnfixed">Choix taille du conteneur :</div>
                                        {{ form_row(form.containers) }}   
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="progress  active" style="height:20px;margin-bottom: 0px;">
                                                    <div class="progress-bar progress-blue" id="progress-bar" data-free="" style="height:20px;width: {{cadencier.Containeroccupation}}%;">{{cadencier.Containeroccupation}}% | {{cadencier.Cbm}}M3 / {{cadencier.container.volume}}M3 | {{cadencier.container.title}}<span class="sr-only"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row hiddenOnfixed">
                                            <div class="col-md-4">
                                            {{ form_row(form.incoterms) }} 
                                            </div>
                                            <div class="col-md-4">{{'ENTITY_SUPPLIER_DELEVERYTIME'|trans }} : {{cadencier.supplier.deleverytime}} (F)</div>
                                            <div class="col-md-4"> {{'ENTITY_SUPPLIER_PAYMENTTERMS'|trans }} : {{cadencier.supplier.paymenterms.title}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="dashboard-stats">
                                            <div class="stats-label">Total valeur</div>
                                            <span class="dataupdate" id="Totalvalue">{{cadencier.Totalvalue}}</span> $
                                        </div>
                                        <div class="dashboard-stats">
                                            <div class="stats-label">Total Volume</div>
                                            <span  class="dataupdate" id="Cbm">{{cadencier.Cbm}}</span> M3
                                        </div>
                                        <div class="dashboard-stats hiddenOnfixed">
                                            <div class="stats-label">Quantpieces</div>
                                            <span  class="dataupdate" id="Quantpieces">{{cadencier.Quantpieces}}</span> 
                                        </div>
                                        <div class="dashboard-stats hiddenOnfixed">
                                            <div class="stats-label">Quantpackages</div>
                                            <span  class="dataupdate" id="Quantpackages">{{cadencier.Quantpackages}}</span> 
                                        </div>
                                       {# <div class="dashboard-stats hiddenOnfixed">
                                            <div class="stats-label">Nw</div>
                                            <span  class="dataupdate" id="Nw">{{cadencier.Nw}}</span> 
                                        </div>
                                        <div class="dashboard-stats hiddenOnfixed">
                                            <div class="stats-label">Gw</div>
                                            <span  class="dataupdate" id="Gw">{{cadencier.Gw}}</span> M3
                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
            <div class="col-md-4 " >
        {% if (app.request.locale=='fr') %}
        {{_.box(cadencier.supplier.offernamefr?cadencier.supplier.offernamefr:'CADENCIERS_BOXTITLE_COMMENT')}}
        {% else %}
        {{_.box(cadencier.supplier.offername?cadencier.supplier.offername:'CADENCIERS_BOXTITLE_COMMENT')}}
        {% endif %}
        {{ 'ENTITY_SUPPLIER'|trans }} : {{ cadencier.supplier.id}} <br/>

        {{cadencier.supplier.comments}}
        {{_.endbox()}}
            </div>
        </div>

    {% endif %} 
        <div class="row">
            <div class="col-md-8">
                <div class="box">
                    <div class="box-header">
                        <div class="box-header fixedbox">
                            <ul class="box-toolbar">
                                <li><span class="label label-blue" id="nbrproduct"></span></li>
                                <li><input placeholder="{{'ENTITY_PRODUCT'|trans|raw }}" type="text" value="" name="request[productid]" class="request" style="width:70px"></li>
                                <li><input placeholder="{{'ENTITY_SUPPLIER'|trans|raw }}" type="hidden" value="{{cadencier.supplier.id}}" name="request[supplierid]" class="request" style="width:70px"></li>
                                <li><span href="#" class="btn btn-default" id="SelectAll"><i class="icon-check"></i> {{'APPLICATION_ALL'|trans }}</span></li>
                                <li><span href="#" class="btn btn-default" id="orderAction"><i class="icon-retweet"></i> {{'CADENCIERS_BTN_ORDER'|trans }}</span></li>
                                <li><span href="#" class="btn btn-default" id="razAction"><i class="icon-trash"></i> {{'CADENCIERS_BTN_RAZ'|trans }}</span></li>

                                <li><select name="request[order]" id="" class="request chzn-select"> 
                                        <option value="0" selected >{{'APPLICATION_ORDERBY_DATE'|trans|raw }}</option>
                                        <option value="pricefob"  >{{'APPLICATION_ORDERBY_FOBPRICE'|trans|raw }}</option>
                                        <option value="priceexw"  >{{'APPLICATION_ORDERBY_EXWPRICE'|trans|raw }}</option>
                                        <option value="notoriety"  >{{'APPLICATION_ORDERBY_NOTORIETY'|trans|raw }}</option>
                                        <option value="moq" >{{'APPLICATION_ORDERBY_MOQ'|trans|raw }}</option>
                                    </select></li>
                                <li><span class="btn btn-default" id="advancedsearchbtn">{{'CATALOG_BTN_MORE'|trans|raw }} <i class="icon-caret-down"></i></span></li>
                                <li><span class="btn btn-blue selectionbtn">{{'CATALOG_BTN_SEESELECTION'|trans|raw }} <i class="icon-angle-right"></i></span></li>
                                <input type="hidden" id="uri_request" value="{{path('offers_request2')}}">
                                <input type="hidden" id="product_request" value="{{path('product_request')}}"> 
                                <input type="hidden" id="offers_count" value="{{path('offers_count')}}">
                                <input type="hidden" name="request[cadencierid]" value="{{cadencier.id}}" class="request" >
                                {% if (cadencier.pol) %}
                                <input type="hidden" class="request" name="request[pol]" value="{{cadencier.pol.id}}"> 
                            {% endif %}
                            </ul>
                        </div>
                        <div class="box-header fixedbox">
                            <ul class="box-toolbar" style="width: 100%;">
                                <li><div id="filters" data-uriproduct="{{path('offer_filters',{'filter':'nomenclature'})}}" data-autocomplete="true"></div></li>
                            </ul>
                        </div>
                        <div class="box-content">
                            <div id="advancedsearch" class="row-fluid" style="border-bottom: 1px solid #cdcdcd;background-color: rgba(243,243,243,0.96);display:none;">
                                <div class="row padded">
                                    <div class="col-md-6">
                                        <label>{{'APPLICATION_FILTER_PRICE'|trans|raw }}</label><br/>
                                        <input placeholder="minprice" type="text" value="" name="request[minprice]"  id="minprice"  class="request " >
                                        <input placeholder="maxprice" type="text" value="" name="request[maxprice]" id="maxprice" class="request ">
                                        <div id="pricesliderzz"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>{{'APPLICATION_FILTER_MOQ'|trans|raw }}</label><br/>
                                        <input placeholder="minmoq" type="text" value="" name="request[minmoq]"  id="minmoq"  class="request ">
                                        <input placeholder="maxmoq" type="text" value="" name="request[maxmoq]"  id="maxmoq"  class="request ">
                                        <div id="moqsliderzz"></div>
                                    </div>
                                </div>
                                <div class="row padded">
                                    <div class="col-md-4">
                                        <label>{{'ENTITY_PRODUCT_CE'|trans|raw }}</label>
                                        <select name="request[ce]" id="" class="request chzn-select">
                                            <option value="" class="search" selected >{{'APPLICATION_ALL'|trans|raw }}</option>
                                            <option value="YES" class="search" >{{'APPLICATION_YES'|trans|raw }}</option>
                                            <option value="NO" class="search" >{{'APPLICATION_NO'|trans|raw }}</option>
                                            <option value="N/A" class="search">{{'APPLICATION_NA'|trans|raw }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label><input type="checkbox" name="request[gooddeal]" value="1" class="request" >{{'DASHBOARD_BOXTITLE_DEALS'|trans|raw }}</label>
                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                            </div>
                            <div class="row padded scroll" id="filters_result" data-effect="catalog">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" id="selectionbox" style="display:none;">
                <div class="box">
                    <div class="box-header fixedbox">
                        <ul class="box-toolbar">
                            <li><span class="label label-blue"><b class="nbrcadencier">0</b> cadencier</span></li>
                            <li><span class="btn btn-default selectionbtn"><i class="icon-chevron-left"></i> {{'CATALOG_BTN_BACKTOCATALOG'|trans|raw }}</span></li>
                            <li><span class="btn btn-default razbtn"> <i class="icon-trash"></i> {{'CATALOG_BTN_RAZ'|trans|raw }}</span></li>
                            <li><a class="btn btn-default" href="{{path('product_extractpictures',{id:0})}}"><i class="icon-download-alt"></i> {{'APPLICATION_EXTRACTPICTURE'|trans|raw }}</a></li>
                        {% if is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_CLIENT') %}
                            <li><span class="btn btn-blue " id="generatebtn" >{{'CATALOG_BTN_GENERATECADENCIER'|trans|raw }} <i class="icon-angle-right"></i></span></li>
                        {% endif %}
                        </ul>
                    </div>
                    <div class="box-content">
                        <input type="hidden" value="{{path('offer_savecatalog')}}" id="uri_savecatalog">
                        <form action="{{path('cadenciers_generate',{action:'display'})}}" method="post" id="selectionsform">
                            <div class="row padded"  id="selections" >
                                <script>
                                    $('#selections .articlethumbs input[type=checkbox]').prop('checked', true)
                                </script>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 staticbox" id="productbox" >
                <div class="row" id="product" style="text-align:center;"> </div>
            </div>
        </div>
{% if ( not cadencier.locked) %} 
</form>
{% endif %}
<script type="text/javascript">
    $(document).ready(function() {
     {% if ( not cadencier.locked) %}
     {% if (profil.mode!="presentation") and (is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_CLIENT'))  %}

        function selection(tr, boolean) {
            // console.log(tr.data('key'));
            if (boolean) {
                if (!tr.hasClass('info'))
                    tr.addClass('info');
                tr.find('input[type=checkbox]').prop('checked', true);
                oTable.fnUpdate('1', tr.data('key'), 0, false);
                tr.find('.fullcontainer, .qty').fadeIn();
            } else {
                if (tr.hasClass('info'))
                    tr.removeClass('info');
                tr.find('input[type=checkbox]').prop('checked', false);
                oTable.fnUpdate('0', tr.data('key'), 0, false);
                tr.find('.fullcontainer, .qty').fadeOut();
            }
            //console.log(tr.find('td').eq(0).html());

        }

        function updatefullcontainersbtn() {
            var free = $('#progress-bar').data('free');
            $('.fullcontainer').each(function() {
                input = $(this).closest('tr').find('input.qty');
                qty = Math.ceil(input.data('moq') / input.data('pcb')) * input.data('pcb');
                if (qty * input.data('cbm') <= free) {
                    if ($(this).hide())
                        $(this).fadeIn();
                } else {
                    if (!$(this).hide())
                        $(this).fadeIn();
                }
            });
        }

        $('.fullcontainer').click(function() {
            tr = $(this).closest('tr');
            input = $(this).closest('tr').find('input.qty');
            free = $('#progress-bar').data('free');
            cbm = input.data('cbm');
            if (cbm < free) {
                full = free / cbm;
                qty = Math.floor(full / input.data('pcb')) * input.data('pcb');
                // console.log(free + '/' + cbm + '=' + full);
                if (tr.find('input[type=checkbox]').prop('checked'))
                    newvalue = parseInt(parseInt(input.val()) + Math.ceil(full));
                else
                    newvalue = parseInt(Math.ceil(full));
                if (newvalue >= input.data('moq')) {
                    input.val(newvalue);
                    if (!tr.hasClass('info'))
                        tr.addClass('info');
                    selection(tr, true);
                    checksavevalue(input);
                }

                else
                    alert('MOQ limit');
            } else {
                alert('Not enought space')

            }
        });
        $('.buildPiAction').click(function() {
            $('#selection').submit();
        });
        function checksavevalue(input) {
            tr = input.closest('tr');
            moq = input.data('moq');
            qty = Math.ceil(input.val() / input.data('pcb')) * input.data('pcb');
            //console.log(input.val()+' '+input.data('pcb')+':'+qty);
            if (qty == 0) {
                selection(tr, false);
                if (tr.hasClass('info'))
                    tr.removeClass('info');
                input.val(moq);
            } else if (qty <= moq) {
                input.val(moq);
                tr.find('.showtooltip').tooltip('show');
                //selection(tr, false);
                if (!tr.hasClass('info'))
                    tr.addClass('info');
            } else {
                input.val(qty);
                selection(tr, true);
                if (!tr.hasClass('info'))
                    tr.addClass('info');
            }
            update();
        }

        $('.qty').change(function() {
            checksavevalue($(this));
        });
        function changeColor(color) {
            if ($('#progress-bar').hasClass('progress-green'))
                $('#progress-bar').removeClass('progress-green');
            if ($('#progress-bar').hasClass('progress-orange'))
                $('#progress-bar').removeClass('progress-orange');
            if ($('#progress-bar').hasClass('progress-blue'))
                $('#progress-bar').removeClass('progress-blue');
            if ($('#progress-bar').hasClass('progress-red'))
                $('#progress-bar').removeClass('progress-red');
            $('#progress-bar').addClass('progress-' + color);
        }

        {% endif %}
        /* $('#cadencieroffers td:not(.unselect)').click(function() {
         tr = $(this).closest('tr');
         if (tr.hasClass('info')) {
         tr.removeClass('info');
         selection(tr, false);
         } else {
         tr.addClass('info');
         selection(tr, true);
         }
         update();
         });*/

        $('input.autosave[type="checkbox"]').change(function() {
            update();
            selection($(this).closest('tr'), $(this).prop('checked'));
        });

        $('.autosave[type!="checkbox"]').change(function() {
            update();
        });

        function update() {
            if (typeof pressbtn != 'undefined') {
                clearTimeout(pressbtn);
            }
            pressbtn = setTimeout(function() {
                updatefx();
            }, 1300);
        }

        function updatefx() {
            $('.dataupdate').html('<img src="/bundles/app/images/loadingbar.gif">');
            $.post("{{path('cadenciers_generate')}} ", $("#selection").serialize(), function(data) {
                if (data.Containeroccupation > 100) {
                    changeColor('red');
                    //data.Containeroccupation = 100;
                    //  alert('container is full. Please remove item.');
                } else if (data.Containeroccupation > 80)
                    changeColor('green');
                else
                    changeColor('blue');
                $('#progress-bar').css('width', data.Containeroccupation > 100 ? 100 + '%' : data.Containeroccupation + '%');
                $('#progress-bar').data('Containeroccupation', data.Containeroccupation);
                $('#progress-bar').data('Containervolmue', data.Container.volume);
                $('#progress-bar').data('free', Math.ceil(data.Container.volume - data.Cbm) - 1);
                $('#progress-bar').html(Math.ceil(data.Containeroccupation) + '%  | ' + Math.ceil(data.Cbm) + 'M3 / ' + data.Container.volume + 'M3  | ' + data.Container.name);
                $('#Cbm').html(data.Cbm);
                $('#Totalvalue').html(data.Totalvalue);
                $('#Quantpieces').html(data.Quantpieces);
                $('#Quantpackages').html(data.Quantpackages);
                $('#Gw').html(data.Gw);
                $('#Nw').html(data.Nw);
                updatefullcontainersbtn();
            });
        }


        if (document.documentElement.clientWidth > 849) {
            $(window).scroll(function() {
                var scroll = $(window).scrollTop();
                if (scroll >= 200) {
                    $(".fixedItem").addClass("fixedItemOn");
                }
                if (scroll <= 200) {
                    $(".fixedItem").removeClass("fixedItemOn");
                }
            });
        }

        function incoterchange() {
            if ($("[name^='form[incoterms]']:checked").val() == 1) {
                $('.fobcel').hide();
                $('.exwcel').show();
            } else {
                $('.fobcel').show();
                $('.exwcel').hide();
            }
        }
        incoterchange();
        $("[name^='form[incoterms]']").change(function() {
            incoterchange();
        });

        $('#orderAction').click(function() {
            oTable.fnSort([[0, 'desc']]);
        });

        $('#razAction').click(function() {
            if (confirm('Confim?')) {
                $('#cadencieroffers tr.info').each(function() {
                    selection($(this), false);
                    updatefx;
                });
            }
        });

        $('#SelectAll').click(function() {
            if (confirm('Confim?')) {
                all = true;

                $('input.autosave[type="checkbox"]').each(function() {
                    all = all && $(this).is(':checked');
                });

                if (all) {
                    $('input.autosave[type="checkbox"]').each(function() {
                        selection($(this).closest('tr'), false);
                    });
                } else {
                    $('input.autosave[type="checkbox"]').each(function() {
                        selection($(this).closest('tr'), true);
                    });
                }
            }
        });

{%endif%}

        var oTable = $('.dTable').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": true,
            "aaSorting": [[0, "desc"]]
        });


    });


</script>
{% if (cadencier.id) %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="POST" action="{{path('cadencier_sendqs',{'id':cadencier.id})}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{'CADENCIERS_BTN_SELECTCUSTOMER'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <b>{{'CADENCIERS_BTN_SENDQSTO'|trans }}</b>
                    {{ form_row(form.customers) }} 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">{{'CADENCIERS_BTN_SENDQS'|trans }}</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}


{% block commercialtools %}
{% include 'appBundle::commercialtools.html.twig'%}
{% endblock %}