<table cellpadding="0" cellspacing="0" border="0" class="table cadencier dTable" id="cadencieroffers">
    <thead>
        <tr>
            <th style="display:none;" ></th>
            <th>{{'ENTITY_PRODUCT_SOURCINASIAITEMNUMBER'|trans|raw }}</th>
            <th>{{'ENTITY_PRODUCT_SUPPLIERITEMNUMBER'|trans|raw }}</th>
            <th>Pictures</th>
            <th>Description US</th>
            <th>SUPPLIER PRICE REGISTERED USD</th>
            <th>SUPPLIER PI PRICE</th>
            <th>DIFF %</th>
            <th>DIFF TOTAL VALUE</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>VALIDATION</th>
                <th>{{'ENTITY_COMMAND_MOQ'|trans|raw }}</th>
                {% endif %}
            <th>ORDER QUANTITY</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>CUSTOMER PRICE</th>
                <th>MARGE %</th>
                <th>DIFF MARGE VALUE</th>
                <th>CUSTOMER HISTORY ORDER</th>
                <th>VALIDATION</th>
                {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for key,offer in offers %}
            {% if ( is_granted('ROLE_PRODUCTION') and 'o'~offer.id in cadencier.selection|keys) %}
                <tr data-key="{{key}}" data-offer="{{offer.id}}" {% if ('o'~offer.id in cadencier.selection|keys) %}class="info"{% endif%}>
                    <td style="display:none;">
                        {% if ('o'~offer.id in cadencier.selection|keys) %}1{% endif%}
                    </td>
                    <td> 
                        {% if ( not cadencier.locked  and is_granted('ROLE_ADMIN')) %}
                            <input  type="checkbox" value="{{offer.id}}" class="autosave" name="selection[{{offer.id}}][o]" {% if ('o'~offer.id in cadencier.selection|keys) %}checked="checked"{% endif%}>
                        {% endif %}
                        {{offer.product.id}}
                    </td>
                    <td>     {{offer.itemnumber}} </td>
                    <td>
                        {% if (offer.product.mainimage)%}
                            <span class="product-thumb" style="background-image:url({{webpath~offer.product.mainimage|replace({'original.jpg':'small.jpg'})}})"  alt=""></span>
                        {% elseif (offer.product.images|length > 1)%}
                            <span class="product-thumb"   style="background-image:url({{webpath~offer.product.images|first}})"  alt=""></span>
                        {% else %}
                            <span class="product-thumb"  style="background-image:url({{webpath}}bundles/app/images/no-image.png)"  ></span>
                        {% endif %}
                    </td>
                    <td>{{ offer.product.description}}</td>
                    <td class="supplierprice">
                        {% if (cadencier.incoterm.title=='EXW')%}{% set supplierprice=offer.exwusd %} 
                                {{offer.exwusd}}
                                {% elseif (cadencier.incoterm.title=='FOB')%}{% set supplierprice=offer.fob %} 
                                        {{offer.fob}}
                                        {% endif %}
                                        </td>
                                        {% if (cadencier.incoterm.title=='EXW')%}
                                            <td  class="unselect negcel edit"  data-incoterm="exw">{% set pricenego=offer.exwnegociation %} {{pricenego}}</td>
                                        {% elseif (cadencier.incoterm.title=='FOB')%}
                                            <td  class="unselect negcel edit"  data-incoterm="fob">{% set pricenego=offer.fobnegociation %} {{pricenego}}</td>
                                        {% endif %}

                                        {% if ('o'~offer.id in cadencier.selection|keys) %}
                                            {%set qty=attribute( cadencier.selection,'o'~offer.id).qty %} 
                                                <td class="celdifp"> {% if ('o'~offer.id in cadencier.selection|keys and pricenego) %}{{((pricenego|number_format(2)-supplierprice|number_format(2))*100/supplierprice|number_format(2))|number_format(2, '.', ',') }}% {% endif%}</td>
                                                <td class="celdifv"> {% if ('o'~offer.id in cadencier.selection|keys and pricenego) %}{{(qty*(pricenego|number_format(2)-supplierprice|number_format(2)))|number_format(2, '.', ',') }} USD{% endif%} </td>
                                                {% else %}
                                                    <td></td>
                                                    <td></td>
                                                    {% endif %}
                                                        {% if is_granted('ROLE_ADMIN') %}
                                                            <td>
                                                                {% if ('o'~offer.id in cadencier.selection|keys) %}
                                                                    <a href="#" class="btn btn-default" style="width:70px;">Confirm</a><br/>
                                                                    <a href="#" class="btn btn-default" style="width:70px;">Confirm<br/>replace</a>
                                                                    <a href="#" class="btn btn-default" style="width:70px;">Reject</a>
                                                                    <textarea style="width:70px;"></textarea>
                                                                {%endif%}
                                                            </td>
                                                            <td class="unselect moqcel edit"> 
                                                                {{ offer.moq(myuser.cutomer_id) }}
                                                                {% if (offer.isCustomerMoq(myuser.cutomer_id)) %}
                                                                    <i class="icon-warning-sign"></i>
                                                                {% endif %}
                                                            </td>
                                                        {% endif %}


                                                        <td class="unselect qty"> 
                                                            {% if ('o'~offer.id in cadencier.selection|keys) %}
                                                                {%set qty=attribute( cadencier.selection,'o'~offer.id).qty %} 
                                                                    {% if is_granted('ROLE_ADMIN') %}
                                                                        <span class="btn btn-default btn-xs fullcontainer"><i class="icon-fullscreen "></i></span><input style="width:50px;" type="text" class="autosave qty" name="selection[{{offer.id}}][q]"  value="{{qty}}" data-moq="{{ offer.moq(myuser.cutomer_id) }}" data-cbm="{{offer.product.cbm}}" data-pcb="{{offer.product.pcb}}"><i class="icon-info-sign showtooltip" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="MOQ: {{ offer.moq(myuser.cutomer_id) }} {{ offer.moqunit.title }} | PCB :{{offer.product.pcb}}"></i>
                                                                        {%else%}
                                                                            {{qty}}
                                                                        {%endif%}
                                                                        {% else%}
                                                                            {%set qty=offer.moq(myuser.cutomer_id) %} 
                                                                            <span class="btn btn-default btn-xs fullcontainer" style="display:none;"><i class="icon-fullscreen "></i></span><input style="width:50px;display:none;" type="text" class="autosave qty" name="selection[{{offer.id}}][q]"  value="{{qty}}" data-moq="{{ offer.moq(myuser.cutomer_id) }}" data-cbm="{{offer.product.cbm}}" data-pcb="{{offer.product.pcb}}"><i class="icon-info-sign showtooltip" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="MOQ: {{ offer.moq(myuser.cutomer_id) }} {{ offer.moqunit.title }} | PCB :{{offer.product.pcb}}"></i>
                                                                                {% endif%}
                                                                            </td>  

                                                                            {% if is_granted('ROLE_ADMIN') %}
                                                                                {% if (cadencier.incoterm.title=='EXW')%}
                                                                                    <td class="unselect exwcel pricecel edit" data-incoterm="exw"> 
                                                                                        {% set price =  offer.getSaleprice('exw',myuser)|number_format(2, '.', ',') %}
                                                                                            {{price}}
                                                                                            {% if (offer.isCustomerprices(myuser,'exw')) %}
                                                                                                <i class="icon-warning-sign"></i>
                                                                                            {% endif %}
                                                                                        </td>
                                                                                        {% elseif (cadencier.incoterm.title=='FOB')%}
                                                                                            <td class="unselect fobcel pricecel edit"  data-incoterm="fob"> 
                                                                                                {% set price = offer.getSaleprice('fob',myuser)|number_format(2, '.', ',') %}
                                                                                                    {{price}}
                                                                                                    {% if (offer.isCustomerprices(myuser,'fob')) %}
                                                                                                        <i class="icon-warning-sign"></i>
                                                                                                    {% endif %}
                                                                                                </td>
                                                                                                {% endif %}


                                                                                                    <td class="celdifp"> {% if ('o'~offer.id in cadencier.selection|keys and pricenego) %}{{((price|number_format(2)-pricenego|number_format(2))*100/price|number_format(2))|number_format(2, '.', ',') }}% {% endif%}</td>
                                                                                                    <td class="celdifv"> {% if ('o'~offer.id in cadencier.selection|keys and pricenego) %}{{(qty*(price|number_format(2)-pricenego|number_format(2)))|number_format(2, '.', ',') }} USD{% endif%} </td>
                                                                                                    <td></td>
                                                                                                    <td>
                                                                                                        {% if ('o'~offer.id in cadencier.selection|keys) %}
                                                                                                            <a href="#" class="btn btn-default" style="width:70px;">Confirm</a><br/>
                                                                                                            <a href="#" class="btn btn-default" style="width:70px;">Confirm<br/>replace</a>
                                                                                                            <a href="#" class="btn btn-default" style="width:70px;">Reject</a>
                                                                                                            <textarea style="width:70px;"></textarea>
                                                                                                        {%endif%}
                                                                                                    </td>
                                                                                                    {% endif %}
                                                                                                    </tr>
                                                                                                    {% endif%}
                                                                                                        {% endfor %}
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                    <script type="text/javascript">
                                                                                                        $(document).ready(function() {
                                                                                                            $('.edit').click(function() {
                                                                                                                var incoterm = $(this).data('incoterm');
                                                                                                                var idoffer = $(this).parent().data('offer');
                                                                                                                var td = $(this);
                                                                                                                var tr = td.parent();
                                                                                                        {% if is_granted('ROLE_ADMIN') %}
                                                                                                                    var qty = tr.find('input.qty').val();
                                                                                                        {% else %}
                                                                                                                    var qty = tr.find('.qty').html();
                                                                                                        {% endif %}
                                                                                                                    var supplierpi = tr.find('.negcel').html();
                                                                                                                    var supplierprice = tr.find('.supplierprice').html();
                                                                                                                    var celdifp = tr.find('.celdifp');
                                                                                                                    var celdifv = tr.find('.celdifv');
                                                                                                                    if ($('#customer').val() != "0") {
                                                                                                                        if (!td.hasClass('focus')) {
                                                                                                                            $(this).data('tmp', $(this).html());
                                                                                                                            input = $('<input type="text" value="' + $(this).html().replace('<i class="icon-warning-sign"></i>', '').trim() + '" />');
                                                                                                                            input.bind('change', function() {
                                                                                                                                td.html('<img src="/bundles/app/images/loadingbar.gif">');
                                                                                                                                var value = $(this).val();
                                                                                                        {% if is_granted('ROLE_ADMIN') %}
                                                                                                                                if (td.hasClass('moqcel')) {
                                                                                                                                    $.post("{{path('offer_fixmoq')}}",
                                                                                                                                            {
                                                                                                                                                'idoffer': idoffer,
                                                                                                                                                'idcustomer': $('#customer').val(),
                                                                                                                                                'incoterm': incoterm,
                                                                                                                                                'value': value
                                                                                                                                            }, function(data) {
                                                                                                                                        if (data.type == "free")
                                                                                                                                            td.html(data.result);
                                                                                                                                        else
                                                                                                                                            td.html(data.result + ' <i class="icon-warning-sign"></i>');
                                                                                                                                        td.removeClass('focus');
                                                                                                                                    }
                                                                                                                                    );
                                                                                                                                } else if (td.hasClass('pricecel')) {
                                                                                                                                    $.post("{{path('offer_fixprice')}}",
                                                                                                                                            {
                                                                                                                                                'idoffer': idoffer,
                                                                                                                                                'idcustomer': $('#customer').val(),
                                                                                                                                                'incoterm': incoterm,
                                                                                                                                                'value': value
                                                                                                                                            }, function(data) {

                                                                                                                                        if (data.type == "free")
                                                                                                                                            td.html(data.result);
                                                                                                                                        else
                                                                                                                                            td.html(data.result + ' <i class="icon-warning-sign"></i>');
                                                                                                                                        td.removeClass('focus');
                                                                                                                                    }
                                                                                                                                    );
                                                                                                                                } else {% endif%} if (td.hasClass('negcel')) {
                                                                                                                                    celdifp.html('<img src="/bundles/app/images/loadingbar.gif">');
                                                                                                                                    celdifv.html('<img src="/bundles/app/images/loadingbar.gif">');
                                                                                                                                    $.post("{{path('offer_negfrprice')}}",
                                                                                                                                            {
                                                                                                                                                'idoffer': idoffer,
                                                                                                                                                'idcustomer': $('#customer').val(),
                                                                                                                                                'incoterm': incoterm,
                                                                                                                                                'value': value
                                                                                                                                            }, function(data) {
                                                                                                                                        difp = (data.result - supplierprice) / supplierprice * 100;
                                                                                                                                        difv = qty * (data.result - supplierprice);
                                                                                                                                        celdifp.html(difp.toFixed(2));
                                                                                                                                        celdifv.html(difv.toFixed(2));
                                                                                                                                        if (data.type == "free") {
                                                                                                                                            td.html(data.result);
                                                                                                                                        }
                                                                                                                                        else
                                                                                                                                            td.html(data.result + ' <i class="icon-warning-sign"></i>');
                                                                                                                                        td.removeClass('focus');
                                                                                                                                    }
                                                                                                                                    );
                                                                                                                                }
                                                                                                                                ;
                                                                                                                            });
                                                                                                                            input.bind('focusout', function() {
                                                                                                                                td.html(td.data('tmp'));
                                                                                                                                td.removeClass('focus');
                                                                                                                            });
                                                                                                                            $(this).html('').append(input);
                                                                                                                            td.addClass('focus');
                                                                                                                        }
                                                                                                                    } else {
                                                                                                                        alert("please select customer");
                                                                                                                    }
                                                                                                                });
                                                                                                            });
                                                                                                        </script>
