{% if (myuser is not defined) %}
    {% set myuser = profils.get()  %}
        {% else %}
            {% endif %}

<table cellpadding="0" cellspacing="0" border="0" class="table cadencier dTable" id="cadencieroffers">
    <thead>
        <tr>
            <th style="display:none;" ></th>
            <th>{{'ENTITY_PRODUCT_SOURCINASIAITEMNUMBER'|trans|raw }}</th>
                                {% if is_granted('ROLE_COMMERCIAL') %}
            <th>{{'ENTITY_PRODUCT_SUPPLIERITEMNUMBER'|trans|raw }}</th>
                                {% endif %}
            <th>Pictures</th>
            <th>{{'ENTITY_PRODUCT_NOMENCLATURE'|trans|raw }}</th>
                                {% if is_granted('ROLE_COMMERCIAL') %}
            <th>{{'ENTITY_PRODUCT_DESCRIPTION'|trans|raw }}</th>
            <th>{{'ENTITY_PRODUCT_FRENSHDESCRIPTION'|trans|raw }}</th>
                                {% elseif is_granted('ROLE_CLIENT') %}
                                    {% if (app.request.locale=='fr') %}
            <th>{{'ENTITY_PRODUCT_FRENSHDESCRIPTION'|trans|raw }}</th>
                                    {% elseif (app.request.locale=='en') %}
            <th>{{'ENTITY_PRODUCT_DESCRIPTION'|trans|raw }}</th>
                                    {% endif %}
                                {% endif %}
            <th>{{'ENTITY_PRODUCT_PCB'|trans|raw }}</th>
            <th>{{'ENTITY_PRODUCT_CBM'|trans|raw }}</th>
                                {% if (myuser.mode!="presentation") %}
                                    {% if (ordertab is not defined) %} 
            <th>{{'ENTITY_COMMAND_MOQ'|trans|raw }}</th>
            <th class="fobcel" style="display:none;">{{'ENTITY_OFFER_FOBPRICE'|trans|raw }}</th>
            <th class="exwcel" style="display:none;">{{'ENTITY_OFFER_EXWPRICEUSD'|trans|raw }}</th>
                                {% else %}
                                    {% if (cadencier.incoterm.title=='FOB')%}
            <th>{{'ENTITY_OFFER_EXWPRICEUSD'|trans|raw }}</th>
                                        {% elseif (cadencier.incoterm.title=='EXW')%}
            <th>{{'ENTITY_OFFER_FOBPRICE'|trans|raw }}</th>
                                        {% endif %}
                                    {% endif %}
            <th>{{'ENTITY_COMMAND_QUANTPIECE'|trans|raw }}</th>
                                {% endif %}
                                {% if (ordertab is  defined) %}   
            <th>{{'ENTITY_COMMAND_TOTAL'|trans|raw }}</th>
                                {% endif %}
        </tr>
    </thead>
    <tbody>
                        {% for key,offer in offers %}
                            {% if (not cadencier.locked  or  (cadencier.locked and ('o'~offer.id in cadencier.selection|keys))) %}
        <tr data-key="{{key}}" data-offer="{{offer.id}}" {% if ('o'~offer.id in cadencier.selection|keys) %}class="info"{% endif%}>
            <td style="display:none;">
                                        {% if ('o'~offer.id in cadencier.selection|keys) %}1{% endif%}
            </td>
            <td> 
                                        {% if ( not cadencier.locked and ordertab is not defined  ) %}
                <input  type="checkbox" value="{{offer.id}}" class="autosave" name="selection[{{offer.id}}][o]" {% if ('o'~offer.id in cadencier.selection|keys) %}checked="checked"{% endif%}>
                                        {% endif %}
                                        {{offer.product.id}}
            </td>
                                    {% if is_granted('ROLE_COMMERCIAL') %}
            <td>
                                            {{offer.itemnumber}} 
            </td>
                                    {% endif %}
            <td>
                                        {% if (offer.product.mainimage)%}
                <span class="product-thumb" style="background-image:url({{webpath~offer.product.mainimage|replace({'original.jpg':'small.jpg'})}})"  alt=""></span>
                                        {% elseif (offer.product.images|length > 1)%}
                <span class="product-thumb"   style="background-image:url({{webpath~offer.product.images|first}})"  alt=""></span>
                                        {% else %}
                <span class="product-thumb"  style="background-image:url({{webpath}}bundles/app/images/no-image.png)"  ></span>
                                        {% endif %}
            </td>
                                    {% if (app.request.locale=='fr') %}
            <td>{{offer.product.categorie.nom}}</td>
                                    {% else  %}
            <td>{{offer.product.categorie.name}}</td>
                                    {% endif %}
                                    {% if is_granted('ROLE_COMMERCIAL') %}
            <td>{{ offer.product.description}}</td>
            <td>{{ offer.product.frenchdescription}}</td>
                                    {% elseif is_granted('ROLE_CLIENT') %}
                                        {% if (app.request.locale=='fr') %}
            <td>{{ offer.product.frenchdescription}}</td>
                                        {% elseif (app.request.locale=='en') %}
            <td>{{ offer.product.description}}</td>
                                        {% endif %}
                                    {% endif %}
            <td>{{offer.product.pcb}}</td>
            <td>{{offer.product.cbm}}</td>
                                    {% if (myuser.mode!="presentation") %}
                                        {% if (ordertab is not defined) %} 
            <td class="unselect moqcel edit"> 
                                                {{ offer.moq(myuser.cutomer_id) }}
                                                {% if (is_granted('ROLE_COMMERCIAL')) %}
                                                    {% if (offer.isCustomerMoq(myuser.cutomer_id)) %}
                <i class="icon-warning-sign"></i>
                                                    {% endif %}
                                                {% endif %}
            </td>
            <td class="unselect exwcel pricecel edit" style="display:none;" data-incoterm="exw"> 
                                                {% set price =  offer.getSaleprice('exw',myuser)|number_format(2, '.', ',') %}
                                                    {{price}}
                                                    {% if (is_granted('ROLE_COMMERCIAL')) %}
                                                        {% if (offer.isCustomerprices(myuser,'exw')) %}
                <i class="icon-warning-sign"></i>
                                                        {% endif %}
                                                    {% endif %}
            </td>
            <td class="unselect fobcel pricecel edit" style="display:none;" data-incoterm="fob"> 
                                                    {% set price = offer.getSaleprice('fob',myuser)|number_format(2, '.', ',') %}
                                                        {{price}}
                                                        {% if (is_granted('ROLE_COMMERCIAL')) %}
                                                            {% if (offer.isCustomerprices(myuser,'fob')) %}
                <i class="icon-warning-sign"></i>
                                                            {% endif %}
                                                        {% endif %}
            </td>
                                                    {% else%}
            <td>
                                                            {% if (cadencier.incoterm.title=='FOB')%}
                                                                {% set price = offer.getSaleprice('fob',myuser)|number_format(2, '.', ',') %}
                                                                    {{price}}
                                                                    {% elseif (cadencier.incoterm.title=='EXW')%}
                                                                        {% set price = offer.getSaleprice('exw',myuser)|number_format(2, '.', ',') %}
                                                                            {{price}}
                                                                            {% endif%}
            </td>
                                                                            {% endif%}

            <td class="unselect"> 
                                                                                    {% if (cadencier.locked)%}
                                                                                        {{qty}}
                                                                                    {% else %}
                                                                                        {% if (ordertab is not defined) %}        
                                                                                            {%  if ('o'~offer.id in cadencier.selection|keys) %} 
                                                                                                {%set qty=attribute( cadencier.selection,'o'~offer.id).qty %} 
                <span class="btn btn-default btn-xs fullcontainer"><i class="icon-fullscreen "></i></span><input style="width:50px;" type="text" class="autosave qty" name="selection[{{offer.id}}][q]"  value="{{qty}}" data-moq="{{ offer.moq(myuser.cutomer_id) }}" data-cbm="{{offer.product.cbm}}" data-pcb="{{offer.product.pcb}}"><i class="icon-info-sign showtooltip" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="MOQ: {{ offer.moq(myuser.cutomer_id) }} {{ offer.moqunit.title }} | PCB :{{offer.product.pcb}}"></i>
                                                                                                        {% else%}
                                                                                                            {%set qty=offer.moq(myuser.cutomer_id) %} 
                <span class="btn btn-default btn-xs fullcontainer" style="display:none;"><i class="icon-fullscreen "></i></span><input style="width:50px;display:none;" type="text" class="autosave qty" name="selection[{{offer.id}}][q]"  value="{{qty}}" data-moq="{{ offer.moq(myuser.cutomer_id) }}" data-cbm="{{offer.product.cbm}}" data-pcb="{{offer.product.pcb}}"><i class="icon-info-sign showtooltip" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="MOQ: {{ offer.moq(myuser.cutomer_id) }} {{ offer.moqunit.title }} | PCB :{{offer.product.pcb}}"></i>
                                                                                                                {% endif%}
                                                                                                                    {% else%}
                                                                                                                        {%  if ('o'~offer.id in cadencier.selection|keys) %} 
                                                                                                                            {%set qty=attribute( cadencier.selection,'o'~offer.id).qty %} 
                                                                                                                                {% else%}
                                                                                                                                    {%set qty=offer.moq(myuser.cutomer_id) %} 
                                                                                                                                        {% endif%}
                                                                                                                                            {{qty}}
                                                                                                                                            {% endif%}
                                                                                                                                                {% endif %}
            </td>
                                                                                                                                            {% endif %}
                                                                                                                                                {% if (ordertab is  defined) %}   
            <td>{{price*qty}} USD</td>
                                                                                                                                                {% endif %}

        </tr>
                                                                                                                                            {% endif%}
                                                                                                                                                {% endfor %}
    </tbody>
</table>

                                                                                                                                            {% if (is_granted('ROLE_COMMERCIAL')) %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.edit').click(function() {
            var incoterm = $(this).data('incoterm');
            var idoffer = $(this).parent().data('offer');
            var td = $(this);

            if ($('#customer').val() != "0") {
                if (!td.hasClass('focus')) {
                    $(this).data('tmp', $(this).html());
                    input = $('<input type="text" value="' + $(this).html().replace('<i class="icon-warning-sign"></i>', '').trim() + '" />');
                    input.bind('change', function() {
                        td.html('<img src="/bundles/app/images/loadingbar.gif">');
                        var value = $(this).val();
                        if (td.hasClass('moqcel')) {
                            $.post("{{path('offer_fixmoq')}}",
                                    {
                                        'idoffer': idoffer,
                                        'idcustomer': $('#customer').val(),
                                        'incoterm': incoterm,
                                        'value': value
                                    }, function(data) {
                                if (data.type == "free")
                                    td.html(data.result); 
                                else
                                    td.html(data.result + ' <i class="icon-warning-sign"></i>');
                                td.removeClass('focus');
                                td.parent().find('input.qty').data('moq',data.result);
                            }
                            );

                        } else if (td.hasClass('pricecel')) {
                            $.post("{{path('offer_fixprice')}}",
                                    {
                                        'idoffer': idoffer,
                                        'idcustomer': $('#customer').val(),
                                        'incoterm': incoterm,
                                        'value': value
                                    }, function(data) {
                                if (data.type == "free")
                                    td.html(data.result);
                                else
                                    td.html(data.result + ' <i class="icon-warning-sign"></i>');
                                td.removeClass('focus');
                            }
                            );

                        }

                    });

                    input.bind('focusout', function() {
                        td.html(td.data('tmp'));
                        td.removeClass('focus');
                    });

                    $(this).html('').append(input);
                    td.addClass('focus');
                }
            } else {
                alert("please select customer");
            }
        });
    });
</script>
                                                                                                                                            {% endif %}
