<table cellpadding="0" cellspacing="0" border="0" class="table responsive cadencier dTable" id="cadencieroffers">
    <thead>
        <tr>
            <th>{{'ENTITY_PRODUCT_SOURCINASIAITEMNUMBER'|trans|raw }}</th>
                {% if is_granted('ROLE_COMMERCIAL') %}
                <th>{{'ENTITY_PRODUCT_SUPPLIERITEMNUMBER'|trans|raw }}</th>
                {% endif %}
            <th>Pictures</th>
            <th>{{'ENTITY_PRODUCT_NOMENCLATURE'|trans|raw }}</th>
                {% if is_granted('ROLE_COMMERCIAL') %}
                <th>{{'ENTITY_PRODUCT_DESCRIPTION'|trans|raw }}</th>
                <th>{{'ENTITY_PRODUCT_FRENSHDESCRIPTION'|trans|raw }}</th>
                {% elseif is_granted('ROLE_CLIENT') %}
                    {% if (app.request.locale=='fr') %}
                    <th>{{'ENTITY_PRODUCT_FRENSHDESCRIPTION'|trans|raw }}</th>
                    {% elseif (app.request.locale=='en') %}
                    <th>{{'ENTITY_PRODUCT_DESCRIPTION'|trans|raw }}</th>
                    {% endif %}
                {% endif %}
            <th>{{'ENTITY_PRODUCT_PCB'|trans|raw }}</th>
            <th>{{'ENTITY_PRODUCT_CBM'|trans|raw }}</th>
                {% if (myuser.mode!="presentation") %}
                    {% if (incoterms.fob) %}
                    <th>{{'ENTITY_OFFER_FOBPRICEUSD'|trans|raw }}</th>
                    {% endif %}
                    {% if (incoterms.exw) %}
                    <th>{{'ENTITY_OFFER_EXWPRICE'|trans|raw }}</th>
                    {% endif %}
                <th>{{'ENTITY_OFFER_MOQ'|trans|raw }}</th>
                {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for key,offer in offers %}
            <tr>
                <td> 
                   <p> <input  type="checkbox" value="{{offer.id}}" class="autosave" name="selection[{{offer.id}}][o]">
                    {{offer.product.id}}     {%if  (is_granted('ROLE_COMMERCIAL') and not myuser.cutomer_id == 0) %}<i class="icon-eye-open view"></i>{% endif%}</p>
                </td>
                {% if is_granted('ROLE_COMMERCIAL') %}
                    <td>
                        {{offer.itemnumber}} 
                    </td>
                {% endif %}
                <td>
                    {% if (offer.product.mainimage)%}
                        <span class="product-thumb" style="background-image:url({{webpath~offer.product.mainimage|replace({'original.jpg':'small.jpg'})}})"  alt=""></span>
                    {% elseif (offer.product.images|length > 1)%}
                        <span class="product-thumb"   style="background-image:url({{webpath~offer.product.images|first}})"  alt=""></span>
                    {% else %}
                        <span class="product-thumb"  style="background-image:url({{webpath}}bundles/app/images/no-image.png)"  ></span>
                    {% endif %}
                </td>
                {% if (app.request.locale=='fr') %}
                    <td>{{offer.product.categorie.nom}}</td>
                {% else  %}
                    <td>{{offer.product.categorie.name}}</td>
                {% endif %}
                {% if is_granted('ROLE_COMMERCIAL') %}
                    <td>{{ offer.product.description}}</td>
                    <td>{{ offer.product.frenchdescription}}</td>
                {% elseif is_granted('ROLE_CLIENT') %}
                    {% if (app.request.locale=='fr') %}
                        <td>{{ offer.product.frenchdescription}}</td>
                    {% elseif (app.request.locale=='en') %}
                        <td>{{ offer.product.description}}</td>
                    {% endif %}
                {% endif %}
                <td>{{offer.product.pcb}}</td>
                <td>{{offer.product.cbm}}</td>
                {% if (myuser.mode!="presentation") %}
                    {% if (incoterms.fob) %}
                        <td>

                            {%if  (is_granted('ROLE_SOURCING') and myuser.cutomer_id == 0)  %}
                                <i class="icon-home"></i> {% set price = offer.getSourcingprice('fob')|number_format(2, '.', ',') %}
                            {% else %}
                                {% set price = offer.getSaleprice('fob',myuser)|number_format(2, '.', ',') %}
                                    {% endif %}
                                        {{price}}
                                    </td>
                                    {% endif %}
                                        {% if (incoterms.exw) %}
                                            <td>
                                                {%if  (is_granted('ROLE_SOURCING') and myuser.cutomer_id == 0)  %}
                                                    <i class="icon-home"></i> {% set price = offer.getSourcingprice('exw')|number_format(2, '.', ',') %}
                                                {% else %}
                                                    {% set price = offer.getSaleprice('exw',myuser)|number_format(2, '.', ',') %}
                                                        {% endif %}
                                                            {{price}}
                                                        </td>
                                                        {% endif %}
                                                            <td> 
                                                                {%set qty=offer.moq(myuser.cutomer_id) %} 
                                                                    {{qty}}
                                                                </td>
                                                                {% endif %}

                                                                </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>