<table class="table responsive">
    <thead>
        <tr>
            <th>Pictures</th>
            <th>Categories</th>
            <th>Name</th>
            <th>CBM(M3)</th>
            <th>Commander</th>
        </tr>
    </thead>
    <tbody>
        {% for key,offer in offers %}
        {% if ('o'~offer.id in cadencier.selection|keys) %}
        <tr {% if ('o'~offer.id in cadencier.selection|keys) %}{% endif%}>
            <td>
                             {% if (offer.product.mainimage)%}
                <span class="product-thumb" style="background-image:url({{webpath~offer.product.mainimage}})"  alt=""></span>
                        {% elseif (offer.product.images|length > 1)%}
                <span class="product-thumb"   style="background-image:url({{webpath~offer.product.images|first}})"  alt=""></span>
                        {% else %}
                <span class="product-thumb"  style="background-image:url({{webpath}}bundles/app/images/no-image.png)"  ></span>
                        {% endif %}
            </td>
            <td>{{offer.product.categorie.name}}</td>
            <td>{{ offer.product.smalldescription}}</td>
            <td>{{offer.product.cbm}}</td>
            <td><a class="btn btn-default" href="{{path('public_cadencier_routing',{'id':cadencier.id,'token':'test'})}}">Order</a></td>
        </tr>
        {% endif%}
     {% endfor %}
    </tbody>
</table>
