{% extends "appBundle::layout_site.html.twig" %}



{% if (myuser is not defined) %}
    {% set myuser = profils.get()  %}
        {% endif %}

            {% block header %}
                <div class="container">
                    {% include 'appBundle::cadencierbar.html.twig' %}
                </div>{% endblock %}

                {% block body %}
                    {% if (cadencier is defined and not cadencier.locked and cadencier.id) %}
                        <form action="{{path('cadenciers_generate',{'action':'pi'})}}" id="selection" method="POST">
                        {%endif%}
                        <input type="hidden" id="customer" value="{{myuser.cutomer_id}}">
                        <div class="container">
                            {% if (myuser.mode!="presentation") %}
                                <div class="row">
                                    <div class="col-md-4 " >
                                        {% if (app.request.locale=='fr') %}
                                            {{_.box(supplier.offernamefr?supplier.offernamefr:'CADENCIERS_BOXTITLE_COMMENT')}}
                                        {% else %}
                                            {{_.box(supplier.offername?supplier.offername:'CADENCIERS_BOXTITLE_COMMENT')}}
                                        {% endif %}
                                        {{ 'ENTITY_SUPPLIER'|trans|raw }} : {{ supplier.id}} <br/>
                                        {{supplier.comments}}
                                        {{_.endbox()}}
                                    </div>
                                    {% if cadencier is defined and  cadencier.id and (is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_CLIENT'))%}
                                        <div class="col-md-8 ">
                                            <div class="row ">
                                                <div class="col-md-12 fixedItem">
                                                    <div class="box ">
                                                        <div class="box-header">
                                                            <ul class="box-toolbar">
                                                                {# BACK BTN
                                    <li><a href="{{path('catalog')}}" class="btn btn-default" ><i class="icon-chevron-left"></i> {{'CATALOG_BTN_BACKTOCATALOG'|trans|raw }}</a></li>
 #}
                                                                {% if (is_granted('ROLE_COMMERCIAL') and myuser.cutomer_id and not cadencier.command) %}
                                                                    <li> <input  type="checkbox" value="1" name="visible"  class="autosave" {% if (cadencier.visible) %}checked="checked"{% endif%}> {{'SHARE'|trans|raw }}</li>
                                                                    {% endif %}

                                                                {# SUPPRESSION CADENSIER #}
                                                                {% if (cadencier.id and not cadencier.locked) %}
                                                                    <li><input  type="hidden" value="{{cadencier.id}}" name="cadencierid"  class="autosave"></li>
                                                                    <li><a href="{{path('cadencier_delete',{'id': cadencier.id})}}" class="btn btn-red ConfirmAction" id="deletecadencier"><i class="icon-trash"></i> {{'CADENCIERS_BTN_DELETE'|trans|raw }}</a></li>
                                                                    {% endif %}

                                                                {% if is_granted('ROLE_CLIENT') or (is_granted('ROLE_COMMERCIAL')) %}
                                                                    {# EXPORT #}
                                                                    <li><a class="btn btn-default" href="{{path('export_cadencierpictures',{'id': cadencier.id})}}"><i class="icon-download-alt"></i> {{'APPLICATION_EXTRACTPICTURE'|trans|raw }}</a></li>
                                                                        {% if (is_granted('ROLE_COMMERCIAL')) %}
                                                                        <li><a href="{{path('export_quotationsheet',{'id': cadencier.id})}}" class="btn btn-default ExportAction"><i class="icon-download-alt"></i> {{'EXP_SELECTION'|trans|raw }}(XLS)</a></li>
                                                                        {% elseif (cadencier.customer.xlsexport is defined) %}
                                                                            {% if cadencier.customer.xlsexport %}
                                                                            <li><a href="{{path('export_quotationsheet',{'id': cadencier.id})}}" class="btn btn-default ExportAction"><i class="icon-download-alt"></i> {{'EXP_SELECTION'|trans|raw }}(XLS)</a></li>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    <li><a href="{{path('export_quotationsheetpdf',{'id': cadencier.id})}}" class="btn btn-default ExportAction" target="_blank"><i class="icon-download-alt"></i> {{'EXP_SELECTION'|trans|raw }}(PDF)</a></li>

                                                                    {# ASK PI #}
                                                                    {% if (cadencier.command) %}
                                                                        <li><a href="{{path('command_show',{'id': cadencier.command.id})}}" class="btn btn-blue SeeCommand"><i class="icon-inbox"></i> {{'CADENCIERS_BTN_CONSULTCOMMAND'|trans|raw }}</a></li>
                                                                        {% elseif (is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_CLIENT')) %}
                                                                            {% if ( not cadencier.locked) %}
                                                                                {% if (myuser.mode=="commercial") %}
                                                                                <li><span  class="btn btn-blue buildPiAction ConfirmAction"><i class="icon-ok"></i> {{'CADENCIERS_BTN_ASKPI'|trans|raw }}</span></li>
                                                                                {% elseif (myuser.mode=="presentation") %}
                                                                                <li><a href="#" class="btn btn-blue sendExportAction ConfirmAction"><i class="icon-ok"></i> {{'CADENCIERS_BTN_SEND_SELECTION'|trans|raw}}</a></li>
                                                                                <li><span class="btn btn-blue buildPiAction ConfirmAction"><i class="icon-ok"></i> {{'CADENCIERS_BTN_ASKPI'|trans|raw }}</span></li>
                                                                                {% elseif (myuser.mode=="buy") %}
                                                                                <li><span  class="btn btn-blue buildPiAction ConfirmAction"><i class="icon-ok"></i> {{'CADENCIERS_BTN_BUILDPI'|trans|raw }}</span></li>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endif %}
                                                            </ul>
                                                        </div>
                                                        <div class="box-content padded">
                                                            <div class="row">
                                                                <div class="col-md-4 ">
                                                                    <div class="dashboard-stats">
                                                                        <div class="stats-label">Total valeur</div>
                                                                        <span class="dataupdate" id="Totalvalue">{{cadencier.Totalvalue}}</span> $
                                                                    </div>
                                                                    <div class="dashboard-stats">
                                                                        <div class="stats-label">Total Volume</div>
                                                                        <span  class="dataupdate" id="Cbm">{{cadencier.Cbm}}</span> M3
                                                                    </div>
                                                                    <div class="dashboard-stats hiddenOnfixed">
                                                                        <div class="stats-label">Quantpieces</div>
                                                                        <span  class="dataupdate" id="Quantpieces">{{cadencier.Quantpieces}}</span> 
                                                                    </div>
                                                                    <div class="dashboard-stats hiddenOnfixed">
                                                                        <div class="stats-label">Quantpackages</div>
                                                                        <span  class="dataupdate" id="Quantpackages">{{cadencier.Quantpackages}}</span> 
                                                                    </div>
                                                                    {# <div class="dashboard-stats hiddenOnfixed">
                                                                         <div class="stats-label">Nw</div>
                                                                         <span  class="dataupdate" id="Nw">{{cadencier.Nw}}</span> 
                                                                     </div>
                                                                     <div class="dashboard-stats hiddenOnfixed">
                                                                         <div class="stats-label">Gw</div>
                                                                         <span  class="dataupdate" id="Gw">{{cadencier.Gw}}</span> M3
                                                                     </div>#}
                                                                </div>
                                                                <div class="col-md-8 ">
                                                                    <div class="row">
                                                                        <div class="col-md-6 ">
                                                                            <div class="row dashboard-stats"><div class="stats-label hiddenOnfixed">{{'CADENCIER_CONTAINERSCHOICE'|trans|raw }}</div>
                                                                                {{ form_row(form.containers) }} 
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 ">
                                                                            <div class="row dashboard-stats"><div class="stats-label hiddenOnfixed">{{'CADENCIER_INCOTERMCHOICE'|trans|raw }}</div>
                                                                                {{ form_row(form.incoterms) }} 
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="progress  active" style="height:20px;margin-bottom: 0px;">
                                                                                <div class="progress-bar progress-blue" id="progress-bar" data-free="" style="height:20px;width: {{cadencier.Containeroccupation}}%;">{{cadencier.Containeroccupation}}% | {{cadencier.Cbm}}M3 / {{cadencier.container.volume}}M3 | {{cadencier.container.title}}<span class="sr-only"></span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row hiddenOnfixed" style="margin-top:50px;">
                                                                        <div class="col-md-6">{{'ENTITY_SUPPLIER_DELEVERYTIME'|trans|raw }} : <strong>{{supplier.deleverytime}} (F)</strong></div>
                                                                        <div class="col-md-6"> {{'ENTITY_SUPPLIER_PAYMENTTERMS'|trans|raw }} : <strong>{{supplier.paymenterms.title}}</strong></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                            {% endif %} 
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <span class="title">{{'ENTITY_CADENCIER'|trans|raw }}</span>
                                            {% if cadencier is defined and  cadencier.id %}

                                                <ul class="box-toolbar">
                                                    {% if  not is_granted('ROLE_PRODUCTION') or is_granted('ROLE_ADMIN') %}
                                                        <li><span href="#" class="btn btn-default" id="SelectAll"><i class="icon-check"></i> {{'APPLICATION_ALL'|trans|raw }}</span></li>
                                                        <li><span href="#" class="btn btn-default" id="orderAction"><i class="icon-retweet"></i> {{'CADENCIERS_BTN_ORDER'|trans|raw }}</span></li>
                                                        <li><span href="#" class="btn btn-default" id="razAction"><i class="icon-trash"></i> {{'CADENCIERS_BTN_RAZ'|trans|raw }}</span></li>
                                                        {% endif %} 
                                                        {% if (cadencier.command) %}
                                                        <li><a href="{{path('profils_backtoorder',{'id': cadencier.command.id})}}" class="btn btn-default"><i class="icon-inbox"></i> {{'CADENCIERS_BTN_CONSULTCOMMAND'|trans|raw }}</a></li>

                                                        {% if is_granted('ROLE_COMMERCIAL') %}
                                                            {% if  (cadencier.command.state==3) %}
                                                                <li><a target="_blank" href="{{path('export_quotationsheetpdf',{'id': cadencier.id,'type':'pi'})}}" class="btn btn-blue SeeCommand"><i class="icon-inbox"></i> {{'CADENCIERS_BTN_EXPORT_PI_CUSTOMER'|trans|raw }}</a></li>
                                                                {% endif %} 
                                                            {% endif %} 
                                                            {% if  is_granted('ROLE_PRODUCTION') and not is_granted('ROLE_ADMIN') %}
                                                                {% if  (cadencier.command.state==3 or cadencier.command.state==2 or cadencier.command.state==1 or cadencier.command.state==0) %}
                                                                <li><a href="{{path('export_quotationsheet',{'id': cadencier.id,'type':'pi'})}}" class="btn btn-blue SeeCommand"><i class="icon-inbox"></i> {{'CADENCIERS_BTN_EXPORT_PI_SUPPLIER'|trans|raw }}</a></li>
                                                                {% endif %}  
                                                                {% if is_granted('ROLE_PRODUCTION') and not is_granted('ROLE_ADMIN') %}
                                                                <li><a href="{{path('command_step12',{'id': cadencier.command.id})}}" class="btn btn-blue SeeCommand"><i class="icon-inbox"></i> {{'CONFIRM SUPPLIER PI'|trans|raw }}</a></li>
                                                                {% endif %}  
                                                            {% endif %}  

                                                    {% endif %} 
                                                </ul>
                                            {% else %} 
                                                <ul class="box-toolbar">
                                                    <li><span href="#" class="btn btn-blue" id="generatebtn">{{'CATALOG_BTN_GENERATECADENCIER'|trans|raw }} <i class="icon-angle-right"></i></span></li>
                                                </ul>
                                                <script type="text/javascript">
                                                    $('#generatebtn').click(function() {
                                                        if ($('INPUT[TYPE=checkbox]:checked').length == 0)
                                                            alert('Please select at least one article');
                                                        else
                                                        if (confirm('Do you want to generate ' + $('.nbrcadencier').html() + ' cadencier' + (($('.nbrcadencier').html() >= 2) ? 's' : '') + ' ?')) {
                                                            $('#selectionsform').submit();
                                                        }
                                                    });
                                                </script>
                                            {% endif %}
                                        </div>
                                        <div class="box-content padded">
                                            {% if cadencier is defined and cadencier.id %}
                                                {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_PRODUCTION')) and fred is defined %}
                                                    {% include 'appBundle:Cadencier:cadencierFredlist.html.twig' %}
                                                {% else %}
                                                    {% include 'appBundle:Cadencier:cadencierProductlist.html.twig' %}
                                                {% endif %}
                                            {% else %}
                                                <form action="{{path('cadenciers_generate',{action:'display'})}}" method="post" id="selectionsform">
                                                    {% include 'appBundle:Cadencier:cadencierSupplierlist.html.twig' %}
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if (cadencier is defined and not cadencier.locked and cadencier.id) %} 
                        </form>
                    {% endif %}
                    <script type="text/javascript">
                        $(document).ready(function() {
                        {% if (cadencier is defined and not cadencier.locked and cadencier.id and (not is_granted('ROLE_PRODUCTION') or is_granted('ROLE_ADMIN') )) %}
                            {% if (myuser.mode!="presentation") and (is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_CLIENT'))  %}

                                    function selection(tr, boolean) {
                                        // console.log(tr.data('key'));
                                        if (boolean) {
                                            if (!tr.hasClass('info'))
                                                tr.addClass('info');
                                            tr.find('input[type=checkbox]').prop('checked', true);
                                            oTable.fnUpdate('1', tr.data('key'), 0, false);
                                            tr.find('.fullcontainer, input.qty').fadeIn();
                                        } else {
                                            if (tr.hasClass('info'))
                                                tr.removeClass('info');
                                            tr.find('input[type=checkbox]').prop('checked', false);
                                            oTable.fnUpdate('0', tr.data('key'), 0, false);
                                            tr.find('.fullcontainer, input.qty').fadeOut();
                                        }
                                        //console.log(tr.find('td').eq(0).html());

                                    }

                                    function updatefullcontainersbtn() {
                                        var free = $('#progress-bar').data('free');
                                        $('.fullcontainer').each(function() {
                                            input = $(this).closest('tr').find('input.qty');
                                            qty = Math.ceil(input.data('moq') / input.data('pcb')) * input.data('pcb');
                                            if (qty * input.data('cbm') <= free) {
                                                if ($(this).hide())
                                                    $(this).fadeIn();
                                            } else {
                                                if (!$(this).hide())
                                                    $(this).fadeIn();
                                            }
                                        });
                                    }

                                    $('.fullcontainer').click(function() {
                                        tr = $(this).closest('tr');
                                        input = $(this).closest('tr').find('input.qty');
                                        free = $('#progress-bar').data('free') * 0.99;
                                        cbm = input.data('cbm');
                                        full = free / cbm;
                                        qty = Math.floor(full / input.data('pcb')) * input.data('pcb');
                                        // console.log(free + '/' + cbm + '=' + full);
                                        if (tr.find('input[type=checkbox]').prop('checked'))
                                            newvalue = parseInt(parseInt(input.val()) + Math.ceil(full));
                                        else
                                            newvalue = parseInt(Math.ceil(full));

                                        if (newvalue >= input.data('moq')) {
                                            input.val(newvalue);
                                            if (!tr.hasClass('info'))
                                                tr.addClass('info');
                                            selection(tr, true);
                                            checksavevalue(input);
                                        }
                                        else
                                            alert('MOQ limit');
                                    });
                                    $('.buildPiAction').click(function() {
                                        $('#selection').submit();
                                    });
                                    function checksavevalue(input) {
                                        tr = input.closest('tr');
                                        moq = input.data('moq');
                                        qty = Math.ceil(input.val() / input.data('pcb')) * input.data('pcb');
                                        //console.log(input.val()+' '+input.data('pcb')+':'+qty);
                                        if (qty == 0) {
                                            selection(tr, false);
                                            if (tr.hasClass('info'))
                                                tr.removeClass('info');
                                            input.val(moq);
                                        } else if (qty < moq) {
                                            if (confirm('Quantity < Moq  Do you confirm ?'))
                                                input.val(qty);
                                            else
                                                input.val(moq);
                                            tr.find('.showtooltip').tooltip('show');
                                            //selection(tr, false);
                                            if (!tr.hasClass('info'))
                                                tr.addClass('info');
                                        } else {
                                            input.val(qty);
                                            selection(tr, true);
                                            if (!tr.hasClass('info'))
                                                tr.addClass('info');
                                        }
                                        update();
                                    }

                                    $('.qty').change(function() {
                                        checksavevalue($(this));
                                    });
                                    function changeColor(color) {
                                        if ($('#progress-bar').hasClass('progress-green'))
                                            $('#progress-bar').removeClass('progress-green');
                                        if ($('#progress-bar').hasClass('progress-orange'))
                                            $('#progress-bar').removeClass('progress-orange');
                                        if ($('#progress-bar').hasClass('progress-blue'))
                                            $('#progress-bar').removeClass('progress-blue');
                                        if ($('#progress-bar').hasClass('progress-red'))
                                            $('#progress-bar').removeClass('progress-red');
                                        $('#progress-bar').addClass('progress-' + color);
                                    }

                            {% endif %}
                                    /* $('#cadencieroffers td:not(.unselect)').click(function() {
                                     tr = $(this).closest('tr');
                                     if (tr.hasClass('info')) {
                                     tr.removeClass('info');
                                     selection(tr, false);
                                     } else {
                                     tr.addClass('info');
                                     selection(tr, true);
                                     }
                                     update();
                                     });*/

                                    $('input.autosave[type="checkbox"]').change(function() {
                                        update();
                                        selection($(this).closest('tr'), $(this).prop('checked'));
                                    });

                                    $('.autosave[type!="checkbox"]').change(function() {
                                        update();
                                    });

                                    function update() {
                                        if (typeof pressbtn != 'undefined') {
                                            clearTimeout(pressbtn);
                                        }
                                        pressbtn = setTimeout(function() {
                                            updatefx();
                                        }, 1300);
                                    }

                                    function updatefx() {
                                        $('.dataupdate').html('<img src="/bundles/app/images/loadingbar.gif">');
                                        $.post("{{path('cadenciers_generate')}} ", $("#selection").serialize(), function(data) {
                                            if (data.Containeroccupation > 100) {
                                                changeColor('red');
                                                //data.Containeroccupation = 100;
                                                //  alert('container is full. Please remove item.');
                                            } else if (data.Containeroccupation > 80)
                                                changeColor('green');
                                            else
                                                changeColor('blue');
                                            $('#progress-bar').css('width', data.Containeroccupation > 100 ? 100 + '%' : data.Containeroccupation + '%');
                                            $('#progress-bar').data('Containeroccupation', data.Containeroccupation);
                                            $('#progress-bar').data('Containervolmue', data.Container.volume);
                                            $('#progress-bar').data('free', Math.ceil(data.Container.volume - data.Cbm));
                                            console.log($('#progress-bar').data('free'));
                                            $('#progress-bar').html(Math.ceil(data.Containeroccupation) + '%  | ' + Math.ceil(data.Cbm) + 'M3 / ' + data.Container.volume + 'M3  | ' + data.Container.name);
                                            $('#Cbm').html(data.Cbm);
                                            $('#Totalvalue').html(data.Totalvalue);
                                            $('#Quantpieces').html(data.Quantpieces);
                                            $('#Quantpackages').html(data.Quantpackages);
                                            $('#Gw').html(data.Gw);
                                            $('#Nw').html(data.Nw);
                                            updatefullcontainersbtn();
                                        });
                                    }


                                    if (document.documentElement.clientWidth > 849) {
                                        $(window).scroll(function() {
                                            var scroll = $(window).scrollTop();
                                            if (scroll >= 200) {
                                                $(".fixedItem").addClass("fixedItemOn");
                                            }
                                            if (scroll <= 200) {
                                                $(".fixedItem").removeClass("fixedItemOn");
                                            }
                                        });
                                    }

                                    function incoterchange() {
                                        if ($("[name^='form[incoterms]']:checked").val() == 1) {
                                            $('.fobcel').hide();
                                            $('.exwcel').show();
                                        } else {
                                            $('.fobcel').show();
                                            $('.exwcel').hide();
                                        }
                                    }
                                    incoterchange();
                                    $("[name^='form[incoterms]']").change(function() {
                                        incoterchange();
                                    });

                                    $('#orderAction').click(function() {
                                        oTable.fnSort([[0, 'desc']]);
                                    });

                                    $('#razAction').click(function() {
                                        if (confirm('Confim?')) {
                                            $('#cadencieroffers tr.info').each(function() {
                                                selection($(this), false);
                                                updatefx;
                                            });
                                        }
                                    });

                                    $('#SelectAll').click(function() {
                                        if (confirm('Confim?')) {
                                            all = true;

                                            $('table input.autosave[type="checkbox"]').each(function() {
                                                all = all && $(this).is(':checked');
                                            });

                                            if (all) {
                                                $('table input.autosave[type="checkbox"]').each(function() {
                                                    selection($(this).closest('tr'), false);
                                                });
                                            } else {
                                                $('table input.autosave[type="checkbox"]').each(function() {
                                                    selection($(this).closest('tr'), true);
                                                });
                                            }
                                            update();
                                        }
                                    });





                            {% if (update) %}
                                    updatefx();
                            {% endif %}
                        {%endif%}

                        {%if  (is_granted('ROLE_COMMERCIAL') and not myuser.cutomer_id == 0) %}
                                $('i.view').click(function() {
                                    var idoffer = $(this).parent().find('input[type="checkbox"]').val();
                                    var icon = $(this);
                                    $.post("{{path('offer_publishedoffer')}}",
                                            {
                                                'idoffer': idoffer,
                                                'idcustomer': $('#customer').val(),
                                            }, function(data) {
                                        if (data == 1) {
                                            icon.removeClass('icon-eye-close');
                                            icon.addClass('icon-eye-open');
                                        }
                                        else
                                        {
                                            icon.addClass('icon-eye-close');
                                            icon.removeClass('icon-eye-open');
                                        }
                                    }
                                    );
                                });
                        {% endif %}

                                var oTable = $('.dTable').dataTable({
                                    "bPaginate": false,
                                    "bLengthChange": false,
                                    "bFilter": false,
                                    "bSort": true,
                                    "bInfo": false,
                                    "bAutoWidth": true,
                                    "aaSorting": [[0, "desc"]]
                                });


                            });
                    </script>
                {% endblock %}


                {% block commercialtools %}
                    {% include 'appBundle::commercialtools.html.twig'%}
                {% endblock %}