{% set profil = profils.get() %}
<table cellpadding="0" cellspacing="0" border="0" class="table responsive cadencier dTable" id="cadencieroffers">
    <thead>
        <tr>
            <th style="display:none;" ></th>
            <th>id sourcinasia</th>
            <th>Pictures</th>
            <th>Categories</th>
            <th>Name</th>
            <th>CBM(M3)</th>
             {% if (profil.mode!="presentation") %}
            <th class="exwcel">EXW(USD)</th>
            <th class="fobcel">FOB(USD)</th>
            <th >Qty</th>
            <th>Historique commande</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for key,offer in offers %}
         {% if (not cadencier.locked  or  (cadencier.locked and ('o'~offer.id in cadencier.selection|keys))) %}
        <tr data-key="{{key}}" {% if ('o'~offer.id in cadencier.selection|keys) %}class="info"{% endif%}>
            <td style="display:none;">
{% if ('o'~offer.id in cadencier.selection|keys) %}1{% endif%}
            </td>
            <td>
 {% if ( not cadencier.locked) %}
                <input  type="checkbox" value="{{offer.id}}" class="autosave" name="selection[{{offer.id}}][o]" {% if ('o'~offer.id in cadencier.selection|keys) %}checked="checked"{% endif%}>
                {% endif %}
{{offer.id}}
            </td>
            <td>
                             {% if (offer.product.mainimage)%}
                <span class="product-thumb" style="background-image:url({{webpath~offer.product.mainimage}})"  alt=""></span>
                        {% elseif (offer.product.images|length > 1)%}
                <span class="product-thumb"   style="background-image:url({{webpath~offer.product.images|first}})"  alt=""></span>
                        {% else %}
                <span class="product-thumb"  style="background-image:url({{webpath}}bundles/app/images/no-image.png)"  ></span>
                        {% endif %}
            </td>
            <td>{{offer.product.categorie.name}}</td>
            <td>{{ offer.product.smalldescription}}</td>
            <td>{{offer.product.cbm}}</td>
              {% if (profil.mode!="presentation") %}
            <td class="unselect exwcel"> {{ offer.exw }}</td>
            <td class="unselect fobcel"> {{ offer.fob }}</td>

            <td class="unselect"> 
            {%  if ('o'~offer.id in cadencier.selection|keys) %} 
            {%set qty=attribute( cadencier.selection,'o'~offer.id).qty%} 
            {% else%}
             {%set qty=offer.moq %} 
            {% endif%}
                        {% if (cadencier.locked)%}
                            {{qty}}
                        {% else %}
                <span class="btn btn-default btn-xs fullcontainer"><i class="icon-fullscreen "></i></span><input style="width:50px;" type="text" class="autosave qty" name="selection[{{offer.id}}][q]"  value="{{qty}}" data-moq="{{ offer.moq }}" data-cbm="{{offer.product.cbm}}" data-pcb="{{offer.product.pcb}}"><i class="icon-info-sign showtooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="MOQ: {{ offer.moq }} {{ offer.moqunit }} | PCB :{{offer.product.pcb}}"></i>
                        {% endif %}
            </td>
            <td>Historique</td>
             {% endif %}
        </tr>
        {% endif%}
     {% endfor %}
    </tbody>
</table>
