{% extends "appBundle::layout_site.html.twig" %}
{% set profil = profils.get() %}

{% block body %}
<form action="{{path('cadenciers_negociation',{'action':'pi'})}}" id="selection" method="POST">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="row ">
                    <div class="col-md-12 fixedItem">
                        <div class="box ">
                            <div class="box-header">
                                <span class="title">{{'CADENCIERS_BOXTITLE_YOURCOMMAND'|trans}}</span>
                                <ul class="box-toolbar">
                                        {#<li><a href="{{path('public_cadencier',{'id':cadencier.id,'token':'test'})}}" class="btn btn-default confirm" id="razAction">{{'PUBLIC'|trans }}</a></li> #}
                          {% if ( not cadencier.locked) %}
                                    <li><span href="#" class="btn btn-default confirm" id="razAction">{{'CADENCIERS_BTN_RAZ'|trans }}</span></li>
                                    <li><span href="#" class="btn btn-default confirm" id="orderAction">{{'CADENCIERS_BTN_ORDER'|trans }}</span></li>
                                    <li><a href="#" class="btn btn-red confirm" id="deletecadencier">{{'CADENCIERS_BTN_DELETE'|trans }}</a></li>
                          {% endif %}
                          {% if is_granted('ROLE_COMMERCIAL') %}
                                    <li><a href="#" class="btn btn-blue ExportAction">{{'CADENCIERS_BTN_EXPORT_SELECTION'|trans }}</a></li>
                             {% if ( not cadencier.locked) %}
                                   {% if (profil.mode=="presentation") %}
                                    <li><a href="#" class="btn btn-blue sendExportAction confirm">{{'CADENCIERS_BTN_SEND_SELECTION'|trans }}</a></li>
                                    <li><a href="#" class="btn btn-blue buildPiActionconfirm ">{{'CADENCIERS_BTN_BUILDPI'|trans }}</a></li>
                                   {% elseif (profil.mode=="commercial") %}
                                    <li><a href="#" class="btn btn-blue sendExportAction confirm">{{'CADENCIERS_BTN_SEND_SELECTION'|trans }}</a></li>
                                    <li><a href="#" class="btn btn-blue buildPiAction confirm">{{'CADENCIERS_BTN_BUILDPI'|trans }}</a></li>
                                   {% else %}
                                    <li><a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-blue buildQsAction confirm">{{'CADENCIERS_BTN_BUILDQS'|trans }}</a></li>
                                {% endif %}
                             {% endif %}
                          {% elseif is_granted('ROLE_CLIENT') %}
                               {% if (cadencier.customer.xlsexport is defined) %}
                                    {% if cadencier.customer.xlsexport %}
                                    <li><a href="#" class="btn btn-blue ExportAction">{{'CADENCIERS_BTN_EXPORT_SELECTION'|trans }}</a></li>
                                    {% endif %}
                               {% endif %}
                               {% if ( not cadencier.locked) %}
                                  {% if (profil.mode=="commercial") %}
                                    <li><a href="#" class="btn btn-blue buildPiAction confirm">{{'CADENCIERS_BTN_ASKPI'|trans }}</a></li>
                                  {% elseif (profil.mode=="presentation") %}
                                    <li><a href="#" class="btn btn-blue sendExportAction confirm">{{'CADENCIERS_BTN_SEND_SELECTION'|trans }}</a></li>
                                    <li><a href="#" class="btn btn-blue buildPiAction confirm">{{'CADENCIERS_BTN_ASKPI'|trans }}</a></li>
                                  {% elseif (profil.mode=="buy") %}
                                    <li><a href="#" class="btn btn-blue buildPiAction confirm">{{'CADENCIERS_BTN_BUILDPI'|trans }}</a></li>
                                  {% endif %}
                              {% endif %}
                          {% endif %}
                          {% if ( cadencier.command) %}
                                    <li><a href="#" class="btn btn-blue SeeCommand">{{'CADENCIERS_BTN_CONSULTCOMMAND'|trans }}</a></li>
                           {% endif %}
                                </ul>
                            </div>
                            <div class="box-content padded">
                                <div class="row">
                                    <div class="col-md-4 ">
                                        <div class="dashboard-stats">
                                            <div class="stats-label">Total valeur</div>
                                            <span class="dataupdate" id="Totalvalue">{{cadencier.Totalvalue}}</span> $
                                        </div>
                                        <div class="dashboard-stats">
                                            <div class="stats-label">Total Volume</div>
                                            <span  class="dataupdate" id="Cbm">{{cadencier.Cbm}}</span> M3
                                        </div>
                                        <div class="dashboard-stats hiddenOnfixed">
                                            <div class="stats-label">Quantpieces</div>
                                            <span  class="dataupdate" id="Quantpieces">{{cadencier.Quantpieces}}</span> 
                                        </div>
                                        <div class="dashboard-stats hiddenOnfixed">
                                            <div class="stats-label">Quantpackages</div>
                                            <span  class="dataupdate" id="Quantpackages">{{cadencier.Quantpackages}}</span> 
                                        </div>
                                        <div class="dashboard-stats hiddenOnfixed">
                                            <div class="stats-label">Nw</div>
                                            <span  class="dataupdate" id="Nw">{{cadencier.Nw}}</span> 
                                        </div>
                                        <div class="dashboard-stats hiddenOnfixed">
                                            <div class="stats-label">Gw</div>
                                            <span  class="dataupdate" id="Gw">{{cadencier.Gw}}</span> M3
                                        </div>
                                    </div>
                                    <div class="col-md-8 ">
                                        <div class="row dashboard-stats"><div class="stats-label hiddenOnfixed">Choix taille du conteneur :</div>
                       {{ form_row(form.containers) }}   
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="progress progress-striped active" style="height:20px;margin-bottom: 0px;">
                                                    <div class="progress-bar progress-blue" id="progress-bar" data-free="" style="height:20px;width: {{cadencier.Containeroccupation}}%;">{{cadencier.Containeroccupation}}% | {{cadencier.Cbm}}M3 / {{cadencier.container.volume}}M3 | {{cadencier.container.title}}<span class="sr-only"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row hiddenOnfixed">
                                            <div class="col-md-4">
                                {{ form_row(form.incoterms) }} 

                {% for incoterm in cadencier.supplier.incoterms %}
                    {% if (  incoterm.title=='FOB')%} 
                     {{incoterm.pol}}
                    {% else %}
                    {% endif %}
                {% endfor %}    
                                            </div>
                                            <div class="col-md-4">{{'ENTITY_SUPPLIER_DELEVERYTIME'|trans }} : {{cadencier.supplier.deleverytime}} (F)</div>
                                            <div class="col-md-4"> {{'ENTITY_SUPPLIER_PAYMENTTERMS'|trans }} : {{cadencier.supplier.paymenterms}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <span class="title">{{'ENTITY_CADENCIER'|trans }}</span>
                    </div>
                    <div class="box-content padded">
                    {% include 'appBundle:Cadencier:negociationProductlist.html.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
     {% if ( not cadencier.locked) %} 
</form>
{% endif %}
<script type="text/javascript">
    $(document).ready(function() {
         {% if ( not cadencier.locked) %}
 {% if (profil.mode!="presentation") %}

        function selection(tr, boolean) {
            // console.log(tr.data('key'));
            if (boolean) {
                if (!tr.hasClass('info'))
                    tr.addClass('info');
                tr.find('input[type=checkbox]').prop('checked', true);
                oTable.fnUpdate('1', tr.data('key'), 0, false);
            } else {
                if (tr.hasClass('info'))
                    tr.removelass('info');
                tr.find('input[type=checkbox]').prop('checked', false);
                oTable.fnUpdate('0', tr.data('key'), 0, false);

            }
            //console.log(tr.find('td').eq(0).html());

        }

        function updatefullcontainersbtn() {
            var free = $('#progress-bar').data('free');
            $('.fullcontainer').each(function() {
                input = $(this).closest('tr').find('input.qty');
                qty = Math.ceil(input.data('moq') / input.data('pcb')) * input.data('pcb');
                if (qty * input.data('cbm') <= free) {
                    if ($(this).hasClass('disabled'))
                        $(this).removeClass('disabled');
                } else {
                    if (!$(this).hasClass('disabled'))
                        $(this).addClass('disabled');
                }
            });
        }

        $('.fullcontainer').click(function() {
            tr = $(this).closest('tr');
            input = $(this).closest('tr').find('input.qty');
            free = $('#progress-bar').data('free');
            cbm = input.data('cbm');
            if (cbm < free) {
                full = free / cbm;
                qty = Math.floor(full / input.data('pcb')) * input.data('pcb');
                // console.log(free + '/' + cbm + '=' + full);
                if (tr.find('input[type=checkbox]').prop('checked'))
                    newvalue = parseInt(parseInt(input.val()) + Math.ceil(full));
                else
                    newvalue = parseInt(Math.ceil(full));
                if (newvalue >= input.data('moq')) {
                    input.val(newvalue);
                    if (!tr.hasClass('info'))
                        tr.addClass('info');
                    selection(tr, true);
                    checksavevalue(input);
                }

                else
                    alert('MOQ limit');
            } else {
                alert('Not enought space')

            }
        });
        $('#askpi').click(function() {
            $('#askpifield').val('true');
            $('#selection').submit();
        });
        function checksavevalue(input) {
            tr = input.closest('tr');
            moq = input.data('moq');
            qty = Math.ceil(input.val() / input.data('pcb')) * input.data('pcb');
            //console.log(input.val()+' '+input.data('pcb')+':'+qty);
            if (qty == 0) {
                selection(tr, false);
                if (tr.hasClass('info'))
                    tr.removeClass('info');
                input.val(moq);
            } else if (qty <= moq) {
                input.val(moq);
                tr.find('.showtooltip').tooltip('show');
                selection(tr, false);
                if (!tr.hasClass('info'))
                    tr.addClass('info');
            } else {
                input.val(qty);
                selection(tr, true);
                if (!tr.hasClass('info'))
                    tr.addClass('info');
            }
            update();
        }

        $('.qty').change(function() {
            checksavevalue($(this));
        });
        function changeColor(color) {
            if ($('#progress-bar').hasClass('progress-green'))
                $('#progress-bar').removeClass('progress-green');
            if ($('#progress-bar').hasClass('progress-orange'))
                $('#progress-bar').removeClass('progress-orange');
            if ($('#progress-bar').hasClass('progress-blue'))
                $('#progress-bar').removeClass('progress-blue');
            if ($('#progress-bar').hasClass('progress-red'))
                $('#progress-bar').removeClass('progress-red');
            $('#progress-bar').addClass('progress-' + color);
        }

        {% endif %}
        $('#cadencieroffers td:not(.unselect)').click(function() {
            tr = $(this).closest('tr');
            if (tr.hasClass('info')) {
                tr.removeClass('info');
                selection(tr, false);
            } else {
                tr.addClass('info');
                selection(tr, true);
            }
            update();
        });
        $('.autosave, .autosave input').change(function() {
            update();
        });
        function update() {
            $('.dataupdate').html('<img src="/sourcinasia/app/web/bundles/app/images/loadingbar.gif">');
            $.post("{{path('cadenciers_generate')}} ", $("#selection").serialize(), function(data) {
                if (data.Containeroccupation > 100) {
                    changeColor('red');
                    data.Containeroccupation = 100;
                    //  alert('container is full. Please remove item.');
                } else if (data.Containeroccupation > 90)
                    changeColor('green');
                else if (data.Containeroccupation > 60)
                    changeColor('orange');
                else
                    changeColor('blue');
                $('#progress-bar').css('width', data.Containeroccupation + '%');
                $('#progress-bar').data('Containeroccupation', data.Containeroccupation);
                $('#progress-bar').data('Containervolmue', data.Container.volume);
                $('#progress-bar').data('free', Math.ceil(data.Container.volume - data.Cbm) - 1);
                $('#progress-bar').html(Math.ceil(data.Containeroccupation) + '%  | ' + Math.ceil(data.Cbm) + 'M3 / ' + data.Container.volume + 'M3  | ' + data.Container.name);
                $('#Cbm').html(data.Cbm);
                $('#Totalvalue').html(data.Totalvalue);
                $('#Quantpieces').html(data.Quantpieces);
                $('#Quantpackages').html(data.Quantpackages);
                $('#Gw').html(data.Gw);
                $('#Nw').html(data.Nw);
                updatefullcontainersbtn();
            });
        }


        if (document.documentElement.clientWidth > 849) {
            $(window).scroll(function() {
                var scroll = $(window).scrollTop();
                if (scroll >= 200) {
                    $(".fixedItem").addClass("fixedItemOn");
                }
                if (scroll <= 200) {
                    $(".fixedItem").removeClass("fixedItemOn");
                }
            });
        }

        function incoterchange() {
            if ($("[name^='form[incoterm]']").val() == 1) {
                $('.fobcel').hide();
                $('.exwcel').show();
            } else {
                $('.fobcel').show();
                $('.exwcel').hide();
            }
        }
        incoterchange();
        $("[name^='form[incoterm]']").change(function() {
            incoterchange();
        });

        // update();

        $('#orderAction').click(function() {
            oTable.fnSort([[0, 'desc']]);
        });

        $('#razAction').click(function() {
            $('#cadencieroffers tr').each(function() {
                selection($(this), false);
            });
        });


{%endif%}
        var oTable = $('.dTable').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": true,
            "aaSorting": [[0, "desc"]]
        });


    });


</script>
{% if (cadencier.id) %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="POST" action="{{path('cadencier_sendqs',{'id':cadencier.id})}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{'CADENCIERS_BTN_SELECTCUSTOMER'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <b>{{'CADENCIERS_BTN_SENDQSTO'|trans }}</b>
                    {{ form_row(form.customers) }} 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">{{'CADENCIERS_BTN_SENDQS'|trans }}</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}


{% block commercialtools %}
{% include 'appBundle::commercialtools.html.twig'%}
{% endblock %}