{% extends "::base.html.twig" %}
{% set profil = profils.get() %}

{% block header %}
<div class="container">
{% include 'appBundle::cadencierbar.html.twig' %}
</div>{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <span class="title">{{'ENTITY_CADENCIER'|trans }}</span>
                    </div>
                    <div class="box-content padded">
                    {% include 'appBundle:Cadencier:cadencierPublicProductlist.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $(document).ready(function() {
    });

</script>

{% endblock %}

