<thead>
    <tr>
        <th>{{'ENTITY_PRODUCT_SOURCINASIAITEMNUMBER'|trans|raw }}</th>
            {% if is_granted('ROLE_COMMERCIAL') %}
            <th>{{'ENTITY_PRODUCT_SUPPLIERITEMNUMBER'|trans|raw }}</th>
            {% endif %}
        <th>Pictures</th>
        <th>{{'ENTITY_PRODUCT_NOMENCLATURE'|trans|raw }}</th>
            {% if is_granted('ROLE_COMMERCIAL') %}
            <th>{{'ENTITY_PRODUCT_DESCRIPTION'|trans|raw }}</th>
            <th>{{'ENTITY_PRODUCT_FRENSHDESCRIPTION'|trans|raw }}</th>
            {% elseif is_granted('ROLE_CLIENT') %}
                {% if (app.request.locale=='fr') %}
                <th>{{'ENTITY_PRODUCT_FRENSHDESCRIPTION'|trans|raw }}</th>
                {% elseif (app.request.locale=='en') %}
                <th>{{'ENTITY_PRODUCT_DESCRIPTION'|trans|raw }}</th>
                {% endif %}
            {% endif %}
        <th>{{'ENTITY_PRODUCT_PCB'|trans|raw }}</th>
        <th>{{'ENTITY_PRODUCT_CBM'|trans|raw }}</th>
        <th>{{'ENTITY_OFFER_MOQ'|trans|raw }}</th>
        <th>{{'ENTITY_COMMAND_QUANTPIECE'|trans|raw }}</th>                         
        <th >{{'ENTITY_OFFER_EXWPRICEUSD'|trans|raw }}</th>
        <th >{{'ENTITY_OFFER_FOBPRICE'|trans|raw }}</th>
            {% if is_granted('ROLE_COMMERCIAL') and myuser.cutomer_id %}
            <th>See </th>                            
            {%endif %}
    </tr>
</thead>