{% extends 'appBundle::layout_site.html.twig' %}{% import "appBundle::coreadmin_macro.html.twig" as _ %}

{% block header -%}
    {% if (Catalog.id) %}
        {{ _.header({'title':'CATALOG_TITLE','subtitle':'CATALOG_TITLE','ico':'icon-barcode','parent':{'title':'CATALOG','ico':'icon-barcode','url':path('catalog_list'),'parent':{'title':Catalog.id,'ico':'icon-barcode','url':path('activity_show',{'id':Catalog.id})}}})}}
    {% else %}
        {{ _.header({'title':'CATALOG_TITLE','subtitle':'CATALOG_TITLE','ico':'icon-barcode','parent':{'title':'CATALOG','ico':'icon-barcode','url':path('activity')}})}}
    {% endif %}
{% endblock -%}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{_.box('CATALOG_TITLE') }}
                <fieldset>
                    <legend>{{'CATALOG'|trans}}</legend>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class=" separate-sections">
                                <li class="input">
                                    {{ form_row(form.titleEn, {'label': 'Title En'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.titleFr, {'label': 'Title Fr'}) }}
                                </li>
                                <li class="input">
                                    {{ form_row(form.enabled, {'label': 'Actif ?'}) }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
                {{ form_end(form) }}
                {{_.endbox() }}
            </div>
        </div>
    </div>
{% endblock %}


