{% extends 'appBundle::layout_site.html.twig' %}{% import "appBundle::coreadmin_macro.html.twig" as _ %}

{% block header -%}
    {{ _.header({'title':'CATALOG_TITLE','subtitle':'CATALOG_TITLE','ico':'icon-home'}) }}
{% endblock -%}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header fixedbox">
                        <span class="title">{{'ENTITY_ACTIVITY'|trans }}</span>
                        <ul class="box-toolbar">
                            <li class="toolbar-link">
                                <a href="#" class="dropdown" data-toggle="dropdown"><i class="icon-cog"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{path('catalog_new')}}"><i class="icon-plus-sign"></i> {{'CATALOG_NEW'|trans }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="box-content padded">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Fr </th>
                                <th>Uk </th>
                                <th>{{'APPLICATION_ACTIONCOLUMN'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for Catalog in Catalogs %}
                                <tr>
                                    <td><a href="{{ path('catalog_show', { 'id': Catalog.id }) }}">{{ Catalog.titleFr }}</a></td>
                                    <td><a href="{{ path('catalog_show', { 'id': Catalog.id }) }}">{{ Catalog.titleEn }}</a></td>
                                    <td>
                                        {{_.dropdownactions([
                                            {'route': path('catalog', { 'catalog': Catalog.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'},
                                            {'route': path('catalog_edit', { 'id': Catalog.id }) ,'text':'ACTION_EDIT','ico':'icon-edit'},
                                            {'route': path('catalog_delete', { 'id': Catalog.id }) ,'text':'ACTION_DELETE','ico':'icon-trash','confirm':'Confirm?'}
                                        ])}}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
