{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
    {{ _.header({'title':'PRODUCTION_TITLE','subtitle':'PRODUCTION_SUBTITLE','ico':'icon-home'}) }}
{% endblock -%}

{% block body -%} 
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header fixedbox">
                    <form action="">
                        <span class="title">{{'ENTITY_PRODUCTIONS'|trans }}</span>
                        <ul class="box-toolbar">
                            <li><input placeholder="{{'ENTITY_COMMAND'|trans }}" type="text" value="" name="request[orderid]" class="request" style="width:70px"></li>
                            <li> 
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">{{'COMMAND_BTN_FILTER'|trans }}<span class="caret"></span></button>
                                    <ul class="dropdown-menu" style="width:400px;padding-left: 10px;">
                                        <li><input value="2" type="checkbox"  name="request[steps][]" class="request" checked>{{'STEP11'|trans|raw }}  </li>
                                        <li><input value="3" type="checkbox"  name="request[steps][]" class="request" checked>{{'STEP12'|trans|raw }}  </li>
                                        <li><input value="4" type="checkbox"  name="request[steps][]" class="request" checked>{{'STEP13'|trans|raw }} </li>
                                        <li><input value="5" type="checkbox"  name="request[steps][]" class="request" checked>{{'STEP14'|trans|raw }} </li>
                                        <li><input value="6" type="checkbox" name="request[steps][]" class="request" checked>{{'STEP2'|trans|raw }} </li>
                                        <li><input value="7" type="checkbox"  name="request[steps][]" class="request" checked>{{'STEP3'|trans|raw }} </li>
                                        <li><input value="8" type="checkbox"  name="request[steps][]" class="request" checked>{{'STEP4'|trans|raw }} </li>
                                        <li><input value="9" type="checkbox"  name="request[steps][]" class="request" checked>{{'STEP5'|trans|raw }} </li>
                                    </ul>
                                </div>

                            </li>
                        </ul>
                        <input type="hidden" id="uri_request" value="{{path('production_requests')}}">
                    </form>
                </div>
                <div class="box-content padded">  
                    <div class="row" id="filters_result"></div>      
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block commercialtools %}
    {% include 'appBundle::commercialtools.html.twig'%}
{% endblock %}
