{% import "appBundle::coreadmin_macro.html.twig" as _ %}

{# if  (is_granted('ROLE_ADMIN') or  is_granted('ROLE_PRODUCTION') or  is_granted('ROLE_COMMERCIAL') or  (is_granted('ROLE_CLIENT') and (profil.contact_type=0 or contact_type=1))) #}

<table cellpadding="0" cellspacing="0" border="0" class="dataTable">
    <thead>
    <tr role="row">
        <th>{{ 'ENTITY_COMMAND_ID'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_TCNUM'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_CREATED'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_MAINSALER'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_CUSTOMER'|trans|raw }} </th>
        <th>{{ 'Contact'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_FACTORY'|trans|raw }} </th>
        <th>{{ 'ENTITY_SUPPLIER_OFFERNAME'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_TOTALVALUE'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_INCOTERM'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_ETD'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_ETA'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_POL'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_ACTION'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_STATE'|trans|raw }} </th>
        <th>WAITING(days)</th>
    </thead>

    <tbody>
    {% for Cadencier in Cadenciers %}
        <tr>
            {% set is_link = (Cadencier.command.cadenciers|length >1 ) ? true : false %}
            <td>
                {% if (is_granted('ROLE_ADMIN')) %}
                    <input type="checkbox" class="selection" name="selection[]" value="{{ Cadencier.id }}">
                {% endif %}
                {{ Cadencier.id }}</td>
            <td>{{ Cadencier.command.id }}{% if (is_link and not is_granted('ROLE_CLIENT')) %} <i
                        class="icon-lock"></i>{% endif %}</td>
            <td>{{ Cadencier.created|date('Y-m-d') }}</td>
            <td>{{ Cadencier.customer.mainsaler.name }}</td>
            <td>{{ Cadencier.customer.name }}</td>
            <td>{{ Cadencier.user.name }}</td>
            <td>{{ Cadencier.supplier.id }}</td>
            <td>
                {% if (app.request.locale=='fr') %}
                    {{ Cadencier.supplier.offernamefr }}
                {% else %}
                    {{ Cadencier.supplier.offername }}
                {% endif %}
            </td>
            <td>{{ Cadencier.totalvalue }}</td>
            <td>{{ Cadencier.incoterm.title }}</td>
            {% if (Cadencier.state>=5) %}
                <td>{{ Cadencier.command.etd |date('d-m-Y') }}</td>
                <td>{{ Cadencier.command.eta |date('d-m-Y') }}</td>
            {% else %}
                <td>--</td>
                <td>--</td>
            {% endif %}
            <td>{% if (Cadencier.pol) %} {{ Cadencier.pol.title }}{% endif %} </td>
            <td>

                {% if  is_granted('ROLE_ADMIN') %}
                    {% if (is_link) %}
                        {% set actions=[
                        {'route': path('command_show', { 'id': Cadencier.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'},
                        {'route': path('command_unmerge', { 'id': Cadencier.id }) ,'text':'ACTION_UNMERGE','ico':'icon-unlock','confirm':'Confirm ?'},
                        {'route': path('command_archive', { 'id': Cadencier.id }) ,'text':'Archive','ico':'icon-folder-close','confirm':'Confirm ?'},
                        {'route': path('command_delete', { 'id': Cadencier.id }) ,'text':'APPLICATION_DELETE','ico':'icon-trash','confirm':'Confirm ?'}
                        ] %}
                    {% else %}
                        {% set actions=[
                        {'route': path('command_show', { 'id': Cadencier.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'},
                        {'route': path('command_archive', { 'id': Cadencier.id }) ,'text':'Archive','ico':'icon-folder-close','confirm':'Confirm ?'},
                        {'route': path('command_delete', { 'id': Cadencier.id }) ,'text':'APPLICATION_DELETE','ico':'icon-trash','confirm':'Confirm ?'}
                        ] %}
                    {% endif %}
                {% elseif  is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_CLIENT') %}
                    {% set actions=[
                    {'route': path('command_show', { 'id': Cadencier.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'},
                    {'route': path('command_archive', { 'id': Cadencier.id }) ,'text':'Archive','ico':'icon-folder-close','confirm':'Confirm ?'},
                    {'route': path('command_delete', { 'id': Cadencier.id }) ,'text':'APPLICATION_DELETE','ico':'icon-trash','confirm':'Confirm ?'}
                    ] %}
                {% elseif  is_granted('ROLE_PRODUCTION') and (Cadencier.state=="1" or Cadencier.state=="2") %}
                    {% set actions=[
                    {'route':path('cadencier_show',{'id':Cadencier.id,'action':'production'}) ,'ico':'icon-home', 'text':'RECORD_SUPPLIERPI'},
                    {'route': path('command_show', { 'id': Cadencier.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'}
                    ] %}
                {% elseif  is_granted('ROLE_PRODUCTION') %}
                    {% set actions=[
                    {'route': path('command_show', { 'id': Cadencier.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'}
                    ] %}
                {% else %}
                    {% set actions=[] %}
                {% endif %}
                {{ _.dropdownactions(actions) }}
            </td>
            <td>

                {% if is_granted('ROLE_CLIENT') %}
                    {% if (Cadencier.state ==0) %}
                        {{ 'STEP0'|trans|raw }} {{ Cadencier.customer.name }}
                    {% elseif(Cadencier.state ==1) %}
                        {{ 'STEP11'|trans|raw }}
                    {% elseif(Cadencier.state ==2) %}
                        {{ 'STEP12'|trans|raw }}
                    {% elseif(Cadencier.state ==3) %}
                        {{ 'STEP13'|trans|raw }}
                    {% elseif(Cadencier.state ==4) %}
                        {{ 'STEP14'|trans|raw }}
                    {% elseif(Cadencier.state ==5) %}
                        {{ 'STEP2'|trans|raw }}
                    {% elseif(Cadencier.state ==6) %}
                        {{ 'STEP3'|trans|raw }}
                    {% elseif(Cadencier.state ==7) %}
                        {{ 'STEP4'|trans|raw }}
                    {% elseif(Cadencier.state ==8) %}
                        {{ 'STEP5'|trans|raw }}
                    {% endif %}
                {% else %}
                    {% if (Cadencier.state ==0 and is_granted('ROLE_ADMIN')) %}
                        {{ 'STEP0'|trans|raw }} {{ Cadencier.customer.name }}
                    {% elseif(Cadencier.state ==1) %}
                        {{ 'STEP11'|trans|raw }}
                    {% elseif(Cadencier.state ==2) %}
                        {{ 'STEP12'|trans|raw }}
                    {% elseif(Cadencier.state ==3) %}
                        {{ 'STEP13'|trans|raw }}
                    {% elseif(Cadencier.state ==4) %}
                        {{ 'STEP14'|trans|raw }}
                    {% elseif(Cadencier.state ==5) %}
                        {{ 'STEP2'|trans|raw }}
                    {% elseif(Cadencier.state ==6) %}
                        {{ 'STEP3'|trans|raw }}
                    {% elseif(Cadencier.state ==7) %}
                        {{ 'STEP4'|trans|raw }}
                    {% elseif(Cadencier.state ==8) %}
                        {{ 'STEP5'|trans|raw }}
                    {% endif %}
                {% endif %}


            </td>
            <td>
                {{ Cadencier.created|diffToDate }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{#endif#}