{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
    {{ _.header({'title':'INVOICE_NEW_TITLE','subtitle':'INVOICE_NEW_SUBTITLE','ico':'icon-barcode'})}}
{% endblock -%}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{_.box('INVOICE_NEW_TITLE') }}
                <fieldset>
                    <legend>{{'ENTITY_INVOICE_FIELDSET_'|trans}}</legend>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class=" separate-sections">                            
                                <li class="input">
                                    {{ form_row(form.date, {'label': 'Date'}) }}
                                </li>                      
                                <li class="input">
                                    {{ form_row(form.amount, {'label': 'Amount'}) }}
                                </li>                      
                            </ul>
                        </div>
                    </div>
                </fieldset>  
                {{ form_end(form) }}   
                {{_.endbox() }}
            </div>
        </div>
    </div>
    <script src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({'format': 'dd/mm/yyyy'})
    </script>

{% endblock %}


