{% extends 'appBundle::layout_site.html.twig' %}

{% set type_translt = ((type == 'catalog') ? 'ENTITY_DOCUMENT_TYPE_CATALOG' | trans :  (type == 'quotation') ? 'ENTITY_DOCUMENT_TYPE_QUOTATION' | trans : 'ENTITY_DOCUMENT_TYPE_CUSTOMER_OFFER' | trans )%}
{% set title = 'DOCUMENT_NEW_TITLE'| trans | replace({'{s}': supplier_label}) | replace({'{document}':type_translt}) %}


{% block header -%}
    {{ _.header({'title': title ,'subtitle':title,'ico':'icon-barcode','parent':{'title':'ENTITY_SUPPLIERS','ico':'icon-barcode','url':path('supplier')}})}}
{% endblock -%}
{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{_.box(title) }}
                <fieldset>
                    <legend></legend>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <ul class="separate-sections">
                                <li class="input">
                                    <label> {{ 'ENTITY_DOCUMENT_TITLE'|trans }}</label>
                                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.title) }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-12">
                            <ul class="separate-sections">
                                <li class="input">
                                    {{ form_row(form.documentFile, {'label': 'ENTITY_DOCUMENT_FILE'}) }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
                {{ form_end(form) }}
                {{_.endbox() }}
            </div>
        </div>
    </div>
{% endblock %}


