{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Certificat.id) %}
{{ _.header({'title':'CERTIFICAT_NEW_TITLE','subtitle':'CERTIFICAT_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CERTIFICATS','ico':'icon-barcode','url':path('certificat'),'parent':{'title':Certificat.id,'ico':'icon-barcode','url':path('certificat_show',{'id':Certificat.id})}}})}}
{% else %}
{{ _.header({'title':'CERTIFICAT_NEW_TITLE','subtitle':'CERTIFICAT_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CERTIFICATS','ico':'icon-barcode','url':path('certificat')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('CERTIFICAT_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_CERTIFICAT_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_CERTIFICAT_TITLE'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


