    /**
{% block phpdoc_method_header %}
     * Creates a new {{ entity }} entity.
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/", name="{{ route_name_prefix }}_create")
     * @Method("POST")
     * @Template("{{ bundle }}:{{ entity }}:new.html.twig")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function createAction(Request $request)
{% endblock method_definition %}
    {
{% block method_body %}
        ${{ entity }} = $this->GetSecurity{{ entity }}();
        $form = $this->buildForm(${{ entity }})->handleRequest($request);
        if ($form->isValid()) {
            $em=$this->getDoctrine()->getManager();
            $em->persist(${{ entity }});
            $em->flush();
            $this->get('session')->getFlashBag()->add('notice', 'FLASH_CREATED');
            {% if 'show' in actions -%}
                return $this->redirect($this->generateUrl('{{ route_name_prefix }}'));
            {%- else -%}
                return $this->redirect($this->generateUrl('{{ route_name_prefix }}'));
            {%- endif %}
        }
        $this->get('session')->getFlashBag()->add('error', 'FLASH_CREATED_ERROR');
{% endblock method_body %}
{% block method_return %}
{% if 'annotation' == format %}
        return array(
            '{{ entity }}' => ${{ entity }},
            'form'   => $form->createView(),
        );
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:form.html.twig', array(
            '{{ entity }}' => ${{ entity }},
            'form'   => $form->createView(),
        ));
{% endif %}
{% endblock method_return %}
    }

{% block form %}
{% endblock form %}
