    /**
{% block phpdoc_method_header %}
     * Deletes a {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_delete")
     * @Method("DELETE")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function deleteAction(Request $request, $id)
{% endblock method_definition %}
    {
{% block method_body %}
            ${{ entity }} = $this->GetSecurity{{ entity }}($id);

            if (!${{ entity }}) 
                throw $this->createNotFoundException('Unable to find {{ entity }} entity.');
                
            $em = $this->getDoctrine()->getManager();
            $em->remove(${{ entity }});
            $em->flush();
            
            $this->get('session')->getFlashBag()->add('notice', 'FLASH_DELETE');
{% endblock method_body %}

{% block method_return %}
        return $this->redirect($this->generateUrl('{{ route_name_prefix }}'));
{% endblock method_return %}
    }

{% block form %}
    /**
     * Creates a form to delete a {{ entity }} entity by id.
     */
    private function DeleteForm($id)
    {
        return $this->createFormBuilder()
            ->setAction($this->generateUrl('{{ route_name_prefix }}_delete', array('id' => $id)))
            ->setMethod('DELETE')
            ->add('submit', 'submit', array('label' => 'Delete'))
            ->getForm()
        ;
    }
    
    
    /**
    * Creates a form to create/edit a {{ entity }} entity.
    */
    private function buildForm({{ entity_class }} $entity, $task = "create") {
        if ($task == "create")
            $form = $this->createForm(new {{ entity_class }}Type(), $entity, array(
                'action' => $this->generateUrl("{{ route_name_prefix }}_create"),
                'method' => 'POST',
                'attr' => array('class' => 'fill-up')
            ));
        else
            $form = $this->createForm(new {{ entity_class }}Type(), $entity, array(
                'action' => $this->generateUrl("{{ route_name_prefix }}_update", array('id' => $entity->GetID())),
                'method' => 'POST',
                'attr' => array('class' => 'fill-up')
            ));
        return $form->add('submit', 'submit', array('label' => "APPLICATION_SAVE"));
    }
    
    /**
    * Gets all {{ entity }}
    */
    private function GetSecurity{{ entity }}s() {
        if ($this->get('security.context')->isGranted('ROLE_ADMIN'))
            return $this->getDoctrine()->getManager()->getRepository('appBundle:{{ entity }}')->findAll();
        else
            throw new AccessDeniedException();
    }

    /**
    * Gets {{ entity }}
    */
    private function GetSecurity{{ entity }}($id = null) {

        if ($this->get('security.context')->isGranted('ROLE_SOURCING'))
            if ($id)
                return $this->getDoctrine()->getManager()->getRepository('appBundle:{{ entity }}')->find($id);
            else
                return new {{ entity }}();
        else
             throw new AccessDeniedException();
    }
{% endblock form %}
