
    /**
{% block phpdoc_method_header %}
     * Displays a form to edit an existing {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}/edit", name="{{ route_name_prefix }}_edit")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function editAction($id)
{% endblock method_definition %}
    {
{% block method_body %}
        ${{ entity }} = $this->GetSecurity{{ entity }}($id);
        
        if (!${{ entity }}) 
            throw $this->createNotFoundException('Unable to find {{ entity }} entity.');
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
        return array(
            '{{ entity }}'      => ${{ entity }},
            'form'   => form->createView(),
        );
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:form.html.twig', array(
            '{{ entity }}'      => ${{ entity }},
            'form'   => $this->buildForm(${{ entity }},'edit')->createView()
            ));
{% endif %}
{% endblock method_return %}
    }

{% block form %}
{% endblock form %}
