
    /**
{% block phpdoc_method_header %}
     * Displays a form to create a new {{ entity }} entity.
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/new", name="{{ route_name_prefix }}_new")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function newAction()
{% endblock method_definition %}
    {
{% block method_body %}
{% endblock method_body %}
{% block method_return %}
{% if 'annotation' == format %}
        return array(
            '{{ entity }}' => $this->GetSecurity{{ entity }}(),
            'form'   => $this->buildForm($this->GetSecurity{{ entity }}())->createView(),
        );
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:form.html.twig', array(
            '{{ entity }}' => $this->GetSecurity{{ entity }}(),
            'form'   => $this->buildForm($this->GetSecurity{{ entity }}())->createView(),
        ));
{% endif %}
{% endblock method_return %}
    }
