
    /**
{% block phpdoc_method_header %}
     * Finds and displays a {{ entity }} entity.
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_show")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function showAction($id)
{% endblock method_definition %}
    {
{% block method_body %}
        ${{ entity }} = $this->GetSecurity{{ entity }}($id);

        if (!${{ entity }}){
            $response = $this->render('{{ bundle }}:Error:404.html.twig');
            $response->setStatusCode(404);
            return $response;
        }
      
{% if 'delete' in actions %}
{% endif %}
{% endblock method_body %}
{% block method_return %}
{% if 'annotation' == format %}
        return array(
            '{{ entity }}'      => ${{ entity }},
{% if 'delete' in actions %}
            'delete_form'       => $this-> DeleteForm($id)->createView(),
{% endif %}
        );
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:show.html.twig', array(
            '{{ entity }}'      => ${{ entity }},
            {% if 'delete' in actions %}
            'delete_form'       => $this-> DeleteForm($id)->createView(),
{%- endif %}
        ));
{% endif %}
{% endblock method_return %}
    }
