    /**
{% block phpdoc_method_header %}
     * Edits an existing {{ entity }} entity.
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_update")
     * @Method("PUT")
     * @Template("{{ bundle }}:{{ entity }}:edit.html.twig")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function updateAction(Request $request, $id)
{% endblock method_definition %}
    {
{% block method_body %}
        ${{ entity }} = $this->GetSecurity{{ entity }}($id);

        if (!${{ entity }}) 
            throw $this->createNotFoundException('Unable to find {{ entity }} entity.');

        $form = $this->buildForm(${{ entity }},'edit')->handleRequest($request);

        if ($form->isValid()) {
            $em=$this->getDoctrine()->getManager();
            $em->persist(${{ entity }});
            $em->flush();
            $this->get('session')->getFlashBag()->add('notice', 'FLASH_UPDATE');
            return $this->redirect($this->generateUrl('{{ route_name_prefix }}'));
        }
        $this->get('session')->getFlashBag()->add('error', 'FLASH_UPDATE_ERROR');
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
        return array(
            '{{ entity }}'      => ${{ entity }},
            'form'   => $form->createView()
        );
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:form.html.twig', array(
            '{{ entity }}'      => ${{ entity }},
            'form'   => $form->createView()
        ));
{% endif %}
{% endblock method_return %}
    }
