{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
    {{ _.header({'title':'COMMAND_TITLE','subtitle':'COMMAND_SUBTITLE','ico':'icon-home'}) }}
{% endblock -%}

{% block body -%} 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header fixedbox">
                        <span class="title">{{'ENTITY_COMMAND_CONFIRMATION_TITLE'|trans }}</span>
                    </div>
                    <div class="box-content padded">  
                        {{'ENTITY_COMMAND_CONFIRMATIONCUSTOMER_MESSAGE'|trans|raw }}  
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

