{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
    {% if (Command.id) %}
        {{ _.header({'title':'COMMAND_NEW_TITLE','subtitle':'COMMAND_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_COMMANDS','ico':'icon-barcode','url':path('command'),'parent':{'title':Command.id,'ico':'icon-barcode','url':path('command_show',{'id':Command.id})}}})}}
    {% else %}
        {{ _.header({'title':'COMMAND_NEW_TITLE','subtitle':'COMMAND_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_COMMANDS','ico':'icon-barcode','url':path('command')}})}}
    {% endif %}
{% endblock -%}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{_.box('COMMAND_NEW_TITLE') }}
                <fieldset>
                    <legend>{{'ENTITY_COMMAND_FIELDSET_'|trans}}</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class=" separate-sections">                            
                                <li class="input">
                                    {{ form_row(form.descriptionofgoods, {'label': 'ENTITY_COMMAND_DESCRIPTIONOFGOOD'}) }}
                                </li>       
                                <li class="input">
                                    {{ form_row(form.shipper, {'label': 'ENTITY_COMMAND_SHIPPER'}) }}
                                </li>       
                                <li class="input">
                                    {{ form_row(form.shippingcompany, {'label': 'ENTITY_COMMAND_shippingcompany'}) }}
                                </li>  
                                <li class="input">
                                    {{ form_row(form.consignee, {'label': 'ENTITY_COMMAND_CONSIGNEE'}) }}
                                </li>                          
                                <li class="input">
                                    {{ form_row(form.notify, {'label': 'ENTITY_COMMAND_NOTIFY'}) }}
                                </li>                         
                                <li class="input">
                                    {{ form_row(form.freightpayableat, {'label': 'ENTITY_COMMAND_FREIGHTPAYABLEAT'}) }}
                                </li>                          
                                <li class="input">
                                    {{ form_row(form.bookingnumber, {'label': 'ENTITY_COMMAND_BOOKINGNUMBER'}) }}
                                </li>                        
                                <li class="input">
                                    {{ form_row(form.pod, {'label': 'ENTITY_COMMAND_POD'}) }}
                                </li>                        
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class=" separate-sections">                            
                                <li class="input">
                                    {{ form_row(form.etd, {'label': 'ENTITY_COMMAND_ETD'}) }}
                                </li>                        
                                <li class="input">
                                    {{ form_row(form.eta, {'label': 'ENTITY_COMMAND_ETA'}) }}
                                </li>                       
                                <li class="input">
                                    {{ form_row(form.vessel, {'label': 'ENTITY_COMMAND_VESSEL'}) }}
                                </li>                        
                                <li class="input">
                                    {{ form_row(form.tcnum, {'label': 'ENTITY_COMMAND_TCNUM'}) }}
                                </li>                       
                                <li class="input">
                                    {{ form_row(form.sealnum, {'label': 'ENTITY_COMMAND_SEALNUM'}) }}
                                </li>                       

                            </ul>
                        </div>
                    </div>
                </fieldset>  
                {{ form_end(form) }}   
                {{_.endbox() }}
            </div>
        </div>
    </div>

    <script src="/bundles/app/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({'format': 'dd/mm/yyyy'})
    </script>
{% endblock %}

