{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
    {{ _.header({'title':'ENTITY_COMMANDS','subtitle':'ENTITY_COMMANDS','ico':'icon-inbox','parent':{'title':'ENTITY_COMMANDS','ico':'icon-barcode','url':path('command')}}) }}
{% endblock -%}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header fixedbox">
                        <span class="title">{{ 'ENTITY_COMMANDS'|trans }}</span>
                        <ul class="box-toolbar">
                            {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_PRODUCTION') or is_granted('ROLE_ADMINSUPPLYCHAIN')) %}
                                <li><span href="#" class="btn btn-blue" id="mergecommand"> MERGE</span></li>
                            {% endif %}
                            <li><input placeholder="{{ 'ENTITY_SUPPLIER'|trans }}" type="text"
                                       value="{{ session.get('supplierid') }}" name="request[supplierid]"
                                       class="request" style="width:110px"></li>
                            <li><input placeholder="{{ 'ENTITY_CUSTOMER'|trans }}" type="text"
                                       value="{{ session.get('customersid') }}" name="request[customersid]"
                                       class="request" style="width:110px"></li>
                            <li><input placeholder="{{ 'Invoice'|trans }}" type="text"
                                       value="{{ session.get('invoiceid') }}" name="request[invoiceid]" class="request"
                                       style="width:110px"></li>
                            <li><input placeholder="{{ 'ENTITY_CONTAINER'|trans }}" type="text"
                                       value="{{ session.get('containerid') }}" name="request[containerid]"
                                       class="request" style="width:110px"></li>
                            <li><input placeholder="{{ 'ENTITY_PRODUCT'|trans|raw }}" type="text"
                                       value="{{ app.session.get('productFilter') }}"
                                       name="request[productFilter]" class="request" style="width:80px"></li>
                            <li><input placeholder="{{ 'ENTITY_COMMAND'|trans }}" type="text"
                                       value="{{ session.get('orderid') }}" name="request[orderid]" class="request"
                                       style="width:110px"></li>
                            <li><a href="{{ path('command',{'filter':'raz'}) }}" class="btn btn-default"><i
                                            class="icon-refresh"></i></a></li>
                            <li>
                                <select style="display:none;" name="request[customerid]" class="request chzn-select">
                                    <option value="0" selected>All Customers</option>
                                    {% for Customer in Customers %}
                                        <option value="{{ Customer.id }}">{{ Customer.name }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                            {% if (is_granted('ROLE_COMMERCIAL')) %}
                                <li>
                                    <label><input type="checkbox" name="request[archive]"
                                                  class="request">Archive</label>
                                </li>
                            {% endif %}
                            <li>
                                <select class="multiselect request" name="request[steps][]" id="stepfilters"
                                        multiple="multiple">
                                    {% if (is_granted('ROLE_CLIENT') and profil.contact_type==4 ) %}
                                        <option value="1"
                                                {% if 1 in statefilters %}selected{% endif %}>{{ 'STEP10'|trans|raw }}  </option>
                                        <option value="2"
                                                {% if 2 in statefilters %}selected{% endif %}>{{ 'STEP11'|trans|raw }}  </option>
                                        <option value="3"
                                                {% if 3 in statefilters %}selected{% endif %}>{{ 'STEP12'|trans|raw }}  </option>
                                        <option value="4"
                                                {% if 4 in statefilters %}selected{% endif %} >{{ 'STEP13'|trans|raw }} </option>
                                        <option value="5"
                                                {% if 5 in statefilters %}selected{% endif %}>{{ 'STEP14'|trans|raw }} </option>
                                        <option value="6"
                                                {% if 6 in statefilters %}selected{% endif %}>{{ 'STEP15'|trans|raw }} </option>
                                        <option value="7"
                                                {% if 7 in statefilters %}selected{% endif %}>{{ 'STEP2'|trans|raw }} </option>
                                        <option value="8"
                                                {% if 8 in statefilters %}selected{% endif %}>{{ 'STEP3'|trans|raw }} </option>
                                        <option value="9"
                                                {% if 9 in statefilters %}selected{% endif %}>{{ 'STEP4'|trans|raw }} </option>
                                        <option value="10"
                                                {% if 10 in statefilters %}selected{% endif %} >{{ 'STEP5'|trans|raw }} </option>
                                    {% elseif ((is_granted('ROLE_CLIENT') and profil.commercialtools)) %}
                                        <option value="0"
                                                {% if 0 in statefilters %}selected{% endif %}>{{ 'STEP0'|trans|raw }}  </option>
                                        <option value="1"
                                                {% if 1 in statefilters %}selected{% endif %}>{{ 'STEP1'|trans|raw }}  </option>
                                        <option value="7"
                                                {% if 7 in statefilters %}selected{% endif %}>{{ 'STEP2'|trans|raw }} </option>
                                        <option value="8"
                                                {% if 8 in statefilters %}selected{% endif %}>{{ 'STEP3'|trans|raw }} </option>
                                        <option value="9"
                                                {% if 9 in statefilters %}selected{% endif %}>{{ 'STEP4'|trans|raw }} </option>
                                        <option value="10"
                                                {% if 10 in statefilters %}selected{% endif %}>{{ 'STEP5'|trans|raw }} </option>
                                    {% elseif (is_granted('ROLE_CLIENT')) %}
                                        <option value="1"
                                                {% if 1 in statefilters %}selected{% endif %}>{{ 'STEP1'|trans|raw }}  </option>
                                        <option value="7"
                                                {% if 7 in statefilters %}selected{% endif %}>{{ 'STEP2'|trans|raw }} </option>
                                        <option value="8"
                                                {% if 8 in statefilters %}selected{% endif %}>{{ 'STEP3'|trans|raw }} </option>
                                        <option value="9"
                                                {% if 19 in statefilters %}selected{% endif %}>{{ 'STEP4'|trans|raw }} </option>
                                        <option value="10"
                                                {% if 10 in statefilters %}selected{% endif %}>{{ 'STEP5'|trans|raw }} </option>
                                    {% elseif (is_granted('ROLE_ADMIN')) %}
                                        <option value="0"
                                                {% if 0 in statefilters %}selected{% endif %} >{{ 'STEP0'|trans|raw }} </option>
                                        <option value="1"
                                                {% if 1 in statefilters %}selected{% endif %} >{{ 'STEP10'|trans|raw }}  </option>
                                        <option value="2"
                                                {% if 2 in statefilters %}selected{% endif %} >{{ 'STEP11'|trans|raw }}  </option>
                                        <option value="3"
                                                {% if 3 in statefilters %}selected{% endif %} >{{ 'STEP12'|trans|raw }}  </option>
                                        <option value="4"
                                                {% if 4 in statefilters %}selected{% endif %}>{{ 'STEP13'|trans|raw }} </option>
                                        <option value="5"
                                                {% if 5 in statefilters %}selected{% endif %}>{{ 'STEP14'|trans|raw }} </option>
                                        <option value="6"
                                                {% if 6 in statefilters %}selected{% endif %}>{{ 'STEP15'|trans|raw }} </option>
                                        <option value="7"
                                                {% if 7 in statefilters %}selected{% endif %}>{{ 'STEP2'|trans|raw }} </option>
                                        <option value="8"
                                                {% if 8 in statefilters %}selected{% endif %}>{{ 'STEP3'|trans|raw }} </option>
                                        <option value="9"
                                                {% if 9 in statefilters %}selected{% endif %}>{{ 'STEP4'|trans|raw }} </option>
                                        <option value="10"
                                                {% if 10 in statefilters %}selected{% endif %}>{{ 'STEP5'|trans|raw }} </option>
                                    {% elseif (is_granted('ROLE_COMMERCIAL')) %}
                                        <option value="1"
                                                {% if 1 in statefilters %}selected{% endif %}>{{ 'STEP10'|trans|raw }}  </option>
                                        <option value="2"
                                                {% if 2 in statefilters %}selected{% endif %}>{{ 'STEP11'|trans|raw }}  </option>
                                        <option value="3"
                                                {% if 3 in statefilters %}selected{% endif %}>{{ 'STEP12'|trans|raw }}  </option>
                                        <option value="4"
                                                {% if 4 in statefilters %}selected{% endif %}>{{ 'STEP13'|trans|raw }} </option>
                                        <option value="5"
                                                {% if 5 in statefilters %}selected{% endif %}>{{ 'STEP14'|trans|raw }} </option>
                                        <option value="6"
                                                {% if 6 in statefilters %}selected{% endif %}>{{ 'STEP15'|trans|raw }} </option>
                                        <option value="7"
                                                {% if 7 in statefilters %}selected{% endif %}>{{ 'STEP2'|trans|raw }} </option>
                                        <option value="8"
                                                {% if 8 in statefilters %}selected{% endif %}>{{ 'STEP3'|trans|raw }} </option>
                                        <option value="9"
                                                {% if 9 in statefilters %}selected{% endif %}>{{ 'STEP4'|trans|raw }} </option>
                                        <option value="10"
                                                {% if 10 in statefilters %}selected{% endif %}>{{ 'STEP5'|trans|raw }} </option>
                                    {% elseif (is_granted('ROLE_PRODUCTION')) %}
                                        <option value="1"
                                                {% if 1 in statefilters %}selected{% endif %} >{{ 'STEP10'|trans|raw }}  </option>
                                        <option value="2"
                                                {% if 2 in statefilters %}selected{% endif %}>{{ 'STEP11'|trans|raw }}  </option>
                                        <option value="3"
                                                {% if 3 in statefilters %}selected{% endif %} >{{ 'STEP12'|trans|raw }} </option>
                                        <option value="4"
                                                {% if 4 in statefilters %}selected{% endif %}>{{ 'STEP13'|trans|raw }} </option>
                                        <option value="5"
                                                {% if 5 in statefilters %}selected{% endif %}>{{ 'STEP14'|trans|raw }} </option>
                                        <option value="6"
                                                {% if 6 in statefilters %}selected{% endif %} >{{ 'STEP15'|trans|raw }} </option>
                                        <option value="7"
                                                {% if 7 in statefilters %}selected{% endif %}>{{ 'STEP2'|trans|raw }} </option>
                                        <option value="8"
                                                {% if 8 in statefilters %}selected{% endif %}>{{ 'STEP3'|trans|raw }} </option>
                                        <option value="9"
                                                {% if 9 in statefilters %}selected{% endif %}>{{ 'STEP4'|trans|raw }} </option>
                                        <option value="10"
                                                {% if 10 in statefilters %}selected{% endif %}>{{ 'STEP5'|trans|raw }} </option>
                                    {% endif %}
                                </select>
                                <script src="{{ asset('bundles/app/plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js') }}"
                                        type="text/javascript"></script>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('.multiselect').multiselect({
                                            includeSelectAllOption: true,
                                            numberDisplayed: 0,
                                            nonSelectedText: 'You have not selected any state',
                                            onChange: function (element, checked) {
                                                if (typeof actualise != 'undefined') {
                                                    clearTimeout(actualise);
                                                }
                                                actualise = setTimeout(function () {
                                                    $.post('{{ path('command_savefilters') }}', $("#stepfilters").serialize());
                                                }, 1000);

                                            }
                                        });
                                    });
                                </script>
                            </li>
                        </ul>
                        <input type="hidden" id="uri_request" value="{{ path('order_request') }}">
                    </div>

                    <div class="box-header fixedbox">
                        <ul class="box-toolbar" style="width: 100%;">
                            {% if suppliersCategories is not empty %}
                                <li class="col-xs-12 col-sm-2 col-md-2" style="padding-left: 5px;"> {# Filtre supplier categorie #}
                                    <select name="request[supplierCategoryFilter]" class="request chzn-select">
                                        <option value="" class="search"{{ not app.session.get('supplierCategoryFilter') ? 'selected' }}>{{ 'ENTITY_SUPPLIER_CATEGORY_ALL'|trans|raw }}</option>
                                        {% for supplierCategory in suppliersCategories %}
                                            <option value="{{ supplierCategory.id }}" class="search" {{ app.session.get('supplierCategoryFilter') == supplierCategory.id ? 'selected' }}>{{ supplierCategory.title }}</option>
                                        {% endfor %}
                                    </select>
                                </li>
                            {% endif %}

                            <li class="col-xs-12 col-sm-2 col-md-2" style="padding-left: 5px;"> {# Filtre supplier categorie #}
                                <select name="request[containerSize]" class="request chzn-select">
                                    <option value="" class="search"{{ not app.session.get('containerSize') ? 'selected' }}>All shipments</option>
                                    <option value="fcl" class="search" {{ app.session.get('containerSize') == "fcl" ? 'selected' }}>FCL</option>
                                    <option value="lcl" class="search" {{ app.session.get('containerSize') == "lcl" ? 'selected' }}>LCL</option>
                                </select>
                            </li>
                        </ul>
                    </div>

                    <form action="{{ path('command_merge') }}" method="post" id="submitselection">
                        <div class="box-content padded">
                            <div class="row" id="filters_result"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#mergecommand').click(function () {
                $('#submitselection').submit();
            });
        });
    </script>


{% endblock %}
{% block commercialtools %}
    {% include 'appBundle::commercialtools.html.twig' %}
{% endblock %}
