{% if (not is_granted('ROLE_CLIENT') and (is_granted('ROLE_ADMIN')or is_granted('ROLE_SOURCING') or is_granted('ROLE_PRODUCTION')) and cadencier.supplier.paymenterms) %}
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('cadencier_edit',{'id':cadencier.id}) }}" class="btn btn-default pull-right">Update
                order</a>
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend>{{ 'ENTITY_COMMAND'|trans|raw }} {{ cadencier.id }} |
                {% if (cadencier.state==0) %}
                    {{ 'STEP0'|trans|raw }}  {{ cadencier.customer.name }}
                {% elseif (cadencier.state<=6) %}
                    {% if (is_granted('ROLE_CLIENT')) %}
                        {{ 'STEP1'|trans|raw }}
                    {% else %}
                        {% if (cadencier.state==1) %}
                            {{ 'STEP10'|trans|raw }}
                        {% elseif (cadencier.state==2) %}
                            {{ 'STEP11'|trans|raw }}
                        {% elseif (cadencier.state==3) %}
                            {{ 'STEP12'|trans|raw }}
                        {% elseif (cadencier.state==4) %}
                            {{ 'STEP13'|trans|raw }}
                        {% elseif (cadencier.state==5) %}
                            {{ 'STEP14'|trans|raw }}
                        {% elseif (cadencier.state==6) %}
                            {{ 'STEP15'|trans|raw }}
                        {% endif %}
                    {% endif %}
                {% elseif (cadencier.state==7) %}
                    {{ 'STEP2'|trans|raw }}
                {% elseif (cadencier.state==8) %}
                    {{ 'STEP3'|trans|raw }}
                {% elseif (cadencier.state==9) %}
                    {{ 'STEP4'|trans|raw }}
                {% elseif (cadencier.state==10) %}
                    {{ 'STEP5'|trans|raw }}
                {% endif %}
            </legend>
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_ID'|trans|raw }} </td>
                            <td>{{ cadencier.id }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_FACTORY'|trans|raw }} </td>
                            <td>{{ cadencier.supplier.id }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_DELIVERYTIME'|trans|raw }} </td>
                            <td>{{ cadencier.deleverytime+10 }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_CUSTOMER'|trans|raw }} </td>
                            <td>{{ cadencier.customer.id~' '~ cadencier.customer.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_CONTAINERTYPE'|trans|raw }} </td>
                            <td>{% if (cadencier.container) %} {{ cadencier.container.title }}{% endif %} </td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_POL'|trans|raw }} </td>
                            <td>
                                {% if (cadencier.finalpol) %}
                                    {{ cadencier.finalpol }}
                                {% else %}
                                    {% if (cadencier.pol) %} {{ cadencier.pol.title }}{% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_CREATED'|trans|raw }} </td>
                            <td>{{ cadencier.created|date('Y-m-d') }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_MAINSALER'|trans|raw }} </td>
                            <td>{{ cadencier.customer.mainsaler.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_CUSOTMERCONTACT'|trans|raw }} </td>
                            <td>{{ cadencier.user.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'Cargo ready date'|trans|raw }} </td>
                            <td> {% if (cadencier.cargoreadydate) %} {{ cadencier.cargoreadydate|date('d-m-Y') }}
                                    <input type="hidden" id="cargoreadydate" value="true">
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'QC schedule'|trans|raw }} </td>
                            <td>
                                {% if (cadencier.qcschedule) %}
                                    <input type="hidden" id="qcschedule" value="true">

                                    {{ cadencier.qcschedule|date('d-m-Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_SETPLOADING'|trans|raw }} </td>
                            <td>
                                {% if (cadencier.loadingdate) %}
                                    {{ cadencier.loadingdate|date('d-m-Y') }}{% endif %}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                        {% set gwTotal = 0 %}
                        {% set nwTotal = 0 %}
                        {% for Offer in Offers %}
                            {% if cadencier.selection['o'~Offer.id] is defined%}
                            {% set qty=attribute( cadencier.selection,'o'~Offer.id).qty %}
                            {% set gwTotal = gwTotal + (qty/Offer.Product.pcb) * Offer.Product.gwpackage %}
                            {% set nwTotal = nwTotal + (qty/Offer.Product.pcb) * Offer.Product.nwpackage %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_GW'|trans|raw }} </td>
                            <td>{{ gwTotal }}</td> {# correction: nw/gw swapped #}
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_NW'|trans|raw }} </td>
                            <td>{{ nwTotal }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_QUANTPACKAGES'|trans|raw }} </td>
                            <td>{{ cadencier.quantpackages }} </td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_QUANTPIECE'|trans|raw }} </td>
                            <td>{{ cadencier.quantpieces }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_TOTALVALUE'|trans|raw }} </td>
                            <td>{{ cadencier.totalvalue|number_format(2, '.', ',') }} USD</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_TOTALVOLUME'|trans|raw }} </td>
                            <td>{{ cadencier.cbm|number_format(2, '.', ',') }} m3</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_INCOTERM'|trans|raw }} </td>
                            <td>
                                {% if (cadencier.finalincoterm) %}
                                    {{ cadencier.finalincoterm }}
                                {% else %}
                                    {% if (cadencier.incoterm) %}   {{ cadencier.incoterm.title }}{% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'Customer forwarder'|trans|raw }} </td>
                            <td>{{ cadencier.customerforwarder|nl2br }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_CUSTOMER_PAYMENT_TERM'|trans|raw }} </td>
                            <td>{% if cadencier.customerpaymenterms %}{{ cadencier.customerpaymenterms.title }}{% endif %}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% if (not is_granted('ROLE_CLIENT') and (is_granted('ROLE_ADMIN')or is_granted('ROLE_SOURCING') or is_granted('ROLE_PRODUCTION')) and cadencier.supplier.paymenterms) %}
                    <div class="col-md-12">
                        <legend>Confidential</legend>
                    </div>
                    <div class="col-md-6">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>{{ 'ENTITY_COMMAND_SUPPLIER_PAYMENT_TERM'|trans|raw }} </td>
                                <td>{% if cadencier.supplierpaymenterms %}{{ cadencier.supplierpaymenterms.title }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>{{ 'Supplier CI Num'|trans|raw }} </td>
                                <td>{{ cadencier.supplierci }}</td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table">
                            <tbody>
                            {% if is_granted('ROLE_ADMIN') %}
                                <tr>

                                    <td>{{ 'Supplier amount'|trans|raw }} </td>
                                    <td>{{ cadencier.suppliervalue|number_format(2, '.', ',') }} USD</td>
                                </tr>
                                <tr>
                                    <td>{{ 'Marge'|trans|raw }} </td>
                                    <td>{{ (cadencier.totalvalue - cadencier.suppliervalue)|number_format(2, '.', ',') }}
                                        USD
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ '% Marge'|trans|raw }} </td>
                                    <td>{% if cadencier.totalvalue %}
                                        {{ (((( cadencier.totalvalue - cadencier.suppliervalue )/ cadencier.totalvalue))*100) |round(2, 'floor') }}
                                        %
                                        {% else %} 0% {% endif %} {# If for some reason totalvalue == 0 #}

                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

            </div>
        </fieldset>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend>{{ 'ENTITY_COMMAND_FOLLOWINGCOMMAND'|trans|raw }}</legend>
            <table class="table table-bordered ">
                <thead>
                <tr>
                    <th>{{ 'ENTITY_COMMAND_FOLLOWINGCOMMAND'|trans|raw }}</th>
                    <th>{{ 'ENTITY_COMMAND_STEP'|trans|raw }}</th>
                    <th>{{ 'ENTITY_COMMAND_DATE'|trans|raw }}</th>
                </tr>
                </thead>
                <tbody>
                {% if (cadencier.state>=0) %}
                    <tr class="status-info">
                        <td>{{ 'ENTITY_COMMAND_CREATED'|trans|raw }}</td>
                        <td><i class="icon-ok"></i></td>
                        <td>{{ cadencier.created|date('d-m-Y') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ 'ENTITY_COMMAND_CREATED'|trans|raw }}</td>
                        <td><i class="icon-remove"></i></td>
                        <td></td>
                    </tr>
                {% endif %}

                {% if (cadencier.state>=7) %}
                    <tr class="status-info">
                        <td>{{ 'ENTITY_COMMAND_STEPVALIDATION'|trans|raw }}</td>
                        <td><i class="icon-ok"></i></td>
                        <td>{{ cadencier.stepValidation|date('d-m-Y') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ 'ENTITY_COMMAND_STEPVALIDATION'|trans|raw }}</td>
                        <td><i class="icon-remove"></i></td>
                        <td></td>
                    </tr>
                {% endif %}

                {% if (cadencier.state>=8) %}
                    <tr class="status-info">
                        <td>{{ 'ENTITY_COMMAND_STEPPRODUCTION'|trans|raw }}</td>
                        <td><i class="icon-ok"></i></td>
                        <td> {{ cadencier.stepProduction|date('d-m-Y') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ 'ENTITY_COMMAND_STEPPRODUCTION'|trans|raw }}</td>
                        <td><i class="icon-remove"></i></td>
                        <td></td>
                    </tr>
                {% endif %}

                {% if (cadencier.state>=9) %}
                    <tr class="status-info">
                        <td>{{ 'ENTITY_COMMAND_SETPLOADING'|trans|raw }}</td>
                        <td><i class="icon-ok"></i></td>
                        <td>{{ cadencier.loadingdate|date('d-m-Y') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ 'ENTITY_COMMAND_SETPLOADING'|trans|raw }}</td>
                        <td><i class="icon-remove"></i></td>
                        <td></td>
                    </tr>
                {% endif %}

                {% if (cadencier.state>=9) %}
                    <tr class="status-info">
                        <td>{{ 'ENTITY_COMMAND_STEPONBOARD'|trans|raw }}</td>
                        <td><i class="icon-ok"></i></td>
                        <td>{{ cadencier.command.etd|date('d-m-Y') }}(ETD)</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ 'ENTITY_COMMAND_STEPONBOARD'|trans|raw }}</td>
                        <td><i class="icon-remove"></i></td>
                        <td></td>
                    </tr>
                {% endif %}
                {% if (cadencier.state>=10) %}
                    <tr class="status-info">
                        <td>{{ 'LIVRAISON'|trans|raw }}</td>
                        <td><i class="icon-ok"></i></td>
                        <td>{{ cadencier.command.eta|date('d-m-Y') }}(ETA)</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ 'LIVRAISON'|trans|raw }}</td>
                        <td><i class="icon-remove"></i></td>
                        <td></td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </fieldset>
    </div>
</div>
