<table  class="table">
    <thead>
        <tr>
            <th>{{'ENTITY_COMMAND_CUSTOMER'|trans }} </th>
            <th>{{'ENTITY_COMMAND_MODIFED'|trans }} </th>
            <th>{{'ENTITY_COMMAND_CREATED'|trans }} </th>
            <th>{{'ENTITY_COMMAND_ID'|trans }} </th>
            <th>{{'ENTITY_COMMAND_ACTION'|trans }} </th>
            <th>{{'ENTITY_COMMAND_STATE'|trans }} </th>
    </thead>
    <tbody>
                                {% for Command in Commands %}
        <tr>
            <td><a href="{{ path('customer_show', { 'id': Command.cadencier.customer.id }) }}">{{ Command.cadencier.customer.name}}</a></td>    
            <td>{{ Command.modified|date('Y-m-d') }}</td>        
            <td>{{ Command.created|date('Y-m-d') }}</td>      
            <td><a href="{{ path('command_show', { 'id': Command.id }) }}">{{'ENTITY_COMMAND'|trans }} {{ Command.id }}</a></td>
            <td><span class="label label-red">1/11</span></td>   
            <td><a href="{{ path('command_show', { 'id': Command.id }) }}" class="btn btn-default">{{'ENTITY_COMMAND_BTN_SEECOMMAND'|trans }}</a></td> 
        </tr>
                                 {% endfor %}
    </tbody>
</table>