{% import "appBundle::coreadmin_macro.html.twig" as _ %}

{# if  (is_granted('ROLE_ADMIN') or  is_granted('ROLE_PRODUCTION') or  is_granted('ROLE_COMMERCIAL') or  (is_granted('ROLE_CLIENT') and (profil.contact_type=0 or contact_type=1))) #}

<table cellpadding="0" cellspacing="0" border="0" class="dataTable">
    <thead>
    <tr role="row">

        <th>{{ 'ENTITY_COMMAND_ID'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_CREATED'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_MAINSALER'|trans|raw }} </th>
        <th>{{ 'ENTITY_CUSTOMER_LOGO'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_CUSTOMER'|trans|raw }} </th>
        <th>{{ 'Contact'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_FACTORY'|trans|raw }} </th>
        <th>{{ 'ENTITY_SUPPLIER_OFFERNAME'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_TOTALVALUE'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_INCOTERM'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_ACTION'|trans|raw }} </th>
        <th>{{ 'ENTITY_COMMAND_STATE'|trans|raw }} </th>
        <th>{{ 'HISTORY_DAY'|trans|raw }}</th>
    </thead>

    <tbody>
    {% for Cadencier in Cadenciers %}
        {% if (Cadencier.customer and (tous or (app.user.contact is defined and Cadencier.customer.id ==  app.user.contact.customer.id))) %}
            <tr>
                {% set is_link = (Cadencier.command.cadenciers|length >1 ) ? true : false %}
                <td>
                    {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_PRODUCTION') or is_granted('ROLE_ADMINSUPPLYCHAIN')) %}
                        <input type="checkbox" class="selection" name="selection[]" value="{{ Cadencier.id }}">
                    {% endif %}
                    {{ Cadencier.id }} {% if (is_link) %} <i class="icon-lock"></i>{% endif %}
                </td>
                <td>{{ Cadencier.created|date('Y-m-d') }}</td>
                <td>{{ Cadencier.customer.mainsaler.name }}</td>
                <td>{% if Cadencier.customer.logo is defined and Cadencier.customer.logo and Cadencier.customer.logo.image %}
                        <img height="40px;" src="{{ webpath~Cadencier.customer.logo.image }}">{% endif %}</td>
                <td>{{ Cadencier.customer.name }}</td>
                <td>{{ Cadencier.user.name }}</td>
                <td>{{ Cadencier.supplier.id }}</td>
                <td>
                    {% if (app.request.locale=='fr') %}
                        {% if (Cadencier.supplier.offernamefr) %}
                            {{ Cadencier.supplier.offernamefr|upper }}
                        {% else %}
                            {{ Cadencier.supplier.offername|upper }}
                        {% endif %}
                    {% else %}
                        {{ Cadencier.supplier.offername|upper }}
                    {% endif %}
                </td>
                <td>{{ Cadencier.totalvalue|number_format(2, '.', ',') }}</td>
                <td>
                    {% if (Cadencier.finalincoterm) %}
                        {{ Cadencier.finalincoterm }}
                    {% else %}
                        {{ Cadencier.incoterm.title }}
                    {% endif %}

                </td>

                <td>

                    {% if  is_granted('ROLE_ADMIN') %}
                        {% if (is_link) %}
                            {% set actions=[
                            {'route': path('command_show', { 'id': Cadencier.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'},
                            {'route': path('command_unmerge', { 'id': Cadencier.id }) ,'text':'ACTION_UNMERGE','ico':'icon-unlock','confirm':'Confirm ?'},
                            ] %}
                        {% else %}
                            {% set actions=[
                            {'route': path('command_show', { 'id': Cadencier.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'},
                            ] %}
                        {% endif %}
                    {% elseif  is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_CLIENT') %}
                        {% set actions=[
                        {'route': path('command_show', { 'id': Cadencier.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'},
                        ] %}
                    {% elseif  is_granted('ROLE_PRODUCTION') and Cadencier.state=="3" %}
                        {% if (is_link) %}
                            {% set actions=[
                            {'route': path('command_show', { 'id': Cadencier.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'},
                            {'route': path('command_unmerge', { 'id': Cadencier.id }) ,'text':'ACTION_UNMERGE','ico':'icon-unlock','confirm':'Confirm ?'},
                            ] %}
                        {% else %}
                            {% set actions=[
                            {'route': path('command_show', { 'id': Cadencier.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'}
                            ] %}
                        {% endif %}
                    {% elseif  is_granted('ROLE_PRODUCTION') %}
                        {% if (is_link) %}
                            {% set actions=[
                            {'route': path('command_show', { 'id': Cadencier.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'},
                            {'route': path('command_unmerge', { 'id': Cadencier.id }) ,'text':'ACTION_UNMERGE','ico':'icon-unlock','confirm':'Confirm ?'},
                            ] %}
                        {% else %}
                            {% set actions=[
                            {'route': path('command_show', { 'id': Cadencier.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'}
                            ] %}
                        {% endif %}
                    {% else %}
                        {% set actions=[] %}
                    {% endif %}

                    {% set myuser = profils.get() %}

                    {% if (
                    (is_granted('ROLE_CLIENT') and Cadencier.state in [0] ) or
                    (is_granted('ROLE_CLIENT') and (myuser.contact_type==0 or myuser.contact_type==4) and Cadencier.state in [0,1] ) or
                    (is_granted('ROLE_COMMERCIAL')  and Cadencier.state in [1]) or
                    (is_granted('ROLE_PRODUCTION')  and Cadencier.state in [2,3,4,5,6,7]) or
                    (is_granted('ROLE_ADMIN')  and Cadencier.state in [0,1,2,3,4,5,6,7] )
                    ) %}
                        {% if not Cadencier.archive %}
                            {% set actions = actions|merge([ {'route': path('command_archive', { 'id': Cadencier.id }) ,'text':'Archive','ico':'icon-folder-close','confirm':'Confirm ?'}]) %}
                        {% endif %}
                        {% set actions = actions|merge([ {'route': path('command_delete', { 'id': Cadencier.id }) ,'text':'APPLICATION_DELETE','ico':'icon-trash','confirm':'Confirm ?'}]) %}
                    {% endif %}


                    {{ _.dropdownactions(actions) }}
                </td>
                <td>
                    {% if is_granted('ROLE_CLIENT') and myuser.contact_type==4 %}
                        {% if (Cadencier.state ==0) %}
                            {{ 'STEP0'|trans|raw }} {{ Cadencier.customer.name }}
                        {% elseif(Cadencier.state ==1) %}
                            {{ 'STEP10'|trans|raw }}
                        {% elseif(Cadencier.state ==2) %}
                            {{ 'STEP11'|trans|raw }}
                        {% elseif(Cadencier.state ==3) %}
                            {{ 'STEP12'|trans|raw }}
                        {% elseif(Cadencier.state ==4) %}
                            {{ 'STEP13'|trans|raw }}
                        {% elseif(Cadencier.state ==5) %}
                            {{ 'STEP14'|trans|raw }}
                        {% elseif(Cadencier.state ==6) %}
                            {{ 'STEP15'|trans|raw }}
                        {% elseif(Cadencier.state ==7) %}
                            {{ 'STEP2'|trans|raw }}
                        {% elseif(Cadencier.state ==8) %}
                            {{ 'STEP3'|trans|raw }}
                        {% elseif(Cadencier.state ==9) %}
                            {{ 'STEP4'|trans|raw }}
                        {% elseif(Cadencier.state ==10) %}
                            {{ 'STEP5'|trans|raw }}
                        {% endif %}
                    {% elseif is_granted('ROLE_CLIENT') %}
                        {% if (Cadencier.state ==0) %}
                            {{ 'STEP0'|trans|raw }} {{ Cadencier.customer.name }}
                        {% elseif(Cadencier.state ==1) %}
                            {{ 'STEP1'|trans|raw }}
                        {% elseif(Cadencier.state ==2) %}
                            {{ 'STEP1'|trans|raw }}
                        {% elseif(Cadencier.state ==3) %}
                            {{ 'STEP1'|trans|raw }}
                        {% elseif(Cadencier.state ==4) %}
                            {{ 'STEP1'|trans|raw }}
                        {% elseif(Cadencier.state ==5) %}
                            {{ 'STEP1'|trans|raw }}
                        {% elseif(Cadencier.state ==6) %}
                            {{ 'STEP1'|trans|raw }}
                        {% elseif(Cadencier.state ==7) %}
                            {{ 'STEP2'|trans|raw }}
                        {% elseif(Cadencier.state ==8) %}
                            {{ 'STEP3'|trans|raw }}
                        {% elseif(Cadencier.state ==9) %}
                            {{ 'STEP4'|trans|raw }}
                        {% elseif(Cadencier.state ==10) %}
                            {{ 'STEP5'|trans|raw }}
                        {% endif %}
                    {% else %}
                        {% if (Cadencier.state ==0) %}
                            {{ 'STEP0'|trans|raw }} {{ Cadencier.customer.name }}
                        {% elseif(Cadencier.state ==1) %}
                            {{ 'STEP10'|trans|raw }}
                        {% elseif(Cadencier.state ==2) %}
                            {{ 'STEP11'|trans|raw }}
                        {% elseif(Cadencier.state ==3) %}
                            {{ 'STEP12'|trans|raw }}
                        {% elseif(Cadencier.state ==4) %}
                            {{ 'STEP13'|trans|raw }}
                        {% elseif(Cadencier.state ==5) %}
                            {{ 'STEP14'|trans|raw }}
                        {% elseif(Cadencier.state ==6) %}
                            {{ 'STEP15'|trans|raw }}
                        {% elseif(Cadencier.state ==7) %}
                            {{ 'STEP2'|trans|raw }}
                        {% elseif(Cadencier.state ==8) %}
                            {{ 'STEP3'|trans|raw }}
                        {% elseif(Cadencier.state ==9) %}
                            {{ 'STEP4'|trans|raw }}
                        {% elseif(Cadencier.state ==10) %}
                            {{ 'STEP5'|trans|raw }}
                        {% endif %}
                    {% endif %}


                </td>
                <td>
                    {{ Cadencier.command.created|diffToDate }}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{#endif#}