<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend>{{ 'ENTITY_COMMAND_LOGISTIC'|trans|raw }} </legend>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td width="20%">{{ 'ENTITY_COMMAND_DESCRIPTIONOFGOODS'|trans|raw }} </td>
                            <td>{{ Command.descriptionofgoods }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_SHIPPER'|trans|raw }} </td>
                            <td>{{ Command.shipper }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_CONSIGNEE'|trans|raw }} </td>
                            <td>{{ Command.consignee }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_NOTIFY'|trans|raw }} </td>
                            <td>{{ Command.notify }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_FREIGHTPAYABLEAT'|trans|raw }} </td>
                            <td>{{ Command.freightpayableat }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_BOOKINGNUMBER'|trans|raw }} </td>
                            <td>{{ Command.bookingnumber }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_SHIPPINGCOMPANGY'|trans|raw }} </td>
                            <td> {% if (Command.shippingcompany) %} {{ Command.shippingcompany.title }} {% endif %}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_POL'|trans|raw }} </td>
                            <td>
                                {% if (cadencier.finalpol) %}
                                    {{ cadencier.finalpol }}
                                {% else %}
                                    {% if (cadencier.pol) %} {{ cadencier.pol.title }}{% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_POD'|trans|raw }} </td>
                            <td>{% if (Command.pod) %} {{ Command.pod.title }}{% endif %}</td>
                        </tr>

                        {% if (Command.etd == Command.eta) %}
                            <tr>
                                <td>{{ 'ENTITY_COMMAND_ETD'|trans|raw }} </td>
                                {% set deleverytime=cadencier.customer.deleverytime %}
                                <td>{{ cadencier.stepValidation |date_modify("+"~deleverytime~" day")|date('d-m-Y') }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'ENTITY_COMMAND_ETA'|trans|raw }} </td>
                                {# set eta=cadencier.deleverytime+10 #}
                                {% set eta=deleverytime+30 %}
                                <td>{{ cadencier.stepValidation |date_modify("+"~eta~" day")|date('d-m-Y') }}</td>
                            </tr>

                        {% else %}
                            <tr>
                                <td>{{ 'ENTITY_COMMAND_ETD'|trans|raw }} </td>
                                <td>{{ Command.etd |date('d-m-Y') }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'ENTITY_COMMAND_ETA'|trans|raw }} </td>
                                <td>{{ Command.eta|date('d-m-Y') }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_VRESSEL'|trans|raw }} </td>
                            <td>{{ Command.vessel }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_TCNUM'|trans|raw }} </td>
                            <td>{{ Command.tcnum }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_SEALNUM'|trans|raw }} </td>
                            <td>{{ Command.sealnum }}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    {% set gw = 0 %}
                    {% set nw = 0 %}
                    {% set quantpackages = 0 %}
                    {% set quantpieces = 0 %}
                    {% set totalvalue = 0 %}
                    {% set cbm = 0 %}
                    {% set suppliervalue = 0 %}
                    {% for Order in Command.Cadenciers %}

                        {% for Offer in AllOffers[Order.id] %}

                            {% if Order.selection['o'~Offer.id] is defined %}
                                {% set qty=attribute( Order.selection,'o'~Offer.id).qty %}
                                {% set gw = gw + qty*Offer.Product.nwproduct %}
                                {% set nw = Offer.Product.pcb ? nw + (qty/Offer.Product.pcb)*Offer.Product.gwpackage  :  nw %}
                            {% endif %}

                        {% endfor %}

                        {% set quantpackages = quantpackages +  Order.quantpackages %}
                        {% set quantpieces = quantpieces +  Order.quantpieces %}
                        {% set totalvalue = totalvalue +  Order.totalvalue %}
                        {% set cbm = cbm +  Order.cbm %}
                        {% set suppliervalue = suppliervalue +  Order.suppliervalue %}
                    {% endfor %}


                    <table class="table">
                        <tbody>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_GW'|trans|raw }} </td>
                            <td>{{ nw }}</td> {# correction: nw/gw swapped #}
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_NW'|trans|raw }} </td>
                            <td>{{ gw }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_QUANTPACKAGES'|trans|raw }} </td>
                            <td>{{ quantpackages }} </td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_QUANTPIECE'|trans|raw }} </td>
                            <td>{{ quantpieces }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_TOTALVOLUME'|trans|raw }} </td>
                            <td>{{ cbmtotalvolumeformdoctine|number_format(2, '.', ',') }} m3</td>
                        </tr>
                        <tr>
                            <td>{{ 'ENTITY_COMMAND_TOTALVALUE'|trans|raw }} </td>
                            <td>{{ totalvalue|number_format(2, '.', ',') }} USD</td>
                        </tr>

                        {% if (is_granted('ROLE_ADMIN')) %}
                            <tr>
                                <td>{{ 'Supplier value'|trans|raw }} </td>
                                <td>{{ suppliervalue|number_format(2, '.', ',') }} USD</td>
                            </tr>
                            <tr>
                                <td>{{ 'MARGE'|trans|raw }} </td>
                                <td>{{ (totalvalue-suppliervalue)|number_format(2, '.', ',') }} USD</td>
                            </tr>
                            <tr>
                                <td>{{ '% MARGE'|trans|raw }} </td>
                                <td>{% if totalvalue %}
                                        {{ ((((totalvalue-suppliervalue)/totalvalue))*100)|round(2, 'floor') }} %
                                    {% else %} 0% {% endif %} {# if totalvalue == 0 #}
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend>Documents</legend>
            {% include 'appBundle:Command:supplychain.html.twig' with {'Supplychain': Supplychains,'Supplychaincats': Supplychaincats,'type':1} %}
        </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend>{{ 'ENTITY_ORDERS'|trans|raw }} </legend>
            {% include 'appBundle:Command:listCommand.html.twig' with {'Cadenciers': Command.Cadenciers, 'tous': ((is_granted('ROLE_PRODUCTION') or is_granted('ROLE_COMMERCIAL')))} %}
        </fieldset>
    </div>
</div>
