{% if is_granted('ROLE_PRODUCTION') %}
    <script type="text/javascript">
        $(document).ready(function () {
            /*
             function fusionner(fusionner) {
             premier = $(fusionner[0]).parent().find('ul');
             // premier.find('li.remove').remove();
             for (i = 1; i <= fusionner.length; i++) {
             $(fusionner[i]).parent().find('li').each(function () {
             premier.append($(this));
             if ($(this).hasClass('consult')) {
             $(this).find('a').click(function () {

             if ($(this).data('confirm'))
             message = $(this).data('confirm');
             else
             message = 'Vous confirmez ?';

             if (confirm(message))
             window.location = $(this).attr('href');
             else
             return false;
             });
             }
             });
             $(fusionner[i]).remove();
             }
             }

             var validatebtn = [];
             $('.validate-btn').each(function () {
             validatebtn.push($(this).data('title'));
             });

             validatebtn = $.unique(validatebtn);
             $(validatebtn).each(function (k, value) {
             if ($(".validate-btn[data-title='" + value + "']").length > 1) {
             fusionner($(".validate-btn[data-title='" + value + "']"));
             }
             });
             */

            $('a.confirmAction').click(function () {
                if (confirm('Confirm ?')) {
                    window.location = $(this).attr('rel');
                }
            });

            var steps = [];
            $('.document').each(function () {
                steps[$(this).data('step')] = $(this).data('step');
                $(this).hide();
            });
            steps.sort();
            var test = true;

            $('#PAYMENT').hide();
            for (step in steps) {
                if (test) {
                    varfacultxt = "";
                    $(".document[data-step='" + steps[step] + "']").show();
                    var facultatif = [];
                    $(".document[data-step='" + steps[step] + "']").each(function () {
                        if ($(this).data('obligatoire') == "1") {
                            if ($(this).data('notbtn') != "") {
                                if ($('#' + $(this).data('notbtn')).val() != "true") {
                                    $('#breadcrumbs .breadcrumb-button .breadcrumb-label').last().html('Step ' + step + ' - Waiting for : ' + $(this).data('title'));
                                    $(this).css("padding-right", "30px");
                                    $(this).append('<span class="triangle-button blue"><i class=" icon-exclamation-sign"></i></span>');
                                    $(this).attr('href', "#");
                                    test = false;
                                    $(this).hide();
                                }
                            } else {
                                if (!$(".upload[data-id='" + $(this).data('id') + "']").length == 1) {
                                    test = false;
                                    $('#breadcrumbs .breadcrumb-button .breadcrumb-label').last().html('Step ' + step + ' - Waiting for : ' + $(this).data('title'));
                                    $(this).css("padding-right", "30px");
                                    $(this).append('<span class="triangle-button blue"><i class=" icon-exclamation-sign"></i></span>');
                                }
                            }
                        } else if ($(this).data('obligatoire') != "") {
                            if (!$('#' + $(this).data('facultatif')).val() == "true") {
                                $('#breadcrumbs .breadcrumb-button .breadcrumb-label').last().html('Step ' + step + ' - Waiting for : ' + $(this).data('title'));
                                test = false;
                                $(this).css("padding-right", "30px");
                                $(this).append('<span class="triangle-button blue"><i class=" icon-exclamation-sign"></i></span>');
                            }
                        }

                        if ($(this).data('condition') != "") {
                            if ($('#' + $(this).data('condition')).val() != "true") {
                                if (!$(".upload[data-id='" + $(this).data('id') + "']").length == 1) {
                                    $('#breadcrumbs .breadcrumb-button .breadcrumb-label').last().html('Step ' + step + ' - Waiting for : ' + $(this).data('title'));
                                    test = false;
                                }
                            }
                        }

                        if ($(this).data('facultatif') != "") {
                            if ($('#' + $(this).data('facultatif')).val() == "true") {
                                facultatif.push(" .upload[data-id='" + $(this).data('id') + "']");
                                varfacultxt += $(this).data('title') + " ";
                                $(this).css("padding-right", "30px");
                                $(this).append('<span class="triangle-button blue"><i class=" icon-exclamation-sign"></i></span>');
                            }
                        }

                        if ($(".upload[data-id='" + $(this).data('id') + "']").length == 1 && $(this).data('hide') == 1)
                            $(this).hide();

                        if ($(".waiting[data-id='" + $(this).data('id') + "']").length == 1 && $(this).data('hide') == 1) {
                            $(this).hide();

                        }
                    });


                    if (facultatif.length > 0) {
                        facultatiftext = facultatif.join(',')
                        if ($(facultatiftext).length == 0) {

                            $('#breadcrumbs .breadcrumb-button .breadcrumb-label').last().html('Step ' + step + ' - Waiting for : ' + varfacultxt);

                            test = false;
                        } else {

                        }
                    }
                }
                if (test) {
                    $(".document[data-step='" + steps[step] + "']").each(function () {
                        if ($(this).data('facultatif') == "1" && $(this).data('hide') == 1)
                            $(this).hide();
                        else if ($(this).data('facultatif') != "" && $(this).data('hide') == 1) {
                            $(this).hide();
                        }
                    });
                }
            }
        });
    </script>
{% endif %}