{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}

{% if (cadencier.state==0) %}
{% set title='STEP0'|trans|raw %}
{% elseif (cadencier.state<=6) %}
{% if (is_granted('ROLE_CLIENT')) %}
{% set title='STEP1'|trans|raw %}
{% else %}
{% if (cadencier.state==1) %}
{% set title='STEP10'|trans|raw %}
{% elseif (cadencier.state==2) %}
{% set title='STEP11'|trans|raw %}
{% elseif (cadencier.state==3) %}
{% set title='STEP12'|trans|raw %}
{% elseif (cadencier.state==4) %}
{% set title='STEP13'|trans|raw %}
{% elseif (cadencier.state==5) %}
{% set title='STEP14'|trans|raw %}
{% elseif (cadencier.state==6) %}
{% set title='STEP15'|trans|raw %}
{% endif %}
{% endif %}
{% elseif (cadencier.state==7) %}
{% set title='STEP2'|trans|raw %}
{% elseif (cadencier.state==8) %}
{% set title='STEP3'|trans|raw %}
{% elseif (cadencier.state==9) %}
{% set title='STEP4'|trans|raw %}
{% elseif (cadencier.state==10) %}
{% set title='STEP5'|trans|raw %}
{% endif %}


{{ _.header({'title': 'ENTITY_COMMAND'|trans|raw~' '~title ,'subtitle':'','ico':'icon-barcode','parent':{'title':'ENTITY_COMMANDS','ico':'icon-barcode','url':path('command')} }) }}
{% endblock -%}

{% block body -%}
<div class="container">
<div class="row">
<div class="col-md-12">
    {% if (is_granted('ROLE_PRODUCTION')) %}
        {% set mytab=[
        {'key':'Command','text':'ENTITY_COMMAND'|trans|raw ~' '~cadencier.id,'ico':'icon-barcode'},
        {'key':'customer','text':'ENTITY_CUSTOMER','ico':'icon-globe'},
        {'key':'Selection','text':'ENTITY_SELECTION','ico':'icon-shopping-cart'},
        {'key':'Supplychains','text':'ENTITY_SUPPLYCHAINS','ico':'icon-cogs'},
        {'key':'Logistic','text':'ENTITY_COMMAND_LOGISTIC','ico':'icon-plane'},
        {'key':'Payments','text':'Invoices','ico':'icon-inbox'},
        ] %}

    {% elseif (is_granted('ROLE_COMMERCIAL')) %}
        {% set mytab=[
        {'key':'Command','text':'ENTITY_COMMAND'|trans|raw ~' '~cadencier.id,'ico':'icon-barcode'},
        {'key':'customer','text':'ENTITY_CUSTOMER','ico':'icon-globe'},
        {'key':'Selection','text':'ENTITY_SELECTION','ico':'icon-shopping-cart'},
        {'key':'Supplychains','text':'ENTITY_SUPPLYCHAINS','ico':'icon-cogs'},
        {'key':'Logistic','text':'ENTITY_COMMAND_LOGISTIC','ico':'icon-plane'},
        {'key':'Payments','text':'Invoices','ico':'icon-inbox'},
        ] %}
    {% else %}
        {% set mytab=[
        {'key':'Command','text':'ENTITY_COMMAND'|trans|raw ~' '~cadencier.id,'ico':'icon-barcode'},
        {'key':'Selection','text':'ENTITY_SELECTION','ico':'icon-shopping-cart'},
        {'key':'Logistic','text':'ENTITY_COMMAND_LOGISTIC','ico':'icon-plane'},
        ] %}
    {% endif %}

    {% set btns=[] %}

    {% if (is_granted('ROLE_CLIENT') and cadencier.state in [0] and myuser.contact_type==0) %}
        {% set btns= btns|merge([{'route':path('cadencier_show',{'id':cadencier.id}) ,'ico':'icon-edit', 'text':'EDIT_CONFIRM_CADENCIER'}]) %}
    {% endif %}

    {% if (is_granted('ROLE_COMMERCIAL')  and cadencier.state in [1]) %}
        {% set btns= btns|merge([{'route':path('cadencier_show',{'id':cadencier.id}) ,'ico':'icon-edit', 'text':'EDIT_CONFIRM_CADENCIER'}]) %}
    {% endif %}

    {% if is_granted('ROLE_PRODUCTION') and cadencier.state in [2,3] %}
        {% if (cadencier.state=="2" and is_granted('ROLE_PRODUCTION')) %}
          {#  {% set btns= btns|merge([{'route':path('export_quotationsheet',{'id': cadencier.id,'type':'pifrs','_locale':'en'}) ,'ico':'icon-download-alt', 'text':'DOWNLOAD_FRS_PI'}]) %} #}
            {# Something's wrong with the export: it should be a purchase order export // feedback on 24 Oct 2018 #}
            {% set btns= btns|merge([{'route':path('export_document',{'id': cadencier.id,'doc': 'po', 'type':'pifrs','_locale':'en'}) ,'ico':'icon-download-alt', 'text':'DOWNLOAD_FRS_PI'}]) %}
        {% else %}
            {% set btns= btns|merge([{'route':path('cadencier_show',{'id':cadencier.id,'action':'production'}) ,'ico':'icon-home', 'text':'RECORD_SUPPLIERPI'}]) %}
        {% endif %}
    {% endif %}

    {% if (is_granted('ROLE_ADMINSUPPLYCHAIN') or is_granted('ROLE_COMMERCIAL') ) %}
        {% if (is_granted('ROLE_ADMIN') and cadencier.state<5 ) %}
            {% set btns= btns|merge([{'route':path('cadencier_show',{'id':cadencier.id,'action':'admin'}) ,'ico':'icon-check', 'text':'CONFIRM_PRICING'}]) %}
        {% endif %}
        {% if (is_granted('ROLE_ADMINSUPPLYCHAIN') and cadencier.state<7) or (is_granted('ROLE_COMMERCIAL') and cadencier.state ==5 ) %}
            {% set btns= btns|merge([{'route':path('cadencier_show',{'id':cadencier.id,'action':'genpi'}) ,'ico':'icon-shopping-cart', 'text':'GENERATE_PI'}]) %}
        {% endif %}
        {% if (is_granted('ROLE_COMMERCIAL') and cadencier.state ==7 ) %}
            {% set btns= btns|merge([{'route':path('cadencier_show',{'id':cadencier.id}) ,'ico':'icon-shopping-cart', 'text':'EDIT_CADENCIER'}]) %}
        {% endif %}
    {% endif %}

{#
    {% if (((is_granted('ROLE_CLIENT') and profil.contact_type in ['0','4'] ) or is_granted('ROLE_COMMERCIAL'))and cadencier.state==7) %}
        {% set btns= btns|merge([{'route':path('export_quotationsheetpdf',{'id': cadencier.id,'type':'pi','_locale':'en'}) ,'ico':'icon-download-alt', 'text':'PDF PI'}]) %}
    {% endif %}
#}
    {% if is_granted('ROLE_COMMERCIAL') and cadencier.state==7 %}
        {# new excel master #}
        {% set btns= btns|merge([{'route': path('export_document', { 'id': cadencier.id,'doc':'pi','type':'xls' }) ,'ico':'icon-download-alt', 'text':'XLS PI'}]) %}
        {#
        {% set btns= btns|merge([{'route': path('export_quotationsheet',{'id': cadencier.id,'type':'picustomer','_locale':'en'}) ,'ico':'icon-download-alt', 'text':'XLS PI'}]) %}

#}                                                                                                                                            {% endif %}

    {% if (is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_ADMINSUPPLYCHAIN')) and cadencier.state==7 %}
        {% set btns= btns|merge([{'route': path('multiupload_supplychain_add',{'id': cadencier.id,'doc':'37'}) ,'ico':'icon-upload-alt', 'text':'UPLOAD PI CUSTOMER'}]) %}
    {% endif %}

    {% if (is_granted('ROLE_PRODUCTION') or is_granted('ROLE_ADMINSUPPLYCHAIN')) and cadencier.state in [8,9] %}
        {% set btns= btns|merge([{'route': path('export_shippingmark',{'id': cadencier.id}) ,'ico':'icon-download-alt', 'text':'EXPORT EXCEL SHIPPING MARK'}]) %}
{# old export? old template? mauvais template? Fix above. {% set btns= btns|merge([{'route': path('export_shippingmark',{'id': cadencier.id}) ,'ico':'icon-download-alt', 'text':'EXPORT EXCEL SHIPPING MARK'}]) %} #}
        {% set btns= btns|merge([{'route':path('cadencier_show',{'id':cadencier.id,'action':'genpi'}) ,'ico':'icon-shopping-cart', 'text':'EDIT CI'}]) %}
    {% endif %}

    {% if is_granted('ROLE_CLIENT') and cadencier.state in [8,9,10] %}
        {% for doc in documents %}
            {% if doc.supplychaintypeid == 37 %}
                {% set btns= btns|merge([{'route': path('multiupload_commercial_docs',{idsupplychain:doc.id,idcadencier:cadencier.id}) ,'ico':'icon-download-alt', 'text':'PI'}]) %}
            {% elseif doc.supplychaintypeid == 38 %}
                {% set btns= btns|merge([{'route':  path('multiupload_commercial_docs',{idsupplychain:doc.id,idcadencier:cadencier.id}) ,'ico':'icon-download-alt', 'text':'CI'}]) %}
            {% endif %}
        {% endfor %}
    {% endif %}


    {{ _.tabs(mytab,[],btns) }}

    <div class="tab-pane active"
         id="Command">
        {% include 'appBundle:Command:item.html.twig' %}
    </div>
    <div class="tab-pane "
         id="Selection">
        {% if cadencier.state<=9 and (is_granted('ROLE_CLIENT') or is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_PRODUCTION')) %}
            <a href="{{ path('cadencier_show',{'id':cadencier.id}) }}"
               class="btn btn-default pull-right">{{ 'EDIT_CADENCIER'|trans|raw }}</a>
            <br style="clear:both;"/>
        {% endif %}

        {% if (is_granted('ROLE_PRODUCTION') or is_granted('ROLE_ADMINSUPPLYCHAIN')) %}
            <b style="color:red;">{{ cadencier.comment }}</b>
        {% endif %}

        {% include 'appBundle:Cadencier:productlist.html.twig' with {'offers': Offers,'consult':true,'myuser':{'mode':'','cutomer_id':cadencier.customer.id,'customer_coef':cadencier.customer.margecoef}} %}
    </div>
    <div class="tab-pane "
         id="Logistic">

        {% if is_granted('ROLE_PRODUCTION') and cadencier.state in [8,9] %}
            <a class="btn btn-default pull-right"
               href="{{ path('export_quotationsheet',{'id': cadencier.id,'type':'pl','_locale':'en'}) }}"><i
                        class="icon-download-alt"></i>{{ 'DOWNLOAD PL CUSTOMER'|trans|raw }}
            </a>
        {% endif %}

        {% if (is_granted('ROLE_PRODUCTION')) %}
            <a class="btn btn-default pull-right"
               href="{{ path('command_edit',{'id':Command.id}) }}">{{ 'ACTION_COMMAND_UPDATELOGISTIC'|trans|raw }}</a>
            <br style="clear:both;"/>
        {% endif %}
        {% include 'appBundle:Command:logistic.html.twig' with {'Supplychain': Supplychains,'Supplychaincats': Supplychaincats} %}
    </div>
    {% if (is_granted('ROLE_PRODUCTION') or is_granted('ROLE_COMMERCIAL')) %}
        <div class="tab-pane "
             id="Supplychains">

            {% include 'appBundle:Command:supplychain.html.twig' with {'Supplychain': Supplychains,'Supplychaincats': Supplychaincats,'type':0} %}
        </div>
        <div class="tab-pane "
             id="Payments">

            {% if (is_granted('ROLE_PRODUCTION') or is_granted('ROLE_COMMERCIAL') ) %}
                {% include 'appBundle:Command:supplychain.html.twig' with {'Supplychain': Supplychains,'Supplychaincats': Supplychaincats,'type':2} %}
                {% if (cadencier.state>=7 and (is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMINSUPPLYCHAIN')or is_granted('ROLE_PRODUCTION')) ) %}
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ path('invoicecustomer_create',{'id':cadencier.id}) }}"
                               class="btn btn-warning pull-right">{{ 'CREATE_INVOICE'|trans|raw }}</a>
                        </div>
                    </div>
                {% endif %}
                
                {% include 'appBundle:Payment:list.html.twig' with {'invoices':  cadencier.invoicecustomers} %}
                {% include 'appBundle:Payment:list.html.twig' with {'invoices':  cadencier.invoicesuppliers,'supplier':true} %}
            {% endif %}

        </div>
        <div class="tab-pane "
             id="Chats">
            {% if (is_granted('ROLE_COMMERCIAL')) %}
            {% endif %}
        </div>


        <div class="tab-pane "
             id="customer">
            {% if (is_granted('ROLE_PRODUCTION') or  is_granted('ROLE_COMMERCIAL') ) %}
                {% include 'appBundle:Customer:item.html.twig' with {'Customer': cadencier.customer} %}
            {% endif %}
        </div>
    {% endif %}
    {{ _.endtabs() }}
</div>
</div>
</div>

<input type="hidden"
id="fob"
value="{{ (cadencier.incoterm.title=="FOB")?'true':'' }}">
{% include 'appBundle:Command:script.html.twig' %}

{# {'key':'Chats','text':'ENTITY_CHATS','ico':'icon-comments-alt'},
{'key':'Payment','text':'ENTITY_PAYMENT','ico':'icon-credit-card'}, #}
{% endblock %}

