{% if is_granted('ROLE_PRODUCTION') or is_granted('ROLE_USER') or is_granted('COMMERCIAL') %}
    <table class="table table-bordered datatable">
        <thead>
        <tr>
            <th>selection</th>
            <th>Docs</th>

            {% if is_granted('ROLE_PRODUCTION') %}
                <th>Docs</th>
            {% endif %}

        </tr>
        </thead>
        <tbody>
        {% for Supplychaincat in Supplychaincats if Supplychaincat.type==type %}
            {% if  (is_granted('ROLE_CLIENT') and type==1) or is_granted('ROLE_PRODUCTION') or (is_granted('ROLE_COMMERCIAL') and type!=2) or (is_granted('ROLE_COMMERCIAL') and type==2 and Supplychaincat.title|lower=="customer") %}
                <tr id="{{ Supplychaincat.title }}">
                    <td style="width:20%">{{ Supplychaincat.title }}</td>
                    <td style="width:50%">
                        {% set indexSupplychaincat = 'r'~Supplychaincat.id %}
                        {% for Supplychain in Supplychaintypes[indexSupplychaincat] %}
                            {% set indexSupplychain = 'r'~Supplychain.id %}
                            {% if indexSupplychain in Supplychains|keys %}
                                {% for document in Supplychains[indexSupplychain] %}
                                    {% if (not document.validate and  is_granted('ROLE_PRODUCTION')) %}
                                        <div class="btn-group">
                                            <button class="btn btn-default btn-lg dropdown-toggle"
                                                    data-toggle="dropdown">{{ document.supplychaintype.title }} <span
                                                        class="caret"></span>
                                                <span class="triangle-button red"><i class="icon-time"></i></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li class="consult"><a target="_blank"
                                                                       href="{{ path('multiupload_supplychain_read',{'id':document.id}) }}"
                                                                       class="waiting"
                                                                       data-id="{{ Supplychain.id }}">{{ document.name ? 'ACTION_CONSULT'|trans|raw ~ ' ' ~document.name : 'ACTION_CONSULT'|trans|raw }}</a>
                                                </li>
                                                {% if ( is_granted('ROLE_ADMINSUPPLYCHAIN') and document.validateadmin==0) %}
                                                    <li><a class="confirmAction"
                                                           href="#"
                                                           rel="{{ path('multiupload_supplychain_valid',{'id':document.id,'idcadencier':cadencier.id}) }}">{{ 'APPLICATION_VALID'|trans|raw }}</a>
                                                    </li>
                                                    <li class="divider"></li>
                                                {% elseif ( is_granted('ROLE_ADMIN') and document.validateadmin==1) %}
                                                    <li><a class="confirmAction"
                                                           href="#"
                                                           rel="{{ path('multiupload_supplychain_valid',{'id':document.id,'idcadencier':cadencier.id}) }}">{{ 'APPLICATION_VALID'|trans|raw }}</a>
                                                    </li>
                                                    <li class="divider"></li>
                                                {% endif %}
                                                <li><a class="confirmAction"
                                                       href="#"
                                                       rel="{{ path('multiupload_supplychain_delete',{'id':document.id}) }}">{{ 'APPLICATION_DELETE'|trans|raw }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    {% elseif (document.validate and  is_granted('ROLE_ADMIN')) %}
                                        <div class="btn-group">
                                            <button class="btn btn-green btn-lg dropdown-toggle validate-btn"
                                                    data-title="{{ document.supplychaintype.title }}"
                                                    data-toggle="dropdown"> {{ document.name }} [{{ document.supplychaintype.title }}
                                                ]<span
                                                        class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li class="consult"><a target="_blank"
                                                                       href="{{ path('multiupload_supplychain_read',{'id':document.id}) }}"
                                                                       class="upload"
                                                                       data-id="{{ Supplychain.id }}">{{ document.name ? 'ACTION_CONSULT'|trans|raw ~ ' ' ~ document.name : 'ACTION_CONSULT'|trans|raw }}</a>
                                                </li>

                                                <li class="remove"><a class="confirmAction"
                                                                      href="#"
                                                                      rel="{{ path('multiupload_supplychain_delete',{'id':document.id}) }}">{{ 'APPLICATION_DELETE'|trans|raw ~ ' ' ~ document.name }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    {% elseif (is_granted('ROLE_PRODUCTION') or is_granted('ROLE_COMMERCIAL') or (is_granted('ROLE_CLIENT') and document.supplychaintype.customer) ) %}
                                        <a target="_blank"
                                           href="{{ path('multiupload_supplychain_read',{'id':document.id}) }}"
                                           class="btn btn-default btn-lg btn-green upload"
                                           data-id="{{ Supplychain.id }}">{{ document.supplychaintype.title }} </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% if is_granted('ROLE_PRODUCTION') %}
                        <td style="width:30%">
                            {% set indexSupplychaincat = 'r'~Supplychaincat.id %}
                            {% for Supplychain in Supplychaintypes[indexSupplychaincat] %}
                                {% set indexSupplychain = 'r'~Supplychain.id %}
                                <div class="btn-group">
                                    <a data-notbtn="{{ Supplychain.notbtn }}" data-id="{{ Supplychain.id }}"
                                       data-step="{{ Supplychain.step }}"
                                       data-obligatoire="{{ Supplychain.obligatoire }}"
                                       data-condition="{{ Supplychain.conditions }}"
                                       data-facultatif="{{ Supplychain.facultatif }}" data-hide="{{ Supplychain.hide }}"
                                       class="btn btn-default pull-right document {{ Supplychain.notbtn?'hidden':'' }}"
                                       href="{{ path('multiupload_supplychain_add',{'id': cadencier.id,'doc':Supplychain.id}) }}"
                                       data-title="{{ Supplychain.title }}"> {{ Supplychain.title }}
                                    </a>
                                </div>
                            {% endfor %}
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}

