{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
    {{ _.header({'title':'NEWSLETTER','subtitle':'NEWSLETTER','ico':'icon-barcode','parent':{'title':'ENTITY_INCOTERMS','ico':'icon-barcode','url':path('incoterm')}}) }}
{% endblock -%}

{% block body -%}
    <form action="{{ path('newsletter_send') }}" method="post" id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="">Email address (separate by coma)</label>
                        <textarea name="emails" class="form-control" style="width:100%;height:70px;">{{ to }}</textarea>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="form-group text-right">
                        <label><input type="checkbox" name="leads"/> Send to my leads</label>
                        <button style="margin-top:24px;" class="btn btn-blue " type="submit"><span
                                    class="glyphicon glyphicon-envelope"
                                    aria-hidden="true" id="submit"></span> Envoyer la newsletter
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Message title</label>
                        <input name="title" class="form-control" placeholder="Message title " value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
                 <textarea name="message" id="editor1" rows="10" cols="80" style="height:650px;">
                {{ newsletter }}
            </textarea>
                    <script>
                        CKEDITOR.replace('message', {
                            height: 500,
                            allowedContent:true
                        });

                        $(document).ready(function () {
                            $("#newsletter").on('submit', function () {
                                return confirm('Vous confirmez ?')
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


