{% for Contact in Contacts %}
    <h2>{{ Contact.name }}:</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Conslt</th>
        </tr>
        </thead>
        <tbody>
        {% for Newsletter in Contact.newsletters %}
            <tr>
                <td>{{ Newsletter.date|date("d-m-Y") }}</td>
                <td>{{ Newsletter.title }}</td>
                <td><a target="_blank" href="{{ path('newsletter_consult',{'id':Newsletter.id}) }}">Consult</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endfor %}