<table>
    <tbody>
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td width="50%" style="text-align:left;font-family:Arial, Helvetica, sans-serif; color:#000">
                        <img src="https://market.inasia-corp.com/bundles/app/images/HEADER_small.jpg" style="width:450px"
                             width="20%"><br/>
                        <span style="font-weight: bold; font-size: 12pt;">INASIA CORP. LIMITED </span><br/>
                        <span style="font-weight: bold; font-size: 10pt;">GUANGZHOU / HONG KONG</span><br/>Tel: +852 819 32162 Fax: +852 3157 7957
                    </td>
                    <td style="text-align:right;font-family:Arial, Helvetica, sans-serif; color:#000;vertical-align: bottom;">
                        <span style="font-weight: bold; font-size: 12pt;">{{ 'NEWSLETTER_OFFRESDISPONIBLES'|trans({}, "messages", locale) }}
                            <br/>{{ nbrOffer.nbr|number_format(0, ' ', ' ') }}
                            {{ 'MENU_PRODUCTS'|trans({}, "messages", locale) }}</span>
                        <br/>
                        <br/>
                        <span style="font-weight: bold; font-size: 12pt;">{{ 'NEWSLETTER_NEWSLETTERDU'|trans({}, "messages", locale) }}
                            <br/>{{ "now"|date("m/d/Y") }}</span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;font-family:Arial, Helvetica, sans-serif; color:#000;padding-top: 40px;"
                        colspan="2">

                        <h1> </h1>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;font-family:Arial, Helvetica, sans-serif; color:#000;padding-top: 40px;"
                        colspan="2">
                        <table width="100%" style="width:100%">
                            <thead>
                            {{ head|raw }}
                            </thead>
                            <tbody>
                            {{ body|raw }}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"
                        style="text-align:center;background-color: red;color:#fff;font-family:Arial, Helvetica, sans-serif;">
                        <a href="https://market.inasia-corp.com/"
                           style="text-decoration: none; font-size:20px;color:#fff;font-family:Arial, Helvetica, sans-serif;">
                            {{ 'NEWSLETTER_FOOTER'|trans({}, "messages", locale) }}
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
{% if contact is defined and contact %}
    <p style="text-align:center;"> {{ 'NEWSLETTER_DESINSCRIPTION'|trans({}, "messages", locale) }}
        ({{ contact.email }}) <a href="https://market.inasia-corp.com/{{ path('unsuscribe',{'token':contact.token,'_locale':locale}) }}">{{ 'NEWSLETTER_CLIQUEZICI'|trans({}, "messages", locale) }}</a></p>
{% endif %}



