{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Unit.id) %}
{{ _.header({'title':'UNIT_NEW_TITLE','subtitle':'UNIT_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_UNITS','ico':'icon-barcode','url':path('unit'),'parent':{'title':Unit.id,'ico':'icon-barcode','url':path('unit_show',{'id':Unit.id})}}})}}
{% else %}
{{ _.header({'title':'UNIT_NEW_TITLE','subtitle':'UNIT_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_UNITS','ico':'icon-barcode','url':path('unit')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('UNIT_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_UNIT_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_UNIT_TITLE'}) }}
                            </li>                            <li class="input">
                              {{ form_row(form.moqpackingunit, {'label': 'ENTITY_UNIT_MOQPACKINGUNIT'}) }}
                            </li>                            <li class="input">
                              {{ form_row(form.moqunit, {'label': 'ENTITY_UNIT_MOQUNIT'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


