{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{{ _.header({'title':'UNIT_TITLE','subtitle':'UNIT_SUBTITLE','ico':'icon-home'}) }}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header fixedbox">
                    <span class="title">{{'ENTITY_UNIT'|trans }}</span>
                    <ul class="box-toolbar">
                        <li class="toolbar-link">
                            <a href="#" class="dropdown" data-toggle="dropdown"><i class="icon-cog"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path('unit_new')}}"><i class="icon-plus-sign"></i> {{'ACTION_ADD_UNIT'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="box-content padded"> 
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{'ENTITY_UNIT_TITLE'|trans }} </th>
                                <th>{{'ENTITY_UNIT_MOQPACKINGUNIT'|trans }} </th>
                                <th>{{'ENTITY_UNIT_MOQUNIT'|trans }} </th>
                                <th>{{'APPLICATION_ACTIONCOLUMN'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
        {% for Unit in Units %}
                            <tr>
                                <td><a href="{{ path('unit_show', { 'id': Unit.id }) }}">{{ Unit.title }}</a></td>
                                <td>{% if Unit.moqpackingunit  %} <i class="icon-ok"></i> {% else %}  {% endif %}</td>
                                <td>{% if Unit.moqunit  %} <i class="icon-ok"></i> {% else %} {% endif %}</td>
                                <td>
                   {{_.dropdownactions([
                                    {'route': path('unit_show', { 'id': Unit.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'},
                                    {'route': path('unit_edit', { 'id': Unit.id }) ,'text':'ACTION_EDIT','ico':'icon-edit'},
                                    {'route': path('unit_delete', { 'id': Unit.id }) ,'text':'ACTION_DELETE','ico':'icon-trash','confirm':'Confirm?'}
                                    ])}}
                                </td>
                            </tr>
        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
