{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{{ _.header({'title': 'ENTITY_UNIT' ,'subtitle':'ENTITY_UNIT','ico':'icon-barcode','parent':{'title':'ENTITY_UNITS','ico':'icon-barcode','url':path('unit')} })}}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{_.tabs([
            {'key':'Unit','text':Unit.id,'ico':'icon-barcode'}
            ],[
            {'route':path('unit_edit', { 'id': Unit.id }) ,'ico':'icon-edit','text':'ACTION_EDIT'},
            {'onclick': "$('#modal').modal('show');" ,'ico':'icon-trash','text':'ACTION_DELETE' },
            ],[])}}
            <div class="tab-pane active" id="Unit">
                <table class="table">
                    <tbody>                        <tr>
                            <td>{{'ENTITY_UNIT_Id'|trans }} </td>
                            <td>{{ Unit.id }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_UNIT_Title'|trans }} </td>
                            <td>{{ Unit.title }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_UNIT_Moqpackingunit'|trans }} </td>
                            <td>{{ Unit.moqpackingunit }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_UNIT_Moqunit'|trans }} </td>
                            <td>{{ Unit.moqunit }}</td>
                        </tr>                    </tbody>
                </table>
            </div>
             {{_.endtabs()}}
        </div>
    </div>
</div>
{% endblock %}

{% block modaltitle %}
{{'DELETE_CONFIRMATION'|trans }}
{% endblock %}
{% block modalcontent %}
{{'DELETE_CONFIRMATION_TEXT'|trans }} Unit.id 
<div class="hidden">{{ form(delete_form) }}</div>
{% endblock %}
{% block modalconfirm %}
<button type="button" class="btn btn-red" OnClick="$('#modal').find('form').submit()">{{'APPLICATION_DELETE'|trans }}</button>
{% endblock %}
