{% for Invoice in invoices %}
    {% if is_granted('ROLE_ADMINSUPPLYCHAIN') or is_granted('ROLE_PRODUCTION') or (is_granted('ROLE_COMMERCIAL') and supplier is not defined) %}
        <fieldset>
            <legend>{% if (supplier is defined) %}Supplier{% else %}Customer  {% if (Invoice.service) %}Services{% endif %} {% endif %}
                Invoice &numero;{{ Invoice.number }} - {{ Invoice.date|date("d M Y") }} - Amount
                : {{ Invoice.amount|number_format(2, '.', ',') }} USD
                <br/>
                {% if (consult is not defined) %}
                    {% if (supplier is not defined and (is_granted('ROLE_ADMINSUPPLYCHAIN') or is_granted('ROLE_COMMERCIAL'))) %}
                        <a href="{{ path('invoicecustomer_edit',{'id':Invoice.id}) }}" class="btn btn-default btn-sm"><i
                                    class="icon-edit"></i> Edit</a>
                        <a href="{{ path('payment_new',{'customer':Invoice.id}) }}" class="btn btn-default btn-sm"><i
                                    class="icon-signin"></i> Add payment</a>
                    {% endif %}

                    {% if (supplier is defined and is_granted('ROLE_PRODUCTION')) %}
                        <a href="{{ path('invoicesupplier_edit',{'id':Invoice.id}) }}" class="btn btn-default btn-sm"><i
                                    class="icon-edit"></i> Edit</a>
                        <a href="{{ path('payment_new',{'supplier':Invoice.id}) }}" class="btn btn-default btn-sm"><i
                                    class="icon-signin"></i> Add payment</a>
                        <a href="{{ path('multiupload_supplychain_read',{'id':Invoice.document.id}) }}"
                           class="btn btn-default btn-sm"><i class="icon-download-alt"></i> Consult</a>
                    {% endif %}

                    {% if (supplier is not defined and (is_granted('ROLE_PRODUCTION') or is_granted('ROLE_ADMINSUPPLYCHAIN') ) and cadencier.state in [8,9]) %}
                        {#<a target="blank"
                           href="{{ path('export_quotationsheetpdf',{'id': cadencier.id,'type':'ci','ci':Invoice.id,'service':Invoice.service?1:0,'_locale':'en'}) }}"
                           class="btn btn-default btn-sm"><i class="icon-download-alt"></i> Generate CI PDF</a>#}
                        {# {% include 'appBundle:Invoicecustomer:actionbtn.html.twig' with {'Invoice':Invoice} %} #}

                        {% if Invoice.cadencier and not Invoice.service %}
                            <a target="blank" href="{{ path('export_document', { 'id': Invoice.id,'doc':'ci','type':'xls' }) }}"
                               class="btn btn-default btn-sm"><i class="icon-download-alt"></i> Generate CI XLS</a>

                        {% else %} {# services invoice can be blank when the services are included in the normal invoice#}
                            <a target="blank" href="{{ path('export_document', { 'id': Invoice.id,'doc':'ciservice','type':'xls' }) }}"
                               class="btn btn-default btn-sm"><i class="icon-download-alt"></i> Generate CI Service XLS</a>

                        {% endif %}

                        {#
                        <a target="blank" href="{{ path('export_ci',{'id': Invoice.id,'_locale':'en'}) }}"
                           class="btn btn-default btn-sm"><i class="icon-download-alt"></i> Generate CI XLS</a>#}
                    {% endif %}

                    {% if (supplier is not defined and is_granted('ROLE_ADMIN')) %}
                        <a  href="#" rel="{{ path('invoicecustomer_delete',{'id':Invoice.id}) }}" class="btn btn-default btn-sm confirmAction"><i
                                    class="icon-trash"></i> Delete</a>
                    {% endif %}


                {% endif %}
            </legend>
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Comment</th>
                    <th>Amount</th>
                    {% if (consult is not defined) and is_granted('ROLE_PRODUCTION') %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% set total=0 %}
                {% for Payment in Invoice.Payments %}
                    <tr>
                        <td>{{ Payment.date|date("d M Y") }}

                            {% if supplier is defined %}
                                {% if Payment.type.id==4 %}
                                    <input type="hidden" id="BANKSLIPSUPPLIERBALANCE" value="true">
                                    <input type="hidden" id="SUPPLIERPAYMENT" value="true">
                                {% elseif  Payment.type.id==1 or Payment.type.id==5 or Payment.type.id==6 %}
                                    <input type="hidden" id="SUPPLIERPAYMENT" value="true">
                                {% endif %}
                            {% elseif supplier is not defined %}
                                {% if  Payment.type.id==4 %}
                                    <input type="hidden" id="BANKSLIPCUSTOMERBALANCE" value="true">
                                    <input type="hidden" id="CUSTOMERPAYMENT" value="true">
                                {% elseif  Payment.type.id==1 or Payment.type.id==5 or Payment.type.id==6 %}
                                    <input type="hidden" id="CUSTOMERPAYMENT" value="true">
                                {% endif %}
                            {% endif %}

                        </td>
                        <td id="">{{ Payment.type.title }}</td>
                        <td>{{ Payment.comment }}</td>
                        <td>{{ Payment.amount|number_format(2, '.', ',') }} USD</td>
                        {% set total = total+ Payment.amount %}
                        {% if (consult is not defined) and is_granted('ROLE_PRODUCTION') %}
                            <td>
                                <ul>
                                    {{ _.dropdownactions([
                                    {'route': path('payment_edit', { 'id': Payment.id }) ,'ico':'icon-edit','text':'ACTION_EDIT'},
                                    {'route': path('payment_delete',{'id':Payment.id}) ,'text':'ACTION_DELETE','ico':'icon-trash','confirm':'Confirm?'}
                                    ]) }}
                                </ul>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" style="font-weight: bold; text-align:right;"> TOTAL</td>
                    <td>{{ total|number_format(2, '.', ',') }} USD</td>
                    <td>
                        {% if total-Invoice.amount == 0 %}
                            <span style="color:green;font-weight: bold;">OK</span>
                        {% else %}
                            <span style="color:red;font-weight: bold;">Pending {{ (total-Invoice.amount)|number_format(2, '.', ',') }}
                                USD</span>
                        {% endif %}

                    </td>
                </tr>
                </tfoot>
            </table>
        </fieldset>
    {% endif %}
{% endfor %}





