{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Zone.id) %}
{{ _.header({'title':'ZONE_NEW_TITLE','subtitle':'ZONE_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_ZONES','ico':'icon-barcode','url':path('zone'),'parent':{'title':Zone.id,'ico':'icon-barcode','url':path('zone_show',{'id':Zone.id})}}})}}
{% else %}
{{ _.header({'title':'ZONE_NEW_TITLE','subtitle':'ZONE_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_ZONES','ico':'icon-barcode','url':path('zone')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('ZONE_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_ZONE_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_ZONE_TITLE'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


