{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{{ _.header({'title':'ZONE_TITLE','subtitle':'ZONE_SUBTITLE','ico':'icon-home'}) }}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header fixedbox">
                    <span class="title">{{'ENTITY_ZONE'|trans }}</span>
                    <ul class="box-toolbar">
                        <li class="toolbar-link">
                            <a href="#" class="dropdown" data-toggle="dropdown"><i class="icon-cog"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path('zone_new')}}"><i class="icon-plus-sign"></i> {{'ACTION_ADD_ZONE'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="box-content padded"> 
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{'ENTITY_ZONE_TITLE'|trans }} </th>
                                <th>{{'APPLICATION_ACTIONCOLUMN'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
        {% for Zone in Zones %}
                            <tr>
                                <td>{{ Zone.title }}</td>
                                <td>
                   {{_.dropdownactions([
                                      {'route': path('zone_edit', { 'id': Zone.id }) ,'text':'ACTION_EDIT','ico':'icon-edit'},
                                    {'route': path('zone_delete', { 'id': Zone.id }) ,'text':'ACTION_DELETE','ico':'icon-trash','confirm':'Confirm?'}
                                    ])}}
                                </td>
                            </tr>
        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
