{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
    {% if (Service.id) %}
        {{ _.header({'title':'SERVICE_NEW_TITLE','subtitle':'SERVICE_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_SERVICES','ico':'icon-barcode','url':path('service'),'parent':{'title':Service.id,'ico':'icon-barcode','url':path('service_show',{'id':Service.id})}}})}}
    {% else %}
        {{ _.header({'title':'SERVICE_NEW_TITLE','subtitle':'SERVICE_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_SERVICES','ico':'icon-barcode','url':path('service')}})}}
    {% endif %}
{% endblock -%}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{_.box('SERVICE_NEW_TITLE') }}
                <fieldset>
                    <legend>{{'ENTITY_SERVICE_FIELDSET_'|trans}}</legend>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class=" separate-sections">                            <li class="input">
                                    {{ form_row(form.title, {'label': 'ENTITY_SERVICE_TITLE'}) }}
                                </li>                            <li class="input">
                                    {{ form_row(form.description, {'label': 'ENTITY_SERVICE_DESCRIPTION'}) }}
                                </li>                        </ul>
                        </div>
                    </div>
                </fieldset>  
                {{ form_end(form) }}   
                {{_.endbox() }}
            </div>
        </div>
    </div>
{% endblock %}


