{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{{ _.header({'title':'SERVICE_TITLE','subtitle':'SERVICE_SUBTITLE','ico':'icon-home'}) }}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header fixedbox">
                    <span class="title">{{'ENTITY_SERVICE'|trans }}</span>
                    <ul class="box-toolbar">
                        <li class="toolbar-link">
                            <a href="#" class="dropdown" data-toggle="dropdown"><i class="icon-cog"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path('service_new')}}"><i class="icon-plus-sign"></i> {{'ACTION_ADD_SERVICE'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="box-content padded"> 
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{'ENTITY_SERVICE_ID'|trans }} </th>
                                <th>{{'ENTITY_SERVICE_TITLE'|trans }} </th>
                                <th>{{'ENTITY_SERVICE_DESCRIPTION'|trans }} </th>
                                <th>{{'APPLICATION_ACTIONCOLUMN'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
        {% for Service in Services %}
                            <tr>
                                <td><a href="{{ path('service_show', { 'id': Service.id }) }}">{{ Service.id }}</a></td>
                                <td>{{ Service.title }}</td>
                                <td>{{ Service.description }}</td>
                                <td>
                   {{_.dropdownactions([
                                    {'route': path('service_show', { 'id': Service.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'},
                                    {'route': path('service_edit', { 'id': Service.id }) ,'text':'ACTION_EDIT','ico':'icon-edit'},
                                    {'route': path('service_delete', { 'id': Service.id }) ,'text':'ACTION_EDIT','ico':'icon-trash','confirm':'Confirm?'}
                                    ])}}
                                </td>
                            </tr>
        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
