{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{{ _.header({'title': 'ENTITY_SERVICE' ,'subtitle':'ENTITY_SERVICE','ico':'icon-barcode','parent':{'title':'ENTITY_SERVICES','ico':'icon-barcode','url':path('service')} })}}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{_.tabs([
            {'key':'Service','text':Service.id,'ico':'icon-barcode'}
            ],[
            {'route':path('service_edit', { 'id': Service.id }) ,'ico':'icon-edit','text':'ACTION_EDIT'},
            {'onclick': "$('#modal').modal('show');" ,'ico':'icon-trash','text':'ACTION_DELETE' },
            ],[])}}
            <div class="tab-pane active" id="Service">
                <table class="table">
                    <tbody>                        <tr>
                            <td>{{'ENTITY_SERVICE_Id'|trans }} </td>
                            <td>{{ Service.id }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_SERVICE_Title'|trans }} </td>
                            <td>{{ Service.title }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_SERVICE_Description'|trans }} </td>
                            <td>{{ Service.description }}</td>
                        </tr>                    </tbody>
                </table>
            </div>
             {{_.endtabs()}}
        </div>
    </div>
</div>
{% endblock %}

{% block modaltitle %}
{{'DELETE_CONFIRMATION'|trans }}
{% endblock %}
{% block modalcontent %}
{{'DELETE_CONFIRMATION_TEXT'|trans }} Service.id 
<div class="hidden">{{ form(delete_form) }}</div>
{% endblock %}
{% block modalconfirm %}
<button type="button" class="btn btn-red" OnClick="$('#modal').find('form').submit()">{{'APPLICATION_DELETE'|trans }}</button>
{% endblock %}
