{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Pol.id) %}
{{ _.header({'title':'POL_NEW_TITLE','subtitle':'POL_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_POLS','ico':'icon-barcode','url':path('pol'),'parent':{'title':Pol.id,'ico':'icon-barcode','url':path('pol_show',{'id':Pol.id})}}})}}
{% else %}
{{ _.header({'title':'POL_NEW_TITLE','subtitle':'POL_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_POLS','ico':'icon-barcode','url':path('pol')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('POL_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_POL_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_POL_TITLE'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


