{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{{ _.header({'title':'POL_TITLE','subtitle':'POL_SUBTITLE','ico':'icon-home'}) }}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header fixedbox">
                    <span class="title">{{'ENTITY_POL'|trans }}</span>
                    <ul class="box-toolbar">
                        <li class="toolbar-link">
                            <a href="#" class="dropdown" data-toggle="dropdown"><i class="icon-cog"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path('pol_new')}}"><i class="icon-plus-sign"></i> {{'ACTION_ADD_POL'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="box-content padded"> 
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{'ENTITY_POL_ID'|trans }} </th>
                                <th>{{'ENTITY_POL_TITLE'|trans }} </th>
                                <th>{{'APPLICATION_ACTIONCOLUMN'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
        {% for Pol in Pols %}
                            <tr>
                                <td><a href="{{ path('pol_show', { 'id': Pol.id }) }}">{{ Pol.id }}</a></td>
                                <td>{{ Pol.title }}</td>
                                <td>
                   {{_.dropdownactions([
                                    {'route': path('pol_show', { 'id': Pol.id }) ,'text':'ACTION_CONSULT','ico':'icon-edit'},
                                    {'route': path('pol_edit', { 'id': Pol.id }) ,'text':'ACTION_EDIT','ico':'icon-edit'},
                                    {'route': path('pol_delete', { 'id': Pol.id }) ,'text':'ACTION_DELETE','ico':'icon-trash','confirm':'Confirm?'}
                                    ])}}
                                </td>
                            </tr>
        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
