{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{{ _.header({'title': 'ENTITY_POL' ,'subtitle':'ENTITY_POL','ico':'icon-barcode','parent':{'title':'ENTITY_POLS','ico':'icon-barcode','url':path('pol')} })}}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{_.tabs([
            {'key':'Pol','text':Pol.id,'ico':'icon-barcode'}
            ],[
            {'route':path('pol_edit', { 'id': Pol.id }) ,'ico':'icon-edit','text':'ACTION_EDIT'},
            {'onclick': "$('#modal').modal('show');" ,'ico':'icon-trash','text':'ACTION_DELETE' },
            ],[])}}
            <div class="tab-pane active" id="Pol">
                <table class="table">
                    <tbody>                        <tr>
                            <td>{{'ENTITY_POL_Id'|trans }} </td>
                            <td>{{ Pol.id }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_POL_Title'|trans }} </td>
                            <td>{{ Pol.title }}</td>
                        </tr>                    </tbody>
                </table>
            </div>
             {{_.endtabs()}}
        </div>
    </div>
</div>
{% endblock %}

{% block modaltitle %}
{{'DELETE_CONFIRMATION'|trans }}
{% endblock %}
{% block modalcontent %}
{{'DELETE_CONFIRMATION_TEXT'|trans }} Pol.id 
<div class="hidden">{{ form(delete_form) }}</div>
{% endblock %}
{% block modalconfirm %}
<button type="button" class="btn btn-red" OnClick="$('#modal').find('form').submit()">{{'APPLICATION_DELETE'|trans }}</button>
{% endblock %}
