{% extends 'appBundle::layout_site.html.twig' %}

{% block header %}
   {% if supplierCategory.id %}
       {{ _.header({'title':'Edit supplier category','subtitle':'Edit supplier category','ico':'icon-edit','parent':{'title':'Edit supplier category','ico':'icon-globe','url':path('suppliercategory')}}) }}
   {% else %}
       {{ _.header({'title':'Add supplier category','subtitle':'New supplier category','ico':'icon-plus','parent':{'title':'Add supplier category','ico':'icon-globe','url':path('suppliercategory')}}) }}
   {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="col-12">
                    <div class="form-group">
                        <label for="firstname">Title</label>
                        {{ form_widget(form.title) }}
                        </div>
                    </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="firstname">Margin rate</label>
                        {{ form_widget(form.marginRate) }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group text-left">
                        {{ form_widget(form.save) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}