{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
    {{ _.header({'title':'Supplier category','subtitle':'List of suppliers categories','ico':'icon-folder-close','parent':{'title':'Supplier category','ico':'icon-globe','url':path('suppliercategory')}}) }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-right">
            <div class="col-xs-12">
                <a href="{{ path('suppliercategory_new') }}" type="button" class="btn btn-success"><i class="icon-plus"></i>&nbsp;Supplier category</a>
            </div>
        </div>

        <table class="table table-striped" id="suppliersCategoriesList">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Margin rate</th>
                    <th>Created at</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for supplierCategory in suppliersCategories %}
                    <tr>
                        <td class="vce">{{ supplierCategory.id }}</td>
                        <td>{{ supplierCategory.title }}</td>
                        <td>{{ supplierCategory.marginRate }}</td>
                        <td>{{ supplierCategory.createdAt | date('d/m/Y H:i:s') }}</td>
                        <td>
                            <a href="{{ path('suppliercategory_edit', {supplierCategoryId: supplierCategory.id}) }}" type="button" class="btn btn-primary"><i class="icon-edit"></i></a>
                            <a href="{{ path('suppliercategory_delete', {supplierCategory: supplierCategory.id}) }}" type="button" class="btn btn-danger"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}