<table class="table">
	<thead>
		<tr>
			<th>{{'ENTITY_SUPPLIERCOMMENT_DATE'|trans }} </th>
			<th>{{'ENTITY_SUPPLIERCOMMENT_USER'|trans }} </th>
			<th>{{'ENTITY_SUPPLIERCOMMENT_TITLE'|trans }} </th>
			<th>{{'ENTITY_SUPPLIERCOMMENT_COMMENTS'|trans }} </th>
			<th>{{'APPLICATION_ACTIONCOLUMN'|trans }}</th>
		</tr>
	</thead>
	<tbody>
		{% for Suppliercomment in Suppliercomments %}
		<tr>
			<td>{{ Suppliercomment.date|date("d/m/Y") }}</td>
			<td>{{ Suppliercomment.user.username }}</td>
			<td>{{ Suppliercomment.title }}</td>
			<td>{{ Suppliercomment.comments }}</td>
			<td>
				{{_.dropdownactions([
				{'route': path('suppliercomment_edit', { 'idsupplier': Suppliercomment.id }) ,'text':'ACTION_EDIT','ico':'icon-edit'},
				{'route': path('suppliercomment_delete', { 'id': Suppliercomment.id }) ,'text':'ACTION_DELETE','confirm':''}  
				])}}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
