{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{% if (Currency.id) %}
{{ _.header({'title':'CURRENCY_NEW_TITLE','subtitle':'CURRENCY_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CURRENCYS','ico':'icon-barcode','url':path('currency'),'parent':{'title':Currency.id,'ico':'icon-barcode','url':path('currency_show',{'id':Currency.id})}}})}}
{% else %}
{{ _.header({'title':'CURRENCY_NEW_TITLE','subtitle':'CURRENCY_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_CURRENCYS','ico':'icon-barcode','url':path('currency')}})}}
{% endif %}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{ form_start(form) }}
          {{ form_errors(form) }}
          {{_.box('CURRENCY_NEW_TITLE') }}
            <fieldset>
                <legend>{{'ENTITY_CURRENCY_FIELDSET_'|trans}}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class=" separate-sections">                            <li class="input">
                              {{ form_row(form.title, {'label': 'ENTITY_CURRENCY_TITLE'}) }}
                            </li>                            <li class="input">
                              {{ form_row(form.usd, {'label': 'ENTITY_CURRENCY_USD'}) }}
                            </li>                        </ul>
                    </div>
                </div>
            </fieldset>  
          {{ form_end(form) }}   
          {{_.endbox() }}
        </div>
    </div>
</div>
 {% endblock %}


