{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
{{ _.header({'title': 'ENTITY_CURRENCY' ,'subtitle':'ENTITY_CURRENCY','ico':'icon-barcode','parent':{'title':'ENTITY_CURRENCYS','ico':'icon-barcode','url':path('currency')} })}}
{% endblock -%}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{_.tabs([
            {'key':'Currency','text':Currency.id,'ico':'icon-barcode'}
            ],[
            {'route':path('currency_edit', { 'id': Currency.id }) ,'ico':'icon-edit','text':'ACTION_EDIT'},
            {'onclick': "$('#modal').modal('show');" ,'ico':'icon-trash','text':'ACTION_DELETE' },
            ],[])}}
            <div class="tab-pane active" id="Currency">
                <table class="table">
                    <tbody>                        <tr>
                            <td>{{'ENTITY_CURRENCY_Id'|trans }} </td>
                            <td>{{ Currency.id }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_CURRENCY_Title'|trans }} </td>
                            <td>{{ Currency.title }}</td>
                        </tr>                        <tr>
                            <td>{{'ENTITY_CURRENCY_Usd'|trans }} </td>
                            <td>{{ Currency.usd }}</td>
                        </tr>                    </tbody>
                </table>
            </div>
             {{_.endtabs()}}
        </div>
    </div>
</div>
{% endblock %}

{% block modaltitle %}
{{'DELETE_CONFIRMATION'|trans }}
{% endblock %}
{% block modalcontent %}
{{'DELETE_CONFIRMATION_TEXT'|trans }} Currency.id 
<div class="hidden">{{ form(delete_form) }}</div>
{% endblock %}
{% block modalconfirm %}
<button type="button" class="btn btn-red" OnClick="$('#modal').find('form').submit()">{{'APPLICATION_DELETE'|trans }}</button>
{% endblock %}
