<div class="row hiddenOnfixed" >
    <div class="col-md-12">
        <legend>{{'CONTAINER_INFORMATION'|trans|raw }}</legend>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="row dashboard-stats"><div class="stats-label hiddenOnfixed">{{'ENTITY_SUPPLIER_DELEVERYTIME'|trans|raw }}</div>
                <strong>{{ myuser.cutomer_id>0 ? cadencier.deleverytime+10 : cadencier.deleverytime}} (F)</strong>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row dashboard-stats">
                <div class="stats-label hiddenOnfixed">{{'ENTITY_CUSTOMER_PAYMENTTERMS'|trans|raw }}</div>
                 {{ form_row(form.customerpaymenterms, {'label': false}) }} 
            </div>
        </div>
    </div>
</div>