<div class="row hiddenOnfixed" >
    <div class="col-md-12">
        <legend>{{'CONTAINER_INFORMATION'|trans|raw }}</legend>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="row dashboard-stats order"><div class="stats-label hiddenOnfixed">{{'ENTITY_SUPPLIER_DELEVERYTIME'|trans|raw }}</div>
                <strong><input name="deleverytime" type="text" style="text-align:center;width:70px;" value="{{cadencier.deleverytime}}"></strong>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row dashboard-stats order"><div class="stats-label hiddenOnfixed">{{'Supplier PI &numero;'|trans|raw }}</div>
                <strong><input name="supplierpi" type="text" style="text-align:center;width:70px;" value="{{cadencier.supplierpi}}"></strong>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row dashboard-stats">
                <div class="stats-label hiddenOnfixed">{{'ENTITY_SUPPLIER_PAYMENTTERMS'|trans|raw }}</div>
                {{ form_row(form.supplierpaymenterms, {'label': false,'attr':{'style':'width:100%;'}}) }} 
            </div>
        </div>
    </div>
</div>