<div class="row">
    <div class="col-md-12"><legend>{{'CONTAINER_OCCUPATION'|trans|raw }}</legend></div>
    <div class="col-md-12">
        <div class="progress  active" style="height:20px;margin-bottom: 0px;">
            {%set Containeroccupation=100*cadencier.Cbm/cadencier.container.volume %} 
                <div class="progress-bar progress-blue" id="progress-bar" data-free="" style="height:20px;width: {{Containeroccupation}}%;">{{Containeroccupation|number_format}}% | {{cadencier.Cbm}}M3 / {{cadencier.container.volume}}M3 | {{cadencier.container.title}}<span class="sr-only"></span></div>
            </div>
            {% if (cadencier.command) %}
                {% set nbrorders = cadencier.command.cadenciers|length %} 
                    {% if nbrorders>1 %}
                        <div style="text-align:center"><i class="icon-warning-sign"></i> {{nbrorders}} {{'ENTITY_COMMANDS'|trans|raw }} </div>
                    {% endif%}
                    {% endif%}
                    </div>
                </div>