<div class="dashboard-stats">
    <div class="stats-label">Total valeur</div>
    <span class="dataupdate" id="Totalvalue">{{cadencier.Totalvalue}}</span> USD
</div>
<div class="dashboard-stats">
    <div class="stats-label">Total Volume</div>
    <span  class="dataupdate" id="Cbm">{{cadencier.Cbm}}</span> M3
</div>
<div class="dashboard-stats ">
    <div class="stats-label" style="color:red;font-weight: bold;">Marge </div>
    <span  class="" id="marge" style="color:red;font-weight: bold;"></span > <span style="color:red;font-weight: bold;">USD</span>
</div>
<div class="dashboard-stats ">
    <div class="stats-label" style="color:red;font-weight: bold;">%Marge </div>
    <span  class="" id="txmarge" style="color:red;font-weight: bold;"></span> <span style="color:red;font-weight: bold;" >%</span>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#marge').html('<img src="{{ asset('bundles/app/images/loadingbar.gif') }}">');
        var total = 0;
        $('.marge').each(function() {
            total += parseFloat($(this).data("marge"));
        });
        $('#marge').html(total.toFixed(2));
        $('#txmarge').html(((total / parseFloat($("#Totalvalue").html())) * 100).toFixed(2));
    });
</script> 
{# <div class="dashboard-stats hiddenOnfixed">
     <div class="stats-label">Nw</div>
     <span  class="dataupdate" id="Nw">{{cadencier.Nw}}</span> 
 </div>
 <div class="dashboard-stats hiddenOnfixed">
     <div class="stats-label">Gw</div>
     <span  class="dataupdate" id="Gw">{{cadencier.Gw}}</span> M3
 </div>#}