<div class="dashboard-stats">
    <div class="stats-label">Total valeur</div>
    <span class="dataupdate" id="Totalvalue">{{cadencier.Totalvalue}}</span> $
</div>
<div class="dashboard-stats">
    <div class="stats-label">Total Volume</div>
    <span  class="dataupdate" id="Cbm">{{cadencier.Cbm}}</span> M3
</div>
<div class="dashboard-stats hiddenOnfixed">
    <div class="stats-label">Quantpieces</div>
    <span  class="dataupdate" id="Quantpieces">{{cadencier.Quantpieces}}</span> 
</div>
<div class="dashboard-stats hiddenOnfixed">
    <div class="stats-label">Quantpackages</div>
    <span  class="dataupdate" id="Quantpackages">{{cadencier.Quantpackages}}</span> 
</div>
{# <div class="dashboard-stats hiddenOnfixed">
     <div class="stats-label">Nw</div>
     <span  class="dataupdate" id="Nw">{{cadencier.Nw}}</span> 
 </div>
 <div class="dashboard-stats hiddenOnfixed">
     <div class="stats-label">Gw</div>
     <span  class="dataupdate" id="Gw">{{cadencier.Gw}}</span> M3
 </div>#}