<legend>{{'ADD_SERVICE_DESCRIPTION'|trans|raw }}</legend>
{% if (cadencier.state=="7") %}
{% else %}
    <div id="serviceslist" class="order">
        {% for service in cadencier.servicedescription %}
            {% if service.description is defined and service.value is defined %}
                <div class="row">
                    <div class="col-md-8"><input  type="text" name="servicesdescription[]" style="text-align:center;width:100%;" value="{{service.description}}"></div>
                    <div class="col-md-4"><input  type="text" name="servicesvalue[]" style="text-align:center;width:100px;" value="{{service.value}}">
                        <span class="btn btn-default btn-sm removeservice"><i class="icon-trash"></i></span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div style="display:none;">
        <div class="row" id="tmpl_service" >
            <div class="col-md-8"><input  type="text" name="servicesdescription[]" style="text-align:center;width:100%;" value=""></div>
            <div class="col-md-4"><input  type="text" name="servicesvalue[]" style="text-align:center;width:100px;" value="">
                <span class="btn btn-default btn-sm removeservice"><i class="icon-trash"></i></span>
            </div>
        </div> 
    </div>
    <span class="btn btn-default btn-sm" id="addservice"><i class="icon-plus"></i> Add service</span>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.removeservice').click(function() {
                if (confirm("confirm?")) {
                    $(this).closest('.row').remove();
                    update();
                }
            });

            $('#addservice').click(function() {
                clone = $('#tmpl_service').clone().appendTo("#serviceslist");
                clone.find('input').val("").change(function() {
                    update();
                });

                clone.find('.removeservice').click(function() {
                    if (confirm("confirm?")) {
                        $(this).closest('.row').remove();
                        update();
                    }
                });
            });
        });
    </script>
{% endif %}