{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
    <div class="container">
        {% include 'appBundle::cadencierbar.html.twig' %}
    </div>
{% endblock %}

{% block commercialtools %}
    {% include 'appBundle::commercialtools.html.twig'%}
{% endblock %}

{% block body %}

    {% if cadencier is defined %}
        <div class="order"><input type="hidden" value="{{ cadencier.id }}" name="cadencierid"
                                  class="autosave"></div>
        {% endif %}

    {% if myuser2 is defined %}
        {% set myuser=myuser2 %}
            {% endif %}

                {% if cadencier is defined and cadencier.customer and cadencier.customer.id%}
                    <input type="hidden" id="customer" value="{{cadencier.customer.id}}">
                {% else %}
                    <input type="hidden" id="customer" value="{{myuser.cutomer_id}}">
                {% endif %}

                <div class="container" id="iscandencier">
                    {% if (myuser.mode!="presentation") %}
                        <div class="row">
                            <div class="col-md-4 " >
                                {% if  is_granted('ROLE_CLIENT') and cadencier is defined  and cadencier.customer is defined and (cadencier.customer.commercialtools or myuser.contact_type==4) %}
                                    {% include 'appBundle:Cadencier:finalcustomerbox.html.twig'%}

                                    {{_.box('CADENCIERS_BOXTITLE_COMMENT')}}
                                    {{ 'ENTITY_SUPPLIER'|trans|raw }} : {{ supplier.id }} :
                                    {% if (app.request.locale=='fr') %}
                                        {{supplier.offernamefr?supplier.offernamefr:supplier.offername}}
                                    {% else %}
                                        {{supplier.offername}}
                                    {% endif %}

                                    {% if  is_granted('ROLE_ADMIN') %}
                                        <p>{{supplier.comments}}</p>
                                    {% endif %}

                                    {{_.endbox()}}
                                {%elseif is_granted('ROLE_COMMERCIAL') and cadencier is defined  and cadencier.customer.id is not defined %}
                                    {% include 'appBundle:Cadencier:finalcustomerbox.html.twig'%}

                                    {{_.box('CADENCIERS_BOXTITLE_COMMENT')}}
                                    {{ 'ENTITY_SUPPLIER'|trans|raw }} : {{ supplier.id }} :
                                    {% if (app.request.locale=='fr') %}
                                        {{supplier.offernamefr?supplier.offernamefr:supplier.offername}}
                                    {% else %}
                                        {{supplier.offername}}
                                    {% endif %}
                                    <p>{{supplier.comments}}</p>
                                    {{_.endbox()}}
                                {%else%}
                                    {{_.box('CADENCIERS_BOXTITLE_COMMENT')}}
                                    {{ 'ENTITY_SUPPLIER'|trans|raw }} : {{ supplier.id }} :
                                    {% if (app.request.locale=='fr') %}
                                        {{supplier.offernamefr?supplier.offernamefr:supplier.offername}}
                                    {% else %}
                                        {{supplier.offername}}
                                    {% endif %}

                                    <p>{{supplier.comments}}</p>
                                    {{_.endbox()}}
                                {%endif%}

                                {% if cadencier is defined and cadencier.id  and screen!="production" %}
                                    {{_.box('CADENCIER_YOUR_COMMENT')}}
                                    {% if screen=="edit" %}
                                        <textarea style="width:100%;line-height: 17.5px;height:50px;" class="order" name="comment" >{{cadencier.comment}}</textarea>
                                    {% else %}
                                        {{cadencier.comment}}
                                    {% endif %}
                                    {{_.endbox()}}
                                {% endif %}

                            </div>
                            {% if cadencier is defined and cadencier.id %}
                                {% if screen=="production" %}
                                    {% include 'appBundle:Cadencier:containerboxproduction.html.twig'%}
                                {% elseif screen=="admin" %}
                                    {% include 'appBundle:Cadencier:containerboxadmin.html.twig'%}
                                {% elseif screen=="genpi" %}
                                    {% include 'appBundle:Cadencier:containerboxpi.html.twig'%}
                                {% elseif screen=="edit" %}
                                    {% include 'appBundle:Cadencier:containerbox.html.twig'%}
                                {% endif %}
                            {% else %}
                                {% if is_granted('ROLE_COMMERCIAL') %}
                                    <div class="col-md-8 " >
                                        {{_.box(myuser.cutomer_name)}}
                                        Customer : {{myuser.cutomer_id}}
                                        {{_.endbox()}}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="row">
                        {% if screen=="genpi"  %}
                            {% include 'appBundle:Cadencier:rowgenpi.html.twig' with {'display':true } %}
                        {% elseif screen=="admin"  %}
                            {% include 'appBundle:Cadencier:rowadmin.html.twig' with {'display':true } %}
                        {% elseif  screen=="production"  %}
                            {% include 'appBundle:Cadencier:rowproduction.html.twig' with {'display':true } %}
                        {% elseif screen=="edit"  %}
                            {% include 'appBundle:Cadencier:rowselection.html.twig' with {'display':offers|length!=0 } %}
                            {% include 'appBundle:Cadencier:rowcatalog.html.twig' with {'display':offers|length==0} %}
                        {% endif %}
                        <script src="{{ asset('bundles/app/js/cadencier.js') }}" type="text/javascript"></script>
                        <div id="url" data-getprice="{{path('offer_getofferprice')}}" data-published="{{path('offer_publishedoffer')}}" data-price="{{path('offer_fixprice')}}"  data-moq="{{path('offer_fixmoq')}}" data-pricenego="{{path('offer_negfrprice')}}"  data-gencad="{{path('cadenciers_generate')}}" data-etat="{{path('offer_confirmoffer')}}"></div>
                    </div>
                </div>
                <div data-moqmessage="{{'MOQMESSAGEQTYINF'|trans|raw }}" id="transmoq"></div>
                {% endblock %}

