<div class="col-md-8 ">
    <div class="row ">
        <div class="col-md-12 fixedItem">
            <div class="box ">
                <div class="box-header">
                    <ul class="box-toolbar">
                        {# BACK BTN
<li><a href="{{path('catalog')}}" class="btn btn-default" ><i class="icon-chevron-left"></i> {{'CATALOG_BTN_BACKTOCATALOG'|trans|raw }}</a></li>
                        {% if (is_granted('ROLE_COMMERCIAL') and myuser.cutomer_id and not cadencier.command) %}
                            <li> <input  type="checkbox" value="1" name="visible"  class="autosave" {% if (cadencier.visible) %}checked="checked"{% endif%}> {{'SHARE'|trans|raw }}</li>
                            {% endif %}
                        {# SUPPRESSION CADENSIER #}

                        {% if (is_granted('ROLE_CLIENT') and cadencier.customer.xlsexport is defined and  cadencier.customer.xlsexport) or (is_granted('ROLE_COMMERCIAL')) %}
                            {# EXPORT - new#}
                            <li>
                                <a target="_blank" href="{{ path('export_document',{'_locale':'en','id':cadencier.id,'doc':'qs','type':'xls'}) }}"
                                   class="btn btn-default ExportAction"><i
                                            class="icon-download-alt"></i> {{ 'EXP_SELECTION'|trans|raw }}(XLS)</a></li>
                        {% endif %}
                        {% if ( app.user.expiredate is null) %}
{#
                            <li><a href="{{ path('export_quotationsheetpdf',{'id': cadencier.id,'_locale':'en'}) }}"
                                   class="btn btn-default ExportAction"><i
                                            class="icon-download-alt"></i> {{ 'EXP_SELECTION'|trans|raw }}(PDF)</a></li>
                                            #}
                            <li><a class="btn btn-default"
                                   href="{{ path('export_cadencierpictures',{'id':cadencier.id,'_locale':myuser.contact_locale}) }}"><i
                                            class="icon-download-alt"></i> {{ 'APPLICATION_EXTRACTPICTURE'|trans|raw }}
                                </a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="box-content padded">
                    <div class="row">
                        <div class="col-md-4 ">
                            {% include 'appBundle:Cadencier:box_values.html.twig' %}
                        </div>
                        <div class="col-md-8 ">
                            <div class="row">
                                {% include 'appBundle:Cadencier:box_container.html.twig' %}
                                {% include 'appBundle:Cadencier:box_information.html.twig' %}
                            </div>
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="row dashboard-stats">
                                        <div class="stats-label hiddenOnfixed">{{ 'CADENCIER_CONTAINERSCHOICE'|trans|raw }}</div>
                                        {{ form_row(form.containers, {'label': false}) }}
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="row dashboard-stats">
                                        <div class="stats-label hiddenOnfixed">{{ 'CADENCIER_INCOTERMCHOICE'|trans|raw }}</div>
                                        {{ form_row(form.incoterms, {'label': false}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    if (document.documentElement.clientWidth > 849) {
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll >= 600) {
                $(".fixedItem").addClass("fixedItemOn");
            }
            if (scroll <= 600) {
                $(".fixedItem").removeClass("fixedItemOn");
            }
        });
    }
</script>     

