<div class="col-md-8 ">
    <div class="row ">
        <div class="col-md-12 fixedItem">
            <div class="box ">
                <div class="box-header">
                    <ul class="box-toolbar">
                        {# BACK BTN
<li><a href="{{path('catalog')}}" class="btn btn-default" ><i class="icon-chevron-left"></i> {{'CATALOG_BTN_BACKTOCATALOG'|trans|raw }}</a></li>
                        {% if (is_granted('ROLE_COMMERCIAL') and myuser.cutomer_id and not cadencier.command) %}
                            <li> <input  type="checkbox" value="1" name="visible"  class="autosave" {% if (cadencier.visible) %}checked="checked"{% endif%}> {{'SHARE'|trans|raw }}</li>
                            {% endif %}

                        {# SUPPRESSION CADENSIER #}
                        {% if (cadencier.id and not cadencier.locked) %}
                            <li class="order"><input  type="hidden" value="{{cadencier.id}}" name="cadencierid"  class="autosave"></li>
                            {% endif %}
                    </ul>
                </div>
                <div class="box-content padded">
                    <div class="row hidden">
                        <div class="col-md-6 ">
                            <div class="row dashboard-stats"><div class="stats-label hiddenOnfixed">{{'CADENCIER_INCOTERMCHOICE'|trans|raw }}</div>
                                {{ form_row(form.incoterms, {'label': false}) }} 
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-md-4 ">
                            {% include 'appBundle:Cadencier:box_values.html.twig' %} 
                        </div>
                        <div class="col-md-8 ">
                            {% include 'appBundle:Cadencier:box_informationadmin.html.twig' %}
                            {% include 'appBundle:Cadencier:box_services.html.twig' %} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    if (document.documentElement.clientWidth > 849) {
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();
            if (scroll >= 600) {
                $(".fixedItem").addClass("fixedItemOn");
            }
            if (scroll <= 600) {
                $(".fixedItem").removeClass("fixedItemOn");
            }
        });
    }
</script>     

