
<div class="col-md-8 ">
    <div class="row ">
        <div class="col-md-12 ">
            <div class="box ">
                <div class="box-header">
                    <ul class="box-toolbar">
                        {# BACK BTN
<li><a href="{{path('catalog')}}" class="btn btn-default" ><i class="icon-chevron-left"></i> {{'CATALOG_BTN_BACKTOCATALOG'|trans|raw }}</a></li>
                        {% if (is_granted('ROLE_COMMERCIAL') and myuser.cutomer_id and not cadencier.command) %}
                            <li> <input  type="checkbox" value="1" name="visible"  class="autosave" {% if (cadencier.visible) %}checked="checked"{% endif%}> {{'SHARE'|trans|raw }}</li>
                            {% endif %}

                        {# SUPPRESSION CADENSIER #}
                        {% if (cadencier.id and not cadencier.locked) %}
                            <li class="order"><input  type="hidden" value="{{cadencier.id}}" name="cadencierid"  class="autosave"></li>
                            <li><a href="{{path('cadencier_delete',{'id': cadencier.id})}}" class="btn btn-red ConfirmAction" id="deletecadencier"><i class="icon-trash"></i> {{'CADENCIERS_BTN_DELETE'|trans|raw }}</a></li>
                            {% endif %}

                        {% if is_granted('ROLE_CLIENT') or (is_granted('ROLE_COMMERCIAL')) %}
                            {# EXPORT #}
                            {% if (cadencier.customer.xlsexport is defined) %}
                                {% if cadencier.customer.xlsexport %}
                                    <li><a target="_blank" href="{{ path('export_document',{'_locale':'en','id':cadencier.id,'doc':'qs','type':'xls'})}}" class="btn btn-default ExportAction"><i class="icon-download-alt"></i> {{'EXP_SELECTION'|trans|raw }}(XLS)</a></li>
                                    {#<li><a href="{{path('export_quotationsheet',{'id': cadencier.id,'_locale':'en'})}}" class="btn btn-default ExportAction"><i class="icon-download-alt"></i> {{'EXP_SELECTION'|trans|raw }}(XLS)</a></li>#}
                                    {% endif %}
                                {% endif %}
                            {#
                            <li><a href="{{path('export_quotationsheetpdf',{'id': cadencier.id,'_locale':'en'})}}" class="btn btn-default ExportAction" ><i class="icon-download-alt"></i> {{'EXP_SELECTION'|trans|raw }}(PDF)</a></li>
                            #}
                            <li><a class="btn btn-default" href="{{path('export_cadencierpictures',{'id':cadencier.id})}}"><i class="icon-download-alt"></i> {{'APPLICATION_EXTRACTPICTURE'|trans|raw }}</a></li>
                            {% endif %}
                    </ul>
                </div>
                <div class="box-content padded">
                    <div class="row">
                        <div class="col-md-4 ">
                            {% include 'appBundle:Cadencier:box_valuesadmin.html.twig' %} 
                        </div>
                        <div class="col-md-8 ">
                            {% include 'appBundle:Cadencier:box_informationadmin.html.twig' %}
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="row dashboard-stats"><div class="stats-label hiddenOnfixed">{{'CADENCIER_CONTAINERSCHOICE'|trans|raw }}</div>
                                        {{ cadencier.container.title}}
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="row dashboard-stats"><div class="stats-label hiddenOnfixed">{{'CADENCIER_INCOTERMCHOICE'|trans|raw }}</div>
                                        {{ cadencier.incoterm.title}}
                                    </div>
                                </div>  
                            </div>
                            <div class="row hidden">
                                <div class="col-md-6 ">
                                    <div class="row dashboard-stats"><div class="stats-label hiddenOnfixed">{{'CADENCIER_INCOTERMCHOICE'|trans|raw }}</div>
                                        {{ form_row(form.incoterms, {'label': false}) }} 
                                    </div>
                                </div>  
                            </div>
                            {% include 'appBundle:Cadencier:box_services.html.twig' %} 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    if (document.documentElement.clientWidth > 849) {
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();
            if (scroll >= 600) {
                $(".fixedItem").addClass("fixedItemOn");
            }
            if (scroll <= 600) {
                $(".fixedItem").removeClass("fixedItemOn");
            }
        });
    }
</script>     

