<div class="col-md-8 ">
    <div class="row ">
        <div class="col-md-12 fixedItem">
            <div class="box ">
                <div class="box-header">

                </div>
                <div class="box-content padded order">
                    <div class="row">
                        <div class="col-md-8" >
                            {% include 'appBundle:Cadencier:box_container.html.twig' %}
                            {% include 'appBundle:Cadencier:box_services.html.twig' %}
                        </div>
                        <div class="col-md-4" style="text-align:center;">
                            <div class="row">
                                <div class="col-md-6" style="text-align:center;">
                                    <div class="dashboard-stats">
                                        <div class="stats-label">{{'MENU_CURRENCY'|trans|raw }}</div>
                                        {% if (cadencier.state=="7") %}
                                            {{cadencier.finaldevis}}
                                        {% else %}
                                            <input type="text" name="finaldevise" style="text-align:center;width:100px;" value="{% if (cadencier.finaldevis) %}{{cadencier.finaldevis}}{% else%}USD{%endif%}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6" style="text-align:center;">
                                    <div class="dashboard-stats">
                                        <div class="stats-label">{{'TVA'|trans|raw }}</div>
                                        {% if (cadencier.state=="7") %}
                                            {{cadencier.finaltva}}
                                        {% else %}
                                            <input type="text" name="finaltva" style="text-align:center;width:100px;" value="{% if (cadencier.finaltva) %}{{cadencier.finaltva}}{% else%}0{%endif%}">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="text-align:center;">
                                    <div class="dashboard-stats">
                                        <div class="stats-label">{{'INCOTERM'|trans|raw }}</div>
                                        {% if (cadencier.state=="7") %}
                                            {{cadencier.finalincoterm}}
                                        {% else %}
                                            <input type="text" name="finalincoterm" style="text-align:center;width:100px;" value="{% if (cadencier.finalincoterm) %}{{cadencier.finalincoterm}}{% else%}{{cadencier.incoterm.title}}{%endif%}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6" style="text-align:center;">
                                    <div class="dashboard-stats">

                                        <div class="row hidden">
                                            <div class="col-md-6 ">
                                                <div class="row dashboard-stats"><div class="stats-label hiddenOnfixed">{{'CADENCIER_INCOTERMCHOICE'|trans|raw }}</div>
                                                    {{ form_row(form.incoterms, {'label': false}) }} 
                                                </div>
                                            </div>  
                                        </div>

                                        <div class="stats-label">{{'PORT'|trans|raw }}</div>
                                        {% if (cadencier.state=="7") %}
                                            {{cadencier.finalpol}}
                                        {% else %}
                                            <input type="text" name="finalpol" style="text-align:center;width:100px;" value="{% if (cadencier.finalpol) %}{{cadencier.finalpol}}{% else%}{% if (cadencier.pol) %}{{cadencier.pol.title}}{%endif%}{%endif%}">
                                        {% endif %}
                                    </div> 
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" style="text-align:center;">
                                    <div class="row dashboard-stats"><div class="stats-label hiddenOnfixed">{{'MENU_CONTAINER'|trans|raw }}</div>
                                        {{ form_row(form.containers, {'label': false}) }} 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row dashboard-stats order"><div class="stats-label hiddenOnfixed">{{'ENTITY_SUPPLIER_DELEVERYTIME'|trans|raw }}</div>
                                        <strong><input name="deleverytime" type="text" style="text-align:center;width:100px;" value="{{cadencier.deleverytime}}"></strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="text-align:center;">
                                    <div class="dashboard-stats">
                                        <div class="stats-label">{{'ENTITY_CUSTOMER_PAYMENTTERMS'|trans|raw }}</div>
                                        <span>{{ form_row(form.customerpaymenterms, {'label': false,'attr':{'style':'width:100%'}}) }} </span> 
                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align:center;">
                                    <div class="row">
                                        <div class="col-md-4" style="text-align:center;">
                                            <div class="dashboard-stats">
                                                <div class="stats-label">Total valeur</div>
                                                <span class="dataupdate" id="Totalvalue">{{cadencier.Totalvalue}}</span> $
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="text-align:center;">
                                            <div class="dashboard-stats ">
                                                <div class="stats-label" style="color:red;font-weight: bold;">Marge </div>
                                                <span  class="" id="marge" style="color:red;font-weight: bold;"></span > <span style="color:red;font-weight: bold;">USD</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="text-align:center;">
                                            <div class="dashboard-stats ">
                                                <div class="stats-label" style="color:red;font-weight: bold;">%Marge </div>
                                                <span  class="" id="txmarge" style="color:red;font-weight: bold;"></span> <span style="color:red;font-weight: bold;" >%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<script type="text/javascript">
    $(document).ready(function() {
        $('#marge').html('<img src="{{ asset('bundles/app/images/loadingbar.gif') }}">');
        var total = 0;
        $('.marge').each(function() {
            total += parseFloat($(this).data("marge"));
        });
        $('#marge').html(total.toFixed(2));
        $('#txmarge').html(((total / parseFloat($("#Totalvalue").html())) * 100).toFixed(2));
    });
</script> 