{% extends 'appBundle::layout_site.html.twig' %}

{% block header -%}
    {{ _.header({'title':'ORDER_NEW_TITLE','subtitle':'ORDER_NEW_SUBTITLE','ico':'icon-barcode','parent':{'title':'ENTITY_ORDERS','ico':'icon-barcode','url':path('command')}})}}
{% endblock -%}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{_.box('ORDER_NEW_TITLE') }}
                <fieldset>
                    <legend>{{'ENTITY_ORDER_FIELDSET_'|trans}}</legend>
                    <div class="row">
                        <div class="col-lg-6">

                        </div>
                        <div class="col-lg-6">

                        </div>
                    </div>
                </fieldset>  
                {{ form_end(form) }}   
                {{_.endbox() }}
            </div>
        </div>
    </div>

    <script src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({'format': 'dd/mm/yyyy'})
    </script>


{% endblock %}

