{% extends "appBundle::layout_site.html.twig" %}

{% block header %}
{% include 'appBundle::cadencierbar.html.twig' %}
{% endblock %}

{% block body %}

<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <span class="title">{{'ENTITY_SUPPLIERS'|trans }}</span>
                    <ul class="box-toolbar">
                        <li><input placeholder="{{'ENTITY_SUPPLIER'|trans }}"  data-autocomplete="true" type="text" value="" name="request[supplierid]" class="request" style="width:100px"></li>
                        <li><input placeholder="{{'ENTITY_PRODUCT'|trans }}" type="text" value="" name="request[productid]" class="request"  style="width:100px"></li>
                    </ul>
                </div>
                <div class="box-header">
                    <ul class="box-toolbar" style="width: 100%;">
                        <li><div id="filters" data-pol="{{ app.session.get('pol') }}" data-uriproduct="{{path('offer_filters',{'filter':'nomenclature'})}}" data-uripol="{{path('supplier_filters',{'filter':'pol'})}}" data-autocomplete="true"  data-alldep="{{'ALLDEP'|trans|raw }}" data-allshe="{{'ALLSHE'|trans|raw }}" data-allfam="{{'ALLFAM'|trans|raw }}" data-allsub="{{'ALLSUB'|trans|raw }}" data-allpol="{{'ALLPOL'|trans|raw }}"
                                 data-depval="{{ session.get('departementFilter') }}"
                                 data-sheval="{{ session.get('shelvesFilter') }}"
                                 data-famval="{{ session.get('famillyFilter') }}"
                                 data-subval="{{ session.get('subfamillyFilter') }}"
                            ></div></li>
                    </ul>
                    <input type="hidden" id="uri_request" value="{{path('supplier_cadencier_request')}}">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row" id="filters_result">  </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        if (document.documentElement.clientWidth < 992) {
            $('.select2-container').hide();
            $('.select2-offscreen').removeClass('select2-offscreen').css('width','100%');
        }
    });
</script>

{% endblock %}

{% block commercialtools %}
{% include 'appBundle::commercialtools.html.twig'%}
{% endblock %}