{% for supplier in suppliers %}
<div class="col-md-4 supplier" data-nbr="{{supplier.nbr}}">
    <div class="action-nav-normal action-nav-line">
        <div class="row action-nav-row">
            <div class="col-md-12 action-nav-button" style="text-align:center;">
                <a href="{{path('supplier_cadencier_show',{'id': supplier.id})}}" title="New Project">
          {% if (supplier.image)%}
                    <span class="product-thumb" style="display:inline-block;background-image:url({{ webpath ~ supplier.image|replace({'original.jpg':'small.jpg'})}})"  alt=""></span>
          {% else %}
                    <span class="product-thumb" style="display:inline-block;background-image:url({{webpath}}bundles/app/images/no-image.png)"  alt=""></span>
          {% endif %}
                    <span>{{supplier.id}}</span>
           {% if (app.request.locale=='fr') %}
                    {% if (supplier.offernamefr) %} 
                    <p>{{supplier.offernamefr}}</p>
                    {% else %}
                   {% if (supplier.offername) %} 
                    <p>{{supplier.offername}}</p>
                    {% else %}
                    <p>-</p>
                     {% endif %}
                    {% endif %}
          {% else %}
                    {% if (supplier.offername) %} 
                    <p>{{supplier.offername}}</p>
                    {% else %}
                    <p>-</p>
                     {% endif %}
          {% endif %}
                </a>

            </div>
        </div>
    </div>
</div>
{% endfor %}