<table cellpadding="0" cellspacing="0" border="0" class="table responsive cadencier dTable" id="cadencierselection">
    <thead>
    <tr>
        <th>{{ 'ENTITY_PRODUCT_SOURCINASIAITEMNUMBER'|trans|raw }}</th>
        <th>{{ 'ENTITY_PRODUCT_SUPPLIERITEMNUMBER'|trans|raw }}</th>
        <th>Pictures</th>
        <th>Description US</th>
        <th>SUPPLIER PRICE <br> REGISTERED {{ cadencier.incoterm.title }} </th>
        <th>SUPPLIER PI <br> PRICE {{ cadencier.incoterm.title }}</th>
        <th>DIFF %</th>
        <th>DIFF TOTAL VALUE</th>
        <th>COMMENTS</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for key,offer in offers %}
        {% if cadencier.selection['o'~offer.id] is defined %}
            {% set qty=attribute( cadencier.selection,'o'~offer.id).qty %}
            {#set confirm=attribute( cadencier.selection,'o'~offer.id).confirm #}
            {% set confirm = 0 %}
            {% set confirmfieldmessage=attribute( cadencier.selection,'o'~offer.id).confirmfieldmessage %}

            {% if (cadencier.incoterm.title=="FOB") %} {# test added to avoid non-numeric values when a price is undefined #}
                {% set prixnegociation=offer.fobnegociation ? offer.fobnegociation : 0 %}
                {% set prixachat=offer.fob %}
                {% set currency='USD'%}
            {% elseif (cadencier.incoterm.title=="EXW") %}
                {% set prixnegociation=offer.exwnegociation ? offer.exwnegociation : 0 %}
                {% set prixachat=offer.exw %}
                {% set currency=offer.currency.title%}
            {% endif %}


            <tr data-key="{{ key }}" data-offer="{{ offer.id }}" data-qty="{{ qty }}"
                data-product="{{ offer.product.id }}"
                data-supplier="{{ offer.supplier.id }}" {% if offer.pol %} data-pol="{{ offer.pol.title }}"{% else %}data-pol="none"{% endif %}
                data-prixachat="{{ prixachat }}"
                class="articlethumbs  {% if (attribute( cadencier.selection,'o'~offer.id).confirm) %}selected{% endif %} ">
                <td>
                    {{ offer.product.id }}
                    <input type="hidden" value="{{ offer.id }}" class="order" name="selection[{{ offer.id }}][o]">
                    <input class="order qty" name="selection[{{ offer.id }}][q]" type="hidden"
                           style="width:45px;text-align: center;padding:0px;" value="{{ qty }}">
                </td>

                <td>
                    {{ offer.itemnumber }}
                </td>
                <td>
                    {% if (offer.product.mainimage) %}
                        <span class="product-thumb"
                              style="background-image:url({{ webpath~offer.product.mainimage|replace({'original.jpg':'small.jpg'}) }})"
                              alt=""></span>
                    {% elseif (offer.product.images|length > 1) %}
                        <span class="product-thumb"
                              style="background-image:url({{ webpath~offer.product.images|first }})"
                              alt=""></span>
                    {% else %}
                        <span class="product-thumb"
                              style="background-image:url({{ webpath }}bundles/app/images/no-image.png)"></span>
                    {% endif %}
                </td>
                <td>{{ offer.product.description }}</td>
                <td>
                    {{ prixachat|number_format(2, '.', '') }} {{ currency }}
                </td>
                <td>
                    {% if (attribute( cadencier.selection,'o'~offer.id).confirm) %}
                        <input data-cadencier="{{ cadencier.id }}"
                               class="newprices action {% if prixnegociation %}forced{% endif %}"
                               data-action="prixnegociation" data-incoterm="{{ cadencier.incoterm.title|lower }}"
                               type="text" style="width:55px;text-align: center;"
                               value="{{ attribute( cadencier.selection,'o'~offer.id).confirmPriceInCurrency is defined ? attribute( cadencier.selection,'o'~offer.id).confirmPriceInCurrency  : 99 }}">  {{ currency }}
                    {% else %}
                        <input class="newprices action {% if prixnegociation %}forced{% endif %}"
                               data-action="prixnegociation" data-incoterm="{{ cadencier.incoterm.title|lower }}"
                               type="text" style="width:55px;text-align: center;"
                               value="{{ prixnegociation }}"> {{ currency }}
                    {% endif %}
                </td>
                <td class="prixnegodif">
                    {% if prixachat >0 %}
                        {{ (100*(prixnegociation-prixachat)/prixachat)|number_format(2, '.', ',') }}%
                    {% else %} NaN {% endif %}
                </td>
                <td class="prixnegovalue">
                    {{ (qty*(prixnegociation-prixachat))|number_format(2, '.', ',') }}
                </td>
                <td>
                    {% if (confirm) %}
                    {{ confirmfieldmessage }}
                    {% else %}
                    <input class="confirm " name="selection[{{ offer.id }}][confirm]" type="hidden"
                           value="{{ confirm }}">
                    <textarea
                            style="{% if (not confirm) %}width:100px;line-height: 17.5px;height:100px;{% else %}display:none;{% endif %}"
                            class="order confirmfieldmessage"
                            name="selection[{{ offer.id }}][confirmfieldmessage]">{{ confirmfieldmessage }}</textarea>
                </td>
                {% endif %}
                <td>
                    {% if (is_granted('ROLE_ADMIN')) %}
                        {% include 'appBundle:Modules:archiveorder.html.twig' with {'customer':myuser.cutomer_id,'archives':offer.product.archive} %}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
