{% if (offers|length==300) %}
    <div class="row" style="padding:15px">
        <div class="col-md-12">
            <div class="alert alert-info">
                {{ 'TOOMUCHPRODUCT'|trans|raw }}
            </div>
        </div>
    </div>
{% endif %}
<table cellpadding="0" cellspacing="0" border="0" class="table responsive cadencier dTable"
       id="{% if not checked %}cadencieroffers{% else %}cadencierselection{% endif %}" style="clear:both;">
    {% include 'appBundle:Cadencier:tablecustomerhead.html.twig' %}
    <tbody id="selections">
    {% set ce="" %}
    {% for key,offer in offers %}
        {% if offer.product.ce=="YES" %}
            {% set ce="true" %}
        {% endif %}
        {% set moq=offer.moq(myuser.cutomer_id) %}
        {% if cadencier.selection is defined %}
            {% set qty=attribute( cadencier.selection,'o'~offer.id).qty %}
        {% else %}
            {% set qty=1 %}
        {% endif %}
        <tr data-key="{{ key }}" data-offer="{{ offer.id }}" data-product="{{ offer.product.id }}"
            data-supplier="{{ offer.supplier.id }}" {% if offer.pol %} data-pol="{{ offer.pol.title }}"{% else %}data-pol="none"{% endif %}
            class="o{{ offer.id }} articlethumbs {% if checked %}selected{% endif %} {% if ('p'~myuser.cutomer_id in offer.customerhidden) %}unpublished{% endif %}">
            <td class="localselectedzone localselectedzone2">
                {% if (consult is not defined) %}
                    <input type="checkbox" value="{{ offer.id }}" class="order" name="selection[{{ offer.id }}][o]"
                           {% if checked %}checked{% endif %}>
                {% endif %}
                {{ offer.product.id }}
            </td>
            {% if is_granted('ROLE_COMMERCIAL') %}
                <td class="localselectedzone">
                    {{ offer.itemnumber }}
                </td>
            {% endif %}
            <td class="localselectedzone">
                {% if (offer.product.mainimage) %}
                    <a data-gallery="o{{ offer.id }}" class="product-thumb"
                       href="{{ webpath ~ offer.product.mainimage }}"
                       style="background-color: #fff;background-image:url({{ webpath~offer.product.mainimage|replace({'original.jpg':'small.jpg'}) }})"
                       title="test"></a>
                    <img src="{{ webpath ~ offer.product.mainimage }}" style="display:none;"/>
                {% elseif (offer.product.images|length > 1) %}
                    <span class="product-thumb" style="background-image:url({{ webpath~offer.product.images|first }})"
                          alt=""></span>
                {% else %}
                    <span class="product-thumb"
                          style="background-image:url({{ webpath }}bundles/app/images/no-image.png)"></span>
                {% endif %}

                {% if (offer.product.images|length > 1) %}

                    {% for file in offer.product.images %}
                        {% if (file.image!=offer.product.mainimage) %}
                            <a class="product-thumb" href="{{ webpath ~ file.image }}"
                               style="width:50px;height:50px;background-image:url({{ webpath ~ file.image|replace({'original.jpg':'small.jpg'}) }})"
                               title="test"></a>
                        {% endif %}
                    {% endfor %}

                {% endif %}


            </td>
            <td class="localselectedzone">{{ offer.product.categorie.name }}</td>
            {% if is_granted('ROLE_COMMERCIAL') %}
                <td class="localselectedzone">{{ offer.product.description }}</td>
                <td class="localselectedzone">{{ offer.product.frenchdescription }}</td>
            {% elseif is_granted('ROLE_CLIENT') %}
                {% if (app.request.locale=='fr') %}
                    <td class="localselectedzone">{{ offer.product.frenchdescription }}</td>
                {% elseif (app.request.locale=='en') %}
                    <td class="localselectedzone">{{ offer.product.description }}</td>
                {% endif %}
            {% endif %}
            <td>{{ offer.product.productsize }}</td>
            <td>{{ offer.product.pcb }}</td>
            <td>{{ offer.product.cbm }}</td>
            <td>
                {% if is_granted('ROLE_COMMERCIAL') and myuser.cutomer_id and consult is not defined %}
                    <input class="action  {% if (offer.isCustomerMoq(myuser.cutomer_id)) %}forced{% endif %}"
                           data-action="moq" type="text" style="width:55px;text-align: center;padding:0px;"
                           value="{{ moq }}">
                {% else %}
                    {{ moq }} {{ offer.moqunit.title }}
                {% endif %}
            </td>
            {% if (myuser.mode!="presentation") %}
                <td class="hiddencatalog">
                    {% if consult is not defined %}
                        <div style="width:80px;text-align: center;padding:0px;"><input class="order qty"
                                                                                       name="selection[{{ offer.id }}][q]"
                                                                                       data-moq="{{ moq }}"
                                                                                       data-pcb="{{ offer.product.pcb }}"
                                                                                       data-cbm="{{ offer.product.cbm }}"
                                                                                       type="text"
                                                                                       style="width:45px;text-align: center;padding:0px;"
                                                                                       value="{{ qty }}"> <span
                                    class="btn btn-default btn-xs fullcontainer"><i class="icon-fullscreen "></i></span>
                        </div>
                    {% else %}
                        {{ qty }}
                    {% endif %}
                </td>
                {% if (consult is defined) %}
                    <td>
                        {% if cadencier.selection is defined %}
                            {% if cadencier.state>=7 and (is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMINSUPPLYCHAIN')) %}
                                S: {{ attribute( cadencier.selection,'o'~offer.id).supplierp|number_format(2, '.', ',') }}
                                <br/>
                                C: {{ attribute( cadencier.selection,'o'~offer.id).finalprice|number_format(2, '.', ',') }}
                                <br/>{% if attribute( cadencier.selection,'o'~offer.id).finalprice >0 %}
                                {{ (((attribute( cadencier.selection,'o'~offer.id).finalprice - attribute( cadencier.selection,'o'~offer.id).supplierp )/attribute( cadencier.selection,'o'~offer.id).finalprice)*100)|number_format(2, '.', ',') }}
                                % {% else %} NaN {% endif %}
                            {% else %}
                                {{ attribute( cadencier.selection,'o'~offer.id).finalprice|number_format(2, '.', ',') }}
                            {% endif %}
                        {% endif %}
                    </td>
                {% else %}
                    <td class="exw">
                        {% if cadencier.state is not defined or cadencier.state<5 %}
                            {% if is_granted('ROLE_COMMERCIAL') and myuser.cutomer_id and consult is not defined %}
                                <input class="action {% if (offer.isCustomerprices(myuser,'exw')) %}forced{% endif %}"
                                       data-action="exw" type="text" style="width:70px;text-align: center;padding:0px;"
                                       value="{{ offer.getSaleprice('exw',myuser)|number_format(2, '.', ',') }}">
                            {% else %}
                                {{ offer.getSaleprice('exw',myuser)|number_format(2, '.', ',') }}
                            {% endif %}
                        {% elseif cadencier.selection is defined %}
                            {{ attribute( cadencier.selection,'o'~offer.id).finalprice|number_format(2, '.', ',') }}
                        {% endif %}
                    </td>
                    <td class="fob">
                        {% if cadencier.state is not defined or cadencier.state<5 %}
                            {% if is_granted('ROLE_COMMERCIAL') and myuser.cutomer_id and consult is not defined %}
                                <input class="action {% if (offer.isCustomerprices(myuser,'fob')) %}forced{% endif %}"
                                       data-action="fob" type="text" style="width:70px;text-align: center;padding:0px;"
                                       value="{{ offer.getSaleprice('fob',myuser)|number_format(2, '.', ',') }}">
                            {% else %}
                                {{ offer.getSaleprice('fob',myuser)|number_format(2, '.', ',') }}
                            {% endif %}
                        {% elseif cadencier.selection is defined %}
                            {{ attribute( cadencier.selection,'o'~offer.id).finalprice|number_format(2, '.', ',') }}
                        {% endif %}
                    </td>
                {% endif %}
            {% endif %}
            {% if is_granted('ROLE_COMMERCIAL') and myuser.cutomer_id and consult is not defined %}
                <td>
                    <i class="icon-eye-open actionclic" data-action="published"></i>
                </td>
                <td>
                    {% include 'appBundle:Modules:archiveorder.html.twig' with {'customer':myuser.cutomer_id,'archives':offer.product.archive} %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}


    </tbody>
</table>

<input type="hidden" id="ce" value="{{ ce }}">
