{% if is_granted('ROLE_ADMIN') %}
    <input type="hidden" id="confirmationtest" value="1">
    <table cellpadding="0" cellspacing="0" border="0" class="table responsive cadencier dTable" id="cadencierselection">
        <thead>
        <tr>
            <th>{{ 'ENTITY_PRODUCT_SOURCINASIAITEMNUMBER'|trans|raw }}</th>
            <th>{{ 'ENTITY_PRODUCT_SUPPLIERITEMNUMBER'|trans|raw }}</th>
            <th>Pictures</th>
            <th>Description US</th>
            <th>SUPPLIER PRICE REGISTERED USD</th>
            <th>SUPPLIER PI PRICE USD</th>
            <th>DIFF %</th>
            <th>DIFF TOTAL VALUE</th>
            <th>VALIDATION</th>
            <th>MESSAGE</th>
            <th>ORDER QUANTITY</th>
            <th>INASIA PRICE</th>
            <th>CUSTOMER PI PRICE</th>
            <th>MARGE %</th>
            <th>TOTAL MARGE</th>
            <th>CUSTOMER HISTORY ORDER</th>
        </tr>
        </thead>
        <tbody>
        {% for key,offer in offers %}
            {% if (attribute( cadencier.selection,'o'~offer.id).confirm) is defined %}
                {% set confirm=attribute( cadencier.selection,'o'~offer.id).confirm %}
            {% else %}
                {% set confirm=0 %}
            {% endif %}
            {% if (attribute( cadencier.selection,'o'~offer.id).confirmfieldmessage) is defined %}
                {% set confirmfieldmessage=attribute( cadencier.selection,'o'~offer.id).confirmfieldmessage %}
            {% else %}
                {% set confirmfieldmessage="" %}
            {% endif %}
            {% set prixnegociation= confirm ? attribute( cadencier.selection,'o'~offer.id).supplierp : 0 %}
            {% set qty=attribute( cadencier.selection,'o'~offer.id).qty %}
            {% set prixvente=attribute( cadencier.selection,'o'~offer.id).price|number_format(2, '.', '') %}
            {% if (cadencier.incoterm.title=="FOB") %}
                {% set prixnegociation= offer.fobnegociation %}
                {% set prixAConfirmer= offer.fobnegociation %}
                {% set prixnegociationarchive=offer.fobnegociation ? offer.fobnegociation * offer.currency.usd : 0 %}
                {% if (attribute( cadencier.selection,'o'~offer.id).confirm) is defined and attribute( cadencier.selection,'o'~offer.id).confirm %}
                    {% set prixachat=attribute( cadencier.selection,'o'~offer.id).supplierp %}
                {% else %}
                    {% set prixachat=offer.fob %}
                {% endif %}
                {% set registerprixachat=offer.fob %}

                {% set prixventetheorique=offer.getSaleprice('fob',myuser,false)|number_format(2, '.', '') %}
            {% elseif (cadencier.incoterm.title=="EXW") %}
{# test added to avoid "Warning: A non-numeric value encountered"#}
                {% set prixAConfirmer= offer.exwnegociation %}
                {% set prixnegociation= offer.exwnegociation ? offer.exwnegociation * offer.currency.usd : 0 %}
                {% set prixnegociationarchive=offer.exwnegociation %}
                {% if (attribute( cadencier.selection,'o'~offer.id).confirm) is defined and attribute( cadencier.selection,'o'~offer.id).confirm %}
                    {% set prixachat=attribute( cadencier.selection,'o'~offer.id).supplierp %}
                {% else %}
                    {% set prixachat=offer.exwusd %}
                {% endif %}
                {% set registerprixachat=offer.exwusd %}

                {% set prixventetheorique=offer.getSaleprice('exw',myuser,false)|number_format(2, '.', '') %}
            {% endif %}
            <tr data-key="{{ key }}" data-prixvente="{{ prixventetheorique }}"
                data-prixachatnego="{{ prixnegociation }}" data-offer="{{ offer.id }}"
                data-incoterm="{{ cadencier.incoterm.title|lower }}" data-qty="{{ qty }}"
                data-product="{{ offer.product.id }}" data-prixachat="{{ prixachat }}"
                data-supplier="{{ offer.supplier.id }}" {% if offer.pol %} data-pol="{{ offer.pol.title }}"{% else %}data-pol="none"{% endif %}
                class="articlethumbs o{{ offer.id }}  {% if (confirm) %}selected{% endif %}">
                <td>
                    {{ offer.product.id }} <input type="hidden" value="{{ offer.id }}" class="order"
                                                  name="selection[{{ offer.id }}][o]">
                </td>
                <td>
                    {{ offer.itemnumber }}
                </td>
                <td>
                    {% if (offer.product.mainimage) %}
                        <span class="product-thumb"
                              style="background-image:url({{ webpath~offer.product.mainimage|replace({'original.jpg':'small.jpg'}) }})"
                              alt=""></span>
                    {% elseif (offer.product.images|length > 1) %}
                        <span class="product-thumb"
                              style="background-image:url({{ webpath~offer.product.images|first }})" alt=""></span>
                    {% else %}
                        <span class="product-thumb"
                              style="background-image:url({{ webpath }}bundles/app/images/no-image.png)"></span>
                    {% endif %}
                </td>
                <td>{{ offer.product.description }}</td>
                <td class="prixachat">
                    {{ registerprixachat|number_format(2, '.', '') }}
                </td>
                <td data-cadencier="{{ cadencier.id }}" class="prixnegociation"
                    data-prixachatnegoarchive="{{ prixAConfirmer }}">
                    <span style="color:red;font-weight: bold;text-align: center;">
                        {% if prixnegociation %} {{ prixnegociation|number_format(2, '.', '') }}
                        {% else %}
                            {% if (confirm) %}
                                {{ prixachat|number_format(2, '.', '') }}
                            {% else %}
                                NO PRICE
                            {% endif %}
                        {% endif %}
                    </span>
                    {% include 'appBundle:Modules:archiveprix.html.twig' with {'incoterm':cadencier.incoterm.title|lower,'archives':offer.archive} %}

                    <input class="order" name="selection[{{ offer.id }}][supplierp]" type="hidden"
                           value="{% if prixnegociation %} {{ prixnegociation|number_format(2, '.', '') }} {% else %}{% if (confirm) %}{{ prixachat|number_format(2, '.', '') }} {% else %}{% endif %}{% endif %}">

                </td>
                <td>
                    {% if prixachat >0 and prixnegociation >0 %}
                    {{ (100*(prixnegociation-prixachat)/prixachat)|number_format(2, '.', '') }}%
                    {% else %} NaN {% endif %}
                </td>
                <td>
                    {% if prixachat >0 and prixnegociation >0 %}
                    {{ qty*(prixnegociation-prixachat)|number_format(2, '.', '') }}
                    {% else %} NaN {% endif %}
                </td>
                <td>

                    {% if (not confirm and prixnegociation) %}
                        <label><input type="checkbox" class="archive" value="1"><span
                                    class="archive-label">Archive</span></label>
                        <span data-action="valid" class="actionclic btn btn-blue confirm-btn"
                              style="width:100%">Valid</span>
                        <span data-action="unvalid" class="actionclic btn btn-red unvalid-btn"
                              style="width:100%;display: none;">Unvalid</span>
                    {% elseif (confirm and prixnegociation) %}
                        <span data-action="valid" class="actionclic btn btn-blue confirm-btn"
                              style="width:100%;display: none;">Valid</span>
                        <span data-action="unvalid" class="actionclic btn btn-red unvalid-btn" style="width:100%">Unvalid</span>
                    {% endif %}


                </td>
                <td class="order">
                    {% if (confirm ) %}
                        <input class="confirm " name="selection[{{ offer.id }}][confirm]" type="hidden" value="1">
                        {{ confirmfieldmessage }}
                        <textarea
                                style="{% if (not confirm) %}width:100px;line-height: 17.5px;height:100px;{% else %}display:none;{% endif %}"
                                class="order confirmfieldmessage"
                                name="selection[{{ offer.id }}][confirmfieldmessage]">{{ confirmfieldmessage }}</textarea>
                    {% elseif (prixnegociation) %}
                        <input class="confirm " name="selection[{{ offer.id }}][confirm]" type="hidden"
                               value="{{ confirm }}">
                        <textarea
                                style="{% if (not confirm) %}width:100px;line-height: 17.5px;height:100px;{% else %}display:none;{% endif %}"
                                class="order confirmfieldmessage"
                                name="selection[{{ offer.id }}][confirmfieldmessage]">{{ confirmfieldmessage }}</textarea>
                    {% else %}
                        <input class="confirm " name="selection[{{ offer.id }}][confirm]" type="hidden" value="0">
                        <textarea
                                style="{% if (not confirm) %}width:100px;line-height: 17.5px;height:100px;{% else %}display:none;{% endif %}"
                                class="order confirmfieldmessage"
                                name="selection[{{ offer.id }}][confirmfieldmessage]">{{ confirmfieldmessage }}</textarea>
                    {% endif %}
                </td>
                <td>
                    {{ qty }}<input class="order qty" name="selection[{{ offer.id }}][q]" type="hidden"
                                    style="width:45px;text-align: center;padding:0px;" value="{{ qty }}">
                </td>
                <td>
                    {{ prixventetheorique }}
                </td>
                <td>
                    <input data-cadencier="{{ cadencier.id }}"
                           class="action {% if (offer.isCustomerprices(myuser,cadencier.incoterm.title|lower)) %}forced{% endif %}"
                           type="text" style="font-weight: normal;width:55px;text-align: center;color:#000;"
                           value="{{ attribute( cadencier.selection,'o'~offer.id).finalprice }}"
                           data-action="{{ cadencier.incoterm.title|lower }}">
                </td>
                <td class="prixnegodif">
                    {% if not prixnegociation %}
                        {{ (100*(prixvente-prixachat)/prixvente)|number_format(2, '.', '') }}%
                    {% else %}
                        {{ (100*(prixvente-prixnegociation)/prixvente)|number_format(2, '.', '') }}%
                    {% endif %}
                </td>
                {% set marge =  not prixnegociation ?qty*(( attribute( cadencier.selection,'o'~offer.id).finalprice)-prixachat) :  qty*(( attribute( cadencier.selection,'o'~offer.id).finalprice)-prixnegociation) %}
                <td class="marge" style="color:red;font-weight: bold;"
                    data-marge="{{ marge|number_format(2, '.', '') }}">
                    {{ marge|number_format(2, '.', '') }}
                </td>
                <td>
                    {% include 'appBundle:Modules:archiveorder.html.twig' with {'customer':myuser.cutomer_id,'archives':offer.product.archive} %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}



