<table cellpadding="0" cellspacing="0" border="0" class="table responsive cadencier dTable" id="cadencierselection">
    <thead>
    <tr>
        <th>{{ 'ENTITY_PRODUCT_SOURCINASIAITEMNUMBER'|trans|raw }}</th>
        <th>{{ 'ENTITY_PRODUCT_SUPPLIERITEMNUMBER'|trans|raw }}</th>
        <th>Pictures</th>
        <th>Description US</th>
        <th>ORDER QUANTITY</th>
        <th>COMMENTS</th>
        <th>REGISTRED PRICE({{ cadencier.incoterm.title|upper }})</th>
        <th>PI
            PRICE {% if cadencier.finaldevis %}{{ cadencier.finaldevis|upper }} {% endif %} {% if cadencier.finalincoterm %}({{ cadencier.finalincoterm|upper }}){% endif %}</th>
        <th>EXCLU</th>
        <th>%Marge</th>
        <th>Marge</th>
        <th>Historic</th>
    </tr>
    </thead>
    <tbody>
    {% for key,offer in offers %}
        {% if cadencier.selection['o'~offer.id] is defined %}
            {% set qty=attribute( cadencier.selection,'o'~offer.id).qty %}
            {% set prixvente=attribute( cadencier.selection,'o'~offer.id).price|number_format(2, '.', ',') %}
            {% set prixventefinal=attribute( cadencier.selection,'o'~offer.id).finalprice|number_format(2, '.', '') %}
            {% set exclu=(attribute(cadencier.selection,'o'~offer.id).exclu)?true:false %}
            {% set prixnegociation= attribute( cadencier.selection,'o'~offer.id).confirm==1  ? attribute( cadencier.selection,'o'~offer.id).supplierp : 0 %}
            {% if (cadencier.incoterm.title=="FOB") %}
                {% set prixnegociation=  offer.fobnegociation %}
                {% if (attribute( cadencier.selection,'o'~offer.id).confirm) is defined and attribute( cadencier.selection,'o'~offer.id).confirm %}
                    {% set prixachat=attribute( cadencier.selection,'o'~offer.id).supplierp %}
                {% else %}
                    {% set prixachat=offer.fob %}
                {% endif %}
                {% set prixventetheorique=offer.getSaleprice('fob',myuser,false)|number_format(2, '.', ',') %}
            {% elseif (cadencier.incoterm.title=="EXW") %}
                {% set prixnegociation= offer.exwnegociation ? offer.exwnegociation* offer.currency.usd : 0 %}
                {% if (attribute( cadencier.selection,'o'~offer.id).confirm) is defined and attribute( cadencier.selection,'o'~offer.id).confirm %}
                    {% set prixachat=attribute( cadencier.selection,'o'~offer.id).supplierp %}
                {% else %}
                    {% set prixachat=offer.exwusd %}
                {% endif %}
                {% set prixventetheorique=offer.getSaleprice('exw',myuser,false)|number_format(2, '.', ',') %}
            {% endif %}

            {% if not is_granted('ROLE_ADMIN') %}
                {% set prixachat= offer.GetSourcinasiaprice(cadencier.incoterm.title) %}
                {% set prixnegociation= offer.GetSourcinasiapriceNegociation(cadencier.incoterm.title) %}
            {% endif %}

            {% set confirmfieldmessage=attribute( cadencier.selection,'o'~offer.id).confirmfieldmessage %}
            <tr data-key="{{ key }}" data-prixvente="{{ prixventetheorique }}"
                data-prixachatnego="{{ prixnegociation }}"
                data-offer="{{ offer.id }}" data-qty="{{ qty }}" data-product="{{ offer.product.id }}"
                data-supplier="{{ offer.supplier.id }}" {% if offer.pol %} data-pol="{{ offer.pol.title }}"{% else %}data-pol="none"{% endif %}
                class="articlethumbs ">
                <td>
                    {{ offer.product.id }} <input type="hidden" value="{{ offer.id }}" class="order"
                                                  name="selection[{{ offer.id }}][o]">
                </td>
                <td>
                    {{ offer.itemnumber }}
                </td>
                <td>
                    {% if (offer.product.mainimage) %}
                        <span class="product-thumb"
                              style="background-image:url({{ webpath~offer.product.mainimage|replace({'original.jpg':'small.jpg'}) }})"
                              alt=""></span>
                    {% elseif (offer.product.images|length > 1) %}
                        <span class="product-thumb"
                              style="background-image:url({{ webpath~offer.product.images|first }})"
                              alt=""></span>
                    {% else %}
                        <span class="product-thumb"
                              style="background-image:url({{ webpath }}bundles/app/images/no-image.png)"></span>
                    {% endif %}
                </td>
                <td>{{ offer.product.description }}</td>
                <td>
                    <input class="order qty free updatemarge" name="selection[{{ offer.id }}][q]" type="text"
                           style="width:45px;text-align: center;padding:0px;" value="{{ qty }}">
                </td>
                <td>
                    {{ confirmfieldmessage }}
                </td>
                <td>
                    {{ prixvente }}
                </td>
                <td>
                    {% if (cadencier.state=="7") %}
                        {{ prixventefinal }}
                    {% else %}
                        <input class="order updatemarge prixfinal" type="text" value=" {{ prixventefinal }}"
                               name="selection[{{ offer.id }}][sales]"
                               style="font-weight: normal;width:55px;text-align: center;color:#fff;">
                    {% endif %}
                </td>
                <td>
                    {% if (cadencier.state=="7") %}
                        {% if (exclu) %}YES
                        {% else %}
                            NO
                        {% endif %}
                    {% else %}
                        <input class="order" type="checkbox" value="1" name="selection[{{ offer.id }}][exclu]"
                               {% if (exclu) %}checked{% endif %}>
                    {% endif %}

                </td>
                <td class="prixnegodif">
                    {% if not prixnegociation %}
                        {% if prixventefinal >0 %}
                            {{ (100*(prixventefinal-prixachat)/prixventefinal)|number_format(2, '.', '') }}%
                        {% else %} 0.00% {% endif %} {# if for some reason prixventefinal == 0 #}
                    {% else %}
                        {{ (100*(prixventefinal-prixnegociation)/prixventefinal)|number_format(2, '.', '') }}%
                    {% endif %}
                </td>
                {% set marge =  not prixnegociation ?qty*(prixventefinal-prixachat) :  qty*(prixventefinal-prixnegociation) %}
                <td class="marge" style="color:red;font-weight: bold;"
                    data-buy="{{ not prixnegociation ? prixachat : prixnegociation }}"
                    data-marge="{{ marge|number_format(2, '.', '') }}">
                    {{ marge|number_format(2, '.', '') }}
                </td>
                <td>
                    {% include 'appBundle:Modules:archiveorder.html.twig' with {'customer':myuser.cutomer_id,'archives':offer.product.archive} %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('.order.qty').change(function () {
            field = $(this).closest('.articlethumbs').find('.marge');
            sale = parseFloat($(this).closest('.articlethumbs').find('.sale').val());
            qty = parseInt($(this).closest('.articlethumbs').find('.qty').val());
            marge = (qty * (sale - field.data("buy"))).toFixed(2);
            field.data("marge", marge);
            field.html(marge);
        });
    });


    $('.updatemarge').blur(function () {
        console.log('123');
        tr = $(this).closest('.articlethumbs');

        prixfinal = tr.find('.prixfinal').val();
        prixachatnego = tr.find('.marge').data("buy");
        qty = parseInt(tr.find('.qty').val());

        prixnegodif = (100 * (prixfinal - prixachatnego) / prixfinal);
        marge = (qty * (prixfinal - prixachatnego));

        tr.find('.prixnegodif').html(prixnegodif.toFixed(2) + "%");
        tr.find('.prixnegovalue').html(prixnegodif.toFixed(2));

        tr.find('.marge').html(marge.toFixed(2));
        tr.find('.marge').data("marge", marge.toFixed(2));
    });


</script>
