<div class="col-md-12" id="selectionbox" {% if (not display) %}style="display:none;"{%endif %}>
    <div class="box">
        <div class="box-header fixedbox">
            <div class="title">Production</div>
            <ul class="box-toolbar">
                {% if (is_granted('ROLE_COMMERCIAL')) %}
                    <li><label><input type="checkbox" id="unlockPck"/>Disable QTY restrictions</label></li>
                {% endif %}
                <li><a href="{{path('command_show',{'id': cadencier.id})}}" class="btn btn-default"><i class="icon-inbox"></i> {{'CADENCIERS_BTN_CONSULTCOMMAND'|trans|raw }}</a></li>               
                    {% if (cadencier.state<=4) %}
                    <li><span href="#" class="btn btn-red" id="reject"> {{'REJECT PRICES'|trans|raw }}</span></li>
                    {% endif %}

            </ul>
        </div>
        <input type="hidden" id="confirmationurl" value="{{path('command_step13',{'id':cadencier.id})}}">
        <script type="text/javascript">
            $(document).ready(function() {
                $('#reject').click(function() {
                    var test = false;

                    $('INPUT.confirm').each(function(key, value) {
                        test = test || parseFloat($(this).val()) == 0
                    });
                    
                    if (test) {
                        if (confirm('Are you sure to reject supplier prices ?')) {
                            document.location.href = "{{path('command_stepreject12',{'id':cadencier.id})}}";
                        }
                    } else {
                        alert('Can not reject because all prices are confirmed');
                    }
                });
            });
        </script>   
        <div class="box-content">
            {% include 'appBundle:Cadencier:productlistadmin.html.twig' with {'checked': true}%}
        </div>
    </div>
</div>