<div class="col-md-12" id="products" {% if (not display) %}style="display:none;"{%endif %}>
    <div class="box">
        <div class="box-header">
            <div class="box-header">
                <ul class="box-toolbar">
                    <li><span class="label label-blue" id="nbrproduct"></span></li>
                    {% if cadencier is defined %}<li><input type="text" value="{{profil.commercial_coef}}" name="request[commercial_coef]" class="request" style="width:70px;display:none;"></li>{% endif %}
                    <li><input placeholder="{{'ENTITY_PRODUCT'|trans|raw }}" type="text" value="" name="request[productid]" class="request" style="width:70px"></li>
                    <li><input placeholder="{{'ENTITY_CATEGORIE'|trans|raw }}" type="text" value="" name="request[category]" class="request" style="width:100px"></li>
                    <li><input placeholder="{{'ENTITY_SUPPLIER'|trans|raw }}" type="hidden" value="{{supplier.id}}" name="request[supplierid]" class="request locked" style="width:70px"></li>
                        {% if cadencier is defined and cadencier.pol%}
                        <li><input placeholder="{{'ENTITY_SUPPLIER'|trans|raw }}" type="hidden" value="{{cadencier.pol.id}}" name="request[pol]" class="request locked" style="width:70px"></li>
                        {% endif %}
                    <li><select name="request[order]" id="" class="request chzn-select"> 
                            <option value="0" selected >{{'APPLICATION_ORDERBY_DATE'|trans|raw }}</option>
                            <option value="pricefob"  >{{'APPLICATION_ORDERBY_FOBPRICE'|trans|raw }}</option>
                            <option value="priceexw"  >{{'APPLICATION_ORDERBY_EXWPRICE'|trans|raw }}</option>
                            <option value="notoriety"  >{{'APPLICATION_ORDERBY_NOTORIETY'|trans|raw }}</option>
                            <option value="moq" >{{'APPLICATION_ORDERBY_MOQ'|trans|raw }}</option>
                        </select>
                    </li>
                    <li><span class="btn btn-default" id="checkall">{{'BTN_CONFIRM_ALL'|trans|raw }} <i class="icon-check"></i></span></li>
                    <li><span class="btn btn-default" id="advancedsearchbtn">{{'CATALOG_BTN_MORE'|trans|raw }} <i class="icon-caret-down"></i></span></li>
                    <li><span class="btn btn-blue selectionbtn">{{'CATALOG_BTN_SEESELECTION'|trans|raw }} <i class="icon-angle-right"></i></span></li>
                    <input type="hidden" id="uri_request" value="{{path('offers_request2')}}">
                    <input type="hidden" id="product_request" value="{{path('product_request')}}"> 
                    <input type="hidden" id="offers_count" value="{{path('offers_count')}}">
                </ul>
            </div>
            <div class="box-header ">
                <ul class="box-toolbar" style="width: 100%;">
                    <li><div id="filters" data-uriproduct="{{path('offer_filters',{'filter':'nomenclature'})}}" data-autocomplete="true"   data-alldep="{{'ALLDEP'|trans|raw }}" data-allshe="{{'ALLSHE'|trans|raw }}" data-allfam="{{'ALLFAM'|trans|raw }}" data-allsub="{{'ALLSUB'|trans|raw }}" data-allpol="{{'ALLPOL'|trans|raw }}"></div></li>
                </ul>
            </div>
            <div class="box-content">
                <div id="advancedsearch" class="row-fluid" style="border-bottom: 1px solid #cdcdcd;background-color: rgba(243,243,243,0.96);display:none;">
                    <div class="row padded">
                        <div class="col-md-3">
                            <label>{{'APPLICATION_FILTER_PRICE'|trans|raw }}</label><br/>
                            <input placeholder="minprice" type="text" value="" name="request[minprice]"  id="minprice"  class="request " >
                            <input placeholder="maxprice" type="text" value="" name="request[maxprice]" id="maxprice" class="request ">
                            <div id="pricesliderzz"></div>
                        </div>
                        <div class="col-md-3">
                            <label>{{'APPLICATION_FILTER_MOQ'|trans|raw }}</label><br/>
                            <input placeholder="minmoq" type="text" value="" name="request[minmoq]"  id="minmoq"  class="request ">
                            <input placeholder="maxmoq" type="text" value="" name="request[maxmoq]"  id="maxmoq"  class="request ">
                            <div id="moqsliderzz"></div>
                        </div>
                        <div class="col-md-3">
                            <label>{{'ENTITY_PRODUCT_CE'|trans|raw }}</label>
                            <select name="request[ce]" id="" class="request chzn-select">
                                <option value="" class="search" selected >{{'APPLICATION_ALL'|trans|raw }}</option>
                                <option value="YES" class="search" >{{'APPLICATION_YES'|trans|raw }}</option>
                                <option value="NO" class="search" >{{'APPLICATION_NO'|trans|raw }}</option>
                                <option value="N/A" class="search">{{'APPLICATION_NA'|trans|raw }}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label><input type="checkbox" name="request[gooddeal]" value="1" class="request" >{{'DASHBOARD_BOXTITLE_DEALS'|trans|raw }}</label>
                        </div>
                    </div>
                </div> 
                <div class="row padded scroll" id="filters_result" data-effect="{% if cadencier is defined%}cadencierbuild{% else %}cadencier{% endif %}" data-loaditem="false">
                </div>
            </div> 
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#checkall').click(function() {
            if (confirm('{{'MESSAGE_CONFIRM_ALL'|trans|raw }}'.replace('{n}', $('#filters_result INPUT[type=checkbox]').not(":checked").length)))
                $('#filters_result INPUT[type=checkbox]').not(":checked").each(function() {
                    if (!$(this).is(':checked')) {
                        $(this).trigger("click");
                    }
                });
        });
    });
</script>
