<div class="col-md-12" id="selectionbox" {% if (not display) %}style="display:none;"{%endif %}>
    <div class="box">
        <div class="box-header fixedbox">
            <div class="title">Generate PI - {{'ENTITY_COMMAND_ID'|trans|raw }} {{cadencier.id}}</div>
            <ul class="box-toolbar">
                {% if (is_granted('ROLE_COMMERCIAL')) %}
                    <li><label><input type="checkbox" id="unlockPck"/>Disable QTY restrictions</label></li>
                {% endif %}
                <li><a href="{{path('command_show',{'id': cadencier.id})}}" class="btn btn-default"><i class="icon-inbox"></i> {{'CADENCIERS_BTN_CONSULTCOMMAND'|trans|raw }}</a></li>
                    {% if is_granted('ROLE_ADMINSUPPLYCHAIN') or (is_granted('ROLE_COMMERCIAL') and cadencier.state=="7" )%}
                        <li><a target="_blank" href="{{ path('export_document',{'_locale':'en','id':cadencier.id,'doc':'pi','type':'xls'})}}" class="btn btn-default ExportAction"><i class="icon-download-alt"></i> {{'XLS PI EN'|trans|raw }}</a></li>
                    {#<li><a href="{{path('export_quotationsheet',{'id': cadencier.id,'type':'picustomer','_locale':'en'})}}" class="btn btn-default ExportAction"><i class="icon-download-alt"></i> {{'XLS PI EN'|trans|raw }}</a></li>#}
{#
                    <li><a href="{{path('export_quotationsheetpdf',{'id': cadencier.id,'type':'pi','_locale':'en'})}}" class="btn btn-default ExportAction"><i class="icon-download-alt"></i> {{'PDF PI EN'|trans|raw }}</a></li>
#}
                        {% if not is_granted('ROLE_ADMIN') %}
                        <li><a href="{{path('command_step142',{'id': cadencier.id})}}" class="btn btn-blue">{{'ASK_ADMIN_CONFIRMATION'|trans|raw }}</a></li> 
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') and (cadencier.state<="7" and cadencier.command is defined) %}
                        <li><a href="{{path('command_step14',{'id': cadencier.id})}}" class="btn btn-blue">{{'CONFIRM PI'|trans|raw }}</a></li>
                        {% endif %}
                    {% elseif is_granted('ROLE_COMMERCIAL') and cadencier.state=="5" %} 
                    <li><a href="{{path('command_step142',{'id': cadencier.id})}}" class="btn btn-blue">{{'ASK_ADMIN_CONFIRMATION'|trans|raw }}</a></li> 
                    {% endif %}

            </ul> 
        </div>

        <div class="box-content" id="cadencierselection">
            <input  type="hidden" value="{{cadencier.id}}" name="cadencierid"  class="order">
            {% include 'appBundle:Cadencier:productlistgenpi.html.twig' with {'checked': true}%}
        </div>
    </div>
</div>