<div class="col-md-12" id="selectionbox" {% if (not display) %}style="display:none;"{%endif %}>
    <div class="box">
        <div class="box-header ">
            <div class="title">Production</div>
            <ul class="box-toolbar">
                {% if (is_granted('ROLE_COMMERCIAL')) %}
                    <li><label><input type="checkbox" id="unlockPck"/>Disable QTY restrictions</label></li>
                {% endif %}
                {% if not is_granted('ROLE_SOURCING')  %}
                <li><a href="{{path('command_show',{'id': cadencier.id})}}" class="btn btn-default"><i class="icon-inbox"></i> {{'CADENCIERS_BTN_CONSULTCOMMAND'|trans|raw }}</a></li>
                {% endif %}
                {# old export master: #}
{#                <li><a href="{{path('export_quotationsheet',{'id': cadencier.id,'type':'pifrs','_locale':'en'})}}" class="btn btn-default ExportAction"><i class="icon-download-alt"></i> {{'DOWNLOAD_FRS_PI'|trans|raw }}</a></li>#}
{# new export: #}
                <li><a href="{{path('export_document',{'id': cadencier.id,'doc': 'qs','type':'pifrs','_locale':'en'})}}" class="btn btn-default ExportAction"><i class="icon-download-alt"></i> {{'DOWNLOAD_FRS_PI'|trans|raw }}</a></li>

                <li><span href="#" class="btn btn-blue" id="productionfinised"> {{'CADENCIERS_BTN_PRODUCTIONEND'|trans|raw }}</span></li>
            </ul>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#productionfinised').click(function() {
                    if (confirm('Confirm validation ?')){
                        var test = true;
                        $('.newprices').each(function(key, value) {
                            test = test && parseFloat($(this).val()) > 0
                        });
                        if (test) {
                            document.location.href = "{{path('command_step12',{'id':cadencier.id})}}";
                        } else {
                            alert('Please fill in all supplier prices');
                        }
                    }
                });
            });
        </script>    
        <div class="box-content">
            {% if offers is not defined %}
                {% set offers=[]%}
                    {% endif %}
                        {% include 'appBundle:Cadencier:productlistproduction.html.twig' with {'checked': true}%}
        </div>
    </div>
</div>