<div class="col-md-12" id="selectionbox" {% if (not display) %}style="display:none;"{% endif %}>
    <div class="box">
        <div class="box-header">
            <ul class="box-toolbar">

                {% if (is_granted('ROLE_COMMERCIAL')) %}
                    <li><label><input type="checkbox" id="unlockPck"/>Disable QTY restrictions</label></li>
                {% endif %}
                {% if (not is_granted('ROLE_PRODUCTION')) or (is_granted('ROLE_ADMIN')or (is_granted('ROLE_ADMINSUPPLYCHAIN'))) %}
                    <li><span class="btn btn-default selectionbtn"><i
                                    class="icon-chevron-left"></i> {{ 'CATALOG_BTN_BACKTOCADENCIER'|trans|raw }}</span>
                    </li>

                    {% if (is_granted('ROLE_COMMERCIAL') and myuser.cutomer_id and cadencier is defined and not cadencier.command ) %}
                        <li class="order"><input type="checkbox" value="1" name="visible" class=""
                                                 {% if (cadencier.visible) %}checked="checked"{% endif %}> {{ 'SHARE'|trans|raw }}
                        </li>
                    {% endif %}
                    <li><span href="#" class="btn btn-default" id="razAction"><i
                                    class="icon-trash"></i> {{ 'CADENCIERS_BTN_RAZ'|trans|raw }}</span></li>
                {% endif %}
                {#pas de cadencier #}
                {% if cadencier is defined %}

                    {% if (cadencier.id and not cadencier.locked) %}

                        <li><a rel="{{ path('cadencier_delete',{'id': cadencier.id}) }}"
                               class="btn btn-red deleteConfirmation" id="deletecadencier"><i
                                        class="icon-trash"></i> {{ 'CADENCIERS_BTN_DELETE'|trans|raw }}</a></li>

                        <li><a rel="{{ path('cadencier_delete_all') }}"
                               class="btn btn-red deleteConfirmation" id="deletecadencier"><i
                                        class="icon-trash"></i> {{ 'CADENCIERS_BTN_DELETE_ALL'|trans|raw }}</a></li>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('.deleteConfirmation').click(function () {
                                    if (confirm('Confirmation ?')) {
                                        document.location.href = $(this).attr('rel');
                                    }
                                });
                            });
                        </script>
                    {% endif %}
                {% endif %}
                {% if (myuser.mode!="presentation" ) %}
                    {% if cadencier is not defined %}
                        <li><span class="btn btn-blue confirmselection">{{ 'CATALOG_BTN_GENERATECADENCIER'|trans|raw }}
                                <i class="icon-angle-right"></i></span></li>
                        {#cadencier mais pas de commande#}
                    {% elseif (cadencier is defined and cadencier.command.id is not defined and profil.cutomer_id!=0) %}
                        <li><span class="btn btn-blue confirmselection"><i
                                        class="icon-ok"></i> {{ 'CADENCIERS_BTN_ASKPI'|trans|raw }}</span></li>
                        {#cadencier et commande#}
                    {% elseif (cadencier is defined and cadencier.command.id is defined and cadencier.state==0 and profil.contact_type==0) %}
                        <li><span class="btn btn-blue confirmselection"><i
                                        class="icon-ok"></i> {{ 'CADENCIERS_BTN_ASKPI'|trans|raw }}</span></li>
                    {% elseif (cadencier is defined and cadencier.command.id is defined and is_granted('ROLE_COMMERCIAL')and cadencier.state==1) %}
                        <li><a href="{{ path('command_show',{'id': cadencier.id}) }}" class="btn btn-default"><i
                                        class="icon-inbox"></i> {{ 'CADENCIERS_BTN_CONSULTCOMMAND'|trans|raw }}</a></li>
                        <li><a href="{{ path('command_step01',{'id': cadencier.id}) }}" class="btn btn-blue"><i
                                        class="icon-ok"></i> {{ 'CONFIRM_TO_PRODUCTION'|trans|raw }}</a></li>
                    {% elseif (cadencier is defined and cadencier.command.id is defined) %}
                        <li><a href="{{ path('command_show',{'id': cadencier.id}) }}" class="btn btn-blue"><i
                                        class="icon-inbox"></i> {{ 'CADENCIERS_BTN_CONSULTCOMMAND'|trans|raw }}</a></li>
                    {% endif %}
                {% endif %}

            </ul>
        </div>
        <div class="box-content">
            {% if (myuser.mode!="presentation") %}
                <script type="text/javascript">
                    $(document).ready(function () {
                        {#pas de cadencier #}
                        {% if cadencier.id is not defined %}
                        $('#submitselection').attr('action', '{{path('cadenciers_generate',{action:'display'})}}');
                        {#cadencier mais pas de commande#}
                        {% elseif (cadencier is defined and cadencier.command.id is defined and cadencier.state==0  and profil.contact_type==0) %}
                        $('#submitselection').attr('action', '{{path('cadenciers_generate',{'action':'confirm'})}}');
                        {% elseif (cadencier.id is defined and cadencier.command.id is not defined) %}
                        $('#submitselection').attr('action', '{{path('cadenciers_generate',{'action':'pi'})}}');
                        {% endif %}
                        $('.confirmselection').click(function () {
                            if ($('#cadencierselection INPUT.order[TYPE=checkbox]:checked').length == 0) {
                                alert('{{'MESSAGE_CONFIRM_SELECTION_ERROR'|trans|raw }}');
                                return false;
                            } else {
                                if (confirm('{{'MESSAGE_CONFIRM_SELECTION'|trans|raw }}')) {
                                    $('#formlocked').val(0);
                                    $('#submitselection').submit();
                                }
                            }
                            ;
                        });


                        $('#submitselection').submit(function () {
                            return $('#formlocked').val() == 0;
                        });
                    });
                </script>
            {% endif %}
            <form action="#" method="post" id="submitselection">
                <input type="hidden" value="1" id="formlocked">
                {% if (cadencier is defined) %}
                    <input type="hidden" value="{{ cadencier.id }}" name="cadencierid" class="order">
                {% endif %}
                {% include 'appBundle:Cadencier:productlist.html.twig' with {'checked': true} %}
            </form>
        </div>
    </div>
</div>