<thead>
    <tr>
        <th>{{'ENTITY_PRODUCT_SOURCINASIAITEMNUMBER'|trans|raw }}</th>
            {% if is_granted('ROLE_COMMERCIAL') %}
            <th>{{'ENTITY_PRODUCT_SUPPLIERITEMNUMBER'|trans|raw }}</th>
            {% endif %}
        <th style="width:120px">Pictures</th>
        <th>{{'ENTITY_PRODUCT_NOMENCLATURE'|trans|raw }}</th>
            {% if is_granted('ROLE_COMMERCIAL') %}
            <th>{{'ENTITY_PRODUCT_DESCRIPTION'|trans|raw }}</th>
            <th>{{'ENTITY_PRODUCT_FRENSHDESCRIPTION'|trans|raw }}</th>
            {% elseif is_granted('ROLE_CLIENT') %}
                {% if (app.request.locale=='fr') %}
                <th>{{'ENTITY_PRODUCT_FRENSHDESCRIPTION'|trans|raw }}</th>
                {% elseif (app.request.locale=='en') %}
                <th>{{'ENTITY_PRODUCT_DESCRIPTION'|trans|raw }}</th>
                {% endif %}
            {% endif %}
        <th>{{'ENTITY_PRODUCT_PRODUCTSIZE'|trans|raw }}</th> 
        <th>{{'ENTITY_PRODUCT_PCB'|trans|raw }}</th>
        <th>{{'ENTITY_PRODUCT_CBM'|trans|raw }}</th>
        <th>{{'ENTITY_OFFER_MOQ'|trans|raw }}</th>
            {% if (myuser.mode!="presentation") %}
            <th class="hiddencatalog">{{'ENTITY_COMMAND_QUANTPIECE'|trans|raw }}</th>    
                {% if (consult is defined)%}
                <th style="width:100px;">{{'PRICE'|trans|raw }}</th>
                {% else %}
                <th class="exw">{{'ENTITY_OFFER_EXWPRICEUSD'|trans|raw }}</th>
                <th class="fob">{{'ENTITY_OFFER_FOBPRICE'|trans|raw }}</th>
                {% endif %}
            {%endif %}
            {% if is_granted('ROLE_COMMERCIAL') and myuser.cutomer_id and consult is not defined%}
            <th>See </th>                            
            <th>Historic</th>                            
            {%endif %}
    </tr>
</thead>